<template>
  <ion-page>
    <loading
      v-model:active="isLoading"
      :can-cancel="true"
      :is-full-page="true"
    />
    <ion-content :fullscreen="true" scroll="false">
      <ion-row class="ion-justify-content-center header-label ion-margin">
        <ion-text color="light">
          <strong>VENDER PRODUCTO</strong>
        </ion-text>
      </ion-row>
      <ion-row class="store-card ion-justify-content-center ion-margin">
        <ion-col class="ion-align-self-center ion-no-padding">
          <div class="logo">
            
            <ion-input
              v-model="product_name"
              name="product_name"
              placeholder="Nombre del producto"
            ></ion-input>
            <small><ion-label v-if="!hasName" position="stacked" color="danger">El nombre del producto es necesario</ion-label></small>

            <p class="ion-no-margin">
              <small
                >Fotos {{ image_file_canvas.length }}/6 - Puede subir hasta un máximo
                de 6 fotos</small>
            </p>

            <ion-grid
              class="ion-no-padding"
              style="margin-left: -2px; margin-right: 2px"
            >
              <ion-row>
                <ion-col
                  size="4"
                  v-for="image in [1, 2, 3, 4, 5, 6]"
                  :key="image"
                  style="padding-left: 2px; padding-bottom: 2px"
                >
                  <div
                    class="img-square"
                    :id="'product_image_' + image"
                    :name="'product_image_' + image"
                    :ref="'product_image_' + image"
                    style="
                      background-image: url('../../assets/img/add_photo.png');
                      margin-bottom: 2px;
                    "
                    @click="selectExploreProductImage($event, image)"
                  >
                    <ion-icon
                      v-if="image_file_canvas && image_file_canvas[image]"
                      class="remove-picture"
                      :icon="closeCircleOutline"
                      @click="selectRemoveProductImage($event, image)"
                    ></ion-icon>
                  </div>

                  <input
                    type="file"
                    name="product_images"
                    :id="'upload_product_image_' + image"
                    :ref="'upload_product_image_' + image"
                    accept="image/*"
                    @change="selectProductImage(image)"
                    style="display: none"
                  />
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-textarea
              v-model="description"
              name="description"
              placeholder="Descripción del producto"
            ></ion-textarea>
            <small><ion-label v-if="!hasDescription" position="stacked" color="danger">La descripción del producto es necesaria</ion-label></small>

            <multiselect
              style="margin-top: 4px"
              class="multiselect-general"
              :options="variations"
              v-model="variations"
              :searchable="true"
              ref="multiselect_variations"
              placeholder="Variaciones del producto"
              mode="tags"
              :createTag="true"
              @change="selectProductVariations"
            />

            <multiselect
              style="margin-top: 4px"
              class="multiselect-general"
              v-model="categories"
              :options="getCategories"
              :searchable="true"
              ref="multiselect_categories"
              placeholder="Categoría(s) del producto"
              mode="tags"
              @change="selectProductCategory"
            />
            <small><ion-label v-if="!hasCategory" position="stacked" color="danger">La categoría del producto es necesaria</ion-label></small>

            <ion-input
              v-model="brand"
              name="brand"
              placeholder="Marca del producto"
            ></ion-input>
            <small><ion-label v-if="!hasBrand" position="stacked" color="danger">La marca del producto es necesaria</ion-label></small>
            
            <ion-input
              v-model="price"
              name="price"
              placeholder="Precio del producto (expresado en USD)"
              type="number"
              inputmode="decimal"
            ></ion-input>
            <small><ion-label v-if="!hasPrice" position="stacked" color="danger">El precio del producto es necesario</ion-label></small>

            <p>
              <small
                >Mientras no se determine el precio con descuento, la tarjeta
                del producto solo mostrará el precio original.</small
              >
            </p>

            <ion-input
              v-model="discount_price"
              name="discount_price"
              placeholder="Precio con descuento"
              type="number"
              inputmode="decimal"
            ></ion-input>

            <ion-input
              v-model="product_code"
              name="product_code"
              placeholder="Código SKU del producto"
            ></ion-input>
            <small><ion-label v-if="!hasCode" position="stacked" color="danger">El código del producto es necesario</ion-label></small>

            <ion-input
              v-model="stock"
              name="stock"
              placeholder="Cantidad en inventario"
              type="number"
              inputmode="decimal"
            ></ion-input>
            <small><ion-label v-if="!hasStock" position="stacked" color="danger">El stock del producto es necesario</ion-label></small>

            <p>
              <small
                >Cada pedido descuenta del inventario. Si ha modificado el inventario actual, marque la casilla 'Reiniciar Stock' para tomar el nuevo inventario como el real.</small
              >
            </p>

            <ion-row>
              <ion-col size="2">
                <ion-checkbox
                  checked="false"
                  v-model="reset_stock"
                  name="starred"
                  color="secondary"
                ></ion-checkbox>
              </ion-col>
              <ion-col size="10">
                <small>Reiniciar Stock</small>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="2">
                <ion-checkbox
                  checked="true"
                  v-model="availability"
                  name="availability"
                  color="secondary"
                ></ion-checkbox>
              </ion-col>
              <ion-col size="10">
                <small>Disponible para la venta</small>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="2">
                <ion-checkbox
                  checked="false"
                  v-model="starred"
                  name="starred"
                  color="secondary"
                ></ion-checkbox>
              </ion-col>
              <ion-col size="10">
                <small>Destacado</small>
              </ion-col>
            </ion-row>

            <ion-button expand="block" color="secondary" @click="onSubmit" :disabled="!isProductComplete"
              >GUARDAR</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
      <vue-final-modal
        v-model="showConfirmModal"
        classes="modal-container"
        content-class="modal-content"
        :click-to-close="false"
        :esc-to-close="false"
      >
        <span class="modal__title"
          >La información de tu producto fue {{ productState }}</span
        >
        <div class="modal__content">
          <p>
            La información que has suministrado puede ser auditada por tu
            seguridad.
          </p>
        </div>
        <ion-button
          expand="block"
          color="secondary"
          @click="
            () => {
              showConfirmModal = false;
              $router.push('/marketplace/store/products');
            }
          "
          >Entendido</ion-button
        >
      </vue-final-modal>
      <vue-final-modal
        v-model="showDeleteModal"
        classes="modal-container"
        content-class="modal-content"
        :click-to-close="false"
        :esc-to-close="false"
      >
        <span class="modal__title">Eliminar foto</span>
        <div class="modal__content">
          <p>
            ¿Deseas eliminar la foto del producto? Esta acción no se puede
            deshacer
          </p>
        </div>
        <ion-button expand="block" color="danger" @click="removeImage()"
          >Eliminar</ion-button
        >
        <ion-button
          expand="block"
          color="secondary"
          @click="
            () => {
              showDeleteModal = false;
            }
          "
          >Cancelar</ion-button
        >
      </vue-final-modal>
      <ion-modal
        :is-open="showImageModal"
        @ionModalDidDismiss="setImageModalOpen(false)"
      >
        <div style="height: 100%">
          <cropper
            :src="image_file[selectedIndex]"
            ref="cropper"
            :auto-zoom="true"
            :canvas="{
              minHeight: 0,
              minWidth: 0,
              maxHeight: 500,
              maxWidth: 500,
            }"
            :stencil-props="{
              handlers: {},
              movable: false,
              scalable: false,
              aspectRatio: 1,
            }"
            :resize-image="{ adjustStencil: false }"
            image-restriction="stencil"
            style="height: 100%; background-color: white"
            @change="onImageCrop"
          ></cropper>
          <ion-button
            color="secondary"
            style="position: absolute; right: 4px; top: 4px"
            @click="setImageModalOpen(false)"
            >Listo</ion-button
          >
        </div>
      </ion-modal>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonGrid,
  IonPage,
  IonRow,
  IonCol,
  IonButton,
  IonLabel,
  IonInput,
  IonTextarea,
  IonCheckbox,
  IonText,
  IonIcon,
  IonModal,
  toastController,
  alertController
} from "@ionic/vue";
import { defineComponent } from "vue";
import api from "../../api";
import { ref, reactive } from "vue";
import { mapGetters, useStore } from "vuex";
import { useRoute } from "vue-router";
import { closeCircleOutline } from "ionicons/icons";
import { Cropper } from "vue-advanced-cropper";
import "vue-advanced-cropper/dist/style.css";

export default defineComponent({
  name: "AddProduct",
  components: {
    IonContent,
    IonPage,
    IonGrid,
    IonRow,
    IonCol,
    IonButton,
    IonLabel,
    IonInput,
    IonTextarea,
    IonCheckbox,
    IonText,
    IonIcon,
    IonModal,
    Cropper,
  },
  setup() {
    const isLoading = ref(false);
    const product = reactive({});
    const route = useRoute();

    const productState = ref(null);

    const store = useStore();
    const image_file = reactive([]);
    const image_file_canvas = reactive([]);
    const categories = reactive([]);
    const variations = reactive([]);
    const product_categories = reactive([]);
    const product_variations = reactive([]);
    const product_code = ref(null);
    const stock = ref(null);
    const availability = ref(null);
    const starred = ref(null);
    const price = ref(null);
    const discount_price = ref(null);
    const description = ref(null);
    const brand = ref(null);
    const product_name = ref(null);
    const reset_stock = ref(null);

    const showConfirmModal = ref(false);
    const showDeleteModal = ref(false);
    const selectedIndex = ref(null);

    const showImageModal = ref(false);

    const setImageModalOpen = (state) => (showImageModal.value = state);

    const openToast = async (message) => {
      const toast = await toastController.create({
        message: message,
        position: "top",
        duration: 3000,
        color: "danger",
      });
      return toast.present();
    };

    const presentAlertConfirm = async (message) => {
        const alert = await alertController.create({
          header: 'Ha ocurrido un error',
          message: 'Sentimos mucho lo sucedido. Puedes presionar Cancelar e intentar de nuevo o Reportar este error y ayudarnos a mejorar',
          buttons: [
            {
              text: 'Cancelar',
              role: 'cancel',
              handler: () => {
                console.log(message);
              },
            },
            {
              text: 'Reportar',
              handler: () => {
                console.log(message);
                window.location.href = "mailto:soporte@odontoenlace.com?subject=Reporte&body=" + message.substring(0, 1000);
              },
            },
          ],
        });
        return alert.present();
      };

    const onSubmit = () => {
      isLoading.value = true;
      const productObject = new FormData();

      const store_id =
        store.getters.getUser &&
        store.getters.getUser.stores &&
        store.getters.getUser.stores.length > 0
          ? store.getters.getUser.stores[0].id
          : null;

      productObject.append("store_id", store_id);
      productObject.append("product_name", product_name.value);
      productObject.append("price", price.value);
      productObject.append("discount_price", discount_price.value);
      productObject.append("availability", availability.value ? 1 : 0);
      productObject.append("starred", starred.value ? 1 : 0);
      productObject.append("description", description.value);
      productObject.append("product_code", product_code.value);
      productObject.append("stock", stock.value);
      productObject.append("brand", brand.value);
      productObject.append("reset_stock", reset_stock.value ? 1 : 0);

      image_file_canvas.forEach((image) => {
        productObject.append("product_images[]", image);
      });

      product_categories.forEach((category) => {
        productObject.append("product_category[]", category);
      });

      product_variations.forEach((variation) => {
        productObject.append("product_variation[]", variation);
      });

      // Perform update if the product id is a param in the url, otherwise perform an insert
      if (route.params && route.params.id) {
        productObject.append("id", route.params.id);

        api
          .post("products/edit", productObject, {
            headers: {
              Authorization: `Bearer ${store.getters.getAccessToken}`,
            },
          })
          .then(function (response) {
            console.log(response);
            productState.value = "editada";
            showConfirmModal.value = true;
          })
          .catch(function (error) {
            console.log(error);
            if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info'){
              openToast(JSON.stringify(error.response.data.message));
            } else {
              presentAlertConfirm(JSON.stringify(error.response.data));
            }
          })
          .finally(() => {
            isLoading.value = false;
          });
      } else {
        api
          .post("products/create", productObject, {
            headers: {
              Authorization: `Bearer ${store.getters.getAccessToken}`,
            },
          })
          .then((response) => {
            console.log(response);
            productState.value = "creada";
            showConfirmModal.value = true;

            while (categories.length) {
              categories.pop();
            }

            while (variations.length) {
              variations.pop();
            }

            while (product_categories.length) {
              product_categories.pop();
            }

            while (product_variations.length) {
              product_variations.pop();
            }
          })
          .catch(function (error) {
            console.log(error);
            if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info'){
              openToast(JSON.stringify(error.response.data.message));
            } else {
              presentAlertConfirm(JSON.stringify(error.response.data));
            }
          })
          .finally(() => {
            isLoading.value = false;
          });
      }
    };

    const loadProduct = () => {
      isLoading.value = true;

      api
        .get("products/" + route.params.id, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(product, response.data);

          product_name.value = product.product_name;
          price.value = product.price;
          discount_price.value = product.discount_price;
          availability.value = product.availability;
          starred.value = product.starred;
          description.value = product.description;
          stock.value = product.stock;
          product_code.value = product.product_code;
          brand.value = product.brand;

          while (categories.length) {
            categories.pop();
          }

          while (variations.length) {
            variations.pop();
          }

          while (product_categories.length) {
            product_categories.pop();
          }

          while (product_variations.length) {
            product_variations.pop();
          }

          product.categories.forEach((category) => {
            product_categories.push(category);
          });

          Object.assign(categories, product_categories);

          product.variations.forEach((variation) => {
            product_variations.push(variation);
          });

          Object.assign(variations, product_variations);

          clearImages();

          if (product.main_image) {
            var elements = document.getElementsByClassName("img-square");

            Array.from(elements).forEach((element) => {
              if (element.id == "product_image_1") {
                console.log(element);
                element.style.backgroundImage =
                  'url("' + product.main_image + '")';
                element.style.backgroundSize = "cover";
              }
            });
          }

          var index = 1;
          if (product.image_gallery && product.image_gallery.length > 0) {
            product.image_gallery.forEach((url) => {
              var elements = document.getElementsByClassName("img-square");

              Array.from(elements).forEach((element) => {
                if (element.id == "product_image_" + index) {
                  element.style.backgroundImage = 'url("' + url + '")';
                  element.style.backgroundSize = "cover";
                  console.log("Loading " + url + " in product_image_" + index);
                }
              });
              index++;
            });

            index = 1;
            product.image_objects.forEach((obj) => {
              image_file_canvas[index] = obj;
              index++;
            });
          } else {
            console.log("Image gallery does not exist or is empty");
          }
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    const removeImage = () => {
      let removing_image_source = document.getElementById(
        "product_image_" + selectedIndex.value
      ).style.backgroundImage;

      if (removing_image_source.indexOf("http") >= 0) {
        api
          .post("products/remove/picture", image_file_canvas[selectedIndex.value], {
            headers: {
              Authorization: `Bearer ${store.getters.getAccessToken}`,
            },
          })
          .then(function (response) {
            console.log(response);

            image_file_canvas.splice(selectedIndex.value, 1);

            [1, 2, 3, 4, 5].forEach((index) => {
              if (index >= selectedIndex.value) {
                document.getElementById(
                  "product_image_" + index
                ).style.backgroundImage = document.getElementById(
                  "product_image_" + (index + 1)
                ).style.backgroundImage;
              }
              if (index >= image_file_canvas.length) {
                document.getElementById(
                  "product_image_" + index
                ).style.backgroundSize = "";
              }
            });

            document.getElementById("product_image_6").style.backgroundImage =
              "url('../../assets/img/add_photo.png')";
            document.getElementById("product_image_6").style.backgroundSize =
              "";
          })
          .catch(function (error) {
            console.log(error);
            if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info'){
              openToast(JSON.stringify(error.response.data.message));
            } else {
              presentAlertConfirm(JSON.stringify(error.response.data));
            }
          })
          .finally(() => {
            showDeleteModal.value = false;
          });
      } else {
        document.getElementById(
          "product_image_" + selectedIndex.value
        ).style.backgroundImage = "url('../../assets/img/add_photo.png')";
        document.getElementById(
          "product_image_" + selectedIndex.value
        ).style.backgroundSize = "";
        image_file_canvas.splice(selectedIndex.value, 1);
        showDeleteModal.value = false;
      }
    };

    const clearImages = () => {
      while (image_file_canvas.length) {
        image_file_canvas.pop();
      }

      var elements = document.getElementsByClassName("img-square");

      

      Array.from(elements).forEach((element) => {
        element.style.backgroundImage = "url('../../assets/img/add_photo.png')";
        element.style.backgroundSize = "";
      });
    };

    return {
      onSubmit,
      openToast,
      showConfirmModal,
      image_file,
      image_file_canvas,
      price,
      discount_price,
      categories,
      product_code,
      stock,
      availability,
      description,
      brand,
      product_name,
      loadProduct,
      isLoading,
      productState,
      closeCircleOutline,
      showDeleteModal,
      selectedIndex,
      removeImage,
      product_categories,
      showImageModal,
      setImageModalOpen,
      starred,
      clearImages,
      product_variations,
      variations,
      reset_stock,
      presentAlertConfirm
    };
  },
  data() {
    return {
      // value: [
      //   { name: 'Javascript', code: 'js' }
      // ],
      // options: [
      //   { name: 'Vue.js', code: 'vu' },
      //   { name: 'Javascript', code: 'js' },
      //   { name: 'Open Source', code: 'os' }
      // ]
    };
  },
  computed: {
    ...mapGetters(["getUser", "getAccessToken", "getCategories"]),
    hasName() {
      return this.product_name && this.product_name.length >= 2;
    },
    hasDescription() {
      return this.description && this.description.length >= 2;
    },
    hasCategory() {
      return this.product_categories && this.product_categories.length >= 1;
    },
    hasBrand() {
      return this.brand && this.brand.length >= 2;
    },
    hasPrice() {
      return this.price &&  parseFloat(this.price) >= 0;
    },
    hasCode() {
      return this.product_code &&  this.product_code.length >= 2;
    },
    hasStock() {
      return this.stock &&  parseInt(this.stock) >= 0;
    },
    isProductComplete() {
      return this.hasName && this.hasDescription && this.hasCategory && this.hasBrand && this.hasPrice && this.hasCode && this.hasStock;
    }
  },
  mounted() {
    // this.$store.dispatch("getCategoriesOptions");
  },
  ionViewDidEnter() {
    if (this.$route.params.id) {
      this.clearImages();
      setTimeout(() => {
        this.loadProduct();
      }, 300);
    } else {
      this.clearImages();

      this.$refs.multiselect_variations.clear();
      this.$refs.multiselect_categories.clear();

      while (this.categories.length) {
        this.categories.pop();
      }

      while (this.variations.length) {
        this.variations.pop();
      }

      while (this.product_categories.length) {
        this.product_categories.pop();
      }

      while (this.product_variations.length) {
        this.product_variations.pop();
      }

      this.product_code = null;
      this.stock = null;
      this.availability = null;
      this.starred = null;
      this.price = null;
      this.discount_price = null;
      this.description = null;
      this.brand = null;
      this.product_name = null;
      this.reset_stock = false;
      // this.productState = null;
      // this.selectedIndex = null;
    }
  },
  watch: {},
  methods: {
    confirm() {
      this.showConfirmModal = false;
    },
    cancel(close) {
      close();
    },
    onImageCrop({ coordinates, canvas }) {
      console.log(coordinates);
      document.getElementById(
        "product_image_" + this.selectedIndex
      ).style.backgroundImage = 'url("' + canvas.toDataURL() + '")';
      document.getElementById(
        "product_image_" + this.selectedIndex
      ).style.backgroundSize = "cover";

      this.image_file_canvas[this.selectedIndex] = canvas.toDataURL();
    },
    selectProductImage(index) {
      this.selectedIndex = index;
      console.log(event.target.files[0]);

      var reader = new FileReader();
      reader.onload = (e) => {
        this.image_file[index] = e.target.result;
        document.getElementById(
          "product_image_" + index
        ).style.backgroundImage = 'url("' + reader.result + '")';
        document.getElementById("product_image_" + index).style.backgroundSize =
          "cover";
        this.showImageModal = true;
      };
      reader.readAsDataURL(event.target.files[0]);
    },

    selectExploreProductImage(ev, index) {
      ev.stopPropagation();
      // this.$refs['upload_product_image_' + index].click();
      document.getElementById('upload_product_image_' + index).click();
    },

    selectRemoveProductImage(ev, index) {
      ev.stopPropagation();
      console.log(index);
      this.selectedIndex = index;
      this.showDeleteModal = true;
    },

    selectProductCategory(value) {
      console.log(value);
      // value.forEach((category) => {
      //   this.product_categories.push(category);
      // });
      Object.assign(this.product_categories, value);
      console.log(this.categories);
    },

    selectProductVariations(value) {
      console.log(value);
      while(this.product_variations.length){
        this.product_variations.pop();
      }
      Object.assign(this.product_variations, value);
    },
  },
  beforeRouteLeave(to, from, next) {
    if (!this.productState) {
      const answer = window.confirm(
        "¿Realmente quieres dejar de editar el producto?"
      );
      if (answer) {
        next();
      } else {
        next(false);
      }
    } else {
      next();
    }
  },
});
</script>

<style scoped src="../../theme/style.css">
</style>

<style src="@vueform/multiselect/themes/default.css"></style>

<style scoped>
.logo {
  padding: 5%;
  height: 100%;
}

.img-wrapper {
  background-image: url("../../assets/img/add_photo.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
</style>

<style scoped>
::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
.modal__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
}
</style>

<style scoped>
.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}
</style>
