// https://swiperjs.com/swiper-api#pagination
<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="ion-margin">
      <ion-row class="ion-justify-content-center header-label ion-margin">
          <ion-text color="light">
            CARRITO
          </ion-text>
      </ion-row>
      <ion-row>
        <ion-col size="5" style="text-align: right">
          Ítems: {{ getOrderItems }}
        </ion-col>
        <ion-col size="2" style="text-align: center"> | </ion-col>
        <ion-col size="5" style="text-align: left">
          $ {{ getOrderTotal }}
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin">
        <div v-if="getCart !== undefined" style="width: 100%">
          <div
            v-for="(item, index) in getCart"
            :key="index"
          >
            <product-line
              v-if="item.id !== undefined"
              :id="item.id"
              :price="item.price"
              :name="item.product_name"
              :image="item.main_image"
              :currency="item.currency"
              :offerPrice="item.discount_price"
              :item="item"
              :edit="true"
              :productId="item.id"
              @delete="removeItem(index)"
            ></product-line>
          </div>
        </div>
      </ion-row>
      <ion-row class="ion-margin">
        <ion-button expand="block" color="secondary" style="width: 100%" @click="validateAndContinue()">FINALIZAR COMPRA</ion-button>
      </ion-row>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonButton,
  IonText
} from "@ionic/vue";
import { defineComponent } from "vue";
import { mapGetters } from "vuex";
import api from "../../api";
import { defineRule } from "vee-validate";
import { required } from "@vee-validate/rules";

defineRule("required", required);

export default defineComponent({
  name: "Cart",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonButton,
    IonText
  },
  setup() {
    
  },
  data: () => ({
    products: [],
    stores: [],
    payment_methods: [],
    payment_method: null,
    
  }),
  computed: {
    ...mapGetters(["getUser", "getAccessToken", "getCart", "getCurrency"]),
    getStore() {
      if (
        this.getUser &&
        this.getUser.stores &&
        this.getUser.stores.length > 0
      ) {
        return this.getUser.stores[0];
      } else {
        return false;
      }
    },
    getStoreId() {
      if (this.getStore) {
        return this.getUser.stores[0].id;
      } else {
        return "";
      }
    },
    getOrderTotal() {
      return this.getCart.reduce((total, item) => {
        return (
          parseFloat(total) +
          parseFloat(
            item.discount_price &&
              parseFloat(item.discount_price) < parseFloat(item.price)
              ? item.discount_price
              : item.price
          ) *
            parseFloat(item.qty)
        );
      }, 0);
    },
    getOrderItems() {
      return this.getCart.reduce((total, item) => {
        return parseInt(total) + parseInt(item.qty);
      }, 0);
    },
  },
  updated() {
    if (
      this.payment_methods === undefined ||
      this.payment_methods.length == 0
    ) {
      this.loadPaymentMethods();
    }
  },
  methods: {
    loadProducts() {
      var products = this.products;
      api
        .get("products/" + this.getStoreId + "/list", {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(products, response.data);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    loadPaymentMethods() {
      var payment_methods = this.payment_methods;
      var selected_currency = this.getCurrency;
      api
        .get("payment-methods", {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(
            payment_methods,
            response.data.filter((value) => {
              return value.currency == selected_currency;
            })
          );
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    editProduct(id) {
      alert(id);
    },
    removeItem(index) {
      this.getCart.splice(index, 1);
    },
    goToMyOrders() {
      this.showConfirmModal = false;
      this.$store.commit("emptyCart");
      this.$router.push("/marketplace/home");
    },
    changePaymentMethod(item, event) {
      // this.instructions = item.instructions;
      console.log(item, event);
    },
    validateAndContinue(){
      var are_variations_set = true;

       this.getCart.forEach((item) => {
         if (item.variations && item.variations.length && !item.selected_variation){
           are_variations_set = false;
         }
       });

      if (are_variations_set){
        this.$router.push('/marketplace/checkout');
      } else {
        alert('Los productos con variaciones deben tener al menos una seleccionada');
      }
      
    }
  },
});
</script>

<style scoped src="../../theme/style.css">
</style>


<style scoped>
::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
.modal__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
}
</style>

<style scoped>
.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}
</style>