// https://swiperjs.com/swiper-api#pagination
<template>
  <ion-page>
    <loading
      v-model:active="isLoading"
      :can-cancel="true"
      :is-full-page="true"
    />
    <ion-content :fullscreen="true" scroll="false">
      <ion-row class="ion-justify-content-center header-label ion-margin">
        <ion-text color="light">
          <strong>FINALIZAR COMPRA</strong>
        </ion-text>
      </ion-row>
      <ion-row class="ion-margin">
        <accordion :list="steps" ref="accordion">
          <template v-slot="sp">
            <!-- DELIVERY OPTIONS -->

            <div id="deliveryOptions" v-if="sp.item.id == 'delivery_options'">
              <ion-row>
                <ion-col size="6">
                  <ion-button
                    size="small"
                    expand="block"
                    :color="
                      deliver_to == 'specific_address' ? 'secondary' : 'medium'
                    "
                    @click="deliver_to = 'specific_address'"
                  >
                    En Dirección
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button
                    size="small"
                    expand="block"
                    :color="
                      deliver_to == 'specific_store' ? 'secondary' : 'medium'
                    "
                    @click="deliver_to = 'specific_store'"
                  >
                    En Tienda
                  </ion-button>
                </ion-col>
              </ion-row>

              <div v-if="deliver_to == 'specific_address'">
                <ion-row>
                  <ion-col size="2">
                    <ion-checkbox
                      :checked="true"
                      name="ship_to_clinic"
                      color="secondary"
                      @ionChange="
                        ship_to_clinic = ship_to_clinic ? false : true
                      "
                    ></ion-checkbox>
                  </ion-col>
                  <ion-col size="10">
                    <ion-text>Entregar en mi Consultorio</ion-text>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="6">
                    <ion-select
                      v-model="clinic_state"
                      ok-text="Listo"
                      cancel-text="Cancelar"
                      placeholder="Estado"
                      :disabled="ship_to_clinic == true"
                      :style="
                        ship_to_clinic == true
                          ? 'color: rgba(0, 0, 0, 0.4) !important;'
                          : 'color: rgba(0, 0, 0, 1) !important;'
                      "
                    >
                      <ion-select-option
                        v-for="(item, index) in states"
                        :key="index"
                        :value="item.estado"
                      >
                        {{ item.estado }}
                      </ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col size="6">
                    <ion-select
                      v-model="clinic_city"
                      ok-text="Listo"
                      cancel-text="Cancelar"
                      placeholder="Municipio"
                      :disabled="ship_to_clinic == true"
                      :style="
                        ship_to_clinic == true
                          ? 'color: rgba(0, 0, 0, 0.4) !important;'
                          : 'color: rgba(0, 0, 0, 1) !important;'
                      "
                    >
                      <ion-select-option
                        v-for="(item, index) in clinic_state
                          ? states.find((item) => item.estado == clinic_state)
                              .municipios
                          : []"
                        :key="index"
                        :value="item.municipio"
                      >
                        {{ item.municipio }}
                      </ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-textarea
                      v-model="shipping_address"
                      name="shipping_address"
                      placeholder="Direccion"
                      :disabled="ship_to_clinic == true"
                    ></ion-textarea>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-input
                      v-model="shipping_phone_1"
                      placeholder="Telefono 1"
                      :disabled="ship_to_clinic == true"
                    ></ion-input>
                  </ion-col>
                  <ion-col size="6">
                    <ion-input
                      placeholder="Telefono 2"
                      :disabled="ship_to_clinic == true"
                    ></ion-input>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="2">
                    <ion-checkbox
                      id="deliver_to_manager"
                      :checked="false"
                      name="deliver_to_manager"
                      color="secondary"
                      @ionChange="toggleDeliverToManager"
                    ></ion-checkbox>
                  </ion-col>
                  <ion-col size="10">
                    <ion-text>Entregar a Encargado</ion-text>
                  </ion-col>
                </ion-row>

                <div
                  :style="
                    deliver_to_manager
                      ? 'display:block; overflow:hidden;'
                      : 'display:none; overflow:hidden;'
                  "
                >
                  <ion-row>
                    <ion-col size="12">
                      <ion-input
                        placeholder="Nombre del encargado"
                        :disabled="deliver_to_manager != true"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">
                      <ion-input
                        placeholder="Cédula"
                        :disabled="deliver_to_manager != true"
                      ></ion-input>
                    </ion-col>
                    <ion-col size="6">
                      <ion-input
                        placeholder="Telefono"
                        :disabled="deliver_to_manager != true"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                </div>
                <ion-row class="ion-margin-start ion-margin-end">
                  <p><strong>
                    <!-- <i> -->
                      Todas las entregas se realizan la mañana siguiente a la
                      finalización del pedido.
                    <!-- </i> -->
                  </strong></p>
                </ion-row>
              </div>

              <div v-if="deliver_to == 'specific_store'">
                <ion-row>
                  <ion-col size="12">
                    <ion-row v-for="(item, index) in uniqueStores" :key="index">
                      <ion-col size="2">
                        <ion-thumbnail>
                          <img :src="item.logo" />
                        </ion-thumbnail>
                      </ion-col>
                      <ion-col size="10">
                        <p>{{ item.store_name }}</p>
                      </ion-col>
                      <ion-col size="12">
                        <ion-input
                          :placeholder="item.store_address"
                          :disabled="true"
                        ></ion-input>
                      </ion-col>
                      <ion-col size="12">
                        <ion-input
                          :placeholder="item.store_phone"
                          :disabled="true"
                        ></ion-input>
                      </ion-col>
                    </ion-row>
                    <ion-row class="ion-no-margin">
                      <p>
                        <strong>
                        <!-- <i> -->
                          Tu orden estará lista para recoger 30 minutos después
                          de la finalización del pedido. Te enviaremos, por
                          correo electrónico, la ubicación de la(s) tienda(s) en
                          Google Maps.
                        <!-- </i> -->
                        </strong>
                      </p>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </div>
              <ion-row style="margin-bottom: 6px">
                <ion-button
                  expand="block"
                  color="secondary"
                  style="width: 100%"
                  :disabled="!validShipping"
                  @click="$refs.accordion.sendClick('OPCIONES DE FACTURACIÓN')"
                  >GUARDAR Y CONTINUAR</ion-button
                >
              </ion-row>
            </div>

            <!-- INVOICING OPTIONS -->

            <div v-if="sp.item.id == 'invoicing_options'">
              <!-- <ion-row>
                <ion-col size="6">
                  <ion-button
                    size="small"
                    expand="block"
                    :color="
                      generate_invoice == 'generate_invoice'
                        ? 'secondary'
                        : 'medium'
                    "
                    @click="generate_invoice = 'generate_invoice'"
                  >
                    Incluir factura
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button
                    size="small"
                    expand="block"
                    :color="
                      generate_invoice == 'do_not_generate_invoice'
                        ? 'danger'
                        : 'medium'
                    "
                    @click="generate_invoice = 'do_not_generate_invoice'"
                  >
                    Sin factura
                  </ion-button>
                </ion-col>
              </ion-row> -->

              <!-- <ion-row>
                <ion-col>
                  <p>
                    <i>
                      {{
                        generate_invoice == "generate_invoice"
                          ? "Al seleccionar esta opción, se calculará el IVA sobre el subtotal de tu compra."
                          : "Te enviaremos recibo y relación de compra por correo usando estos datos."
                      }}
                    </i>
                  </p>
                </ion-col>
              </ion-row> -->

              <ion-row>
                <ion-col size="2">
                  <ion-checkbox
                    :checked="true"
                    name="invoice_name"
                    color="secondary"
                    @ionChange="invoice_to_me = invoice_to_me ? false : true"
                  ></ion-checkbox>
                </ion-col>
                <ion-col size="10">
                  <ion-text>Facturar a mi nombre</ion-text>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <ion-input
                    v-model="invoice_person"
                    name="invoice_person"
                    :disabled="invoice_to_me"
                    :placeholder="
                      invoice_to_me
                        ? getUser.name + ' ' + getUser.last_name
                        : 'Nombre y Apellido'
                    "
                  ></ion-input>
                </ion-col>
              </ion-row>

              <ion-row class="ion-no-margin">
                <ion-col size="6" class="ion-no-margin ion-no-padding">
                  <ion-row>
                    <ion-col size="3" class="ion-no-margin">
                      <ion-select
                        v-model="tax_id_letter"
                        name="tax_id_letter"
                        :disabled="invoice_to_me"
                        ok-text="Listo"
                        cancel-text="Cancelar"
                        :placeholder="(getUser && getUser.tax_id_letter) ? getUser.tax_id_letter : '#'"
                        :style="
                          invoice_to_me
                            ? 'color: rgba(0, 0, 0, 0.4) !important; margin-top: 4px;'
                            : 'color: rgba(0, 0, 0, 1) !important; margin-top: 4px;'
                        "
                      >
                        <ion-select-option>V</ion-select-option>
                        <ion-select-option>J</ion-select-option>
                        <ion-select-option>E</ion-select-option>
                        <ion-select-option>G</ion-select-option>
                      </ion-select>
                    </ion-col>
                    <ion-col size="9" class="ion-no-margin">
                      <ion-input
                        v-model="tax_id"
                        name="tax_id"
                        :placeholder="(getUser && getUser.tax_id) ? getUser.tax_id : 'Documento'"
                        :disabled="invoice_to_me"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="6" class="ion-no-margin ion-no-padding">
                  <ion-row>
                    <ion-col class="ion-no-margin">
                      <ion-input
                        :placeholder="
                          invoice_to_me && getUser && getUser.phone
                            ? getUser.phone
                            : 'Teléfono'
                        "
                        v-model="phone"
                        :disabled="invoice_to_me"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="6">
                  <ion-select
                    v-model="invoice_state"
                    ok-text="Listo"
                    cancel-text="Cancelar"
                    placeholder="Estado"
                    :disabled="invoice_to_me"
                    :style="
                      invoice_to_me
                        ? 'color: rgba(0, 0, 0, 0.4) !important;'
                        : 'color: rgba(0, 0, 0, 1) !important;'
                    "
                  >
                    <ion-select-option
                      v-for="(item, index) in states"
                      :key="index"
                      :value="item.estado"
                    >
                      {{ item.estado }}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
                <ion-col size="6">
                  <ion-select
                    v-model="invoice_city"
                    ok-text="Listo"
                    cancel-text="Cancelar"
                    placeholder="Municipio"
                    :disabled="invoice_to_me"
                    :style="
                      invoice_to_me
                        ? 'color: rgba(0, 0, 0, 0.4) !important;'
                        : 'color: rgba(0, 0, 0, 1) !important;'
                    "
                  >
                    <ion-select-option
                      v-for="(item, index) in invoice_state
                        ? states.find((item) => item.estado == clinic_state)
                            .municipios
                        : []"
                      :key="index"
                      :value="item.municipio"
                    >
                      {{ item.municipio }}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12">
                  <ion-textarea
                    v-model="invoice_address"
                    name="invoicing_address"
                    placeholder="Direccion"
                    :disabled="
                      generate_invoice == 'do_not_generate_invoice' ||
                      invoice_to_me
                    "
                  ></ion-textarea>
                </ion-col>
              </ion-row>

              <ion-row style="margin-bottom: 6px">
                <ion-button
                  expand="block"
                  color="secondary"
                  style="width: 100%"
                  :disabled="!validInvoicing"
                  @click="$refs.accordion.sendClick('OPCIONES DE PAGO')"
                  >GUARDAR Y CONTINUAR</ion-button
                >
              </ion-row>
            </div>

            <!-- PAYMENT OPTIONS -->

            <div id="paymentOptions" v-if="sp.item.id == 'payment_options'">
              <ion-row>
                <ion-col>
                  <strong>Resúmen de compra:</strong>
                </ion-col>
                <ion-col style="text-align: right"></ion-col>
              </ion-row>
              <ion-row
                v-for="(item, index) in getCart"
                :key="index"
                class="ion-no-padding ion-no-margin"
              >
                <ion-col size="8">
                  {{
                    item.product_name +
                    (item.selected_variation
                      ? " - " + item.selected_variation
                      : "")
                  }}
                </ion-col>
                <ion-col size="4" style="text-align: right">
                  {{
                    (
                      parseInt(item.qty) *
                      parseFloat(
                        item.discount_price && item.discount_price < item.price
                          ? item.discount_price
                          : item.price
                      )
                    ).toFixed(2)
                  }}
                </ion-col>
              </ion-row>

              <!-- COUPONS IF AVAILABLE -->

              <ion-row v-if="coupons && coupons.length">
                <ion-col style="text-align: left">
                  <strong><small>¡Tienes cupones para activar!</small></strong>
                </ion-col>
              </ion-row>

              <ion-row v-for="coupon in coupons" :key="coupon.id">
              <ion-col>
                <ion-item lines="none" class="history-item">
                  <ion-checkbox
                    :modelValue="coupon.value"
                    @update:modelValue="coupon.value = $event"
                    slot="start"
                    class="ion-no-margin"
                    style="margin-end: 4px;"
                  >
                  </ion-checkbox>
                  <ion-chip color="secondary"><ion-label class="ion-text-wrap">{{ coupon.coupon_name }}</ion-label></ion-chip>
                  </ion-item>
                  <small>{{coupon.coupon_description }}</small>
                  </ion-col>
              </ion-row>

              <!-- END OF COUPONS IF AVAILABLE -->
              <ion-row>
                <ion-col>
                  <strong>Subtotal:</strong>
                </ion-col>
                <ion-col style="text-align: right">{{
                  getOrderTotal.toFixed(2)
                }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <strong>Total a pagar:</strong>
                </ion-col>
                <ion-col size="2">
                  <strong>USD</strong>
                </ion-col>
                <ion-col size="5" style="text-align: right">{{
                  getOrderTotal.toFixed(2)
                }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <strong></strong>
                </ion-col>
                <ion-col size="2">
                  <strong>VES</strong>
                </ion-col>
                <ion-col size="5" style="text-align: right">{{
                  new Intl.NumberFormat("es-VE").format(
                    (exchange_rate
                      ? getOrderTotal * exchange_rate
                      : getOrderTotalVES
                    ).toFixed(2)
                  )
                }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <strong>Tasa de cambio:</strong>
                </ion-col>
                <ion-col size="2">
                  <strong>$ BCV</strong>
                </ion-col>
                <ion-col size="5" style="text-align: right">{{
                  new Intl.NumberFormat("es-VE").format(
                    (exchange_rate
                      ? exchange_rate
                      : getOrderTotalVES / getOrderTotal
                    ).toFixed(2)
                  )
                }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-no-padding">
                  <ion-button
                    size="small"
                    expand="block"
                    :color="
                      payment_number == 'one_payment' ? 'secondary' : 'medium'
                    "
                    @click="payment_number = 'one_payment'"
                  >
                    Pago único
                  </ion-button>
                </ion-col>
                <ion-col class="ion-no-padding">
                  <ion-button
                    size="small"
                    expand="block"
                    :color="
                      payment_number == 'multi_payment' ? 'secondary' : 'medium'
                    "
                    @click="payment_number = 'multi_payment'"
                  >
                    Multi pagos
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p><strong>
                    <!-- <i> -->
                      {{
                        payment_number == "one_payment"
                          ? "Selecciona esta opción si realizarás tu pago usando un único método."
                          : "Seleccionando esta opción, podrás pagar usando hasta dos métodos distintos."
                      }}
                    <!-- </i> -->
                  </strong></p>
                </ion-col>
              </ion-row>
              <div id="intrumentOptions">
                <ion-row v-if="payment_number != 'one_payment'">
                  <ion-col>
                    <strong>1. Selecciona tu primer método de pago.</strong>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-no-padding">
                    <ion-button
                      expand="block"
                      :color="
                        payment_instrument == 'zelle' ? 'tertiary' : 'medium'
                      "
                      @click="payment_instrument = 'zelle'"
                    >
                      <ion-img
                        v-if="payment_instrument == 'zelle'"
                        src="assets/icons/zelle.svg"
                      ></ion-img>
                      <ion-img
                        v-else
                        src="assets/icons/zelle_inactivo.svg"
                      ></ion-img>
                    </ion-button>
                  </ion-col>
                  <ion-col class="ion-no-padding">
                    <ion-button
                      expand="block"
                      :color="
                        payment_instrument == 'cash' ? 'success' : 'medium'
                      "
                      @click="toggleCashOptions"
                    >
                      Efectivo
                      <ion-icon
                        v-if="payment_instrument == 'cash'"
                        size="large"
                        src="assets/icons/cash.svg"
                      ></ion-icon>
                      <ion-icon
                        v-else
                        size="large"
                        src="assets/icons/cash_inactivo.svg"
                      ></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-no-padding">
                    <ion-button
                      expand="block"
                      :color="
                        payment_instrument == 'transfer' ? 'success' : 'medium'
                      "
                      @click="payment_instrument = 'transfer'"
                    >
                      Transferencia
                      <ion-icon
                        v-if="payment_instrument == 'transfer'"
                        size="medium"
                        src="assets/icons/bank.svg"
                      ></ion-icon>
                      <ion-icon
                        v-else
                        size="medium"
                        src="assets/icons/bank_inactivo.svg"
                      ></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="ion-no-padding">
                    <ion-button
                      expand="block"
                      :color="
                        payment_instrument == 'reserve' ? 'light' : 'medium'
                      "
                      @click="payment_instrument = 'reserve'"
                    >
                      <ion-img
                        v-if="payment_instrument == 'reserve'"
                        src="assets/icons/reserve.svg"
                      ></ion-img>
                      <ion-img
                        v-else
                        src="assets/icons/reserve_inactivo.svg"
                      ></ion-img>
                    </ion-button>
                  </ion-col>
                </ion-row>

                <ion-row v-if="payment_number != 'one_payment'">
                  <ion-col>
                    <ion-input
                      v-model="multi_payment_advance_amount"
                      placeholder="Indica el monto que pagarás"
                      type="number"
                      step="0.01"
                    ></ion-input>
                  </ion-col>
                </ion-row>
              </div>

              <!-- if cash -->

              <ion-row
                id="cashOptions"
                :style="payment_instrument != 'cash' ? 'display: none;' : ''"
              >
                <ion-col size="12" class="ion-no-padding ion-no-margin">
                  <ion-row class="ion-no-margin ion-no-padding">
                    <ion-col size="12">
                      <ion-item-divider
                        class="ion-no-padding ion-margin-bottom"
                      >
                      </ion-item-divider>
                    </ion-col>
                  </ion-row>
                  <ion-row class="ion-no-padding ion-no-margin">
                    <ion-col size="12" class="ion-no-padding ion-no-margin">
                      <ion-button
                        expand="block"
                        :color="cash_currency == 'USD' ? 'success' : 'medium'"
                        @click="cash_currency = 'USD'"
                        style="width: 100%"
                        >Efectivo USD</ion-button
                      >
                    </ion-col>
                    <ion-col size="12" class="ion-no-padding ion-no-margin">
                      <ion-button
                        expand="block"
                        :color="cash_currency == 'EUR' ? 'success' : 'medium'"
                        @click="cash_currency = 'EUR'"
                        style="width: 100%"
                        >Efectivo EUR</ion-button
                      >
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-textarea
                        v-model="payment_reference"
                        placeholder="Indique la denomicación de los billetes con que pagarás"
                      ></ion-textarea>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <p>
                        Una vez reportado tu pago, debes enviar FOTO DE EL(LOS)
                        BILLETE(S), por WhatsApp, al 0424-4192922 para aprobar
                        tu pedido.
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>

              <!-- zelle and reserve -->

              <div id="zelleOptions" style="display: none">
                <ion-row class="ion-no-margin ion-no-padding">
                  <ion-item-divider class="ion-no-padding ion-margin-bottom">
                  </ion-item-divider>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <div class="textarea ion-padding">
                      {{ selectedMethodInstructions }}
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input
                      v-model="payment_reference"
                      placeholder="Número de referencia de la transferencia"
                    ></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input
                      v-model="payment_title_reference"
                      placeholder="Nombre del titular de la cuenta que transfirió"
                    ></ion-input>
                  </ion-col>
                </ion-row>
              </div>

              <div id="reserveOptions" style="display: none">
                <ion-row class="ion-no-margin ion-no-padding">
                  <ion-item-divider class="ion-no-padding ion-margin-bottom">
                  </ion-item-divider>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <div class="textarea ion-padding">
                      {{ selectedMethodInstructions }}
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input
                      v-model="payment_amount_reference"
                      placeholder="Escribe el monto de la referencia"
                    ></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input
                      v-model="payment_reference"
                      placeholder="Nombre del usuario Reserve que transfirió"
                    ></ion-input>
                  </ion-col>
                </ion-row>
              </div>

              <!-- Transferencias -->

              <div id="transferOptions" style="display: none">
                <ion-row class="ion-no-margin ion-no-padding">
                  <ion-item-divider class="ion-no-padding ion-margin-bottom">
                  </ion-item-divider>
                </ion-row>
                <ion-row style="display: none;">
                  <ion-col class="ion-no-padding">
                    <ion-button
                      expand="block"
                      :color="transfer_option == 'tpago' ? 'primary' : 'medium'"
                      @click="transfer_option = 'tpago'"
                    >
                      <ion-img
                        v-if="transfer_option == 'tpago'"
                        src="assets/icons/tpago.svg"
                      ></ion-img>
                      <ion-img
                        v-else
                        src="assets/icons/tpago_inactivo.svg"
                      ></ion-img>
                    </ion-button>
                  </ion-col>
                  <ion-col class="ion-no-padding">
                    <ion-button
                      expand="block"
                      :color="
                        transfer_option == 'pagomovil' ? 'light' : 'medium'
                      "
                      @click="transfer_option = 'pagomovil'"
                    >
                      <ion-img
                        v-if="transfer_option == 'pagomovil'"
                        size="large"
                        src="assets/icons/pagomovil.svg"
                      ></ion-img>
                      <ion-img
                        v-else
                        size="large"
                        src="assets/icons/pagomovil_inactivo.svg"
                      ></ion-img>
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ion-row style="display: none;">
                  <ion-col class="ion-no-padding">
                    <ion-button
                      expand="block"
                      :color="
                        transfer_option == 'mercantil' ? 'light' : 'medium'
                      "
                      @click="transfer_option = 'mercantil'"
                    >
                      <ion-img
                        v-if="transfer_option == 'mercantil'"
                        size="medium"
                        src="assets/icons/mercantil.svg"
                      ></ion-img>
                      <ion-img
                        v-else
                        size="medium"
                        src="assets/icons/mercantil_inactivo.svg"
                      ></ion-img>
                    </ion-button>
                  </ion-col>
                  <ion-col class="ion-no-padding">
                    <ion-button
                      expand="block"
                      :color="transfer_option == 'banesco' ? 'light' : 'medium'"
                      @click="transfer_option = 'banesco'"
                    >
                      <ion-img
                        v-if="transfer_option == 'banesco'"
                        src="assets/icons/banesco.svg"
                      ></ion-img>
                      <ion-img
                        v-else
                        src="assets/icons/banesco_inactivo.svg"
                      ></ion-img>
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-no-padding">
                    <ion-button
                      expand="block"
                      :color="
                        transfer_option == 'bnc' ? 'light' : 'medium'
                      "
                      @click="transfer_option = 'bnc'"
                    >
                      <ion-img
                        v-if="transfer_option == 'bnc'"
                        size="medium"
                        src="assets/icons/bnc.svg"
                      ></ion-img>
                      <ion-img
                        v-else
                        size="medium"
                        src="assets/icons/bnc_inactivo.svg"
                      ></ion-img>
                    </ion-button>
                  </ion-col>
                  <ion-col class="ion-no-padding">
                    <ion-button
                      expand="block"
                      :color="transfer_option == 'bnc_movil' ? 'light' : 'medium'"
                      @click="transfer_option = 'bnc_movil'"
                    >
                      <ion-img
                        v-if="transfer_option == 'bnc_movil'"
                        src="assets/icons/bnc_movil.svg"
                      ></ion-img>
                      <ion-img
                        v-else
                        src="assets/icons/bnc_movil_inactivo.svg"
                      ></ion-img>
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div
                      v-if="payment_instrument && transfer_option"
                      class="textarea ion-padding"
                    >
                      {{ selectedMethodInstructions }}
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-input
                      v-model="payment_reference"
                      placeholder="Número de la referencia"
                    ></ion-input>
                  </ion-col>
                </ion-row>
              </div>

              <!-- MULTIPAYMENT SECTION -->

              <div id="multiPaymentOptions" style="display: none">
                <div id="multiIntrumentOptions">
                  <ion-row>
                    <ion-col>
                      <strong>2. Selecciona tu segundo método de pago.</strong>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-no-padding">
                      <ion-button
                        expand="block"
                        :color="
                          multi_payment_instrument == 'zelle'
                            ? 'tertiary'
                            : 'medium'
                        "
                        @click="multi_payment_instrument = 'zelle'"
                      >
                        <ion-img
                          v-if="multi_payment_instrument == 'zelle'"
                          src="assets/icons/zelle.svg"
                        ></ion-img>
                        <ion-img
                          v-else
                          src="assets/icons/zelle_inactivo.svg"
                        ></ion-img>
                      </ion-button>
                    </ion-col>
                    <ion-col class="ion-no-padding">
                      <ion-button
                        expand="block"
                        :color="
                          multi_payment_instrument == 'cash'
                            ? 'success'
                            : 'medium'
                        "
                        @click="toggleMultiCashOptions"
                      >
                        Efectivo
                        <ion-icon
                          v-if="multi_payment_instrument == 'cash'"
                          size="large"
                          src="assets/icons/cash.svg"
                        ></ion-icon>
                        <ion-icon
                          v-else
                          size="large"
                          src="assets/icons/cash_inactivo.svg"
                        ></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-no-padding">
                      <ion-button
                        expand="block"
                        :color="
                          multi_payment_instrument == 'transfer'
                            ? 'success'
                            : 'medium'
                        "
                        @click="multi_payment_instrument = 'transfer'"
                      >
                        Transferencia
                        <ion-icon
                          v-if="multi_payment_instrument == 'transfer'"
                          size="medium"
                          src="assets/icons/bank.svg"
                        ></ion-icon>
                        <ion-icon
                          v-else
                          size="medium"
                          src="assets/icons/bank_inactivo.svg"
                        ></ion-icon>
                      </ion-button>
                    </ion-col>
                    <ion-col class="ion-no-padding">
                      <ion-button
                        expand="block"
                        :color="
                          multi_payment_instrument == 'reserve'
                            ? 'light'
                            : 'medium'
                        "
                        @click="multi_payment_instrument = 'reserve'"
                      >
                        <ion-img
                          v-if="multi_payment_instrument == 'reserve'"
                          src="assets/icons/reserve.svg"
                        ></ion-img>
                        <ion-img
                          v-else
                          src="assets/icons/reserve_inactivo.svg"
                        ></ion-img>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row v-if="payment_number != 'one_payment'">
                    <ion-col>
                      <ion-input
                        :value="
                          multi_payment_instrument
                            ? parseFloat(remainingAmount).toFixed(2)
                            : 'Seleccione una forma de pago para calcular el remanente'
                        "
                        :disabled="true"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                </div>

                <!-- if cash -->

                <ion-row
                  id="multiCashOptions"
                  :style="
                    multi_payment_instrument != 'cash' ? 'display: none;' : ''
                  "
                >
                  <ion-col size="12" class="ion-no-padding ion-no-margin">
                    <ion-row class="ion-no-margin ion-no-padding">
                      <ion-col size="12">
                        <ion-item-divider
                          class="ion-no-padding ion-margin-bottom"
                        >
                        </ion-item-divider>
                      </ion-col>
                    </ion-row>
                    <ion-row class="ion-no-padding ion-no-margin">
                      <ion-col size="12" class="ion-no-padding ion-no-margin">
                        <ion-button
                          expand="block"
                          :color="
                            multi_cash_currency == 'USD' ? 'success' : 'medium'
                          "
                          @click="multi_cash_currency = 'USD'"
                          style="width: 100%"
                          >Efectivo USD</ion-button
                        >
                      </ion-col>
                      <ion-col size="12" class="ion-no-padding ion-no-margin">
                        <ion-button
                          expand="block"
                          :color="
                            multi_cash_currency == 'EUR' ? 'success' : 'medium'
                          "
                          @click="multi_cash_currency = 'EUR'"
                          style="width: 100%"
                          >Efectivo EUR</ion-button
                        >
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-textarea
                          v-model="multi_payment_reference"
                          placeholder="Indique la denomicación de los billetes con que pagarás"
                        ></ion-textarea>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <p>
                          Una vez reportado tu pago, debes enviar FOTO DE
                          EL(LOS) BILLETE(S), por WhatsApp, al 0424-1234567 para
                          aprobar tu pedido.
                        </p>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>

                <!-- zelle and reserve -->

                <div id="multiZelleOptions" style="display: none">
                  <ion-row class="ion-no-margin ion-no-padding">
                    <ion-item-divider class="ion-no-padding ion-margin-bottom">
                    </ion-item-divider>
                  </ion-row>

                  <ion-row>
                    <ion-col>
                      <div class="textarea ion-padding">
                        {{ selectedMultiMethodInstructions }}
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-input
                        v-model="multi_payment_reference"
                        placeholder="Número de referencia de la transferencia"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-input
                        v-model="multi_payment_title_reference"
                        placeholder="Nombre del titular de la cuenta que transfirió"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                </div>

                <div id="multiReserveOptions" style="display: none">
                  <ion-row class="ion-no-margin ion-no-padding">
                    <ion-item-divider class="ion-no-padding ion-margin-bottom">
                    </ion-item-divider>
                  </ion-row>

                  <ion-row>
                    <ion-col>
                      <div class="textarea ion-padding">
                        {{ selectedMultiMethodInstructions }}
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-input
                        v-model="multi_payment_amount_reference"
                        placeholder="Escribe el monto de la referencia"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-input
                        v-model="multi_payment_reference"
                        placeholder="Nombre del usuario Reserve que transfirió"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                </div>

                <!-- Transferencias -->

                <div id="multiTransferOptions" style="display: none">
                  <ion-row class="ion-no-margin ion-no-padding">
                    <ion-item-divider class="ion-no-padding ion-margin-bottom">
                    </ion-item-divider>
                  </ion-row>
                  <ion-row style="display: none;">
                    <ion-col class="ion-no-padding">
                      <ion-button
                        expand="block"
                        :color="
                          multi_transfer_option == 'tpago'
                            ? 'primary'
                            : 'medium'
                        "
                        @click="multi_transfer_option = 'tpago'"
                      >
                        <ion-img
                          v-if="multi_transfer_option == 'tpago'"
                          src="assets/icons/tpago.svg"
                        ></ion-img>
                        <ion-img
                          v-else
                          src="assets/icons/tpago_inactivo.svg"
                        ></ion-img>
                      </ion-button>
                    </ion-col>
                    <ion-col class="ion-no-padding">
                      <ion-button
                        expand="block"
                        :color="
                          multi_transfer_option == 'pagomovil'
                            ? 'light'
                            : 'medium'
                        "
                        @click="multi_transfer_option = 'pagomovil'"
                      >
                        <ion-img
                          v-if="multi_transfer_option == 'pagomovil'"
                          size="large"
                          src="assets/icons/pagomovil.svg"
                        ></ion-img>
                        <ion-img
                          v-else
                          size="large"
                          src="assets/icons/pagomovil_inactivo.svg"
                        ></ion-img>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row style="display: none;">
                    <ion-col class="ion-no-padding">
                      <ion-button
                        expand="block"
                        :color="
                          multi_transfer_option == 'mercantil'
                            ? 'light'
                            : 'medium'
                        "
                        @click="multi_transfer_option = 'mercantil'"
                      >
                        <ion-img
                          v-if="multi_transfer_option == 'mercantil'"
                          size="medium"
                          src="assets/icons/mercantil.svg"
                        ></ion-img>
                        <ion-img
                          v-else
                          size="medium"
                          src="assets/icons/mercantil_inactivo.svg"
                        ></ion-img>
                      </ion-button>
                    </ion-col>
                    <ion-col class="ion-no-padding">
                      <ion-button
                        expand="block"
                        :color="
                          multi_transfer_option == 'banesco'
                            ? 'light'
                            : 'medium'
                        "
                        @click="muti_transfer_option = 'banesco'"
                      >
                        <ion-img
                          v-if="multi_transfer_option == 'banesco'"
                          src="assets/icons/banesco.svg"
                        ></ion-img>
                        <ion-img
                          v-else
                          src="assets/icons/banesco_inactivo.svg"
                        ></ion-img>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                  <ion-col class="ion-no-padding">
                    <ion-button
                      expand="block"
                      :color="
                        multi_transfer_option == 'bnc' ? 'light' : 'medium'
                      "
                      @click="multi_transfer_option = 'bnc'"
                    >
                      <ion-img
                        v-if="multi_transfer_option == 'bnc'"
                        size="medium"
                        src="assets/icons/bnc.svg"
                      ></ion-img>
                      <ion-img
                        v-else
                        size="medium"
                        src="assets/icons/bnc_inactivo.svg"
                      ></ion-img>
                    </ion-button>
                  </ion-col>
                  <ion-col class="ion-no-padding">
                    <ion-button
                      expand="block"
                      :color="multi_transfer_option == 'bnc_movil' ? 'light' : 'medium'"
                      @click="multi_transfer_option = 'bnc_movil'"
                    >
                      <ion-img
                        v-if="multi_transfer_option == 'bnc_movil'"
                        src="assets/icons/bnc_movil.svg"
                      ></ion-img>
                      <ion-img
                        v-else
                        src="assets/icons/bnc_movil_inactivo.svg"
                      ></ion-img>
                    </ion-button>
                  </ion-col>
                </ion-row>
                  <ion-row>
                    <ion-col>
                      <div
                        v-if="multi_payment_instrument && multi_transfer_option"
                        class="textarea ion-padding"
                      >
                        {{ selectedMultiMethodInstructions }}
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-input
                        v-model="multi_payment_reference"
                        placeholder="Número de la referencia"
                      ></ion-input>
                    </ion-col>
                  </ion-row>
                </div>
              </div>

              <!-- END OF MULTIPAYMENT -->

              <ion-row style="margin-bottom: 6px">
                <ion-button
                  expand="block"
                  color="secondary"
                  style="width: 100%"
                  :disabled="
                    payment_number == 'one_payment'
                      ? !validPayment
                      : payment_number == 'multi_payment'
                      ? !validPayment && !validMultiPayment
                      : ''
                  "
                  @click="
                    payment_number == 'one_payment'
                      ? $refs.accordion.sendClick('REVISAR Y FINALIZAR')
                      : payment_number == 'multi_payment' &&
                        validPayment &&
                        validMultiPayment
                      ? $refs.accordion.sendClick('REVISAR Y FINALIZAR')
                      : showMultiPayment()
                  "
                  >{{
                    payment_number == "one_payment"
                      ? "REPORTAR PAGO Y CONTINUAR"
                      : payment_number == "multi_payment" &&
                        validPayment &&
                        validMultiPayment
                      ? "REPORTAR PAGO Y CONTINUAR"
                      : "ACEPTAR Y CONTINUAR"
                  }}
                </ion-button>
              </ion-row>
            </div>

            <!-- CHECKOUT OPTIONS -->

            <div v-if="sp.item.id == 'checkout_options'">
              <ion-row>
                <ion-col>
                  <strong>Resúmen de compra:</strong>
                </ion-col>
                <ion-col style="text-align: right"> Moneda </ion-col>
              </ion-row>
              <ion-row
                v-for="(item, index) in getCart"
                :key="index"
                class="ion-no-padding ion-no-margin"
              >
                <ion-col size="8">
                  {{
                    item.product_name +
                    (item.selected_variation
                      ? " - " + item.selected_variation
                      : "")
                  }}
                </ion-col>
                <ion-col size="4" style="text-align: right">
                  {{
                    (
                      parseInt(item.qty) *
                      parseFloat(
                        item.discount_price && item.discount_price < item.price
                          ? item.discount_price
                          : item.price
                      )
                    ).toFixed(2)
                  }}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <strong>Subtotal:</strong>
                </ion-col>
                <ion-col style="text-align: right">{{
                  getOrderTotal.toFixed(2)
                }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <strong>Total a pagar:</strong>
                </ion-col>
                <ion-col size="2">
                  <strong>USD</strong>
                </ion-col>
                <ion-col size="6" style="text-align: right">{{
                  getOrderTotal.toFixed(2)
                }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4">
                  <strong></strong>
                </ion-col>
                <ion-col size="2">
                  <strong>VES</strong>
                </ion-col>
                <ion-col size="6" style="text-align: right">{{
                  new Intl.NumberFormat("es-VE").format(
                    getOrderTotalVES.toFixed(2)
                  )
                }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <strong>Tasa de cambio:</strong>
                </ion-col>
                <ion-col style="text-align: right">{{
                  new Intl.NumberFormat("es-VE").format(
                    (getOrderTotalVES / getOrderTotal).toFixed(2)
                  )
                }}</ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="4">
                  <strong>Entrega:</strong>
                </ion-col>
                <ion-col size="4">
                  <strong>{{
                    deliver_to == "specific_address"
                      ? "En dirección"
                      : "En tienda"
                  }}</strong>
                </ion-col>
                <ion-col size="4" style="text-align: right"
                  ><ion-button
                    expand="block"
                    color="secondary"
                    style="width: 100%"
                    @click="$refs.accordion.sendClick('OPCIONES DE ENTREGA')"
                    >CAMBIAR
                  </ion-button></ion-col
                >
              </ion-row>

              <ion-row>
                <ion-col size="4">
                  <strong>Pago:</strong>
                </ion-col>
                <ion-col size="4">
                  <strong>{{
                    payment_instrument == "cash"
                      ? "Efectivo " + cash_currency
                      : payment_instrument == "transfer"
                      ? transfer_option
                      : payment_instrument
                  }}</strong>
                </ion-col>
                <ion-col size="4" style="text-align: right"
                  ><ion-button
                    expand="block"
                    color="secondary"
                    style="width: 100%"
                    @click="$refs.accordion.sendClick('OPCIONES DE PAGO')"
                    >CAMBIAR
                  </ion-button></ion-col
                >
              </ion-row>

              <!-- <ion-row>
                <ion-col size="4">
                  <strong>Facturación:</strong>
                </ion-col>
                <ion-col size="4">
                  <strong>{{
                    generate_invoice == "generate_invice"
                      ? "Factura fiscal"
                      : "Sin factura"
                  }}</strong>
                </ion-col>
                <ion-col size="4" style="text-align: right"
                  ><ion-button
                    expand="block"
                    color="secondary"
                    style="width: 100%"
                    @click="
                      $refs.accordion.sendClick('OPCIONES DE FACTURACIÓN')
                    "
                    >CAMBIAR
                  </ion-button></ion-col
                >
              </ion-row> -->

              <ion-row style="margin-bottom: 6px">
                <ion-button
                  expand="block"
                  color="secondary"
                  style="width: 100%"
                  :disabled="!validShipping && !validInvoicing"
                  @click="onSubmit"
                  >FINALIZAR COMPRA
                </ion-button>
              </ion-row>
            </div>
          </template>
        </accordion>
      </ion-row>

      <vue-final-modal
        v-model="showConfirmModal"
        classes="modal-container"
        content-class="modal-content"
        :click-to-close="false"
        :esc-to-close="false"
      >
        <div class="modal__content">
          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center ion-no-padding">
              <ion-img
                style="height: 150px !important"
                src="assets/icons/checkmark.svg"
              ></ion-img>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-col
              class="ion-align-self-center ion-no-padding"
              style="text-align: center"
            >
              <span class="modal__title">¡LISTO!</span>
            </ion-col>
          </ion-row>

          <p style="text-align: center">
            Hemos recibido tu orden y la estamos procesando. Cuando terminemos,
            te enviaremos tu recibo por correo electrónico. ¡Gracias por tu
            compra!.
          </p>
        </div>
        <ion-button
          expand="block"
          color="secondary"
          @click="
            () => {
              goToMyOrders();
            }
          "
          >VOLVER A TU PANEL</ion-button
        >
      </vue-final-modal>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonButton,
  IonSelect,
  IonSelectOption,
  IonInput,
  IonCheckbox,
  IonTextarea,
  IonText,
  IonThumbnail,
  IonIcon,
  IonImg,
  IonItem,
  IonChip,
  IonItemDivider,
  toastController,
  alertController,
} from "@ionic/vue";
import { add } from "ionicons/icons";
import { defineComponent, ref, reactive } from "vue";
import { useStore, mapGetters } from "vuex";
import api from "../../api";

import states from "../../assets/json/venezuela";

export default defineComponent({
  name: "Checkout",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonButton,
    IonSelect,
    IonSelectOption,
    IonInput,
    IonCheckbox,
    IonTextarea,
    IonThumbnail,
    IonIcon,
    IonText,
    IonItemDivider,
    IonImg,
    IonItem,
    IonChip
  },
  setup() {
    const showConfirmModal = ref(false);
    const isLoading = ref(false);
    const store = useStore();
    const deliver_to = ref("specific_address");
    const generate_invoice = ref("generate_invoice");
    const payment_reference = ref(null);
    const payment_amount_reference = ref(null);
    const payment_title_reference = ref(null);
    const transfer_option = ref(null);
    const cash_currency = ref("USD");
    const clinic_state = ref(store.getters.getUser.state);
    const clinic_city = ref(store.getters.getUser.location);
    const shipping_address = ref(store.getters.getUser.address);
    const shipping_phone_1 = ref(store.getters.getUser.phone);
    const invoice_person = ref("");
    const invoice_state = ref(store.getters.getUser.state);
    const invoice_city = ref(store.getters.getUser.location);
    const invoice_address = ref(store.getters.getUser.address);
    const tax_id = ref(store.getters.getUser.tax_id);
    const tax_id_letter = ref(store.getters.getUser.tax_id_letter);
    const phone = ref(store.getters.getUser.phone);
    const exchange_rate = ref(null);
    const payment_instrument = ref(null);

    /* MULTIPAYMENT VARIABLES (It will still use previous declared variables) */

    const multi_transfer_option = ref(null);
    const multi_payment_reference = ref(null);
    const multi_payment_amount_reference = ref(null);
    const multi_payment_title_reference = ref(null);
    const multi_cash_currency = ref("USD");
    const multi_payment_advance_amount = ref(null);
    const multi_payment_instrument = ref(null);

    /* END OF MULTIPAYMENT VARIABLES */

    const coupons = reactive([]);

    const openToast = async (message) => {
      const toast = await toastController.create({
        message: message,
        position: "top",
        duration: 3000,
        color: "danger",
      });
      return toast.present();
    };

    const presentAlertConfirm = async (message) => {
      const alert = await alertController.create({
        header: "Ha ocurrido un error",
        message:
          "Sentimos mucho lo sucedido. Puedes presionar Cancelar e intentar de nuevo o Reportar este error y ayudarnos a mejorar",
        buttons: [
          {
            text: "Cancelar",
            role: "cancel",
            handler: () => {
              console.log(message);
            },
          },
          {
            text: "Reportar",
            handler: () => {
              console.log(message);
              window.location.href =
                "mailto:soporte@odontoenlace.com?subject=Reporte&body=" +
                message.substring(0, 1000);
            },
          },
        ],
      });
      return alert.present();
    };

    const onSubmit = () => {
      isLoading.value = true;
      const orderObject = new FormData();

      orderObject.append("customer", store.getters.getUser.id);
      orderObject.append("used_exchange_rate", exchange_rate.value);

      store.getters.getCart
        .sort((a, b) => {
          return a.store_id < b.store_id;
        })
        .forEach((line) => {
          orderObject.append("products[]", JSON.stringify(line));
        });

      orderObject.append("currency", "USD");

      orderObject.append("deliver_to", deliver_to.value);

      orderObject.append(
        "shipping_address",
          "Entregar en: " +
          (clinic_state.value ? (clinic_state.value + ' - ') : '') +
          (clinic_city.value ? (clinic_city.value + ' - ') : '') +
          (shipping_address.value ? (shipping_address.value + ' - ') : '') +
          (shipping_phone_1.value ? shipping_phone_1.value : '')
      );

      orderObject.append(
          "comments",
          "Referencia del Pago #1: " +
          "<br/>" +
          (payment_instrument.value ? (payment_instrument.value + ' - ') : '') +
          (transfer_option.value ? (transfer_option.value + ' - ') : '') +
          (payment_reference.value ? (payment_reference.value + ' - ') : '') +
          (payment_title_reference.value ? (payment_title_reference.value + ' - ') : '') +
          (payment_amount_reference.value ? (payment_amount_reference.value + ' - ') : '') + 
          (multi_payment_advance_amount.value ? (multi_payment_advance_amount.value + ' - ') : '') +
          "<br/>" +
          "Referencia del Pago #2: " +
          (multi_payment_instrument.value ? (multi_payment_instrument.value + ' - ') : '') +
          (multi_transfer_option.value ? (multi_transfer_option.value + ' - ') : '') +
          (multi_payment_reference.value ? (multi_payment_reference.value + ' - ') : '') +
          (multi_payment_title_reference.value ? (multi_payment_title_reference.value + ' - ') : '') + 
          (multi_payment_amount_reference.value ? (multi_payment_amount_reference.value + ' - ') : '') +
          "<br/>" +
          "Facturación: " +
          (tax_id_letter.value ? (tax_id_letter.value + ' - ') : '') +
          (tax_id.value ? (tax_id.value + ' - ') : '') +
          (invoice_person.value ? (invoice_person.value + ' - ') : '') +
          (invoice_state.value ? (invoice_state.value + ' - ') : '') +
          (invoice_city.value ? (invoice_city.value + ' - ') : '') +
          (invoice_address.value ? (invoice_address.value + ' - ') : '')
      );

      console.log(coupons);

      if(coupons && coupons.length){
        coupons.forEach(el => {
          if(el.value){
            orderObject.append('coupon_id', el.id);
          }
        })
      }

      api
        .post("orders/create", orderObject, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          showConfirmModal.value = true;
        })
        .catch((error) => {
          console.log(error);
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            openToast(JSON.stringify(error.response.data.message));
          } else {
            presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    return {
      add,
      showConfirmModal,
      onSubmit,
      openToast,
      presentAlertConfirm,
      states,
      isLoading,
      deliver_to,
      generate_invoice,
      payment_reference,
      payment_amount_reference,
      payment_title_reference,
      transfer_option,
      cash_currency,
      clinic_state,
      clinic_city,
      shipping_address,
      shipping_phone_1,
      invoice_person,
      invoice_state,
      invoice_city,
      invoice_address,
      tax_id_letter,
      tax_id,
      phone,
      exchange_rate,
      multi_transfer_option,
      multi_payment_reference,
      multi_payment_amount_reference,
      multi_payment_title_reference,
      multi_cash_currency,
      multi_payment_advance_amount,
      payment_instrument,
      multi_payment_instrument,
      coupons
    };
  },
  data: () => ({
    payment_methods: [],
    steps: [
      { id: "delivery_options", name: "1. OPCIONES DE ENTREGA" },
      { id: "invoicing_options", name: "2. OPCIONES DE FACTURACIÓN" },
      { id: "payment_options", name: "3. OPCIONES DE PAGO" },
      { id: "checkout_options", name: "4. REVISAR Y FINALIZAR" },
    ],
    payment_number: "one_payment",
    ship_to_clinic: true,
    deliver_to_manager: false,
    invoice_to_me: true,
  }),
  watch: {
    deliver_to: function (val) {
      console.log(val);
      this.toggleDeliveryOption();
    },

    payment_method: function (val) {
      console.log(val);
      this.togglePaymentOption();
    },

    transfer_option: function (val) {
      console.log(val);
      this.togglePaymentOption();
    },

    multi_transfer_option: function (val) {
      console.log(val);
      this.toggleMultiPaymentOption();
    },

    payment_instrument: function (val) {
      console.log(val);

      let cashOptions = document.getElementById("cashOptions");
      let transferOptions = document.getElementById("transferOptions");
      let zelleOptions = document.getElementById("zelleOptions");
      let reserveOptions = document.getElementById("reserveOptions");

      if (val == "cash") {
        cashOptions.style.maxHeight = "100%";
        cashOptions.style.display = "block";

        transferOptions.style.maxHeight = "0px";
        transferOptions.style.display = "none";

        zelleOptions.style.maxHeight = "0px";
        zelleOptions.style.display = "none";

        reserveOptions.style.maxHeight = "0px";
        reserveOptions.style.display = "none";
      } else {
        cashOptions.style.maxHeight = "0px";
        cashOptions.style.display = "none";
      }

      if (val == "transfer") {
        transferOptions.style.maxHeight = "100%";
        transferOptions.style.display = "block";

        cashOptions.style.maxHeight = "0px";
        cashOptions.style.display = "none";

        zelleOptions.style.maxHeight = "0px";
        zelleOptions.style.display = "none";

        reserveOptions.style.maxHeight = "0px";
        reserveOptions.style.display = "none";
      } else {
        transferOptions.style.maxHeight = "0px";
        transferOptions.style.display = "none";
      }

      if (val == "zelle") {
        zelleOptions.style.maxHeight = "100%";
        zelleOptions.style.display = "block";

        cashOptions.style.maxHeight = "0px";
        cashOptions.style.display = "none";

        transferOptions.style.maxHeight = "0px";
        transferOptions.style.display = "none";

        reserveOptions.style.maxHeight = "0px";
        reserveOptions.style.display = "none";
      } else {
        zelleOptions.style.maxHeight = "0px";
        zelleOptions.style.display = "none";
      }

      if (val == "reserve") {
        reserveOptions.style.maxHeight = "100%";
        reserveOptions.style.display = "block";

        cashOptions.style.maxHeight = "0px";
        cashOptions.style.display = "none";

        transferOptions.style.maxHeight = "0px";
        transferOptions.style.display = "none";

        zelleOptions.style.maxHeight = "0px";
        zelleOptions.style.display = "none";
      } else {
        reserveOptions.style.maxHeight = "0px";
        reserveOptions.style.display = "none";
      }

      this.togglePaymentOption();
    },
    multi_payment_instrument: function (val) {
      console.log(val);

      let cashOptions = document.getElementById("multiCashOptions");
      let transferOptions = document.getElementById("multiTransferOptions");
      let zelleOptions = document.getElementById("multiZelleOptions");
      let reserveOptions = document.getElementById("multiReserveOptions");

      if (val == "cash") {
        cashOptions.style.maxHeight = "100%";
        cashOptions.style.display = "block";

        transferOptions.style.maxHeight = "0px";
        transferOptions.style.display = "none";

        zelleOptions.style.maxHeight = "0px";
        zelleOptions.style.display = "none";

        reserveOptions.style.maxHeight = "0px";
        reserveOptions.style.display = "none";
      } else {
        cashOptions.style.maxHeight = "0px";
        cashOptions.style.display = "none";
      }

      if (val == "transfer") {
        transferOptions.style.maxHeight = "100%";
        transferOptions.style.display = "block";

        cashOptions.style.maxHeight = "0px";
        cashOptions.style.display = "none";

        zelleOptions.style.maxHeight = "0px";
        zelleOptions.style.display = "none";

        reserveOptions.style.maxHeight = "0px";
        reserveOptions.style.display = "none";
      } else {
        transferOptions.style.maxHeight = "0px";
        transferOptions.style.display = "none";
      }

      if (val == "zelle") {
        zelleOptions.style.maxHeight = "100%";
        zelleOptions.style.display = "block";

        cashOptions.style.maxHeight = "0px";
        cashOptions.style.display = "none";

        transferOptions.style.maxHeight = "0px";
        transferOptions.style.display = "none";

        reserveOptions.style.maxHeight = "0px";
        reserveOptions.style.display = "none";
      } else {
        zelleOptions.style.maxHeight = "0px";
        zelleOptions.style.display = "none";
      }

      if (val == "reserve") {
        reserveOptions.style.maxHeight = "100%";
        reserveOptions.style.display = "block";

        cashOptions.style.maxHeight = "0px";
        cashOptions.style.display = "none";

        transferOptions.style.maxHeight = "0px";
        transferOptions.style.display = "none";

        zelleOptions.style.maxHeight = "0px";
        zelleOptions.style.display = "none";
      } else {
        reserveOptions.style.maxHeight = "0px";
        reserveOptions.style.display = "none";
      }

      this.toggleMultiPaymentOption();
    },
    payment_number: function (val) {
      console.log(val);

      let intrumentOptions = document.getElementById("intrumentOptions");

      if (val == "one_payment") {
        intrumentOptions.style.maxHeight = "100%";
        intrumentOptions.style.display = "block";
      } else {
        intrumentOptions.style.maxHeight = "100%";
        intrumentOptions.style.display = "block";
        this.togglePaymentOption();
      }
      // else {
      //   intrumentOptions.style.maxHeight = "0px";
      //   intrumentOptions.style.display = "none";
      // }
    },
  },
  computed: {
    ...mapGetters([
      "getUser",
      "getAccessToken",
      "getCart",
      "getCurrency",
      "getValidShipping",
      "getValidInvoicing",
      "getValidPayment",
      "getValidMultiPayment",
    ]),
    getStore() {
      if (
        this.getUser &&
        this.getUser.stores &&
        this.getUser.stores.length > 0
      ) {
        return this.getUser.stores[0];
      } else {
        return false;
      }
    },
    getStoreId() {
      if (this.getStore) {
        return this.getUser.stores[0].id;
      } else {
        return "";
      }
    },
    getOrderTotal() {
      return this.getCart.reduce((total, item) => {
        var sub_total = parseFloat(total) +
          parseFloat(
            item.discount_price &&
              parseFloat(item.discount_price) < parseFloat(item.price)
              ? item.discount_price
              : item.price
          ) * parseFloat(item.qty);

        var coupons_discount = 0;

        this.coupons.forEach(el => {
          if (el.value) {
            coupons_discount += el.coupon_value;
          }
        });

        sub_total-= (sub_total * coupons_discount);

        return sub_total;
      }, 0);
    },
    getOrderTotalVES() {
      return this.getCart.reduce((total, item) => {
        var sub_total = parseFloat(total) +
          parseFloat(
            item.discount_price_ves &&
              parseFloat(item.discount_price_ves) < parseFloat(item.price_ves)
              ? item.discount_price_ves
              : item.price_ves
          ) *
            parseFloat(item.qty);

        var coupons_discount = 0;

        this.coupons.forEach(el => {
          if (el.value) {
            coupons_discount += el.coupon_value;
          }
        });

        sub_total-= (sub_total * coupons_discount);

        return sub_total;

      }, 0);
    },
    getOrderItems() {
      return this.getCart.reduce((total, item) => {
        return parseInt(total) + parseInt(item.qty);
      }, 0);
    },
    uniqueStores() {
      var flags = [],
        output = [],
        l = this.getCart.length,
        i;
      for (i = 0; i < l; i++) {
        if (flags[this.getCart[i].store.store_subdomain]) continue;
        flags[this.getCart[i].store.store_subdomain] = true;
        output.push(this.getCart[i].store);
      }
      return output;
    },
    validShipping() {
      let valid_shipping = false;
      if (this.deliver_to && this.deliver_to == "specific_store") {
        valid_shipping = true;
      }

      if (
        this.deliver_to &&
        this.deliver_to == "specific_address" &&
        this.shipping_address &&
        this.shipping_phone_1 &&
        this.shipping_address.length >= 5 &&
        this.shipping_phone_1.length >= 5
      ) {
        valid_shipping = true;
      }

      this.$store.commit("setValidShipping", valid_shipping);
      console.log("Valid Shiping: " + this.getValidShipping);

      return valid_shipping;
    },

    validInvoicing() {
      let valid_invoicing = false;

      if (
        this.invoice_to_me &&
        this.invoice_address &&
        this.invoice_address.length >= 5
      ) {
        valid_invoicing = true;
      }

      if (
        this.generate_invoice &&
        this.generate_invoice == "do_not_generate_invoice"
      ) {
        valid_invoicing = true;
      }

      if (
        this.invoice_person &&
        this.tax_id && this.tax_id.length >=6 &&
        this.invoice_address &&  this.invoice_address.length >= 5
      ) {
        valid_invoicing = true;
      }

      this.$store.commit("setValidInvoicing", valid_invoicing);
      console.log("Valid Invoicing: " + this.getValidInvoicing);
      return valid_invoicing;
    },

    validPayment() {
      let valid_payment = false;

      if (
        this.payment_instrument == "zelle" &&
        this.payment_reference &&
        this.payment_reference.length >= 1 &&
        this.payment_title_reference &&
        this.payment_title_reference.length >= 4
      ) {
        valid_payment = true;
      }

      if (
        this.payment_instrument == "cash" &&
        this.payment_reference &&
        this.payment_reference.length >= 1
      ) {
        valid_payment = true;
      }

      if (
        this.payment_instrument == "reserve" &&
        this.payment_reference &&
        this.payment_reference.length >= 1 &&
        this.payment_amount_reference &&
        this.payment_amount_reference.length >= 1
      ) {
        valid_payment = true;
      }

      if (
        this.payment_instrument == "transfer" &&
        this.transfer_option &&
        this.payment_reference &&
        this.payment_reference.length >= 1
      ) {
        valid_payment = true;
      }

      if (this.payment_number == 'multi_payment') {
        if (this.multi_payment_advance_amount && parseFloat(this.multi_payment_advance_amount) >= 0.01) {
          valid_payment = true;
        } else {
          valid_payment = false;
        }
      }

      this.$store.commit("setValidPayment", valid_payment);
      console.log("Valid Payment: " + this.getValidPayment);
      return valid_payment;
    },

    validMultiPayment() {
      let valid_multi_payment = false;

      if (
        this.multi_payment_instrument == "zelle" &&
        this.multi_payment_reference &&
        this.multi_payment_reference.length >= 1 &&
        this.multi_payment_title_reference &&
        this.multi_payment_title_reference.length >= 4
      ) {
        valid_multi_payment = true;
      }

      if (
        this.multi_payment_instrument == "cash" &&
        this.multi_payment_reference &&
        this.multi_payment_reference.length >= 1
      ) {
        valid_multi_payment = true;
      }

      if (
        this.multi_payment_instrument == "reserve" &&
        this.multi_payment_reference &&
        this.multi_payment_reference.length >= 1 &&
        this.multi_payment_amount_reference &&
        this.multi_payment_amount_reference.length >= 1
      ) {
        valid_multi_payment = true;
      }

      if (
        this.multi_payment_instrument == "transfer" &&
        this.multi_transfer_option &&
        this.multi_payment_reference &&
        this.multi_payment_reference.length >= 1
      ) {
        valid_multi_payment = true;
      }

      this.$store.commit("setValidMultiPayment", valid_multi_payment);
      console.log("Valid Multi Payment: " + this.getValidMultiPayment);
      return valid_multi_payment;
    },

    selectedMethodInstructions() {
      var selected_method = null;
      if (this.payment_instrument == "transfer") {
        selected_method = this.payment_methods.find((method) => {
          return method.slug == this.transfer_option;
        });
      } else {
        selected_method = this.payment_methods.find((method) => {
          return method.slug == this.payment_instrument;
        });
      }

      return selected_method
        ? selected_method.instructions
        : this.payment_instrument + " - " + this.transfer_option;
    },

      selectedMultiMethodInstructions() {
      var selected_method = null;
      if (this.multi_payment_instrument == "transfer") {
        selected_method = this.payment_methods.find((method) => {
          return method.slug == this.multi_transfer_option;
        });
      } else {
        selected_method = this.payment_methods.find((method) => {
          return method.slug == this.multi_payment_instrument;
        });
      }

      return selected_method
        ? selected_method.instructions
        : this.multi_payment_instrument + " - " + this.multi_transfer_option;
      // return this.payment_methods;
    },

    remainingAmount() {
      if (
        this.payment_instrument == "zelle" ||
        this.payment_instrument == "reserve" ||
        (this.payment_instrument == "cash" &&
          (this.cash_currency == "USD" || this.cash_currency == "EUR"))
      ) {
        if (
          this.multi_payment_instrument == "zelle" ||
          this.multi_payment_instrument == "reserve" ||
          (this.multi_payment_instrument == "cash" &&
            (this.multi_cash_currency == "USD" ||
              this.multi_cash_currency == "EUR"))
        ) {
          // Payment is in USD or EUR and so multi payment, so the remaining must be calculated in USD
          return (
            this.getOrderTotal -
            parseFloat(this.multi_payment_advance_amount).toFixed(2)
          );
        } else {
          // Payment is in USD or EUR but multi payment is in VES so the remaining must be calculated in VES
          return (
            this.getOrderTotalVES -
            parseFloat(
              this.multi_payment_advance_amount * this.exchange_rate
            ).toFixed(2)
          );
        }
      } else {
        if (
          this.multi_payment_instrument == "zelle" ||
          this.multi_payment_instrument == "reserve" ||
          (this.multi_payment_instrument == "cash" &&
            (this.multi_cash_currency == "USD" ||
              this.multi_cash_currency == "EUR"))
        ) {
          // Payment is in VES and multi payment is in USD or EUR, so the remaining must be calculated in USD
          return (
            this.getOrderTotal -
            parseFloat(
              this.multi_payment_advance_amount / this.exchange_rate
            ).toFixed(2)
          );
        } else {
          // Payment is in VES and multi payment is in VES so the remaining must be calculated in VES
          return (
            this.getOrderTotalVES -
            parseFloat(this.multi_payment_advance_amount).toFixed(2)
          );
        }
      }
    },
  },
  updated() {
    if (
      this.payment_methods === undefined ||
      this.payment_methods.length == 0
    ) {
      this.loadPaymentMethods();
      // this.$refs.accordion.sendClick(0);
    }
    this.loadExchangeRate();
    this.loadCoupons();
  },
  methods: {
    loadPaymentMethods() {
      var payment_methods = this.payment_methods;
      api
        .get("payment-methods", {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(payment_methods, response.data);
        })
        .catch((error) => {
          console.log(error);
          if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info'){
              this.openToast(JSON.stringify(error.response.data.message));
            } else {
              this.presentAlertConfirm(JSON.stringify(error.response.data));
            }
        });
    },

    loadCoupons() {
      var coupons = this.coupons;
      api
        .get("coupons/available", {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(coupons, response.data);
        })
        .catch((error) => {
          console.log(error);
          if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info'){
              this.openToast(JSON.stringify(error.response.data.message));
            } else {
              this.presentAlertConfirm(JSON.stringify(error.response.data));
            }
        });
    },

    loadExchangeRate() {
      api
        .get("platform/exchange-rate")
        .then((response) => {
          console.log(response);
          this.exchange_rate = response.data;
          console.log("Current exchange rate: " + this.exchange_rate);
        })
        .catch((error) => {
          console.log(error);
          if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info'){
              this.openToast(JSON.stringify(error.response.data.message));
            } else {
              this.presentAlertConfirm(JSON.stringify(error.response.data));
            }
        });
    },

    editProduct(id) {
      alert(id);
    },
    removeItem(index) {
      this.getCart.splice(index, 1);
    },
    goToMyOrders() {
      this.showConfirmModal = false;
      this.resetData();
      this.$store.commit("emptyCart");
      this.$router.push("/assistant/home");
    },
    changePaymentMethod(item, event) {
      // this.instructions = item.instructions;
      console.log(item, event);
    },
    toggleDeliverToManager() {
      this.deliver_to_manager = this.deliver_to_manager ? false : true;

      setTimeout(() => {
        console.log("Expanding from toggleDeliverToManager");
        let e = document.querySelector("#deliver_to_manager");
        let closet = e.closest("div.panel");
        closet.style.maxHeight = closet.scrollHeight + "px";
      }, 100);
    },

    togglePaymentOption() {
      setTimeout(() => {
        console.log("Expanding from togglePaymentOption");
        let e = document.querySelector("#paymentOptions");
        let closet = e.closest("div.panel");
        closet.style.maxHeight = closet.scrollHeight + "px";
      }, 100);
    },

    toggleMultiPaymentOption() {
      setTimeout(() => {
        console.log("Expanding from toggleMultiPaymentOption");
        let e = document.querySelector("#multiPaymentOptions");
        let closet = e.closest("div.panel");
        closet.style.maxHeight = closet.scrollHeight + "px";
      }, 100);
    },

    toggleDeliveryOption() {
      setTimeout(() => {
        console.log("Expanding from toggleDeliveryOption");
        let e = document.querySelector("#deliveryOptions");
        let closet = e.closest("div.panel");
        closet.style.maxHeight = closet.scrollHeight + "px";
      }, 100);
    },

    toggleCashOptions() {
      this.payment_instrument = "cash";

      setTimeout(() => {
        console.log("Expanding from toggleCashOptions");
        let e = document.querySelector("#cashOptions");
        let closet = e.closest("div.panel");
        closet.style.maxHeight = closet.scrollHeight + "px";
      }, 100);
    },

    toggleMultiCashOptions() {
      this.multi_payment_instrument = "cash";

      setTimeout(() => {
        console.log("Expanding from toggleMultiCashOptions");
        let e = document.querySelector("#multiCashOptions");
        let closet = e.closest("div.panel");
        closet.style.maxHeight = closet.scrollHeight + "px";
      }, 100);
    },

    showMultiPayment() {
      let intrumentOptions = document.getElementById("intrumentOptions");
      intrumentOptions.style.maxHeight = "0px";
      intrumentOptions.style.display = "none";

      let zelleOptions = document.getElementById("zelleOptions");
      zelleOptions.style.maxHeight = "0px";
      zelleOptions.style.display = "none";

      let reserveOptions = document.getElementById("reserveOptions");
      reserveOptions.style.maxHeight = "0px";
      reserveOptions.style.display = "none";

      let transferOptions = document.getElementById("transferOptions");
      transferOptions.style.maxHeight = "0px";
      transferOptions.style.display = "none";

      let cashOptions = document.getElementById("cashOptions");
      cashOptions.style.maxHeight = "0px";
      cashOptions.style.display = "none";

      let multiPaymentOptions = document.getElementById("multiPaymentOptions");
      multiPaymentOptions.style.maxHeight = "100%";
      multiPaymentOptions.style.display = "block";
    },

    resetData() {
      this.deliver_to = "specific_address";
      this.generate_invoice = "generate_invoice";
      this.payment_reference = null;
      this.payment_amount_reference = null;
      this.payment_title_reference = null;
      this.transfer_option = null;
      this.cash_currency = "USD";
      this.clinic_state = null;
      this.clinic_city = null;
      this.shipping_address = null;
      this.shipping_phone_1 = null;
      this.invoice_person = "";
      this.invoice_state = null;
      this.invoice_city = null;
      this.invoice_address = "";
      this.tax_id = "";
      this.tax_id_letter = null;
      this.payment_number = "one_payment";
      this.payment_instrument = null;
      this.ship_to_clinic = true;
      this.deliver_to_manager = false;
      this.invoice_to_me = true;
      this.$refs.accordion.sendClick("OPCIONES DE ENTREGA");
    },
  },
});
</script>

<style scoped src="../../theme/style.css">
</style>

<style scoped>

.history-item::part(native){
  padding-left: 0px !important;
  --inner-padding-start: 0px !important;
  --padding-start: 0px !important;
}

ion-thumbnail {
  --size: 50px;
}

ion-input,
ion-textarea,
ion-select {
  --placeholder-opacity: 1;
  padding: 4px;
  font-size: 0.9rem;
}

ion-item-divider {
  --background: white;
  --inner-padding-top: 0px;
  --padding-top: 0px;
}
</style>

<style scoped>
::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
.modal__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
}
</style>

<style scoped>
.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}
</style>