// https://v3.vue-final-modal.org/guide/properties
<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-row class="store-card ion-justify-content-center ion-margin">
        <ion-col class="ion-align-self-center ion-no-padding">
          <div class="logo">
            <v-form @submit="onSubmit" :initial-values="getStore">
              <ion-text>
                <h5>Logo:</h5>
                <small>Presiona sobre el logo para cambiarlo</small>
              </ion-text>
              <ion-row class="ion-justify-content-center ion-margin">
                <ion-thumbnail style="--size: 120px;">
                  <ion-img
                    :src="image_file_canvas ? image_file_canvas : getStoreLogo"
                    @click="$refs.upload_store_logo.click()"
                  ></ion-img>
                </ion-thumbnail>
              </ion-row>
              <input
                type="file"
                id="upload_store_logo"
                ref="upload_store_logo"
                accept="image/*"
                @change="selectStoreLogo()"
                style="display: none"
              />
              <v-field name="id" v-slot="{ field }" :rules="isRequired">
                <ion-input
                  v-bind="field"
                  name="id"
                  type="hidden"
                  :value="getStoreId"
                ></ion-input>
              </v-field>

              <ion-text>
                <h5>Nombre de la Tienda:</h5>
              </ion-text>
              <v-field name="store_name" v-slot="{ field }" :rules="isRequired">
                <ion-input
                  v-bind="field"
                  name="store_name"
                  :value="getStoreName"
                ></ion-input>
              </v-field>
              <v-error-message
                as="div"
                name="store_name"
                v-slot="{ message }"
                class="error"
              >
                <ion-text>
                  <h6>{{ `${message} nombre comercial` }}</h6>
                </ion-text>
              </v-error-message>

              <ion-text>
                <h5>Subnominio o Slug:</h5>
                <small
                  >Para identificar la tienda, no puede llevar caracteres
                  especiales ni espacios, todo en minusculas</small
                >
              </ion-text>
              <v-field
                name="store_subdomain"
                v-slot="{ field }"
                :rules="isRequired"
              >
                <ion-input
                  v-bind="field"
                  name="store_subdomain"
                  :value="getStoreSlug"
                ></ion-input>
              </v-field>
              <v-error-message
                as="div"
                name="store_subdomain"
                v-slot="{ message }"
                class="error"
              >
                <ion-text>
                  <h6>{{ `${message} slug` }}</h6>
                </ion-text>
              </v-error-message>

              <ion-text>
                <h5>Descripción:</h5>
              </ion-text>
              <v-field
                name="store_description"
                v-slot="{ field }"
                :rules="isRequired"
              >
                <ion-input
                  v-bind="field"
                  name="store_description"
                  :value="getStoreDescription"
                ></ion-input>
              </v-field>
              <v-error-message
                as="div"
                name="store_description"
                v-slot="{ message }"
                class="error"
              >
                <ion-text>
                  <h6>{{ `${message} descripción` }}</h6>
                </ion-text>
              </v-error-message>

              <ion-text>
                <h5>Dirección:</h5>
              </ion-text>
              <v-field
                name="store_address"
                v-slot="{ field }"
                :rules="isRequired"
              >
                <ion-input
                  v-bind="field"
                  name="store_address"
                  :value="getStoreAddress"
                ></ion-input>
              </v-field>
              <v-error-message
                as="div"
                name="store_address"
                v-slot="{ message }"
                class="error"
              >
                <ion-text>
                  <h6>{{ `${message} dirección` }}</h6>
                </ion-text>
              </v-error-message>

              <ion-text>
                <h5>Correo electrónico de la Tienda:</h5>
              </ion-text>
              <v-field
                name="store_email"
                v-slot="{ field }"
                :rules="isRequired"
              >
                <ion-input
                  v-bind="field"
                  name="store_email"
                  type="email"
                  :value="getStoreEmail"
                ></ion-input>
              </v-field>
              <v-error-message
                as="div"
                name="store_email"
                v-slot="{ message }"
                class="error"
              >
                <ion-text>
                  <h6>{{ `${message} email` }}</h6>
                </ion-text>
              </v-error-message>

              <ion-text>
                <h5>Teléfono de la Tienda:</h5>
              </ion-text>
              <v-field
                name="store_phone"
                v-slot="{ field }"
                :rules="isRequired"
              >
                <ion-input
                  v-bind="field"
                  name="store_phone"
                  :value="getStorePhone"
                ></ion-input>
              </v-field>
              <v-error-message
                as="div"
                name="store_phone"
                v-slot="{ message }"
                class="error"
              >
                <ion-text>
                  <h6>{{ `${message} teléfono` }}</h6>
                </ion-text>
              </v-error-message>

              <ion-text>
                <h5>Teléfono secundario de la Tienda:</h5>
              </ion-text>
              <v-field name="second_phone" v-slot="{ field }">
                <ion-input
                  v-bind="field"
                  name="second_phone"
                  :value="getStoreSecondPhone"
                ></ion-input>
              </v-field>
              <v-error-message
                as="div"
                name="second_phone"
                v-slot="{ message }"
                class="error"
              >
                <ion-text>
                  <h6>{{ `${message} teléfono` }}</h6>
                </ion-text>
              </v-error-message>

              <ion-text>
                <p>
                  Presiona guardar para aplicar tus cambios. Algunos podran
                  verse reflejados es cuando vuelvas a acceder a la tienda.
                </p>
              </ion-text>
              <ion-button type="submit" expand="block" color="secondary"
                >Guardar</ion-button
              >
            </v-form>
          </div>
        </ion-col>
      </ion-row>
      <vue-final-modal
        v-model="showConfirmModal"
        classes="modal-container"
        content-class="modal-content"
        :click-to-close="false"
        :esc-to-close="false"
      >
        <span class="modal__title"
          >La información de tu tienda fue actualizada</span
        >
        <div class="modal__content">
          <p>
            La información que has suministrado puede ser auditada por tu
            seguridad.
          </p>
        </div>
        <ion-button expand="block" color="secondary" @click="goToStoreProfile()"
          >Entendido</ion-button
        >
      </vue-final-modal>
      <ion-modal
        :is-open="showImageModal"
        @ionModalDidDismiss="setImageModalOpen(false)"
      >
        <div style="height: 100%">
          <cropper
            :src="image_file"
            ref="cropper"
            :auto-zoom="true"
            :canvas="{
              minHeight: 0,
              minWidth: 0,
              maxHeight: 500,
              maxWidth: 500,
            }"
            :stencil-props="{
              handlers: {},
              movable: false,
              scalable: false,
              aspectRatio: 1,
            }"
            :resize-image="{ adjustStencil: false }"
            image-restriction="stencil"
            style="height: 100%; background-color: white"
            @change="onImageCrop"
          ></cropper>
          <ion-button
            color="secondary"
            style="position: absolute; right: 4px; top: 4px"
            @click="setImageModalOpen(false)"
            >Listo</ion-button
          >
        </div>
      </ion-modal>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonText,
  IonImg,
  IonCol,
  IonButton,
  IonInput,
  IonModal,
  toastController,
  IonThumbnail,
  alertController,
} from "@ionic/vue";
import { defineComponent, reactive } from "vue";
import api from "../../api";
import * as V from "vee-validate";
import { ref } from "vue";
import { mapGetters, useStore } from "vuex";
import { useRouter } from "vue-router";
import { Cropper } from "vue-advanced-cropper";
import "vue-advanced-cropper/dist/style.css";

export default defineComponent({
  name: "EditStore",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonText,
    IonImg,
    IonCol,
    IonButton,
    IonInput,
    IonModal,
    VForm: V.Form,
    VField: V.Field,
    VErrorMessage: V.ErrorMessage,
    IonThumbnail,
    Cropper
  },
  setup() {
    const store = useStore();
    const user = reactive({});
    const image_file = ref(null);
    const image_file_canvas = ref(null);

    const router = useRouter();

    const showConfirmModal = ref(false);

    const isLoading = ref(false);
    
    const showImageModal = ref(false);
    const setImageModalOpen = (state) => (showImageModal.value = state);

    const isRequired = (value) => {
      if (!value) {
        return "Se requiere tu ";
      }
      return true;
    };

    const openToast = async (message) => {
      const toast = await toastController.create({
        message: message,
        position: "top",
        duration: 3000,
        color: "danger",
      });
      return toast.present();
    };

    const presentAlertConfirm = async (message) => {
      const alert = await alertController.create({
        header: "Ha ocurrido un error",
        message:
          "Sentimos mucho lo sucedido. Puedes presionar Cancelar e intentar de nuevo o Reportar este error y ayudarnos a mejorar",
        buttons: [
          {
            text: "Cancelar",
            role: "cancel",
            handler: () => {
              console.log(message);
            },
          },
          {
            text: "Reportar",
            handler: () => {
              console.log(message);
              window.location.href =
                "mailto:soporte@odontoenlace.com?subject=Reporte&body=" +
                message.substring(0, 1000);
            },
          },
        ],
      });
      return alert.present();
    };

    const onSubmit = (a) => {
      console.log(a);

      isLoading.value = true;

      console.log(image_file.value);

      if (image_file_canvas.value) {
        a.image_data = image_file_canvas.value;
      }

      api
        .post("stores/update", a, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          showConfirmModal.value = true;

          let currentUser = store.getters.getUser;
          currentUser.stores[0] = response.data;
          Object.assign(user, currentUser);
        })
        .catch(function (error) {
          console.log(error);
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            openToast(JSON.stringify(error.response.data.message));
          } else {
            presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    const goToStoreProfile = () => {
      showConfirmModal.value = false;
      router.push(
        `/marketplace/profile/${store.getters.getUser.stores[0].store_subdomain}`
      );
    };

    return {
      isRequired,
      onSubmit,
      openToast,
      showConfirmModal,
      user,
      image_file,
      isLoading,
      goToStoreProfile,
      presentAlertConfirm,
      showImageModal,
      setImageModalOpen
    };
  },
  data: () => ({
    email: null,
    role: null,
  }),
  computed: {
    ...mapGetters(["getUser", "getAccessToken"]),
    getStore() {
      if (
        this.getUser &&
        this.getUser.stores &&
        this.getUser.stores.length > 0
      ) {
        return this.getUser.stores[0];
      } else {
        return false;
      }
    },
    getStoreName() {
      if (this.getStore) {
        return this.getUser.stores[0].store_name;
      } else {
        return "";
      }
    },
    getStoreSlug() {
      if (this.getStore) {
        return this.getUser.stores[0].store_subdomain;
      } else {
        return "";
      }
    },
    getStoreDescription() {
      if (this.getStore) {
        return this.getUser.stores[0].store_description;
      } else {
        return "";
      }
    },
    getStoreAddress() {
      if (this.getStore) {
        return this.getUser.stores[0].store_address;
      } else {
        return "";
      }
    },
    getStoreEmail() {
      if (this.getStore) {
        return this.getUser.stores[0].store_email;
      } else {
        return "";
      }
    },
    getStorePhone() {
      if (this.getStore) {
        return this.getUser.stores[0].store_phone;
      } else {
        return "";
      }
    },
    getStoreSecondPhone() {
      if (this.getStore) {
        return this.getUser.stores[0].second_phone;
      } else {
        return "";
      }
    },
    getStoreId() {
      if (this.getStore) {
        return this.getUser.stores[0].id;
      } else {
        return "";
      }
    },
    getStoreLogo() {
      if (this.getStore) {
        return this.getUser.stores[0].logo;
      } else {
        return "";
      }
    },
  },
  mounted() {
    this.localStorage.get("selectedRole").then((result) => {
      this.role = result;
    });
  },
  watch: {
    user: {
      deep: true,
      handler(value) {
        console.log(value);
        let parsedValue = JSON.parse(JSON.stringify(value));
        this.setLocalStorage("user", parsedValue);
        this.$store.commit("setUser", parsedValue);
      },
    },
  },
  methods: {
    confirm() {
      // some code...
      this.showConfirmModal = false;
    },
    cancel(close) {
      // some code...
      close();
    },
    selectStoreLogo() {
      console.log(event.target.files[0]);

      var reader = new FileReader();
      reader.onload = (e) => {
        this.image_file = e.target.result;
        // console.log(this.image_file);
        this.showImageModal = true;
      };
      reader.readAsDataURL(event.target.files[0]);
    },
    onImageCrop({ coordinates, canvas }) {
      console.log(coordinates);
      this.image_file_canvas = canvas.toDataURL();
    },
  },
});
</script>

<style scoped src="../../theme/style.css">
</style>

<style scoped>
.logo {
  padding: 5%;
  height: 100%;
}
</style>

<style scoped>
::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
.modal__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
}
</style>

<style scoped>
.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}
</style>