// https://swiperjs.com/swiper-api#pagination
<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />

      <ion-row
        class="
          ion-justify-content-center ion-margin-start ion-margin-end
          search-row
        "
      >
        <ion-input
          class="searchbox"
          v-model="query"
          type="text"
          name="search"
          placeholder="¿Qué estas buscando?"
          @keyup.enter="search()"
        />
        <ion-button color="secondary" size="small" @click="search()">
          Buscar
        </ion-button>
      </ion-row>

      <ion-row class="ion-margin-bottom ion-margin-start ion-margin-end">
        <ion-slides
          v-if="storeSlides && storeSlides.length > 0"
          pager="true"
          :style="storeSlides.length == 1 ? 'margin-left: 0px;' : ''"
          :options="storeSlides.length == 1 ? productOptsSingle : productOpts"
        >
          <ion-slide v-for="(item, index) in storeSlides" :key="index">
            <ion-img
              :src="item.slide_image"
              @click="
                item && item.store_subdomain
                  ? $router.push('/marketplace/profile/' + item.store_subdomain)
                  : ''
              "
            ></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-row>

      <!-- DESTACADOS -->

      <ion-row
        v-if="starred.length > 0"
        class="
          ion-justify-content-center
          header-label
          ion-margin-start ion-margin-end
        "
      >
        <ion-text color="light">
          <strong>PRODUCTOS DESTACADOS</strong>
        </ion-text>
      </ion-row>
      <ion-row
        class="ion-justify-content-center ion-margin-start ion-margin-end"
      >
        <ion-slides
          v-if="starred.length > 0"
          pager="true"
          :options="productOpts"
        >
          <ion-slide v-for="(item, index) in starred" :key="index">
            <ion-col class="ion-no-margin ion-no-padding">
              <product-card
                v-if="item && item !== undefined"
                :id="item.id"
                :name="item.product_name"
                :image="item.main_image"
                :currency="item.currency"
                :offerPrice="item.discount_price"
                :price="item.price"
                :item="item"
                :edit="false"
              ></product-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </ion-slide>

          <ion-slide>
            <ion-col class="ion-no-margin ion-no-padding">
              <more-card
                title="VER TUS FAVORITOS"
                link="/marketplace/starred/search/destacados"
                src="assets/img/tarjeta_productos.png"
              ></more-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </ion-slide>
        </ion-slides>
      </ion-row>

      <!-- OFERTAS -->

      <ion-row
        class="
          ion-justify-content-center
          header-label
          ion-margin-start ion-margin-end
        "
      >
        <ion-text color="light">
          <strong>OFERTAS DE LA SEMANA</strong>
        </ion-text>
      </ion-row>
      <ion-row
        class="ion-justify-content-center ion-margin-start ion-margin-end"
      >
        <ion-slides
          v-if="products.length > 0"
          :pager="true"
          :options="productOpts"
        >
          <ion-slide v-for="(item, index) in products" :key="index">
            <ion-col class="ion-no-margin ion-no-padding">
              <product-card
                v-if="item !== undefined"
                :id="item.id"
                :name="item.product_name"
                :image="item.main_image"
                :currency="item.currency"
                :offerPrice="item.discount_price"
                :price="item.price"
                :item="item"
                :edit="false"
              ></product-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </ion-slide>

          <ion-slide>
            <ion-col class="ion-no-margin ion-no-padding">
              <more-card
                title="TODAS LAS OFERTAS"
                link="/marketplace/offers"
                src="assets/img/tarjeta_ofertas.png"
              ></more-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </ion-slide>
        </ion-slides>
      </ion-row>

      <!-- CATEGORIA POR DEFECTO -->

      <ion-row
        v-if="defaultCategory.length > 0"
        class="
          ion-justify-content-center
          header-label
          ion-margin-start ion-margin-end
        "
      >
        <ion-text color="light">
          <strong
            >PRODUCTOS {{ defaultCategory[0].defaultCategoryName }}</strong
          >
        </ion-text>
      </ion-row>
      <ion-row
        class="ion-justify-content-center ion-margin-start ion-margin-end"
      >
        <ion-slides
          v-if="defaultCategory.length > 0"
          pager="true"
          :options="productOpts"
        >
          <ion-slide v-for="(item, index) in defaultCategory" :key="index">
            <ion-col class="ion-no-margin ion-no-padding">
              <product-card
                v-if="item && item !== undefined"
                :id="item.id"
                :name="item.product_name"
                :image="item.main_image"
                :currency="item.currency"
                :offerPrice="item.discount_price"
                :price="item.price"
                :item="item"
                :edit="false"
              ></product-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </ion-slide>

          <ion-slide>
            <ion-col class="ion-no-margin ion-no-padding">
              <more-card
                title="VER TUS FAVORITOS"
                :link="
                  '/marketplace/category/search/' +
                  defaultCategory[0].defaultCategoryName
                "
                src="assets/img/tarjeta_productos.png"
              ></more-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </ion-slide>
        </ion-slides>
      </ion-row>

      <ion-row
        v-if="favorites.length > 0"
        class="
          ion-justify-content-center
          header-label
          ion-margin-start ion-margin-end
        "
      >
        <ion-text color="light">
          <strong>TUS FAVORITOS</strong>
        </ion-text>
      </ion-row>
      <ion-row
        class="ion-justify-content-center ion-margin-start ion-margin-end"
      >
        <ion-slides
          v-if="favorites.length > 0"
          pager="true"
          :options="productOpts"
        >
          <ion-slide v-for="(item, index) in favorites" :key="index">
            <ion-col class="ion-no-margin ion-no-padding">
              <product-card
                v-if="item && item !== undefined"
                :id="item.id"
                :name="item.product_name"
                :image="item.main_image"
                :currency="item.currency"
                :offerPrice="item.discount_price"
                :price="item.price"
                :item="item"
                :edit="false"
              ></product-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </ion-slide>

          <ion-slide>
            <ion-col class="ion-no-margin ion-no-padding">
              <more-card
                title="VER TUS FAVORITOS"
                link="/marketplace/favorites"
                src="assets/img/tarjeta_favoritos.png"
              ></more-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </ion-slide>
        </ion-slides>
      </ion-row>

      <ion-row class="ion-no-margin" style="background-color: white">
        <ion-slides
          clas="ion-margin"
          v-if="stores.length > 0"
          :options="storeOpts"
        >
          <ion-slide v-for="(item, index) in stores" :key="index">
            <ion-img
              :src="item.logo"
              class="store-logo ion-padding"
              @click="
                item && item.allow_navigation
                  ? $router.push('/marketplace/profile/' + item.store_subdomain)
                  : ''
              "
            ></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-row>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonSlides,
  IonSlide,
  IonButton,
  IonText,
  IonImg,
  IonInput,
} from "@ionic/vue";
import { defineComponent } from "vue";
import api from "../../api";
import { mapGetters } from "vuex";

export default defineComponent({
  name: "Marketplace",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonSlide,
    IonSlides,
    IonButton,
    IonText,
    IonImg,
    IonCol,
    IonInput,
  },
  setup() {
    const slideOpts = {
      initialSlide: 0,
      loop: false,
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
        clickable: true,
      },
    };
    const storeOpts = {
      initialSlide: 0,
      loop: false,
      spaceBetween: 2,
      autoHeight: true,
      breakpoints: {
        // when window width is >= 320px
        320: {
          slidesPerView: 3,
        },
        // when window width is >= 600px
        600: {
          slidesPerView: 4,
        },
      },
    };
    const productOpts = {
      initialSlide: 0,
      loop: false,
      spaceBetween: 1,
      autoHeight: true,
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
        clickable: true,
        // bulletActiveClass: ".bullet-active"
      },
      breakpoints: {
        // when window width is >= 320px
        320: {
          slidesPerView: 2,
        },
        // when window width is >= 480px
        600: {
          slidesPerView: 3,
        },
        // when window width is >= 640px
        800: {
          slidesPerView: 4,
        },
        // when window width is >= 900px
        1000: {
          slidesPerView: 5,
        },
        1200: {
          slidesPerView: 6,
        },
      },
    };
    const productOptsSingle = {
      initialSlide: 0,
      loop: false,
      autoHeight: true,
      centeredSlides: false,
      watchOverflow: true,
    };
    return {
      productOpts,
      slideOpts,
      storeOpts,
      productOptsSingle,
    };
  },
  data: () => ({
    storeSlides: [],
    products: [],
    stores: [],
    favorites: [],
    starred: [],
    defaultCategory: [],
    query: "",
    isLoading: false,
    accessTokenWatcher: null,
  }),
  computed: {
    ...mapGetters(["getAccessToken", "getUser"]),
  },
  ionViewDidEnter() {
    this.loadHomeSlides();
  },
  methods: {
    loadHomeSlides() {
      // if (this.getAccessToken){
      //   if (this.products === undefined || this.products.length == 0) {
      //     if (!this.isLoading) {
      //       this.listOffers();
      //       if (this.storeSlides === undefined || this.storeSlides.length == 0) {
      //         this.listSlides();
      //         if (this.stores === undefined || this.stores.length == 0) {
      //           this.listStores();
      //           if (this.favorites === undefined || this.favorites.length == 0) {
      //             this.listFavorites();
      //             if (this.starred === undefined || this.starred.length == 0) {
      //               this.listStarred();
      //               if (this.defaultCategory === undefined || this.defaultCategory.length == 0) {
      //                 this.listDefaultCategory();
      //               }
      //             }
      //           }
      //         }
      //       }
      //     }
      //   }
      // }
      this.listOffers();
      this.listSlides();
      this.listStores();

      // Favorites requieres a session token
      if (this.getUser && this.getUser.id){
        this.listFavorites();
      }

      this.listStarred();
      this.listDefaultCategory();
    },
    listOffers() {
      this.isLoading = true;

      var isGuest = !(this.getUser && this.getUser.id);

      api
        .get((isGuest ? "guest/products/offers/9" : "products/offers/9"), {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          while (this.products.length > 0) {
            this.products.pop();
          }
          Object.assign(this.products, response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    listStores() {
      this.isLoading = true;

      var isGuest = !(this.getUser && this.getUser.id);

      api
        .get((isGuest ? "guest/stores/list" : "stores/list"), {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          while (this.stores.length > 0) {
            this.stores.pop();
          }
          Object.assign(this.stores, response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    listFavorites() {
      this.isLoading = true;
      var favorites = this.favorites;
      api
        .get("products/favorites/10", {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(favorites, response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    listStarred() {
      this.isLoading = true;

      var isGuest = !(this.getUser && this.getUser.id);

      var starred = this.starred;

      api
        .get((isGuest ? "guest/products/starred/10" : "products/starred/10"), {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(starred, response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    listDefaultCategory() {
      this.isLoading = true;

      var isGuest = !(this.getUser && this.getUser.id);

      var defaultCategory = this.defaultCategory;
      api
        .get((isGuest ? "guest/products/default-category/10" : "products/default-category/10"), {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(defaultCategory, response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    listSlides() {
      this.isLoading = true;
      var storeSlides = this.storeSlides;
      api
        .get("slides/list", {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(storeSlides, response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    search() {
      console.log(this.query);
      if (this.query && this.query.length > 0) {
        this.$router.push(`/marketplace/search/${this.query}/full-search`);
      }
    },
  },
});
</script>

<style scoped src="../../theme/style.css"></style>

<style scoped>
.bullet-active {
  background: #15c5a8 !important;
}

.swiper-pagination {
  bottom: -5px !important;
}

ion-input {
  background-color: white;
}

h3 {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: bold;
}

.store-logo {
  height: 110px;
}
</style>