// https://swiperjs.com/swiper-api#pagination
<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-row class="ion-justify-content-center header-label ion-margin">
        <ion-text color="light">
          <strong>INVENTARIO</strong>
        </ion-text>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-margin ion-no-padding">
        <ion-col>
          <ion-input
            class="searchbox"
            v-model="query"
            type="text"
            name="search"
            placeholder="¿Qué estas buscando?"
            @ionChange="filterQuery"
          />
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-left ion-margin ion-no-padding">
        <ion-button size="small" class="tool-button" @click="openSortPopover"
          >Ordenar
          <ion-icon :icon="optionsOutline"></ion-icon>
        </ion-button>
        <ion-button size="small" class="tool-button" @click="openFilterPopover"
          >Filtrar
          <ion-icon :icon="funnelOutline"></ion-icon>
        </ion-button>
      </ion-row>
      <ion-row class="ion-justify-content ion-margin ion-no-padding">
        <ion-col
          v-for="(item, index) in filteredProducts"
          :key="index"
          size-xs="6"
          size-sm="4"
          size-md="3"
          size-lg="3"
          size-xl="2"
          class="ion-no-padding"
        >
          <product-card
            :id="item.id"
            :price="item.price"
            :name="item.product_name"
            :image="item.main_image"
            :currency="item.currency"
            :offerPrice="item.discount_price"
            :edit="true"
            :stock="item.stock"
            :availability="item.availability"
            :item="item"
            @edit="editProduct(item.id)"
            @delete="deleteProduct(item)"
          ></product-card>
        </ion-col>
      </ion-row>
      <vue-final-modal
        v-model="showConfirmModal"
        classes="modal-container"
        content-class="modal-content"
        :click-to-close="false"
        :esc-to-close="false"
      >
        <span class="modal__title">Eliminar o Archivar artículo</span>
        <div class="modal__content">
          <p>
            ¿Confirmas que deseas eliminar o {{(selectedProduct && selectedProduct.archived) ? 'desarchivar' : 'archivar'}}
            {{ selectedProduct ? selectedProduct.product_name : "" }}? <br/> <br/> Si elijes eliminar, esta acción no se puede deshacer.
          </p>
        </div>
        <ion-button
          expand="block"
          color="secondary"
          @click="
            () => {
              showConfirmModal = false;
            }
          "
          >Cancelar</ion-button
        >
        <ion-button
          expand="block"
          color="tertiary"
          @click="
            () => {
              performArchiveProduct();
            }
          "
          >{{(selectedProduct && selectedProduct.archived) ? 'desarchivar' : 'archivar'}}</ion-button
        >
        <ion-button
          expand="block"
          color="danger"
          @click="
            () => {
              performDeleteProduct();
            }
          "
          >Eliminar</ion-button
        >
      </vue-final-modal>
    </ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button @click="$router.push('/marketplace/store/add/product')">
        <ion-icon :icon="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonFab,
  IonIcon,
  IonFabButton,
  IonCol,
  IonText,
  IonButton,
  IonInput,
  popoverController,
  toastController,
  alertController,
} from "@ionic/vue";
import { add, optionsOutline, funnelOutline } from "ionicons/icons";
import { defineComponent, ref } from "vue";
import { mapGetters } from "vuex";
import api from "../../api";
import SortPopover from "../../components/SortPopover.vue";
import FilterPopover from "../../components/FilterPopover.vue";
import eventBus from "../../eventBus";

export default defineComponent({
  name: "Search",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonFab,
    IonIcon,
    IonFabButton,
    IonCol,
    IonText,
    IonButton,
    IonInput,
  },
  setup() {
    const showConfirmModal = ref(false);
    const selectedProduct = ref(null);
    const openToast = async (message) => {
      const toast = await toastController.create({
        message: message,
        position: "top",
        duration: 3000,
        color: "danger",
      });
      return toast.present();
    };

    const presentAlertConfirm = async (message) => {
      const alert = await alertController.create({
        header: "Ha ocurrido un error",
        message:
          "Sentimos mucho lo sucedido. Puedes presionar Cancelar e intentar de nuevo o Reportar este error y ayudarnos a mejorar",
        buttons: [
          {
            text: "Cancelar",
            role: "cancel",
            handler: () => {
              console.log(message);
            },
          },
          {
            text: "Reportar",
            handler: () => {
              console.log(message);
              window.location.href =
                "mailto:soporte@odontoenlace.com?subject=Reporte&body=" +
                message.substring(0, 1000);
            },
          },
        ],
      });
      return alert.present();
    };

    return {
      add,
      optionsOutline,
      funnelOutline,
      showConfirmModal,
      selectedProduct,
      openToast,
      presentAlertConfirm
    };
  },
  data: () => ({
    query: null,
    products: [],
    filteredProducts: [],
    isLoading: false,
  }),
  computed: {
    ...mapGetters(["getUser", "getAccessToken", "getStoreId"]),
  },
  mounted() {
    eventBus().emitter.on("sort-price-asc", () => {
      this.filteredProducts = this.filteredProducts.sort(function (a, b) {
        return parseFloat(a.price) - parseFloat(b.price);
      });
    });
    eventBus().emitter.on("sort-price-desc", () => {
      this.filteredProducts = this.filteredProducts.sort(function (a, b) {
        return parseFloat(b.price) - parseFloat(a.price);
      });
    });
    eventBus().emitter.on("sort-created-asc", () => {
      this.filteredProducts = this.filteredProducts.sort(function (a, b) {
        return new Date(a.created_at) - new Date(b.created_at);
      });
    });
    eventBus().emitter.on("sort-created-desc", () => {
      this.filteredProducts = this.filteredProducts.sort(function (a, b) {
        return new Date(b.created_at) - new Date(a.created_at);
      });
    });
    eventBus().emitter.on("filter-archived", () => {
      this.filteredProducts = this.products.filter(function (a) {
        return a.archived == true;
      });
    });
    eventBus().emitter.on("filter-out-of-stock", () => {
      this.filteredProducts = this.products.filter(function (a) {
        return a.stock <= 0;
      });
    });
    eventBus().emitter.on("filter-reset", () => {
      this.filteredProducts = this.products.filter(function (a) {
        return a.archived == false || a.stock <= 0 || a.stock > 0;
      });
    });
  },
  updated() {
    if (!this.isLoading) {
      this.loadProducts();
    }
  },
  methods: {
    loadProducts() {
      this.isLoading = true;
      var products = this.products;
      var filteredProducts = this.filteredProducts;
      api
        .get("products/" + this.getStoreId + "/list", {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(products, response.data);
          Object.assign(filteredProducts, products.filter((el) => {return el.archived == false}));
        })
        .catch((error) => {
          console.log(error);
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            this.openToast(JSON.stringify(error.response.data.message));
          } else {
            this.presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    editProduct(id) {
      this.$router.push("/marketplace/store/edit/product/" + id);
    },
    deleteProduct(item) {
      this.selectedProduct = item;
      this.showConfirmModal = true;
    },
    filterQuery(ev) {
      console.log(ev.detail.value);
      this.filteredProducts = this.products.filter((product) => {
        return (
          product.product_name
            .toLowerCase()
            .indexOf(ev.detail.value.toLowerCase()) > -1
        );
      });
    },
    performDeleteProduct() {
      this.isLoading = true;

      var productObject = new FormData();

      productObject.append("store_id", this.getStoreId);
      productObject.append("id", this.selectedProduct.id);

      api
        .post("products/delete", productObject, {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          this.filteredProducts.splice(
            this.filteredProducts.findIndex((el) => {
              return el.id == this.selectedProduct.id;
            }),
            1
          );
          this.products.splice(
            this.products.findIndex((el) => {
              return el.id == this.selectedProduct.id;
            }),
            1
          );
        })
        .catch((error) => {
          console.log(error);
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            this.openToast(JSON.stringify(error.response.data.message));
          } else {
            this.presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          this.isLoading = false;
          this.showConfirmModal = false;
        });
    },
    performArchiveProduct() {
      this.isLoading = true;

      var productObject = new FormData();

      productObject.append("store_id", this.getStoreId);
      productObject.append("id", this.selectedProduct.id);

      api
        .post("products/archive", productObject, {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);

          this.filteredProducts.splice(
            this.filteredProducts.findIndex((el) => {
              return el.id == this.selectedProduct.id;
            }),
            1
          );

          this.products.splice(
            this.products.findIndex((el) => {
              return el.id == this.selectedProduct.id;
            }),
            1
          );

          this.products.push(response.data);

          console.log(this.products);


        })
        .catch((error) => {
          console.log(error);
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            this.openToast(JSON.stringify(error.response.data.message));
          } else {
            this.presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          this.isLoading = false;
          this.showConfirmModal = false;
        });
    },
    async openSortPopover(ev) {
      const popover = await popoverController.create({
        component: SortPopover,
        event: ev,
        translucent: true,
      });
      await popover.present();

      const { role } = await popover.onDidDismiss();
      console.log("onDidDismiss resolved with role", role);
    },
    async openFilterPopover(ev) {
      const popover = await popoverController.create({
        component: FilterPopover,
        event: ev,
        translucent: true,
      });
      await popover.present();

      const { role } = await popover.onDidDismiss();
      console.log("onDidDismiss resolved with role", role);
    },
  },
});
</script>

<style scoped src="../../theme/style.css">
</style>

<style scoped>
.header-label {
  background-color: #011640;
}

.banner-slides {
}

/* .logo {
    padding: 0%;
    height: 100%;
}
ion-grid {
    height: 100%;
}

.login-label-widescreen {
    display: none;
} */

@media only screen and (min-width: 768px) {
  /* ion-row {
        height: 100%;
    }
    ion-col {
        height: 100%;
    }
    .center-on-widescreen {
        position:absolute; 
        top:35%; 
        height:10em; 
        margin-top:-5em;
        margin-right: 10em;
    }
    h1 {
        font-size: 5vh;
    }
    p {
        font-size: 2vh;
    }
    div {
        height: 100%;
    }
    .login-label-widescreen {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 2%;
    }
    .login-label {
        display: none;
    } */
}
</style>