// https://swiperjs.com/swiper-api#pagination
<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <loading v-model:active="isLoading"
                 :can-cancel="true"
                 :is-full-page="true"/>
      <ion-row class="ion-justify-content-center header-label ion-margin">
        <ion-text color="light">
          <strong>OFERTAS</strong>
        </ion-text>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-margin ion-no-padding">
        <ion-col>
          <ion-input
            class="searchbox"
            v-model="query"
            type="text"
            name="search"
            placeholder="¿Qué estas buscando?"
            @ionChange="filterQuery"
          />
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-left ion-margin ion-no-padding">
            <ion-button size="small" class="tool-button" @click="openSortPopover">Ordenar
              <ion-icon :icon="optionsOutline"></ion-icon>
            </ion-button>
            <ion-button size="small" class="tool-button" :disabled="true">Filtrar
              <ion-icon :icon="funnelOutline"></ion-icon>
            </ion-button>
      </ion-row>      
      <ion-row class="ion-justify-content ion-margin ion-no-padding">
        <ion-col
          v-for="(item, index) in filteredProducts"
          :key="index"
          size-xs="6"
          size-sm="4"
          size-md="3"
          size-lg="3"
          size-xl="2"
          class="ion-no-padding"
        >
          <product-card
            :id="item.id"
            :price="item.price"
            :name="item.product_name"
            :image="item.main_image"
            :currency="item.currency"
            :offerPrice="item.discount_price"
            :edit="false"
            :item="item"
          ></product-card>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonIcon,
  IonCol,
  IonText,
  IonButton,
  IonInput,
  popoverController
} from "@ionic/vue";
import { add, optionsOutline, funnelOutline } from "ionicons/icons";
import { defineComponent, ref } from "vue";
import { mapGetters } from "vuex";
import api from "../../api";
import SortPopover from '../../components/SortPopover.vue'
import eventBus from '../../eventBus'

export default defineComponent({
  name: "Offers",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonIcon,
    IonCol,
    IonText,
    IonButton,
    IonInput
  },
  setup() {
    const selectedProduct = ref(null);
    return {
      add, optionsOutline, funnelOutline, selectedProduct
    };
  },
  data: () => ({
    query: null, 
    products: [],
    filteredProducts: [],
    isLoading: false,
  }),
  computed: {
    ...mapGetters(["getUser", "getAccessToken", "getStoreId"]),
  },
  mounted() {
      eventBus().emitter.on("sort-price-asc", () => {
        this.filteredProducts = this.filteredProducts.sort(function(a, b) {
            return parseFloat(a.price) - parseFloat(b.price);
        });
      });
      eventBus().emitter.on("sort-price-desc", () => {
        this.filteredProducts = this.filteredProducts.sort(function(a, b) {
            return parseFloat(b.price) - parseFloat(a.price);
        });
      });
      eventBus().emitter.on("sort-created-asc", () => {
        this.filteredProducts = this.filteredProducts.sort(function(a, b) {
            return (new Date(a.created_at)) - (new Date(b.created_at));
        });
      });
      eventBus().emitter.on("sort-created-desc", () => {
        this.filteredProducts = this.filteredProducts.sort(function(a, b) {
            return (new Date(b.created_at)) - (new Date(a.created_at));
        });
      });
  },
  updated() {
    if (!this.isLoading){
      this.loadProducts();
    }
  },
  methods: {
    loadProducts() {
      this.isLoading = true;
      var products = this.products;
      var filteredProducts = this.filteredProducts;

      var isGuest = !(this.getUser && this.getUser.id);

      api
        .get((isGuest ? "guest/products/" : "products/") + (this.$route.params.store ? this.$route.params.store + "/" : "") + "offers", {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(products, response.data);
          Object.assign(filteredProducts, response.data);
        })
        .catch(function (error) {
          console.log(error);
        }).
        finally(() => {
          this.isLoading = false;
        });
    },
    filterQuery(ev){
      console.log(ev.detail.value);
      this.filteredProducts = this.products.filter((product) => {
        return product.product_name.toLowerCase().indexOf(ev.detail.value.toLowerCase()) > -1
      });
    },
    async openSortPopover(ev) {

      const popover = await popoverController
        .create({
          component: SortPopover,
          event: ev,
          translucent: true
        })
      await popover.present();

      const { role } = await popover.onDidDismiss();
      console.log('onDidDismiss resolved with role', role);
      
    },
  },
});
</script>

<style scoped src="../../theme/style.css">
</style>

<style scoped>
.header-label {
  background-color: #011640;
}

.banner-slides {
}

/* .logo {
    padding: 0%;
    height: 100%;
}
ion-grid {
    height: 100%;
}

.login-label-widescreen {
    display: none;
} */

@media only screen and (min-width: 768px) {
  /* ion-row {
        height: 100%;
    }
    ion-col {
        height: 100%;
    }
    .center-on-widescreen {
        position:absolute; 
        top:35%; 
        height:10em; 
        margin-top:-5em;
        margin-right: 10em;
    }
    h1 {
        font-size: 5vh;
    }
    p {
        font-size: 2vh;
    }
    div {
        height: 100%;
    }
    .login-label-widescreen {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 2%;
    }
    .login-label {
        display: none;
    } */
}
</style>