// https://swiperjs.com/swiper-api#pagination
<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-row class="ion-justify-content-center header-label ion-margin">
        <ion-text color="light">
          <strong>MIS COMPRAS</strong>
        </ion-text>
      </ion-row>

      <ion-row class="ion-justify-content-start ion-align-self-center ion-margin">
        <ion-text color="dark" class="ion-align-self-center">
          <strong>Pendientes</strong>
          <ion-icon :icon="chevronDownOutline" style="vertical-align: middle;"></ion-icon>
        </ion-text>
      </ion-row>

      <ion-row 
        v-for="(item, index) in orders.filter((item) => {return item.status != 'delivered'})"
        :key="index"
        class="store-card ion-justify-content ion-margin"
        @click="viewDetails(item)"
      >
        <order-line
          v-if="item.id !== undefined"
          :id="item.id"
          :orderNumber="item.store_order_number"
          :name="item.store.store_name"
          :image="item.store.logo"
          :currency="item.currency"
          :totalLines="item.total_lines"
          :totalAmount="item.total_amount"
          :status="item.status"
          :created="item.created_at"
          :item="item"
          :hint="true"
        ></order-line>
      </ion-row>

      <ion-row class="ion-justify-content-start ion-align-self-center ion-margin">
        <ion-text color="dark" class="ion-align-self-center">
          <strong>Recibidas</strong>
          <ion-icon :icon="chevronDownOutline" style="vertical-align: middle;"></ion-icon>
        </ion-text>
      </ion-row>

      <ion-row 
        v-for="(item, index) in orders.filter((item) => {return item.status == 'delivered'})"
        :key="index"
        class="store-card ion-justify-content ion-margin"
        @click="viewDetails(item)"
      >
        <order-line
          v-if="item.id !== undefined"
          :id="item.id"
          :orderNumber="item.store_order_number"
          :name="item.store.store_name"
          :image="item.store.logo"
          :currency="item.currency"
          :totalLines="item.total_lines"
          :totalAmount="item.total_amount"
          :status="item.status"
          :created="item.created_at"
          :item="item"
          :hint="true"
        ></order-line>
      </ion-row>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonText,
  IonIcon
} from "@ionic/vue";

import { defineComponent, ref } from "vue";
import { mapGetters } from "vuex";
import api from "../../api";

import {
  chevronDownOutline,
} from "ionicons/icons";

export default defineComponent({
  name: "Orders",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonText,
    IonIcon
  },
  setup() {
    const isLoading = ref(false);
    return {
      isLoading,
      chevronDownOutline
    };
  },
  data: () => ({
    orders: [],
  }),
  computed: {
    ...mapGetters(["getUser", "getAccessToken"]),
  },
  ionViewDidEnter() {
    this.loadOrders();
  },
  methods: {
    loadOrders() {
      this.isLoading = true;

      var orders = this.orders;
      api
        .get("orders/mine", {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(orders, response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    viewDetails(item) {
      this.$router.push(`/marketplace/orders/details/${item.id}`);
    },
  },
});
</script>

<style scoped src="../../theme/style.css">
</style>

<style scoped>
@media only screen and (min-width: 768px) {
}
</style>

<style scoped>
::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
.modal__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
}
</style>

<style scoped>
.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}
</style>