<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="ion-margin">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-row>
        <ion-col size="1" style="text-align: right" @click="$router.go(-1)">
          <ion-icon
            :icon="chevronBackOutline"
            style="vertical-align: middle"
          ></ion-icon
        ></ion-col>
        <ion-col
          size="4"
          style="text-align: right; padding-right: 0px; padding-left: 0px"
        >
          <ion-label size="small"
            >Orden #
            {{ (order.store_order_number + "").padStart(5, "0") }}</ion-label
          >
        </ion-col>
        <ion-col size="1" style="text-align: center"> | </ion-col>
        <ion-col size="6" style="text-align: left" class="ion-no-padding">
          <ion-row>
            <ion-thumbnail class="icon">
              <ion-img class="icon" src="assets/icons/bill_on.svg"></ion-img>
            </ion-thumbnail>
            <ion-thumbnail class="icon">
              <ion-img
                class="icon"
                v-if="
                  order.status == 'delivered' ||
                  order.status == 'approved' ||
                  order.status == 'delivering'
                "
                src="assets/icons/store_on.svg"
              ></ion-img>
              <ion-img
                v-else
                class="icon"
                src="assets/icons/store_off.svg"
              ></ion-img>
            </ion-thumbnail>
            <ion-thumbnail class="icon">
              <ion-img
                class="icon"
                v-if="
                  order.status == 'delivered' || order.status == 'delivering'
                "
                src="assets/icons/delivered_on.svg"
              ></ion-img>
              <ion-img
                v-else
                class="icon"
                src="assets/icons/delivered_off.svg"
              ></ion-img>
            </ion-thumbnail>
            <ion-thumbnail class="icon">
              <ion-img
                class="icon"
                v-if="order.status == 'delivered'"
                src="assets/icons/check_on.svg"
              ></ion-img>
              <ion-img
                v-else
                class="icon"
                src="assets/icons/check_off.svg"
              ></ion-img>
            </ion-thumbnail>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row
        v-if="
          order &&
          order.buyer &&
          getUser &&
          getUser.id &&
          getUser.id != order.buyer.id
        "
        class="store-card ion-margin-start ion-margin-end"
      >
        <ion-col size="4">
          <ion-thumbnail style="--border-radius: 50%; --size: 6.5rem">
            <ion-img :src="order.buyer.profile_image"></ion-img>
          </ion-thumbnail>
        </ion-col>
        <ion-col size="8" style="padding-right: 0px">
          <ion-row>
            <ion-col>
              <ion-label
                ><strong>{{
                  order.buyer.name + " " + order.buyer.last_name
                }}</strong></ion-label
              >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label
                ><small
                  ><i>{{
                    order.buyer.location + " - " + order.buyer.state
                  }}</i></small
                ></ion-label
              >
            </ion-col>
          </ion-row>

          <ion-row v-if="order && order.buyer">
            <ion-col>
              <ion-button color="secondary" size="small" class="store-button">
                <small>Ver perfil</small>
              </ion-button>
              <ion-button
                color="primary"
                size="small"
                class="store-button"
                @click="getChat(order.buyer)"
              >
                <small>Enviar mensaje</small>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row v-else class="ion-justify-content-center">
        <small>Te compraste a ti mismo</small>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-margin">
        <ion-text color="dark" style="font-weight: bold">ENTREGA</ion-text>
      </ion-row>

      <div class="ion-margin store-card">
        <ion-row>
          <ion-col size="2">
            <ion-img
              v-if="order.deliver_to == 'specific_address'"
              class="icon"
              src="assets/icons/delivered_off.svg"
            ></ion-img>
            <ion-img
              v-else
              class="icon"
              src="assets/icons/store_off.svg"
            ></ion-img>
          </ion-col>
          <ion-col class="ion-align-self-center" style="font-weight: bold">
            {{
              order.deliver_to == "specific_address"
                ? "Entrega odontoenlace"
                : "El cliente retira por tienda"
            }}
          </ion-col>
        </ion-row>
      </div>

      <ion-row class="ion-justify-content-center ion-margin">
        <ion-text color="dark" style="font-weight: bold">
          DETALLES DE
          {{
            getUser &&
            getUser.id &&
            order &&
            order.buyer &&
            getUser.id == order.buyer.id
              ? "TU"
              : "LA"
          }}
          COMPRA
        </ion-text>
      </ion-row>

      <ion-row class="ion-margin">
        <div style="width: 100%">
          <div v-for="(item, index) in order.lines" :key="index">
            <product-line
              v-if="item.id !== undefined"
              :id="item.id"
              :price="item.net_price"
              :name="
                item.product.product_name +
                (item.comments ? ' - ' + item.comments : '')
              "
              :image="item.product.main_image"
              :currency="item.currency"
              :offerPrice="item.net_price"
              :item="item"
              :productId="item.product.id"
              :edit="false"
              @delete="removeItem(index)"
            ></product-line>
          </div>
        </div>
      </ion-row>

      <div class="ion-margin store-card">
        <ion-row>
          <ion-col size="1">
            <ion-icon :icon="calendarOutline"></ion-icon>
          </ion-col>
          <ion-col>
            {{ getOrderDate }}
          </ion-col>
          <ion-col size="1">
            <ion-icon :icon="timeOutline"></ion-icon>
          </ion-col>
          <ion-col>
            {{ getOrderTime }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>Resúmen de compra:</strong>
          </ion-col>
          <ion-col style="text-align: right"> Moneda </ion-col>
        </ion-row>
        <ion-row
          v-for="(item, index) in order.lines"
          :key="index"
          class="ion-no-padding ion-no-margin"
        >
          <ion-col size="8">
            {{
              item.product.product_name +
              (item.comments ? " - " + item.comments : "")
            }}
          </ion-col>
          <ion-col style="text-align: right" size="4">
            {{ (parseInt(item.qty) * parseFloat(item.net_price)).toFixed(2) }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>Subtotal:</strong>
          </ion-col>
          <ion-col style="text-align: right">{{ order.total_amount }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <strong>Total a pagar:</strong>
          </ion-col>
          <ion-col size="2">
            <strong>USD</strong>
          </ion-col>
          <ion-col size="6" style="text-align: right">{{
            order.total_amount
          }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <strong></strong>
          </ion-col>
          <ion-col size="2">
            <strong>VES</strong>
          </ion-col>
          <ion-col size="6" style="text-align: right">{{
            new Intl.NumberFormat("es-VE").format(getOrderTotalVES.toFixed(2))
          }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <strong>Tasa de cambio:</strong>
          </ion-col>
          <ion-col
            v-if="
              order.status == 'approved' ||
              order.status == 'delivered' ||
              order.status == 'delivering'
            "
            style="text-align: right"
            >{{
              new Intl.NumberFormat("es-VE").format(
                (order && order.used_exchange_rate
                  ? order.used_exchange_rate
                  : 0
                ).toFixed(2)
              )
            }}</ion-col
          >
          <ion-col v-else style="text-align: right">{{
            new Intl.NumberFormat("es-VE").format(
              (exchange_rate ? exchange_rate : 0).toFixed(2)
            )
          }}</ion-col>
        </ion-row>
      </div>

      <ion-button
        v-if="order.status == 'delivered' && order.qualification.length == 0"
        size="small"
        color="primary"
        expand="block"
        @click="showRateOrder = true"
        class="ion-margin"
      >
        CALIFICAR
      </ion-button>

      <ion-button
        v-if="order && order.status && order.status != 'delivered' && getUser && getUser.id == order.buyer.id"
        size="small"
        color="secondary"
        expand="block"
        @click="updateOrderStatus('delivered')"
        class="ion-margin"
      >
        MARCAR COMO RECIBIDO
      </ion-button>

      <vue-final-modal
        v-model="showRateOrder"
        classes="modal-container"
        content-class="modal-content"
        :click-to-close="false"
        :esc-to-close="false"
      >
        <span class="modal__title">Califica esta compra</span>
        <div class="modal__content">
          <ion-range
            id="score"
            min="0"
            max="5"
            step="1"
            value="3"
            snaps
            color="secondary"
          >
            <ion-icon
              :icon="star"
              slot="start"
              size="small"
              color="secondary"
              class="stars"
            ></ion-icon>
            <ion-icon
              :icon="star"
              slot="end"
              color="secondary"
              class="stars"
            ></ion-icon>
          </ion-range>
          <ion-input
            v-model="title"
            name="title"
            placeholder="Ingresa un título para tu comentario"
          >
          </ion-input>
          <ion-textarea
            v-model="message"
            name="message"
            placeholder="Ingresa mas detalles sobre tu compra"
          ></ion-textarea>
        </div>
        <ion-button
          expand="block"
          color="secondary"
          @click="
            () => {
              showRateOrder = false;
            }
          "
          >Cancelar</ion-button
        >
        <ion-button
          expand="block"
          color="primary"
          @click="qualificate"
          :disabled="message.length < 10 || title.length < 3"
          >Aceptar</ion-button
        >
      </vue-final-modal>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonRange,
  IonButton,
  IonInput,
  // IonList,
  // IonItem,
  // IonItemDivider,
  IonLabel,
  // IonTextarea,
  IonText,
  IonIcon,
  IonThumbnail,
  IonImg,
  IonTextarea,
} from "@ionic/vue";
import { defineComponent, ref, reactive } from "vue";
import { mapGetters, useStore } from "vuex";
import api from "../../api";
import {
  chevronBackOutline,
  calendarOutline,
  timeOutline,
  star,
} from "ionicons/icons";
import { useRoute } from "vue-router";
import firebase from "../../Firebase";

export default defineComponent({
  name: "OrderDetails",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonRange,
    IonButton,
    IonInput,
    // IonList,
    // IonItem,
    // IonItemDivider,
    IonLabel,
    // IonTextarea,
    IonText,
    IonIcon,
    IonThumbnail,
    IonImg,
    IonTextarea,
  },
  setup() {
    const isLoading = ref(false);
    const order = reactive({});
    const route = useRoute();
    const store = useStore();
    const exchange_rate = ref(null);
    const showRateOrder = ref(false);
    const message = ref("");
    const title = ref("");

    const loadOrderDetail = () => {
      isLoading.value = true;

      api
        .get("orders/find/" + route.params.id, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(order, response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          isLoading.value = false;
        });
    };
    return {
      isLoading,
      chevronBackOutline,
      loadOrderDetail,
      order,
      exchange_rate,
      calendarOutline,
      timeOutline,
      showRateOrder,
      star,
      message,
      title,
    };
  },
  data: () => ({
    lines: [],
    chatrooms: firebase.firestore().collection("chatrooms/"),
  }),
  computed: {
    ...mapGetters(["getAccessToken", "getUser"]),
    getOrderTotalVES() {
      return this.order.total_amount * this.exchange_rate;
    },
    getOrderDate() {
      if (this.order && this.order.created_at) {
        let str1 = this.order.created_at;
        return str1.slice(0, 10);
      } else {
        return "";
      }
    },
    getOrderTime() {
      if (this.order && this.order.created_at) {
        let str2 = this.order.created_at;
        return str2.slice(-8);
      } else {
        return "";
      }
    },
  },
  ionViewDidEnter() {
    if (this.$route.params.id !== undefined) {
      this.loadOrderDetail();
      this.loadExchangeRate();
    }
  },
  methods: {
    loadExchangeRate() {
      api
        .get("platform/exchange-rate")
        .then((response) => {
          console.log(response);
          this.exchange_rate = response.data;
          console.log("Current exchange rate: " + this.exchange_rate);
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    qualificate() {
      this.isLoading = true;

      const qualificationObject = new FormData();

      qualificationObject.append(
        "score",
        document.querySelector("#score").value
      );
      qualificationObject.append("title", this.title);
      qualificationObject.append("message", this.message);
      qualificationObject.append("order_id", this.order.id);

      api
        .post("orders/qualificate", qualificationObject, {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          this.loadOrderDetail();
          this.showRateOrder = false;
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },

    updateOrderStatus(status) {
      this.isLoading = true;

      const order = this.order;
      const statusObject = new FormData();

      statusObject.append("order_id", this.order.id);
      statusObject.append("status", status);

      api
        .post("orders/status/update", statusObject, {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          this.loadOrderDetail();
          Object.assign(order, response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    createChatRoom(val) {
      this.chatrooms
        .add({
          user1: this.getUser.id,
          user2: val.id,
          userName1: this.getUser.name + " " + this.getUser.last_name,
          userName2: val.name + " " + val.last_name,
          profileImage1: this.getUser.profile_image,
          profileImage2: val.profile_image,
          messages: [],
        })
        .then((docRef) => {
          console.log("Document written with ID: ", docRef.id);
          this.$router.push("/chat/" + docRef.id);
        })
        .catch((error) => {
          console.error("Error adding document: ", error);
        });
    },
    getChat(val) {
      console.log(val, this.getUser.id, val.id);
      this.$store.commit("setChatReceiver", val);
      this.chatrooms
        .where("user1", "==", this.getUser.id)
        .where("user2", "==", val.id)
        .get()
        .then((doc) => {
          if (doc.empty) {
            this.chatrooms
              .where("user2", "==", this.getUser.id)
              .where("user1", "==", val.id)
              .get()
              .then((doc2) => {
                if (doc2.empty) {
                  console.log("create new chatroom");
                  this.createChatRoom(val);
                } else {
                  doc2.forEach((doc21) => {
                    // doc.data() is never undefined for query doc snapshots
                    console.log(doc21.id, " => ");
                    this.$router.push("/chat/" + doc21.id);
                    return;
                  });
                }
              })
              .catch((error) => {
                console.log("Error getting document:", error);
              });
          } else {
            doc.forEach((doc1) => {
              // doc.data() is never undefined for query doc snapshots
              console.log(doc1.id, " => ");
              this.$router.push("/chat/" + doc1.id);
              return;
            });
          }
        })
        .catch((error) => {
          console.log("Error getting document:", error);
        });
    },
  },
});
</script>

<style scoped src="../../theme/style.css">
</style>

<style scoped>
.icon {
  --size: 40px;
  --border-radius: 50%;
}

.stars {
  --color: var(--secondary) !important;
}

@media only screen and (min-width: 768px) {
}
</style>

<style scoped>
::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
.modal__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
}
</style>

<style scoped>
.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}
</style>