// https://swiperjs.com/swiper-api#pagination
<template>
  <ion-page>
    <ion-content ref="content" :fullscreen="true" class="ion-margin">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-row class="ion-margin-top ion-margin-bottom">
        <ion-col size="1" style="text-align: right" @click="$router.go(-1)">
          <ion-icon :icon="chevronBackOutline"></ion-icon
        ></ion-col>
        <ion-col size="3" style="text-align: left" @click="$router.go(-1)">
          Regresar
        </ion-col>
        <ion-col size="8" style="text-align: right"><ion-icon src="assets/icons/share-icon.svg" style="font-size: 1.3rem" @click="share()" class="ion-margin-end"></ion-icon></ion-col>
      </ion-row>

      <ion-row
        class="ion-justify-content-center ion-margin-start ion-margin-end"
      >
        <ion-slides
          ref="slides"
          v-if="
            product && product.image_gallery && product.image_gallery.length > 0
          "
          :pager="true"
          :options="productOptsImage"
        >
          <ion-slide
            v-for="(item, index) in product.image_gallery"
            :key="index"
          >
            <ion-col class="ion-no-margin ion-no-padding">
              <image-card v-if="item !== undefined" :image="item"></image-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </ion-slide>
        </ion-slides>

        <ion-slides
          ref="slides"
          v-else
          :pager="true"
          :options="productOptsImage"
        >
          <ion-slide>
            <ion-col class="ion-no-margin ion-no-padding">
              <image-card :image="product.main_image"></image-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </ion-slide>
        </ion-slides>
      </ion-row>

      <!-- <ion-row class="ion-justify-content-center ion-margin-start ion-margin-end">
        <ion-slides
          v-if="product && product.image_gallery && product.image_gallery.length"
          :pager="true"
          :options="productOpts"
        >
          <ion-slide
            v-for="(item, index) in product.image_gallery"
            :key="index"
          >
            <ion-col class="ion-no-margin ion-no-padding">
              <ion-img :src="item"></ion-img>
            </ion-col>
          </ion-slide>
        </ion-slides>

        <ion-img v-else :src="product.main_image" />
      </ion-row> -->

      <ion-row class="ion-center-content ion-margin">
        <ion-col size="7" class="ion-no-padding">
          <ion-card class="ion-comments-card ion-no-margin" id="product-info">
            <ion-card-content style="min-height: 50px;">
              <div style="height: 1vh; text-align: left;">
                <span class="name-preview"><h4>{{ product.product_name }}</h4></span>
              </div>
            </ion-card-content>
            <div class="ion-margin-start ion-margin-end" style="text-align: left;">
                <!-- <ion-text
                  ><h5 class="ion-no-margin">
                    {{ product.product_name }}
                  </h5></ion-text
                > -->
                <ion-text
                  v-if="
                    product.discount_price &&
                    product.discount_price.length > 0 &&
                    product.discount_price != product.price
                  "
                  @click="confirmViewPrice"
                  ><strong
                    ><h4 class="ion-no-margin" >
                      {{ (getUser && getUser.id) ? ('$' + product.discount_price) : 'Ver Precio' }}
                    </h4></strong
                  >&nbsp;<s
                    ><small>{{ (getUser && getUser.id) ? product.price : 'Ver Precio' }}</small></s
                  ></ion-text
                >
                <ion-text v-else
                  ><strong @click="confirmViewPrice"
                    ><h4 class="ion-no-margin">{{ (getUser && getUser.id) ? ('$' + product.price) : 'Ver Precio' }}</h4></strong
                  > </ion-text
                ><br />
                <ion-text><small>Precio no incluye IVA</small></ion-text>
              </div>
              <div style="text-align: left; ion-no-padding;" class="ion-margin-start ion-margin-end ion-margin-bottom">
                <ion-icon
                  class="stars"
                  color="secondary"
                  v-for="(item, index) in [1, 2, 3, 4, 5]"
                  :key="index"
                  :icon="star"
                ></ion-icon>
                calificaciones
                <br />
                <ion-button
                  size="small"
                  color="secondary"
                  expand="block"
                  :disabled="!product"
                  @click="addToCart(product)"
                  >AGREGAR AL CARRITO</ion-button
                >
                <ion-button
                  v-if="!product.favorite"
                  size="small"
                  color="primary"
                  fill="outline"
                  expand="block"
                  @click="addToFavorite"
                  >AGREGAR A FAVORITOS</ion-button
                >
                <ion-button
                  v-else
                  size="small"
                  color="primary"
                  fill="outline"
                  expand="block"
                  @click="$router.push('/marketplace/favorites')"
                  >VER FAVORITOS</ion-button
                >
                <ion-text style="text-align: center;">¡Delivery Incluido!</ion-text>
              </div>
          </ion-card>
        </ion-col>
        <ion-col size="5" style="padding-top: 0px">
          <!-- <ion-row class="ion-justify-content-center header-label ion-no-padding" style="margin-bottom: 7px;">
            <ion-text color="light">
              <strong>VENDEDOR</strong>
            </ion-text>
          </ion-row> -->
          <div id="store-card" class="ion-comments-card ion-no-margin">
            <ion-row class="ion-justify-content-center">
              <ion-thumbnail
                style="--size: 31vw;  margin-top: 11px"
                @click="
                  $router.push(
                    '/marketplace/profile/' + product.store.store_subdomain
                  )
                "
              >
                <img
                  :src="product && product.store ? product.store.logo : ''"
                /> </ion-thumbnail
              ><br />
              <p class="ion-margin">
                {{ product && product.store ? product.store.store_name : "" }}
              </p>
              <ion-button
                v-if="getUser && getUser.id"
                size="small"
                color="secondary"
                expand="block"
                style="margin-bottom: 10px"
                 @click="
                  () => {
                    //showConfirmModal = false;
                    getChat(product.store.owner);
                  }
                "
                >MENSAJE</ion-button
              >
            </ion-row>
          </div>
        </ion-col>
      </ion-row>

      <ion-row
        class="
          ion-justify-content-center
          header-label
          ion-margin-start ion-margin-end
        "
      >
        <ion-text color="light">
          <strong>CARACTERÍSTICAS</strong>
        </ion-text>
      </ion-row>

      <ion-row class="ion-margin-start ion-margin-end">
        <ion-card
          style="width: 100%; margin-top: 8px"
          class="ion-no-margin ion-no-padding"
        >
          <ion-card-content>
            Marca: {{ product.brand }}<br />{{ product.description }}
          </ion-card-content>
        </ion-card>
      </ion-row>

      <ion-row class="ion-input">
        <ion-col
          style="margin-top: 8px; margin-left: 11px; margin-bottom: 8px"
          size="8"
        >
          <ion-input
            v-model="message"
            type="text"
            name="search"
            placeholder="Hacer una pregunta"
          />
        </ion-col>
        <ion-col style="margin-top: 8px; margin-bottom: 8px" size="3.4">
          <ion-button
            :disabled="!message || message.length < 1"
            color="secondary"
            size="small"
            expand="block"
            @click="postQuestion()"
          >
            Preguntar
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row
        class="ion-margin-start ion-margin-end"
        v-if="
          product &&
          product.questions_and_answers &&
          product.questions_and_answers.length
        "
      >
        <ion-card class="ion-no-padding ion-no-margin" style="width: 100%">
          <ion-card-content>
            <ion-list>
              <message
                v-for="(item, index) in product.questions_and_answers"
                :key="index"
                :message="item.message"
                :type="item.parent_message ? 'answer' : 'question'"
                :edit="false"
                :created="item.created_at"
              />
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-row>

      <ion-button
        expand="block"
        color="secondary"
        size="small"
        class="ion-margin"
        >Ver todas las preguntas</ion-button
      >

      <ion-row
        v-if="products.length > 0"
        class="
          ion-justify-content-center
          header-label
          ion-margin-start ion-margin-end
        "
      >
        <ion-text color="light">
          <strong>PRODUCTOS DE LA MISMA TIENDA</strong>
        </ion-text>
      </ion-row>

      <ion-row
        class="ion-justify-content-center ion-margin-start ion-margin-end"
      >
        <ion-slides
          ref="slides"
          v-if="products.length > 0"
          :pager="true"
          :options="productOpts"
        >
          <ion-slide v-for="(item, index) in products" :key="index">
            <ion-col class="ion-no-margin ion-no-padding">
              <product-card
                v-if="item !== undefined"
                :id="item.id"
                :name="item.product_name"
                :image="item.main_image"
                :currency="item.currency"
                :offerPrice="item.discount_price"
                :price="item.price"
                :item="item"
                :edit="false"
              ></product-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </ion-slide>

          <ion-slide>
            <ion-col class="ion-no-margin ion-no-padding">
              <more-card
                title="MISMA TIENDA"
                :link="
                  '/marketplace/catalog/search/' + product.store.store_subdomain
                "
                src="assets/img/tarjeta_productos.png"
              ></more-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </ion-slide>
        </ion-slides>
      </ion-row>

      <ion-row
        v-if="similars && similars.length > 0"
        class="
          ion-justify-content-center
          header-label
          ion-margin-start ion-margin-end
        "
      >
        <ion-text color="light">
          <strong>PRODUCTOS SIMILARES</strong>
        </ion-text>
      </ion-row>

      <ion-row
        class="ion-justify-content-center ion-margin-start ion-margin-end"
      >
        <ion-slides
          v-if="similars && similars.length > 0"
          :pager="true"
          :options="productOpts"
        >
          <ion-slide v-for="(item, index) in similars" :key="index">
            <ion-col class="ion-no-margin ion-no-padding">
              <product-card
                v-if="item !== undefined"
                :id="item.id"
                :name="item.product_name"
                :image="item.main_image"
                :currency="item.currency"
                :offerPrice="item.discount_price"
                :price="item.price"
                :item="item"
                :edit="false"
              ></product-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </ion-slide>

          <ion-slide>
            <ion-col class="ion-no-margin ion-no-padding">
              <more-card
                title="PRODUCTOS SIMILARES"
                :link="'/marketplace/similars/' + product.id"
                src="assets/img/tarjeta_productos.png"
              ></more-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </ion-slide>
        </ion-slides>
      </ion-row>
      <vue-final-modal
        v-model="showConfirmModal"
        classes="modal-container"
        content-class="modal-content"
        :click-to-close="false"
        :esc-to-close="false"
      >
        <span class="modal__title">Mensaje publicado</span>
        <div class="modal__content">
          <p>
            La información que has suministrado puede ser auditada por tu
            seguridad.
          </p>
        </div>
        <ion-button
          expand="block"
          color="secondary"
          @click="
            () => {
              showConfirmModal = false;
            }
          "
          >Entendido</ion-button
        >
      </vue-final-modal>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonSlides,
  IonSlide,
  IonButton,
  IonText,
  // IonImg,
  IonInput,
  IonCard,
  IonIcon,
  IonCardContent,
  IonThumbnail,
  IonList,
  toastController,
  alertController
} from "@ionic/vue";
import { star, chevronBackOutline } from "ionicons/icons";
import { defineComponent, ref, reactive } from "vue";
import api from "../../api";
import { mapGetters, useStore } from "vuex";
import { useRoute, useRouter } from "vue-router";
import { Share } from '@capacitor/share';
import firebase from "../../Firebase";

export default defineComponent({
  name: "ProductDetail",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonSlide,
    IonSlides,
    IonButton,
    IonText,
    // IonImg,
    IonCol,
    IonInput,
    IonCard,
    IonIcon,
    IonCardContent,
    IonList,
    IonThumbnail,
  },
  setup() {
    const content = ref();
    const slides = ref();
    const store = useStore();
    const route = useRoute();
    const router = useRouter();
    const message = ref(null);
    const product = reactive({});
    const showConfirmModal = ref(false);
    const isLoading = ref(false);
    const products = reactive([]);
    const similars = reactive([]);
    const similarProducts = reactive([]);

    const slideOpts = {
      initialSlide: 0,
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
        clickable: true,
      },
    };

    const productOptsSingle = {
      initialSlide: 0,
      loop: false,
      autoHeight: true,
      centeredSlides: false,
      watchOverflow: true,
    };

    const brandOpts = {
      initialSlide: 0,
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
        clickable: true,
      },
      breakpoints: {
        // when window width is >= 320px
        320: {
          slidesPerView: 2,
        },
        // when window width is >= 480px
        600: {
          slidesPerView: 3,
        },
      },
    };
    const productOpts = {
      initialSlide: 0,
      loop: false,
      spaceBetween: 1,
      autoHeight: true,
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
        clickable: true,
      },
      breakpoints: {
        // when window width is >= 320px
        320: {
          slidesPerView: 2,
        },
        // when window width is >= 480px
        600: {
          slidesPerView: 3,
        },
        // when window width is >= 640px
        800: {
          slidesPerView: 4,
        },
        // when window width is >= 900px
        1000: {
          slidesPerView: 5,
        },
        1200: {
          slidesPerView: 6,
        },
      },
    };

    const productOptsImage = {
      initialSlide: 0,
      loop: false,
      spaceBetween: 1,
      autoHeight: true,
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
        clickable: true,
      },
      breakpoints: {
        // when window width is >= 320px
        320: {
          slidesPerView: 1,
        },
      },
    };

    const scrollToTop = () => {
      content.value.$el.scrollToTop(300);

      if (slides.value) {
        slides.value.$el.slideTo(0);
      }
    };

    const loadProduct = () => {
      isLoading.value = true;

      product.value = {};

      var isGuest = !(store.getters.getUser && store.getters.getUser.id);
      api
        .get((isGuest ? "guest/products/" : "products/") + route.params.id, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(product, response.data);

          // Set current store
          store.commit("setStore", response.data.store);
          
          scrollToTop();
          listOthers();
          listSimilars();
          let storeCardHeight = document.getElementById("product-info").offsetHeight;
          console.log('Product Info Height: ' + storeCardHeight);
          setTimeout(() => {
            console.log('Setting Store Card Height: ' + storeCardHeight);
            document.getElementById("store-card").style.height = storeCardHeight + 'px';
          }, 100);
        })
        .catch(function (error) {
          console.log(error);
          if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info'){
            openToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    const listOthers = () => {
      isLoading.value = true;

      while (products.length) {
        products.pop();
      }

      var isGuest = !(store.getters.getUser && store.getters.getUser.id);
      api
        .get((isGuest ? "guest/products/" : "products/") + product.store.id + "/list/9", {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(products, response.data);
        })
        .catch(function (error) {
          console.log(error);
          if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info'){
            openToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    const listSimilars = () => {
      isLoading.value = true;

      while (similars.length) {
        similars.pop();
      }

      var isGuest = !(store.getters.getUser && store.getters.getUser.id);
      api
        .get((isGuest ? "guest/products/similars/" : "products/similars/") + route.params.id + "/9", {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(similars, response.data);
        })
        .catch(function (error) {
          console.log(error);
          if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info'){
            openToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    const confirmViewPrice = () => {
       if (!store.getters.getUser.id){
        if (confirm('Necesitas registrarte para ver el precio. ¿Deseas hacerlo?')) {
          router.push("/welcome");
          return;
        } else {
          return false;
        }
      }
    };

    const postQuestion = () => {

      if (!store.getters.getUser.id){
        if (confirm('Necesitas registrarte para hacer preguntas. ¿Deseas hacerlo?')) {
          router.push("/welcome");
          return;
        } else {
          return false;
        }
      }

      
      isLoading.value = true;
      const questionObject = new FormData();

      questionObject.append("product_id", product.id);
      questionObject.append("message", message.value);

      api
        .post("products/question", questionObject, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          message.value = "";
          loadProduct();
          showConfirmModal.value = true;
        })
        .catch(function (error) {
          console.log(error);
          if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info'){
            openToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    const addToFavorite = () => {

      if (!store.getters.getUser.id){
        if (confirm('Necesitas registrarte para agregar un producto a favoritos. ¿Deseas hacerlo?')) {
          this.$router.push("/welcome");
          return;
        } else {
          return false;
        }
      }


      isLoading.value = true;
      const productObject = new FormData();

      productObject.append("product_id", product.id);

      api
        .post("products/favorite", productObject, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          openToast("¡Agregado a favoritos!", null);
        })
        .catch(function (error) {
          console.log(error);
          if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info'){
            openToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    const openToast = async (message, color = "danger") => {
      const toast = await toastController.create({
        message: message,
        position: "bottom",
        duration: 2000,
        color: color,
      });
      return toast.present();
    };

    const presentAlertConfirm = async (message) => {
        const alert = await alertController.create({
          header: 'Ha ocurrido un error',
          message: 'Sentimos mucho lo sucedido. Puedes presionar Cancelar e intentar de nuevo o Reportar este error y ayudarnos a mejorar',
          buttons: [
            {
              text: 'Cancelar',
              role: 'cancel',
              handler: () => {
                console.log(message);
              },
            },
            {
              text: 'Reportar',
              handler: () => {
                console.log(message);
                window.location.href = "mailto:soporte@odontoenlace.com?subject=Reporte&body=" + message.substring(0, 1000);
              },
            },
          ],
        });
        return alert.present();
      };

    return {
      productOpts,
      slideOpts,
      brandOpts,
      star,
      message,
      postQuestion,
      product,
      openToast,
      showConfirmModal,
      isLoading,
      loadProduct,
      chevronBackOutline,
      listOthers,
      products,
      similarProducts,
      addToFavorite,
      listSimilars,
      similars,
      content,
      scrollToTop,
      slides,
      productOptsSingle,
      productOptsImage,
      presentAlertConfirm,
      confirmViewPrice
    };
  },
  data: () => ({
    store: {},
    chatrooms: firebase.firestore().collection("chatrooms/"),
  }),
  computed: {
    ...mapGetters(["getAccessToken", "getUser"]),
  },
  mounted() {},
  watch: {
    $route() {
      if (this.$route.params.id !== undefined) {
        this.loadProduct();
      }
    },
  },
  ionViewDidEnter() {
    if (this.$route.params.id !== undefined) {
      this.loadProduct();
    }
  },
  methods: {
    search() {
      console.log(this.query);
      if (this.query && this.query.length > 0) {
        this.$router.push(`/marketplace/search/${this.query}`);
      }
    },
    addToCart(item) {

      if (!this.getUser.id){
        if (confirm('Necesitas registrarte para agregar el carrito y comprar. ¿Deseas hacerlo?')) {
          this.$router.push("/welcome");
          return;
        } else {
          return false;
        }
      }

      item.qty = 1;
      this.$store.commit("addToCart", item);
      this.openToast("Producto agregado al carrito", null);
    },
    async share() {
      console.log('Trying to share...');

      await Share.share({
        title: 'Compartir publicación',
        text: 'Revisa esta publicación en Odontoenlace',
        url: 'https://odontoenlace.com/app' + '#' + this.$route.path,
        dialogTitle: 'Revisa esta publicación en Odontoenlace',
      });
    },
    getChat(val) {
      this.isLoading = true;
      console.log(val, this.getUser.id, val.id);
      this.$store.commit("setChatReceiver", val);
      this.chatrooms
        .where("user1", "==", this.getUser.id)
        .where("user2", "==", val.id)
        .get()
        .then((doc) => {
          if (doc.empty) {
            this.chatrooms
              .where("user2", "==", this.getUser.id)
              .where("user1", "==", val.id)
              .get()
              .then((doc2) => {
                if (doc2.empty) {
                  console.log("Creating new chatroom...");
                  this.createChatRoom(val);
                } else {
                  doc2.forEach((doc21) => {
                    // doc.data() is never undefined for query doc snapshots
                    console.log(doc21.id, " => ");
                    this.$router.push("/chat/" + doc21.id);
                    return;
                  });
                }
              })
              .catch((error) => {
                console.log("Error getting document:", error);
              });
          } else {
            doc.forEach((doc1) => {
              // doc.data() is never undefined for query doc snapshots
              console.log(doc1.id, " => ");
              this.$router.push("/chat/" + doc1.id);
              return;
            });
          }
        })
        .catch((error) => {
          console.log("Error getting document:", error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    createChatRoom(val) {
      this.chatrooms
        .add({
          user1: this.getUser.id,
          user2: val.id,
          userName1: this.getUser.name + " " + this.getUser.last_name,
          userName2: val.name + " " + val.last_name,
          profileImage1: this.getUser.profile_image,
          profileImage2: val.profile_image,
          playerId1: this.getUser.player_id,
          playerId2: val.player_id,
          messages: [],
        })
        .then((docRef) => {
          console.log("Document written with ID: ", docRef.id);
          this.$router.push("/chat/" + docRef.id);
        })
        .catch((error) => {
          console.error("Error adding document: ", error);
        });
    },
  },
});
</script>

<style scoped src="../../theme/style.css">
</style>

<style scoped>
ion-input {
  --background: white !important;
}

.stars {
  --color: var(--secondary) !important;
}

h3 {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: bold;
}

.logo {
  height: 10vh;
}

.name-preview {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>


<style scoped>
::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
.modal__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
}
</style>

<style scoped>
.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}
</style>
