<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="ion-margin">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
     
      <ion-row class="ion-justify-content-center header-label ion-margin">
        <ion-text color="light">
          <strong>PREGUNTAS</strong>
        </ion-text>
      </ion-row>

      <ion-row class="ion-justify-content-start ion-align-self-center ion-margin">
        <ion-text color="dark" class="ion-align-self-center">
          <strong>No Respondidas</strong>
          <ion-icon :icon="chevronDownOutline" style="vertical-align: middle;"></ion-icon>
        </ion-text>
      </ion-row>

      <ion-row class="ion-justify-content ion-margin"
        v-if="
          products &&
          products.length && products.some((element) => element.unanswered.length > 0)
        "
      >
        <ion-card v-for="(product_item, product_idx) in products" :key="product_idx" class="ion-no-padding ion-no-margin ion-margin-bottom" style="width: 100%">
          <ion-card-content v-if="product_item.unanswered.length > 0">
            <ion-list>
              <ion-item @click="$router.push('/marketplace/product/' + product_item.id)">
                <ion-thumbnail>
                  <ion-img :src="product_item.main_image"></ion-img>
                </ion-thumbnail>
                <p style="margin-left: 8px;">{{product_item.product_name}}</p>
              </ion-item>
              <message
                v-for="(item, index) in product_item.unanswered"
                :key="index"
                :message="item.message"
                :type="'question'"
                :edit="true"
                :created="item.created_at"
                :parent="item.id"
                :product="item.product_id"
                @answer="postAnswer"
                @delete="deleteQuestion"
              />
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-row>
      <ion-row v-else class="ion-justify-content-center">
        <ion-text  class="ion-margin no-patients-message">No tienes preguntas sin responder</ion-text>
      </ion-row>

      <ion-row class="ion-justify-content-start ion-align-self-center ion-margin">
        <ion-text color="dark" class="ion-align-self-center">
          <strong>Respondidas</strong>
          <ion-icon :icon="chevronDownOutline" style="vertical-align: middle;"></ion-icon>
        </ion-text>
      </ion-row>

      <ion-row class="ion-justify-content ion-margin"
        v-if="
          products &&
          products.length
        "
      >
        <ion-card v-for="(product_item, product_idx) in products" :key="product_idx" class="ion-no-padding ion-no-margin ion-margin-bottom" style="width: 100%">
          <ion-card-content v-if="product_item.answered.length > 0">
            <ion-list>
              <ion-item @click="$router.push('/marketplace/product/' + product_item.id)">
                <ion-thumbnail>
                  <ion-img :src="product_item.main_image"></ion-img>
                </ion-thumbnail>
                <p style="margin-left: 8px;">{{product_item.product_name}}</p>
              </ion-item>
              <message
                v-for="(item, index) in product_item.questions_and_answers"
                :key="index"
                :message="item.message"
                :type="'question'"
                :edit="false"
                :created="item.created_at"
                :parent="item.id"
                :product="item.product_id"
                @answer="postAnswer"
                @delete="deleteQuestion"
              />
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-row>

      <vue-final-modal
        v-model="showConfirmModal"
        classes="modal-container"
        content-class="modal-content"
        :click-to-close="false"
        :esc-to-close="false"
      >
        <span class="modal__title">Mensaje actualizado</span>
        <div class="modal__content">
          <p>
            La información que has suministrado puede ser auditada por tu
            seguridad.
          </p>
        </div>
        <ion-button
          expand="block"
          color="secondary"
          @click="
            () => {
              showConfirmModal = false;
            }
          "
          >Entendido</ion-button
        >
      </vue-final-modal>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonButton,
  IonText,
  IonImg,
  IonCard,
  IonCardContent,
  IonThumbnail,
  IonList,
  IonItem,
  toastController,
  alertController
} from "@ionic/vue";
import { chevronDownOutline } from "ionicons/icons";
import { defineComponent, ref } from "vue";
import api from "../../api";
import { mapGetters, useStore } from "vuex";

export default defineComponent({
  name: "ProductDetail",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonButton,
    IonText,
    IonImg,
    IonCard,
    IonCardContent,
    IonList,
    IonThumbnail,
    IonItem
  },
  setup() {
    const store = useStore();
    const message = ref(null);
    const showConfirmModal = ref(false);
    const isLoading = ref(false);
    const products = ref([]);

    const loadQuestions = () => {
      isLoading.value = true;

      api
        .get("stores/questions/" + store.getters.getUser.stores[0].store_subdomain, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log('Available questions:');
          console.log(response);
          products.value = response.data;
        })
        .catch(function (error) {
          console.log(error);
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            openToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    const postAnswer = (e, message, product, parent) => {
      isLoading.value = true;
      const answerObject = new FormData();

      answerObject.append("product_id", product);
      answerObject.append("message", message);
      answerObject.append("parent_message", parent);

      api
        .post("products/answer", answerObject, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          loadQuestions();
          showConfirmModal.value = true;
        })
        .catch(function (error) {
          console.log(error);
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            openToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    const deleteQuestion = (e, product, parent) => {
      isLoading.value = true;
      const questionObject = new FormData();

      questionObject.append("product_id", product);
      questionObject.append("parent_message", parent);

      api
        .post("products/question/delete", questionObject, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          loadQuestions();
          showConfirmModal.value = true;
        })
        .catch(function (error) {
          console.log(error);
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            openToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    const openToast = async (message) => {
      const toast = await toastController.create({
        message: message,
        position: "top",
        duration: 3000,
        color: "danger",
      });
      return toast.present();
    };

    const presentAlertConfirm = async (message) => {
      const alert = await alertController.create({
        header: "Ha ocurrido un error",
        message:
          "Sentimos mucho lo sucedido. Puedes presionar Cancelar e intentar de nuevo o Reportar este error y ayudarnos a mejorar",
        buttons: [
          {
            text: "Cancelar",
            role: "cancel",
            handler: () => {
              console.log(message);
            },
          },
          {
            text: "Reportar",
            handler: () => {
              console.log(message);
              window.location.href =
                "mailto:soporte@odontoenlace.com?subject=Reporte&body=" +
                message.substring(0, 1000);
            },
          },
        ],
      });
      return alert.present();
    };

    return {
      chevronDownOutline,
      message,
      postAnswer,
      openToast,
      showConfirmModal,
      isLoading,
      loadQuestions,
      products,
      presentAlertConfirm,
      deleteQuestion
    };
  },
  data: () => ({
    store: {},
  }),
  computed: {
    ...mapGetters(["getAccessToken"]),
  },
  mounted() {},
  updated() {
    this.loadQuestions();
  },
  methods: {
    
  },
});
</script>

<style scoped src="../../theme/style.css">
</style>

<style scoped>
::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
.modal__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
}
</style>

<style scoped>
.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}
</style>
