// https://swiperjs.com/swiper-api#pagination
<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />

      <ion-row
        v-if="$route.params.store"
        class="store-card ion-margin-start ion-margin-end"
      >
        <ion-col style="margin-top: 17px" size="4">
          <ion-img :src="getStore.logo" class="logo"></ion-img>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col>
              <ion-label
                ><strong>{{ getStore.store_name }}</strong></ion-label
              >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-icon
                class="stars"
                color="secondary"
                v-for="(item, index) in [1, 2, 3, 4, 5]"
                :key="index"
                :icon="star"
              ></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                v-if="getUser && getUser.id"
                color="primary"
                size="small"
                class="store-button"
                @click="search()"
              >
                <small>ENVIAR MENSAJE</small>
              </ion-button>
              <!-- <ion-button
                color="secondary"
                size="small"
                class="store-button"
                @click="search()"
              >
                <small>Contactar</small>
              </ion-button> -->
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="2">
          <ion-icon src="assets/icons/share-icon.svg" class="ion-margin" style="font-size: 1.3rem" @click="share()"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-margin">
        <ion-input
          class="searchbox ion-margin-end"
          v-model="query"
          type="text"
          name="search"
          @keyup.enter="search()"
          :placeholder="
            $route.params.store
              ? 'Buscar en ' + $route.params.store
              : '¿Qué estas buscando?'
          "
        />
        <ion-button color="secondary" size="small" @click="search()">
          Buscar
        </ion-button>
      </ion-row>

      <!-- If the word catalog is present -->

      <ion-row
        v-if="$route.path.indexOf('catalog') > 0"
        class="ion-justify-content-center header-label ion-margin"
      >
        <ion-text color="light">
          <strong>CATÁLOGO</strong>
        </ion-text>
      </ion-row>

      <div v-if="$route.path.indexOf('catalog') > 0 && !$route.params.category">
        <div v-for="(item, index) in getCategories" :key="index">
          <ion-row
            v-if="
              filteredProducts.filter((element) => {
                return (
                  element.category == item.value ||
                  (element.categories && element.categories.length && element.categories.indexOf(item.value) >= 0)
                );
              }).length > 0
            "
            class="ion-margin-start ion-margin-end"
          >
            <ion-text class="header1 ion-align-self-bottom">
              {{ item.label
              }}<ion-icon :icon="chevronForwardOutline"></ion-icon>
            </ion-text>
          </ion-row>
          <ion-row
            class="ion-justify-content-start ion-margin-start ion-margin-end"
          >
            <ion-slides
              v-if="
                filteredProducts.filter((element) => {
                  return (
                    element.category == item.value ||
                    (element.categories && element.categories.length && element.categories.indexOf(item.value) >= 0)
                  );
                }).length > 0
              "
              :pager="true"
              :options="
                filteredProducts.filter((element) => {
                  return (
                    element.category == item.value ||
                    (element.categories && element.categories.length && element.categories.indexOf(item.value) >= 0)
                  );
                }).length > 1
                  ? productOpts
                  : productOptsSingle
              "
              :style="
                filteredProducts.filter((element) => {
                  return (
                    element.category == item.value ||
                    (element.categories && element.categories.length && element.categories.indexOf(item.value) >= 0)
                  );
                }).length > 1
                  ? ''
                  : 'margin-left: 0px;'
              "
            >
              <ion-slide
                v-for="(product, idx) in filteredProducts.filter((element) => {
                  return (
                    element.category == item.value ||
                    (element.categories && element.categories.length && element.categories.indexOf(item.value) >= 0)
                  );
                }).slice(0, 9)"
                :key="idx"
              >
                <ion-col class="ion-no-margin ion-no-padding">
                  <product-card
                    v-if="product !== undefined"
                    :id="product.id"
                    :name="product.product_name"
                    :image="product.main_image"
                    :currency="product.currency"
                    :offerPrice="product.discount_price"
                    :price="product.price"
                    :item="product"
                    :edit="false"
                  ></product-card>
                  <ion-row class="header-spacer-label"></ion-row>
                </ion-col>
              </ion-slide>
              <ion-slide>
                <ion-col class="ion-no-margin ion-no-padding">
                  <more-card
                    title="MISMA TIENDA"
                    :link="'/marketplace/catalog/search/' + $route.params.store + '/*/' + item.value"
                    src="assets/img/tarjeta_productos.png"
                  ></more-card>
                  <ion-row class="header-spacer-label"></ion-row>
                </ion-col>
              </ion-slide>
            </ion-slides>
          </ion-row>
        </div>
      </div>

      <!-- if category is set -->

      <div v-if="$route.path.indexOf('catalog') > 0 && $route.params.category">
        <div v-for="(item, index) in getCategories" :key="index">
          <ion-row
            v-if="
              filteredProducts.filter((element) => {
                return element.category == item.value;
              }).length > 0
            "
            class="ion-margin-start ion-margin-end"
          >
            <ion-text class="header1 ion-align-self-center">
              {{ item.label
              }}<ion-icon :icon="chevronForwardOutline"></ion-icon>
            </ion-text>
          </ion-row>
          <ion-row
            v-if="
              filteredProducts.filter((element) => {
                return element.category == item.value;
              }).length > 0
            "
            class="ion-justify-content-center ion-margin-start ion-margin-end"
          >
            <ion-col
              v-for="(product, idx) in filteredProducts.filter((element) => {
                return element.category == item.value;
              })"
              :key="idx"
              size-xs="6"
              size-sm="4"
              size-md="3"
              size-lg="3"
              size-xl="2"
              class="ion-no-padding"
            >
              <product-card
                :id="product.id"
                :price="product.price"
                :name="product.product_name"
                :image="product.main_image"
                :currency="product.currency"
                :offerPrice="product.discount_price"
                :edit="false"
                :item="product"
              ></product-card>
            </ion-col>
            <ion-col class="ion-no-margin ion-no-padding">
                  <more-card
                    title="MISMA TIENDA"
                    :link="'/marketplace/catalog/search/' + $route.params.store"
                    src="assets/img/tarjeta_productos.png"
                  ></more-card>
                  <ion-row class="header-spacer-label"></ion-row>
                </ion-col>
          </ion-row>
        </div>
      </div>

      <!-- If the word catalog is not present -->

      <div v-if="$route.path.indexOf('catalog') == -1">
        <ion-row class="ion-justify-content-center ion-margin">
          <p>
            <i
              >resultado de tu búsqueda de "{{ $route.params.query }}"
              {{ $route.params.store ? " en " + $route.params.store : "" }}</i
            >
          </p>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-margin">
          <ion-button size="small" class="tool-button" @click="openSortPopover"
            >Ordenar
            <ion-icon :icon="add"></ion-icon>
          </ion-button>
          <ion-button size="small" class="tool-button" :disabled="true"
            >Filtrar
            <ion-icon :icon="optionsOutline"></ion-icon>
          </ion-button>
          <ion-button size="small" class="tool-button" :disabled="true"
            >Organizar
            <ion-icon :icon="gridOutline"></ion-icon>
          </ion-button>
          <ion-button size="small" class="tool-button" :disabled="true"
            >Moneda
            <ion-icon :icon="cashOutline"></ion-icon>
          </ion-button>
        </ion-row>

        <ion-row class="ion-justify-content ion-margin ion-no-padding">
          <ion-col
            v-for="(item, index) in filteredProducts"
            :key="index"
            size-xs="6"
            size-sm="4"
            size-md="3"
            size-lg="3"
            size-xl="2"
            class="ion-no-padding"
          >
            <product-card
              :id="item.id"
              :price="item.price"
              :name="item.product_name"
              :image="item.main_image"
              :currency="item.currency"
              :offerPrice="item.discount_price"
              :edit="false"
              :item="item"
            ></product-card>
          </ion-col>
        </ion-row>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonInput,
  IonButton,
  IonIcon,
  IonSlide,
  IonSlides,
  IonText,
  IonLabel,
  IonImg,
  popoverController,
} from "@ionic/vue";
import {
  add,
  gridOutline,
  optionsOutline,
  cashOutline,
  star,
  chevronForwardOutline,
} from "ionicons/icons";
import { defineComponent, ref } from "vue";
import { mapGetters, useStore } from "vuex";
import api from "../../api";
import SortPopover from "../../components/SortPopover.vue";
import eventBus from "../../eventBus";
import { useRoute } from "vue-router";
import { Share } from '@capacitor/share';

export default defineComponent({
  name: "ListProducts",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonInput,
    IonButton,
    IonIcon,
    IonSlide,
    IonSlides,
    IonText,
    IonLabel,
    IonImg,
  },
  setup() {
    const productOpts = {
      initialSlide: 0,
      loop: false,
      spaceBetween: 1,
      autoHeight: true,
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
        clickable: true,
        // bulletActiveClass: ".bullet-active"
      },
      breakpoints: {
        // when window width is >= 320px
        320: {
          slidesPerView: 2,
        },
        // when window width is >= 480px
        600: {
          slidesPerView: 3,
        },
        // when window width is >= 640px
        800: {
          slidesPerView: 4,
        },
        // when window width is >= 900px
        1000: {
          slidesPerView: 5,
        },
        1200: {
          slidesPerView: 6,
        },
      },
    };

    
    const isLoading = ref(false);
    const store = useStore();
    const route = useRoute();

    const productOptsSingle = {
      initialSlide: 0,
      loop: false,
      autoHeight: true,
      centeredSlides: false,
      watchOverflow: true,
    };

    const loadStore = () => {
      isLoading.value = true;

      var isGuest = !(store.getters.getUser && store.getters.getUser.id);

      api
        .get((isGuest ? "guest/stores/" : "stores/") + route.params.store, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          // Object.assign(currentStore, response.data);
          store.commit("setStore", response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          isLoading.value = false;
        });
    };
    
    return {
      add,
      gridOutline,
      optionsOutline,
      cashOutline,
      productOpts,
      star,
      chevronForwardOutline,
      productOptsSingle,
      loadStore,
      isLoading
    };
  },
  data: () => ({
    products: [],
    filteredProducts: [],
    query: ""
  }),
  computed: {
    ...mapGetters(["getAccessToken", "getCategories", "getStore", "getUser"]),
  },
  updated() {
    // this.loadProducts();
    this.query = this.$route.params.query;
  },
  ionViewDidEnter() {
    // console.error(this.getStore);
    if(!this.getStore.logo) {
      this.loadStore();
    }
    this.loadProducts();
  },
  mounted() {
    eventBus().emitter.on("sort-price-asc", () => {
      this.filteredProducts = this.filteredProducts.sort(function (a, b) {
        return parseFloat(a.price) - parseFloat(b.price);
      });
    });
    eventBus().emitter.on("sort-price-desc", () => {
      this.filteredProducts = this.filteredProducts.sort(function (a, b) {
        return parseFloat(b.price) - parseFloat(a.price);
      });
    });
    eventBus().emitter.on("sort-created-asc", () => {
      this.filteredProducts = this.filteredProducts.sort(function (a, b) {
        return new Date(a.created_at) - new Date(b.created_at);
      });
    });
    eventBus().emitter.on("sort-created-desc", () => {
      this.filteredProducts = this.filteredProducts.sort(function (a, b) {
        return new Date(b.created_at) - new Date(a.created_at);
      });
    });
  },
  methods: {
    loadProducts() {
      this.isLoading = true;

      var isGuest = !(this.getUser && this.getUser.id);

      api
        .get(
          (isGuest ? "guest/products/search/" : "products/search/") +
            (this.$route.params.store ? this.$route.params.store + "/" : "") +
            (this.$route.params.query ? this.$route.params.query : "*") +
            (this.$route.params.category ? "/" + this.$route.params.category : "") +
            (this.$route.path.indexOf('full-search') == -1 ? "/limit/9" : ""),
          {
            headers: {
              Authorization: `Bearer ${this.getAccessToken}`,
            },
          }
        )
        .then((response) => {
          console.log(response);
          while (this.products.length > 0) {
            this.products.pop();
          }
          while (this.filteredProducts.length > 0) {
            this.filteredProducts.pop();
          }
          Object.assign(this.products, response.data);
          Object.assign(this.filteredProducts, response.data);
          this.query = this.$route.params.query;
          if (this.query == "*" || this.query == 'destacados') {
            this.query = "";
          }
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    editProduct(id) {
      alert(id);
    },
    deleteProduct(id) {
      alert(id);
    },
    async search() {
      console.log(this.query);
      if (this.query && this.query.length > 0) {
        if (this.$route.params.store) {
          await this.$router.push(
            `/marketplace/search/${this.$route.params.store}/${this.query}`
          );
        } else {
          await this.$router.push(`/marketplace/search/${this.query}/full-search`);
        }
        this.loadProducts();
      }
    },
    async openSortPopover(ev) {
      const popover = await popoverController.create({
        component: SortPopover,
        event: ev,
        translucent: true,
      });
      await popover.present();

      const { role } = await popover.onDidDismiss();
      console.log("onDidDismiss resolved with role", role);
    },
    async share() {
      console.log('Trying to share...');

      await Share.share({
        title: 'Compartir catálogo',
        text: 'Revisa este catálogo en Odontoenlace',
        url: 'https://odontoenlace.com/app' + '#' + this.$route.path,
        dialogTitle: 'Revisa este catálogo en Odontoenlace',
      });
    }
  },
});
</script>

<style scoped src="../../theme/style.css">
</style>

<style scoped>
.tool-button {
  --background: #d3d3d3;
  --color: black;
  --border-radius: 2px !important;
}

.header1 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #041e51;
}

.swiper-slide {
  max-width: 23.3vh;
}

.logo {
  height: 10vh;
}

@media only screen and (min-width: 768px) {
  /* ion-row {
        height: 100%;
    }
    ion-col {
        height: 100%;
    }
    .center-on-widescreen {
        position:absolute; 
        top:35%; 
        height:10em; 
        margin-top:-5em;
        margin-right: 10em;
    }
    h1 {
        font-size: 5vh;
    }
    p {
        font-size: 2vh;
    }
    div {
        height: 100%;
    }
    .login-label-widescreen {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 2%;
    }
    .login-label {
        display: none;
    } */
}
</style>