// https://swiperjs.com/swiper-api#pagination
<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-row class="store-card ion-margin-start ion-margin-end">
        <ion-col style="margin-top: 17px" size="4">
          <ion-img :src="currentStore.logo" class="logo"></ion-img>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col>
              <ion-label
                ><strong>{{ currentStore.store_name }}</strong></ion-label
              >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-icon
                class="stars"
                color="secondary"
                v-for="(item, index) in [1, 2, 3, 4, 5]"
                :key="index"
                :icon="star"
              ></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col v-if="isMyStore">
              <ion-button
                color="primary"
                size="small"
                class="store-button"
                @click="$router.push('/marketplace/store/edit')"
              >
                Editar Tienda
              </ion-button>
            </ion-col>
            <ion-col v-else>
              <ion-button v-if="getUser && getUser.id"
                color="primary"
                size="small"
                class="store-button"
                @click="
                  () => {
                    //showConfirmModal = false;
                    getChat(currentStore.owner);
                  }
                "
              >
                <small>ENVIAR MENSAJE</small>
              </ion-button>
              <!-- <ion-button
                color="secondary"
                size="small"
                class="store-button"
                @click="showConfirmModal = true"
              >
                <small>Contactar</small>
              </ion-button> -->
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="2">
          <ion-icon src="assets/icons/share-icon.svg" class="ion-margin" style="font-size: 1.3rem" @click="share()"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row
        class="
          ion-justify-content-center
          ion-margin-top
          ion-margin-bottom
          ion-margin-end
        "
      >
        <ion-input
          class="searchbox ion-margin-start ion-margin-end"
          v-model="query"
          type="text"
          name="search"
          :placeholder="'Buscar en ' + $route.params.store"
          @keyup.enter="search()"
        />
        <ion-button color="secondary" size="small" @click="search()">
          Buscar
        </ion-button>
      </ion-row>
      <ion-row> </ion-row>

      <!-- DESTACADOS -->

      <ion-row
        v-if="starred.length > 0"
        class="
          ion-justify-content-center
          header-label
          ion-margin-start ion-margin-end
        "
      >
        <ion-text color="light">
          <strong>PRODUCTOS DESTACADOS</strong>
        </ion-text>
      </ion-row>
      <ion-row
        class="ion-justify-content-center ion-margin-start ion-margin-end"
      >
        <swiper
          v-if="starred && starred.length > 0"
          :pagination="true"
          :slides-per-view="2"
          :style="starred.length == 1 ? 'margin-left: 0px;' : ''"
        >
          <swiper-slide v-for="(item, index) in starred" :key="index">
            <ion-col class="ion-no-margin ion-no-padding">
              <product-card
                v-if="item && item !== undefined"
                :id="item.id"
                :name="item.product_name"
                :image="item.main_image"
                :currency="item.currency"
                :offerPrice="item.discount_price"
                :price="item.price"
                :item="item"
                :edit="false"
              ></product-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </swiper-slide>

          <swiper-slide>
            <ion-col class="ion-no-margin ion-no-padding">
              <more-card
                title="VER TUS FAVORITOS"
                link="/marketplace/starred/search/destacados"
                src="assets/img/tarjeta_productos.png"
              ></more-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </swiper-slide>
        </swiper>
      </ion-row>

      <!-- OFERTAS -->

      <ion-row
        v-if="products && products.length > 0"
        class="
          ion-justify-content-center
          header-label
          ion-margin-start ion-margin-end
        "
      >
        <ion-text color="light">
          <strong>OFERTAS DE LA SEMANA</strong>
        </ion-text>
      </ion-row>

      <ion-row
        class="ion-justify-content-center ion-margin-start ion-margin-end"
      >
        <swiper
          v-if="products && products.length > 0"
          :pagination="true"
          :slides-per-view="2"
        >
          <swiper-slide v-for="(item, index) in products" :key="index">
            <ion-col class="ion-no-margin ion-no-padding">
              <product-card
                v-if="item !== undefined"
                :id="item.id"
                :name="item.product_name"
                :image="item.main_image"
                :currency="item.currency"
                :offerPrice="item.discount_price"
                :price="item.price"
                :item="item"
                :edit="false"
              ></product-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </swiper-slide>
          <swiper-slide>
            <ion-col class="ion-no-margin ion-no-padding">
              <more-card
                title="TODAS LAS OFERTAS"
                :link="`/marketplace/store/offers/${$route.params.store}`"
                src="assets/img/tarjeta_ofertas.png"
              ></more-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </swiper-slide>
        </swiper>
      </ion-row>

      <ion-row
        class="
          ion-justify-content-center
          header-label
          ion-margin-start ion-margin-end
        "
      >
        <ion-text color="light">
          <strong>CATÁLOGO</strong>
        </ion-text>
      </ion-row>

      <!-- INICIO AREA DE CUADRANTE DE CATEGORIAS -->

      <div
        class="ion-margin; ion-padding"
        style="display: grid; grid-template-columns: 1fr 1fr"
      >
        <!-- CUADRO 1 -->

        <div
          class="img-square"
          :id="'store_image_' + 1"
          :style="'background-size: cover; background-image: url('+ ((store_gallery && store_gallery.length) ? store_gallery[0].setting_data : '') + ')'"
          @click="
            $router.push(
              `/marketplace/catalog/search/${$route.params.store}/*/${store_categories[1]}/full-search`
            )
          "
        >
          <!-- isMyStore ? preventClick($event) :  -->
          <!-- @click="$router.push(`/marketplace/catalog/search/${$route.params.store}/*/${store.categories.find(el => el.id == store_categories[image]).category_name}`)" -->
          <ion-icon
            v-if="isMyStore"
            class="edit-picture-icon"
            :icon="createOutline"
            @click="
              isMyStore ? preventAndSendClick($event, 1) : preventClick($event)
            "
          ></ion-icon>
          <ion-select
            class="edit-picture"
            :placeholder="(currentStore && currentStore.categories && currentStore.categories.length > 0) ? currentStore.categories[1].category_name : 'Categoría...'"
            :id="'store_category_' + 1"
            v-model="store_categories[1]"
            @click="preventClick($event)"
            @ionChange="isMyStore ? updateStoreCategory($event, 1) : ''"
            :disabled="isMyStore ? false : true"
          >
            <ion-select-option
              v-for="item in currentStore.categories"
              :key="item.id"
              :value="item.id"
              >{{ item.category_name }}</ion-select-option
            >
          </ion-select>
          <input
            type="file"
            name="product_images"
            :id="'upload_store_image_' + 1"
            :ref="'upload_store_image_' + 1"
            accept="image/*"
            @click="preventClick($event)"
            @change="selectStoreImage(1)"
            style="display: none"
          />
        </div>

        <!-- CUADRO 2 -->

        <div
          class="img-square"
          :id="'store_image_' + 2"
          :style="'margin-left: 2%; background-size: cover; background-image: url('+ ((store_gallery && store_gallery.length > 1) ? store_gallery[1].setting_data : '') + ')'"
          @click="
            $router.push(
              `/marketplace/catalog/search/${$route.params.store}/*/${store_categories[2]}/full-search`
            )
          "
        >
          <!-- isMyStore ? preventClick($event) :  -->
          <!-- @click="$router.push(`/marketplace/catalog/search/${$route.params.store}/*/${store.categories.find(el => el.id == store_categories[image]).category_name}`)" -->
          <ion-icon
            v-if="isMyStore"
            class="edit-picture-icon"
            :icon="createOutline"
            @click="
              isMyStore ? preventAndSendClick($event, 2) : preventClick($event)
            "
          ></ion-icon>
          <ion-select
            class="edit-picture"
            :placeholder="(currentStore && currentStore.categories && currentStore.categories.length > 1) ? currentStore.categories[2].category_name : 'Categoría...'"
            :id="'store_category_' + 2"
            v-model="store_categories[2]"
            @click="preventClick($event)"
            @ionChange="isMyStore ? updateStoreCategory($event, 2) : ''"
            :disabled="isMyStore ? false : true"
          >
            <ion-select-option
              v-for="item in currentStore.categories"
              :key="item.id"
              :value="item.id"
              >{{ item.category_name }}</ion-select-option
            >
          </ion-select>
          <input
            type="file"
            name="product_images"
            :id="'upload_store_image_' + 2"
            :ref="'upload_store_image_' + 2"
            accept="image/*"
            @click="preventClick($event)"
            @change="selectStoreImage(2)"
            style="display: none"
          />
        </div>

        <!-- CUADRO 3 -->

        <div
          class="img-square"
          :id="'store_image_' + 3"
          :style="'margin-top: 4%; background-size: cover; background-image: url('+ ((store_gallery && store_gallery.length > 2) ? store_gallery[2].setting_data : '') + ')'"
          @click="
            $router.push(
              `/marketplace/catalog/search/${$route.params.store}/*/${store_categories[3]}/full-search`
            )
          "
        >
          <!-- isMyStore ? preventClick($event) :  -->
          <!-- @click="$router.push(`/marketplace/catalog/search/${$route.params.store}/*/${store.categories.find(el => el.id == store_categories[image]).category_name}`)" -->
          <ion-icon
            v-if="isMyStore"
            class="edit-picture-icon"
            :icon="createOutline"
            @click="
              isMyStore ? preventAndSendClick($event, 3) : preventClick($event)
            "
          ></ion-icon>
          <ion-select
            class="edit-picture"
            :placeholder="(currentStore && currentStore.categories && currentStore.categories.length > 2) ? currentStore.categories[3].category_name : 'Categoría...'"
            :id="'store_category_' + 3"
            v-model="store_categories[3]"
            @click="preventClick($event)"
            @ionChange="isMyStore ? updateStoreCategory($event, 3) : ''"
            :disabled="isMyStore ? false : true"
          >
            <ion-select-option
              v-for="item in currentStore.categories"
              :key="item.id"
              :value="item.id"
              >{{ item.category_name }}</ion-select-option
            >
          </ion-select>
          <input
            type="file"
            name="product_images"
            :id="'upload_store_image_' + 3"
            :ref="'upload_store_image_' + 3"
            accept="image/*"
            @click="preventClick($event)"
            @change="selectStoreImage(3)"
            style="display: none"
          />
        </div>

        <!-- CUADRO 4 -->

        <div
          class="img-square"
          style="background-color: white; margin-left: 2%; margin-top: 4%"
          @click="
            $router.push(
              `/marketplace/catalog/search/${$route.params.store}/*/full-search`
            )
          "
        >
          <div class="ion-margin header1">
            <ion-row>
              <ion-col size="8"
                ><ion-text>Ver todo el catálogo</ion-text></ion-col
              >
              <ion-col
                size="4"
                class="ion-align-self-center"
                style="margin-top: 28px"
                ><ion-icon :icon="chevronForwardOutline"></ion-icon
              ></ion-col>
            </ion-row>
          </div>
        </div>
      </div>

      <!-- FIN DE CUADRICULA DE CATEGORIAS -->

      <ion-row class="ion-justify-content-center header-label ion-margin">
        <div>
          <ion-text color="light">
            <strong>REPUTACIÓN</strong>
          </ion-text>
        </div>
      </ion-row>

      <ion-row class="store-card ion-margin">
        <ion-col size="3" class="ion-margin">
          <ion-icon
            class="stars"
            color="secondary"
            v-for="index in currentStore.store_reputation"
            :key="index"
            :icon="star"
          ></ion-icon>
        </ion-col>
        <ion-col size="7">
          <ion-row>
            <ion-col
              class="ion-no-padding ion-no-margin"
              style="text-align: right"
            >
              <ion-text>{{
                currentStore &&
                currentStore.store_orders &&
                currentStore.store_orders > 0
                  ? currentStore.store_orders + " ventas concretadas"
                  : "¡Se el primero en comprar!"
              }}</ion-text
              ><br />
              <ion-text>{{
                currentStore &&
                currentStore.store_qualifications &&
                currentStore.store_qualifications > 0
                  ? "Según " +
                    currentStore.store_qualifications +
                    " calificaciones"
                  : "¡Compra y califícanos!"
              }}</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row
        class="ion-justify-content-center ion-margin-start ion-margin-end"
      >
        <swiper
          v-if="
            currentStore.qualifications &&
            currentStore.qualifications.length >= 1
          "
          :style="
            currentStore.qualifications.length == 1 ? 'margin-left: 0px;' : ''
          "
          :pagination="true"
          :slides-per-view="currentStore.qualifications.length == 1 ? 1 : 2"
        >
          <swiper-slide
            v-for="(item, idx) in currentStore.qualifications"
            :key="idx"
          >
            <ion-col class="ion-no-margin ion-no-padding">
              <ion-card
                class="ion-comments-card ion-no-margin"
                :style="'margin-right: 4px; padding-top: 8px;' + (currentStore.qualifications.length == 1 ? 'width: 95vw;' : 'width: auto;')"
              >
                <ion-icon
                  class="stars"
                  color="secondary"
                  v-for="(item, index) in item.score"
                  :key="index"
                  :icon="star"
                ></ion-icon>

                <ion-card-header style="height: 5em">
                  <ion-card-title>“{{ item.title }}”</ion-card-title>
                </ion-card-header>
                <ion-card-content style="height: 8em">
                  "{{ item.message }}"
                  <br />
                  &#8212;
                  <br />
                  {{ item.buyer ? item.buyer.name : "" }}
                </ion-card-content>
              </ion-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </swiper-slide>
        </swiper>
      </ion-row>
      <ion-row></ion-row>
      <vue-final-modal
        v-model="showConfirmModal"
        classes="modal-container"
        content-class="modal-content"
        :click-to-close="false"
        :esc-to-close="false"
      >
        <span class="modal__title"
          >Contacta a {{ currentStore.store_name }}</span
        >
        <div class="modal__content">
          <p>
            {{
              "☎️ " +
              currentStore.store_phone +
              (currentStore.second_phone ? " " + currentStore.second_phone : "")
            }}
          </p>
          <p>
            {{ "📧 " + currentStore.store_email }}
          </p>
          <p></p>
        </div>
        <ion-button
          expand="block"
          color="primary"
          @click="
            () => {
              showConfirmModal = false;
              getChat(currentStore.owner);
            }
          "
          >Iniciar Chat</ion-button
        >
        <ion-button
          expand="block"
          color="secondary"
          @click="
            () => {
              showConfirmModal = false;
            }
          "
          >Entendido</ion-button
        >
      </vue-final-modal>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonButton,
  IonText,
  IonImg,
  IonInput,
  IonCard,
  IonIcon,
  IonLabel,
  IonCardHeader,
  IonCardContent,
  IonCardTitle,
  IonSelect,
  IonSelectOption,
  onIonViewDidEnter,
  onIonViewWillEnter,
} from "@ionic/vue";
import { star, createOutline, chevronForwardOutline } from "ionicons/icons";
import { defineComponent, ref, reactive } from "vue";
import api from "../../api";
import { mapGetters, useStore } from "vuex";
import { useRoute } from "vue-router";
import firebase from "../../Firebase";
import { Share } from '@capacitor/share';

import { Swiper, SwiperSlide } from 'swiper/vue';

// Import Swiper styles
import 'swiper/css'
import "swiper/css/pagination"

// import Swiper core and required modules
import SwiperCore, {
  Pagination
} from 'swiper/core';

// install Swiper modules
SwiperCore.use([Pagination]);

export default defineComponent({
  name: "StoreProfile",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonButton,
    IonText,
    IonImg,
    IonCol,
    IonInput,
    IonCard,
    IonIcon,
    IonLabel,
    IonCardHeader,
    IonCardContent,
    IonCardTitle,
    IonSelect,
    IonSelectOption,
    Swiper,
    SwiperSlide,
  },
  setup() {
    const products = reactive([]);
    const starred = reactive([]);
    const currentStore = reactive({});
    const store = useStore();
    const route = useRoute();
    const image_file = reactive([]);
    const store_categories = reactive([]);
    const store_gallery = reactive([]);
    const isLoading = ref(false);
    const showConfirmModal = ref(false);
    const slideOpts = {
      initialSlide: 0,
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
        clickable: true,
      },
    };
    const brandOpts = {
      initialSlide: 0,
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
        clickable: true,
      },
      breakpoints: {
        // when window width is >= 320px
        320: {
          slidesPerView: 2,
        },
        // when window width is >= 480px
        600: {
          slidesPerView: 3,
        },
      },
    };
    const productOpts = {
      initialSlide: 0,
      loop: false,
      spaceBetween: 1,
      autoHeight: true,
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
        clickable: true,
      },
      breakpoints: {
        // when window width is >= 320px
        320: {
          slidesPerView: 2,
        },
        // when window width is >= 480px
        600: {
          slidesPerView: 3,
        },
        // when window width is >= 640px
        800: {
          slidesPerView: 4,
        },
        // when window width is >= 900px
        1000: {
          slidesPerView: 5,
        },
        1200: {
          slidesPerView: 6,
        },
      },
    };

    const productOptsSingle = {
      initialSlide: 0,
      loop: false,
      autoHeight: true,
      centeredSlides: false,
      watchOverflow: true,
    };

    const loadStoreImages = () => {
      isLoading.value = true;

      var isGuest = !(store.getters.getUser && store.getters.getUser.id);

      api
        .get((isGuest ? "guest/stores/images/" : "stores/images/") + route.params.store, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log('Loaded Store Images:', response);
          Object.assign(store_gallery, response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          isLoading.value = false;
          let store_images_names = [
            "store_image_1",
            "store_image_2",
            "store_image_3",
          ];
          store_images_names.forEach((item) => {
            if (!document.getElementById(item).style.backgroundImage) {
              document.getElementById(item).style.backgroundImage =
                'url("../../assets/img/add_photo.png")';
              document.getElementById(item).style.backgroundSize = "auto";
            }
          });
        });
    };

    const loadStoreCategories = () => {
      isLoading.value = true;

      var isGuest = !(store.getters.getUser && store.getters.getUser.id);

      api
        .get((isGuest ? "guest/stores/categories/" : "stores/categories/") + route.params.store, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);

          let response_categories = response.data;

          response_categories.forEach((item) => {
            let index = parseInt(item.setting_name.replace(/\D/g, ""));
            store_categories[index] = parseInt(item.setting_data);
          });
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    const loadStore = () => {
      isLoading.value = true;

      var isGuest = !(store.getters.getUser && store.getters.getUser.id);

      api
        .get((isGuest ? "guest/stores/" : "stores/") + route.params.store, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          Object.assign(currentStore, response.data);
          store.commit("setStore", response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    const listOffers = () => {
      isLoading.value = true;

      while (products.length > 0) {
        products.pop();
      }

      var isGuest = !(store.getters.getUser && store.getters.getUser.id);

      api
        .get((isGuest ? "guest/products/" : "products/") + route.params.store + "/offers", {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(products, response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    const listStarred = () => {
      isLoading.value = true;

      while (starred.length > 0) {
        starred.pop();
      }

      var isGuest = !(store.getters.getUser && store.getters.getUser.id);

      api
        .get((isGuest ? "guest/products/" : "products/") + route.params.store + "/starred", {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(starred, response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    const loadData = () => {
      loadStore();
      listOffers();
      listStarred();
      loadStoreImages();
      setTimeout(() => {
        loadStoreCategories();
      }, 300);
    };

    onIonViewDidEnter(() => {
      // isLoading.value = false;
      loadData();
    });

    onIonViewWillEnter(() => {
      if (route.params.store !== undefined && !isLoading.value) {
        // loadStore();
        // loadStoreCategories();
        // listOffers();
        // loadStoreImages();
      }
    });

    return {
      productOpts,
      slideOpts,
      brandOpts,
      star,
      isLoading,
      image_file,
      createOutline,
      loadStoreImages,
      loadStoreCategories,
      store_categories,
      chevronForwardOutline,
      productOptsSingle,
      loadStore,
      listOffers,
      currentStore,
      products,
      showConfirmModal,
      listStarred,
      starred,
      loadData,
      store_gallery
    };
  },
  data: () => ({
    query: "",
    chatrooms: firebase.firestore().collection("chatrooms/"),
  }),
  computed: {
    ...mapGetters(["getAccessToken", "getUser"]),
    isMyStore() {
      return (
        this.getUser &&
        this.getUser.stores &&
        this.getUser.stores.length &&
        this.$route.params.store == this.getUser.stores[0].store_subdomain
      );
    },
  },
  methods: {
    search() {
      console.log(this.query);
      if (this.query && this.query.length > 0) {
        this.$router.push(
          `/marketplace/search/${this.$route.params.store}/${this.query}/full-search`
        );
      }
    },
    updateStoreCategory(ev, index) {
      console.log(ev);

      var categorySelected = ev.detail.value;

      var storeObject = new FormData();

      var store_id =
        this.getUser && this.getUser.stores && this.getUser.stores.length > 0
          ? this.getUser.stores[0].id
          : null;

      storeObject.append("store_id", store_id);
      storeObject.append("store_category_index", index);
      storeObject.append("store_category_value", categorySelected);

      // Prevent executing while loading
      if (!this.isLoading) {
        api
          .post("/stores/categories/update", storeObject, {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getAccessToken,
            },
          })
          .then(function (response) {
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
            alert(JSON.stringify(error.response.data));
          });
      }
    },
    preventClick(ev) {
      ev.stopPropagation();
    },
    preventAndSendClick(ev, image) {
      ev.stopImmediatePropagation();
      console.log(image);
      this.$refs["upload_store_image_" + image].click();
    },
    async selectStoreImage(index) {
      console.log(event.target.files[0]);

      var reader = new FileReader();
      reader.onload = (e) => {
        // Load image
        this.image_file[index] = e.target.result;
        document.getElementById("store_image_" + index).style.backgroundImage =
          'url("' + reader.result + '")';
        document.getElementById("store_image_" + index).style.backgroundSize =
          "cover";

        var storeObject = new FormData();

        var store_id =
          this.getUser && this.getUser.stores && this.getUser.stores.length > 0
            ? this.getUser.stores[0].id
            : null;

        storeObject.append("store_id", store_id);
        storeObject.append("store_image_index", index);
        storeObject.append("store_image", this.image_file[index]);

        api
          .post("/stores/image/update", storeObject, {
            headers: {
              Authorization: "Bearer " + this.$store.getters.getAccessToken,
            },
          })
          .then(function (response) {
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
            alert(JSON.stringify(error.response.data));
          });
      };

      reader.readAsDataURL(event.target.files[0]);
    },
    getChat(val) {
      this.isLoading = true;
      console.log(val, this.getUser.id, val.id);
      this.$store.commit("setChatReceiver", val);
      this.chatrooms
        .where("user1", "==", this.getUser.id)
        .where("user2", "==", val.id)
        .get()
        .then((doc) => {
          if (doc.empty) {
            this.chatrooms
              .where("user2", "==", this.getUser.id)
              .where("user1", "==", val.id)
              .get()
              .then((doc2) => {
                if (doc2.empty) {
                  console.log("Creating new chatroom...");
                  this.createChatRoom(val);
                } else {
                  doc2.forEach((doc21) => {
                    // doc.data() is never undefined for query doc snapshots
                    console.log(doc21.id, " => ");
                    this.$router.push("/chat/" + doc21.id);
                    return;
                  });
                }
              })
              .catch((error) => {
                console.log("Error getting document:", error);
              });
          } else {
            doc.forEach((doc1) => {
              // doc.data() is never undefined for query doc snapshots
              console.log(doc1.id, " => ");
              this.$router.push("/chat/" + doc1.id);
              return;
            });
          }
        })
        .catch((error) => {
          console.log("Error getting document:", error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    createChatRoom(val) {
      var chatRoomData = {
          user1: this.getUser.id,
          user2: val.id,
          userName1: this.getUser.name + " " + this.getUser.last_name,
          userName2: val.name + " " + val.last_name,
          profileImage1: this.getUser.profile_image,
          profileImage2: val.profile_image,
          playerId1: this.getUser.player_id,
          playerId2: val.player_id,
          messages: [],
          receiverPlayerId: val.player_id,
        };
      console.log('Creating chatroom with the following data: ', chatRoomData);
      this.chatrooms
        .add(chatRoomData)
        .then((docRef) => {
          console.log("Document written with ID: ", docRef.id);
          this.$router.push("/chat/" + docRef.id);
        })
        .catch((error) => {
          console.error("Error adding document: ", error);
        });
    },
    async share() {
      console.log('Trying to share...');

      await Share.share({
        title: 'Compartir tienda',
        text: 'Revisa esta tienda en Odontoenlace',
        url: 'https://odontoenlace.com/app' + '#' + this.$route.path,
        dialogTitle: 'Revisa esta tienda en Odontoenlace',
      });
    }
  },
  beforeRouteUpdate(to, from, next) {
    this.loadData();
    next();
  }
});
</script>

<style scoped src="../../theme/style.css">
</style>

<style scoped>
.store-button {
  --border-radius: 2px !important;
}

h3 {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: bold;
}

.logo {
  height: 10vh;
}

ion-select::part(icon) {
  opacity: 0;
}

ion-select {
  width: 34% !important;
  min-width: 34% !important;
}

.header1 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 20%;
  color: #041e51;
}
</style>