// https://swiperjs.com/swiper-api#pagination
<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />

      <ion-row class="ion-justify-content-center ion-margin">
        <ion-input
          class="searchbox ion-margin-end"
          v-model="query"
          type="text"
          name="search"
          placeholder="¿Qué tienda estas buscando?"
          @ionChange="filterQuery"
        />
      </ion-row>
        <ion-row class="ion-justify-content ion-margin ion-no-padding">
          <ion-col
            v-for="(item, index) in filteredStores.filter((item) => {return item.allow_navigation == 1})"
            :key="index"
            size-xs="6"
            size-sm="4"
            size-md="3"
            size-lg="3"
            size-xl="2"
            class="ion-no-padding"
          >
            <store-card
              :title="item.store_name"
              :link="'/marketplace/profile/' + item.store_subdomain"
              :src="item.logo"
              :navigate="item.allow_navigation"
            ></store-card>
          </ion-col>
        </ion-row>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonInput,
} from "@ionic/vue";
import {
  add,
  gridOutline,
  optionsOutline,
  cashOutline,
  star,
  chevronForwardOutline,
} from "ionicons/icons";
import { defineComponent } from "vue";
import { mapGetters } from "vuex";
import api from "../../api";

export default defineComponent({
  name: "Stores",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonInput,
  },
  setup() {
   
    return {
      add,
      gridOutline,
      optionsOutline,
      cashOutline,
      star,
      chevronForwardOutline,
    };
  },
  data: () => ({
    stores: [],
    filteredStores: [],
    query: "",
    isLoading: false,
  }),
  computed: {
    ...mapGetters(["getAccessToken"]),
  },
  ionViewDidEnter() {
    console.log("Entrando a Tiendas Oficiales...");
    this.listStores();
  },
  methods: {
    filterQuery(ev) {
      console.log(ev.detail.value);
      this.filteredStores = this.stores.filter((store) => {
        return (
          store.store_name
            .toLowerCase()
            .indexOf(ev.detail.value.toLowerCase()) > -1
        );
      });
    },
    listStores() {
      this.isLoading = true;
      api
        .get("stores/list", {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          while (this.stores.length > 0) {
            this.stores.pop();
          }
          Object.assign(this.stores, response.data);
          Object.assign(this.filteredStores, response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
  },
});
</script>

<style scoped src="../../theme/style.css">
</style>

<style scoped>
.tool-button {
  --background: #d3d3d3;
  --color: black;
  --border-radius: 2px !important;
}

.header1 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #041e51;
}

.swiper-slide {
  max-width: 23.3vh;
}

.logo {
  height: 10vh;
}

@media only screen and (min-width: 768px) {
  /* ion-row {
        height: 100%;
    }
    ion-col {
        height: 100%;
    }
    .center-on-widescreen {
        position:absolute; 
        top:35%; 
        height:10em; 
        margin-top:-5em;
        margin-right: 10em;
    }
    h1 {
        font-size: 5vh;
    }
    p {
        font-size: 2vh;
    }
    div {
        height: 100%;
    }
    .login-label-widescreen {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 2%;
    }
    .login-label {
        display: none;
    } */
}
</style>