// https://swiperjs.com/swiper-api#pagination
<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="ion-margin">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-row class="ion-justify-content-center header-label ion-margin">
        <ion-text color="light">
          <strong>PEDIDOS</strong>
        </ion-text>
      </ion-row>
      <ion-row class="ion-justify-content-start ion-align-self-center ion-margin">
        <ion-text color="dark" class="ion-align-self-center">
          <strong>Pendientes</strong>
          <ion-icon :icon="chevronDownOutline" style="vertical-align: middle;"></ion-icon>
        </ion-text>
      </ion-row>

      <ion-row
        v-for="(item, index) in orders.filter((item) => {return item.status != 'delivered'})"
        :key="index"
        class="store-card ion-justify-content ion-margin"
        @click="viewDetails(item)"
      >
        <order-line
          v-if="item.id !== undefined"
          :id="item.id"
          :orderNumber="item.store_order_number"
          :currency="item.currency"
          :totalLines="item.total_lines"
          :totalAmount="item.total_amount"
          :status="item.status"
          :image="item.buyer.profile_image"
          :created="item.created_at"
          :item="item"
        ></order-line>
      </ion-row>


      <ion-row class="ion-justify-content-start ion-margin">
        <ion-text color="dark">
          <strong>Entregados</strong>
          <ion-icon :icon="chevronDownOutline" style="vertical-align: middle;"></ion-icon>
        </ion-text>
      </ion-row>
      <ion-row
        v-for="(item, index) in orders.filter((item) => {return item.status == 'delivered'})"
        :key="index"
        class="store-card ion-justify-content ion-margin"
        @click="viewDetails(item)"
      >
        <order-line
          v-if="item.id !== undefined"
          :id="item.id"
          :orderNumber="item.store_order_number"
          :currency="item.currency"
          :totalLines="item.total_lines"
          :totalAmount="item.total_amount"
          :status="item.status"
          :image="item.buyer.profile_image"
          :created="item.created_at"
          :item="item"
          :hint="false"
          @details="viewDetails(item)"
        ></order-line>
      </ion-row>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonContent, IonPage, IonRow, IonText, IonIcon } from "@ionic/vue";

import { defineComponent, ref, reactive } from "vue";
import { mapGetters, useStore } from "vuex";
import api from "../../api";
import { useRouter } from "vue-router";

import {
  chevronDownOutline,
} from "ionicons/icons";

export default defineComponent({
  name: "StoreOrders",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonText,
    IonIcon
  },
  setup() {
    const isLoading = ref(false);
    const store = useStore();
    const router = useRouter();
    const orders = reactive([]);

    const loadOrders = () => {
      isLoading.value = true;

      api
        .get("stores/orders/" + store.getters.getStoreId, {
          headers: {
            Authorization: `Bearer ${store.getters.getAccessToken}`,
          },
        })
        .then(function (response) {
          console.log(response);
          Object.assign(orders, response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    const viewDetails = (item) => {
      console.log(item);
      router.push("/marketplace/store/orders/details/" + item.id);
    };

    return {
      isLoading,
      loadOrders,
      orders,
      viewDetails,
      chevronDownOutline
    };
  },
  data: () => ({}),
  computed: {
    ...mapGetters(["getUser", "getAccessToken", "getStoreId"]),
  },
  updated() {
    if (this.orders === undefined || this.orders.length == 0) {
      this.loadOrders();
    }
  },
  methods: {},
});
</script>

<style scoped src="../../theme/style.css">
</style>

<style scoped>
@media only screen and (min-width: 768px) {
}
</style>

<style scoped>
::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
.modal__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
}
</style>

<style scoped>
.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}
</style>