// https://swiperjs.com/swiper-api#pagination
<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-row
        class="
          ion-justify-content-center
          header-label-constrast
          ion-margin-top ion-margin-start ion-margin-end
        "
      >
        <ion-text color="primary">
          <strong
            >¡Hola,
            {{
              getUser && getUser.name ? getUser.name : "Inicia Sesión"
            }}!</strong
          >
        </ion-text>
      </ion-row>
      <ion-row class="tab-buttons">
        <ion-col size="4">
          <ion-button
            color="primary"
            expand="block"
            size="small"
            @click="$router.push('/assistant/schedule')"
          >
            Agenda
          </ion-button>
        </ion-col>
        <ion-col size="4" style="padding: 5px 0">
          <ion-button
            style="--background: #257a8b"
            expand="block"
            size="small"
            @click="$router.push('/assistant/patients')"
          >
            Pacientes</ion-button
          >
        </ion-col>
        <!-- <ion-col size="3" style="padding: 5px 0">
          <ion-button color="secondary" expand="block" size="small" disabled
            >Servicio</ion-button
          >
        </ion-col> -->
        <ion-col size="4">
          <ion-button
            color="secondary"
            expand="block"
            size="small"
            @click="$router.push('/marketplace/home')"
            >Mercado</ion-button
          >
        </ion-col>
      </ion-row>

      <!-- PACIENTES -->

      <ion-row
        class="
          ion-justify-content-center
          header-label
          ion-margin-start ion-margin-end
        "
      >
        <ion-text color="light">
          <strong>TUS CITAS PARA HOY</strong>
        </ion-text>
      </ion-row>
      <ion-row
        class="ion-justify-content-center ion-margin-start ion-margin-end"
      >
        <ion-col size="12" class="ion-no-margin ion-no-padding">
          <swiper
            v-if="appointments && appointments.length > 0"
            :pagination="true"
            :slides-per-view="2"
          >
            <swiper-slide
              v-for="(item, index) in appointments"
              :key="index"
              :style="appointments.length == 1 ? 'width: 50%' : ''"
            >
              <ion-col class="ion-no-margin ion-no-padding">
                <patient-card
                  v-if="item !== undefined"
                  :id="item.id"
                  :name="
                    item.patient
                      ? item.patient.name +
                        (item.patient.last_name
                          ? ' ' + item.patient.last_name
                          : '')
                      : item.patient_name
                  "
                  :image="
                    item.patient
                      ? item.patient.profile_image
                      : 'https://odontoenlace.com/assets/img/logo_perfil.png'
                  "
                  :item="item"
                  :edit="false"
                ></patient-card>
                <ion-row class="header-spacer-label"></ion-row>
              </ion-col>
            </swiper-slide>

            <swiper-slide :style="appointments.length == 1 ? 'width: 50%' : ''">
              <ion-col class="ion-no-margin ion-no-padding">
                <more-card
                  title="IR A LA AGENDA"
                  link="/assistant/schedule"
                  src="assets/img/tarjeta_agenda.png"
                  :hide="true"
                ></more-card>
                <ion-row class="header-spacer-label"></ion-row>
              </ion-col>
            </swiper-slide>
          </swiper>
          <ion-row v-else>
            <ion-col size="12"  class="ion-no-margin ion-no-padding">
              <ion-row class="ion-justify-content-center">
                <span class="ion-margin-top ion-margin-bottom no-patients-message"
                  >No tienes pacientes citados el día de hoy</span
                >
              </ion-row>
              <ion-row class="ion-justify-content-center">
                <ion-col size="11"><ion-button
                  style="color: #737373; border-color: #737373;"
                  expand="block"
                  fill="outline"
                  @click="$router.push('/assistant/schedule')"
                >
                  Crear Nueva Cita
                </ion-button></ion-col>
                
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- DESTACADOS -->

      <ion-row
        v-if="starred.length > 0"
        class="
          ion-justify-content-center
          header-label
          ion-margin-start ion-margin-end
        "
      >
        <ion-text color="light">
          <strong>DESTACADOS EN EL MERCADO</strong>
        </ion-text>
      </ion-row>
      <ion-row
        class="ion-justify-content-center ion-margin-start ion-margin-end"
      >
        <swiper
          v-if="loadedStarred && starred.length > 0"
          :pagination="true"
          :slides-per-view="2"
        >
          <swiper-slide v-for="(item, index) in starred" :key="index">
            <ion-col class="ion-no-margin ion-no-padding">
              <product-card
                v-if="item && item !== undefined"
                :id="item.id"
                :name="item.product_name"
                :image="item.main_image"
                :currency="item.currency"
                :offerPrice="item.discount_price"
                :price="item.price"
                :item="item"
                :edit="false"
              ></product-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </swiper-slide>

          <swiper-slide>
            <ion-col class="ion-no-margin ion-no-padding">
              <more-card
                title="VER TUS FAVORITOS"
                link="/marketplace/starred/search/destacados"
                src="assets/img/tarjeta_productos.png"
              ></more-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </swiper-slide>
        </swiper>
      </ion-row>

      <!-- OFERTAS -->

      <ion-row
        class="
          ion-justify-content-center
          header-label
          ion-margin-start ion-margin-end
        "
      >
        <ion-text color="light">
          <strong>OFERTAS EN EL MERCADO</strong>
        </ion-text>
      </ion-row>
      <ion-row
        class="ion-justify-content-center ion-margin-start ion-margin-end"
      >
        <swiper
          v-if="loadedOffers && products.length > 0"
          :pagination="true"
          :slides-per-view="2"
        >
          <swiper-slide v-for="(item, index) in products" :key="index">
            <ion-col class="ion-no-margin ion-no-padding">
              <product-card
                v-if="item !== undefined"
                :id="item.id"
                :name="item.product_name"
                :image="item.main_image"
                :currency="item.currency"
                :offerPrice="item.discount_price"
                :price="item.price"
                :item="item"
                :edit="false"
              ></product-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </swiper-slide>

          <swiper-slide>
            <ion-col class="ion-no-margin ion-no-padding">
              <more-card
                title="TODAS LAS OFERTAS"
                link="/marketplace/offers"
                src="assets/img/tarjeta_ofertas.png"
              ></more-card>
              <ion-row class="header-spacer-label"></ion-row>
            </ion-col>
          </swiper-slide>
        </swiper>
      </ion-row>

      <!-- TIENDAS -->

      <ion-row class="ion-no-margin" style="background-color: white">
        <swiper
          clas="ion-margin"
          v-if="stores && stores.length > 0"
          :pagination="false"
          :slides-per-view="3"
        >
          <swiper-slide v-for="(item, index) in stores" :key="index">
            <ion-img
              :src="item.logo"
              class="store-logo ion-padding"
              @click="
                item && item.allow_navigation
                  ? $router.push('/marketplace/profile/' + item.store_subdomain)
                  : ''
              "
            ></ion-img>
          </swiper-slide>
        </swiper>
      </ion-row>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonButton,
  IonText,
  IonImg,
  alertController,
  getPlatforms,
} from "@ionic/vue";
import { defineComponent, ref } from "vue";
import api from "../../api";
import { mapGetters } from "vuex";
import OneSignal from "onesignal-cordova-plugin";
import { useRouter } from "vue-router";

import { Swiper, SwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";
import "swiper/css/pagination";

// import Swiper core and required modules
import SwiperCore, { Pagination } from "swiper/core";

// install Swiper modules
SwiperCore.use([Pagination]);

import { AppUpdate } from "@robingenz/capacitor-app-update";
// import { LocalNotifications } from '@capacitor/local-notifications';

export default defineComponent({
  name: "Assistant",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonButton,
    IonText,
    IonCol,
    IonImg,
    Swiper,
    SwiperSlide,
  },
  setup() {
    const slideOpts = {
      initialSlide: 0,
      loop: false,
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
        clickable: true,
      },
    };
    const productOptsSingle = {
      initialSlide: 0,
      loop: false,
      autoHeight: true,
      centeredSlides: false,
      watchOverflow: true,
    };
    const storeOpts = {
      initialSlide: 0,
      loop: false,
      spaceBetween: 2,
      autoHeight: true,
      breakpoints: {
        // when window width is >= 320px
        320: {
          slidesPerView: 3,
        },
        // when window width is >= 600px
        600: {
          slidesPerView: 4,
        },
      },
    };
    const productOpts = {
      initialSlide: 0,
      loop: false,
      spaceBetween: 1,
      autoHeight: true,
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
        clickable: true,
        // bulletActiveClass: ".bullet-active"
      },
      breakpoints: {
        // when window width is >= 320px
        320: {
          slidesPerView: 2,
        },
        // when window width is >= 480px
        600: {
          slidesPerView: 3,
        },
        // when window width is >= 640px
        800: {
          slidesPerView: 4,
        },
        // when window width is >= 900px
        1000: {
          slidesPerView: 5,
        },
        1200: {
          slidesPerView: 6,
        },
      },
    };

    const router = useRouter();

    const presentNotificationAlert = async (message) => {
      const alert = await alertController.create({
        header: "¡Activa las notificaciones!",
        message:
          "Este dispositivo no es el que tienes registrado para recibir notificaciones. ¿Quieres activarlo? Presiona REGISTRAR para ir a editar tu perfil. Al Guardar los cambios, tendrás este dispositivo como registrado.",
        buttons: [
          {
            text: "Cancelar",
            role: "cancel",
            handler: () => {
              console.log(message);
            },
          },
          {
            text: "Registrar",
            handler: () => {
              console.log(message);
              router.push("/profile/edit");
            },
          },
        ],
      });
      return alert.present();
    };

    const currentVersion = ref(null);
    const availableVersion = ref(null);
    const updateAvailability = ref(null);

    const getCurrentAppVersion = async () => {
      const result = await AppUpdate.getAppUpdateInfo();
      console.log("App Version:", JSON.stringify(result));
      currentVersion.value = result.currentVersion;
      availableVersion.value = result.availableVersion;
      updateAvailability.value = result.updateAvailability;

      if (
        !isNaN(availableVersion.value) &&
        parseInt(availableVersion.value) > parseInt(currentVersion.value)
      ) {
        if (
          confirm(
            "Hay una actualización disponible en la Play Store. Por favor actualiza para gozar de todos los beneficios de Odontoenlace"
          )
        ) {
          window.location.href =
            "https://play.google.com/store/apps/details?id=com.odontoenlace";
        } else {
          console.log("Actualizar app fue cancelada.");
        }
      }
      return result.currentVersion;
    };

    // const getCurrentNotificationsPermissions = async () => {
    //   const result = await LocalNotifications.checkPermissions();
    //   console.log('App Notifications Permissions:', JSON.stringify(result));
    // };

    return {
      productOpts,
      slideOpts,
      storeOpts,
      productOptsSingle,
      presentNotificationAlert,
      getCurrentAppVersion,
      // getCurrentNotificationsPermissions,
      currentVersion,
      availableVersion,
      updateAvailability,
    };
  },
  data: () => ({
    storeSlides: [
      {
        image: "assets/img/slide2.png",
      },
    ],
    products: [],
    stores: [],
    favorites: [],
    starred: [],
    defaultCategory: [],
    query: "",
    isLoading: false,
    loadedStarred: false,
    loadedOffers: false,
    accessTokenWatcher: null,
    appointments: [],
    playerId: null,
  }),
  computed: {
    ...mapGetters(["getAccessToken", "getUser"]),
  },
  mounted() {},
  ionViewDidEnter() {
    this.loadHomeSlides();

    if (getPlatforms().includes("capacitor")) {
      console.info("From ionViewDidEnter, Platform is capacitor");

      OneSignal.setAppId("0621d600-f4ef-4c27-a2cd-08a335aeea4b");

      // Get current device Player ID

      OneSignal.getDeviceState((stateChanges) => {
        console.log(
          "OneSignal getDeviceState: " + JSON.stringify(stateChanges)
        );
        if (stateChanges && stateChanges.hasNotificationPermission) {
          this.playerId = stateChanges.userId;
          console.log("This device Player ID: " + this.playerId);
          console.log("Current user:", this.getUser);

          if (stateChanges.userId != this.getUser.player_id) {
            this.presentNotificationAlert();
          }
        } else {
          this.openToast(
            "Activa las notificaciones en ajustes de la aplicación en Android para que puedas recibir notificaciones de mensajes",
            "primary"
          );
        }
      });

      // Get app version only on mobile devices
      this.getCurrentAppVersion();

      // Get app notifications permissions
      // this.getCurrentNotificationsPermissions();
    } else {
      console.info("From ionViewDidEnter, Platform is not capacitor");

      // Get current device Player ID

      window.OneSignal.getUserId((userId) => {
        this.playerId = userId;
        console.log("This device Player ID: " + userId);
        console.log("Current user:", this.getUser);
        if (userId != this.getUser.player_id) {
          this.presentNotificationAlert();
        }
      });
    }

    if (
      this.getUser &&
      (!this.getUser.tax_id ||
        !this.getUser.tax_id_letter ||
        !this.getUser.phone)
    ) {
      if (
        confirm(
          "Por favor completa tu perfil indicando cédula y teléfono para gozar de todos los beneficios de Odontoenlace"
        )
      ) {
        this.$router.push("/profile/edit");
      } else {
        console.log("Actualizar perfil fue cancelado.");
      }
    }
  },
  methods: {
    loadHomeSlides() {
      this.listStarred();
      this.listOffers();
      this.loadAppointments();
      this.listStores();
    },
    listOffers() {
      this.isLoading = true;
      api
        .get("products/offers/9", {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          while (this.products.length > 0) {
            this.products.pop();
          }
          Object.assign(this.products, response.data);
          this.loadedOffers = true;
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    listStores() {
      this.isLoading = true;
      api
        .get("stores/list", {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          while (this.stores.length > 0) {
            this.stores.pop();
          }
          Object.assign(this.stores, response.data);
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },

    listStarred() {
      this.isLoading = true;
      var starred = this.starred;
      api
        .get("products/starred/10", {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          Object.assign(starred, response.data);
          this.loadedStarred = true;
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    loadAppointments() {
      this.isLoading = true;

      api
        .get("appointments/mine/today", {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);

          // Emptying array on enter

          while (this.appointments.length) {
            this.appointments.pop();
          }

          response.data.forEach((appointment) => {
            this.appointments.push(appointment);
          });
        })
        .catch(function (error) {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
  },
});
</script>

<style scoped src="../../theme/style.css"></style>

<style scoped lang="scss">
.div-patients {
  background: white;
  width: 100%;
  padding-top: 16px;
  margin-bottom: 16px;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .name {
    margin: 0;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #4f4d4d;
  }
  .phone {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #302f2f;
  }
  .place {
    margin: 0;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    color: #302f2f;
  }
}
.bullet-active {
  background: #15c5a8 !important;
}
.tab-buttons {
  padding: 0 9px;
  ion-button {
    font-size: 10px;
    min-height: 2.2em;
    text-transform: capitalize;
  }
}

.swiper-pagination {
  bottom: -5px !important;
}

ion-input {
  background-color: white;
}

h3 {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: bold;
}

.store-logo {
  height: 110px;
}
</style>