<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-row
        @click="patient = null"
        class="ion-justify-content-center header-label ion-margin"
      >
        <ion-text color="light">
          <strong>Pacientes</strong>
        </ion-text>
      </ion-row>

      <ion-row v-if="patient">
        <ion-col size="1" style="text-align: right" @click="patient = null">
          <ion-icon :icon="chevronBackOutline"></ion-icon
        ></ion-col>
        <ion-col
          size="11"
          style="text-align: left"
          @click="
            patient = null;
            showTratamiento = false;
          "
        >
          <ion-label size="small">Volver a pacientes</ion-label>
        </ion-col>
      </ion-row>

      <div v-if="!patient && listPatients && listPatients.length > 0">
        <ion-row
          class="store-card ion-margin"
          v-for="(item, index) in listPatients"
          :key="index"
        >
          <ion-col>
            <div class="div-paciente" @click="selectPatient(item)">
              <!-- <div class="left">
                <img :src="item.profile_image" />
              </div> -->
              <ion-thumbnail
                  style="--size: 4rem; --border-radius: 50%; margin-top: 0.6rem"
                >
                  <ion-img
                    :src="item.profile_image"
                  ></ion-img>
                </ion-thumbnail>
              <div class="right">
                <p class="title">{{ item.name }} {{ item.last_name }}</p>
                <p class="sub-title">
                  {{
                    item.date_of_birth
                      ? new Date().getYear() -
                        new Date(item.date_of_birth).getYear() +
                        " años"
                      : "Sin fecha de nacimiento"
                  }}
                  {{ item.tax_id ? '- C.I.: ' + item.tax_id : "" }}
                </p>
                <p class="sub-title">{{ item.state }}, {{ item.location }}</p>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <ion-row v-if="patient" class="store-card ion-margin">
        <ion-col>
          <div class="div-paciente">
            <!-- <div class="left">
              <img :src="patient.profile_image" />
            </div> -->
            <ion-thumbnail
                  style="--size: 4rem; --border-radius: 50%; margin-top: 0.6rem"
                >
                  <ion-img
                    :src="patient.profile_image"
                  ></ion-img>
                </ion-thumbnail>
            <div class="right">
              <p class="title">{{ patient.name }} {{ patient.last_name }}</p>
              <p class="sub-title">
                {{
                  patient.date_of_birth
                    ? (new Date()).getYear() - (new Date(patient.date_of_birth)).getYear() + ' años'
                    : "Actualiza la Ficha Personal"
                }}
                {{ patient.tax_id ? '- C.I.: ' + patient.tax_id : "" }}
              </p>
              <p class="sub-title">
                {{ patient.state }}, {{ patient.location }}
              </p>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row v-if="patient && !showTratamiento" class="tab-buttons">
        <!-- <ion-col size="6"> -->
        <!-- <ion-button
            color="primary"
            expand="block"
            size="small" @click="getChat(patient)">
             Mensaje
          </ion-button> -->
        <!-- </ion-col > -->
        <ion-col size="6">
          <ion-button
            @click="showTratamiento = true"
            style="--background: #257a8b"
            expand="block"
            size="small"
          >
            Tratamiento
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button
            color="secondary"
            expand="block"
            size="small"
            @click="setPatientAndGoToAppointments(patient)"
          >
            Nueva cita
          </ion-button>
        </ion-col>
      </ion-row>
      <div
        v-if="patient && !showTratamiento"
        class="store-card ion-margin"
        style="padding: 0 8px"
      >
        <div class="div-segments">
          <div
            class="div-seg"
            @click="segTool = 'info'"
            v-bind:class="{ 'div-seg-active': segTool == 'info' }"
          >
            Información
          </div>
          <div
            class="div-seg"
            @click="segTool = 'tratamiento'"
            v-bind:class="{ 'div-seg-active': segTool == 'tratamiento' }"
          >
            Tratamientos
          </div>
          <!-- <div class="div-seg" @click="segTool = 'indicaciones'" v-bind:class="{ 'div-seg-active': segTool == 'indicaciones'}">
            Indicaciones
          </div>
          <div class="div-seg" @click="segTool = 'exam'" v-bind:class="{ 'div-seg-active': segTool == 'exam'}">
            Exámenes
          </div> -->
          <div
            class="div-seg"
            @click="segTool = 'next'"
            v-bind:class="{ 'div-seg-active': segTool == 'next' }"
          >
            Prox. cita
          </div>
        </div>
        <div class="div-seg-content" v-if="segTool == 'info'">
          <div v-if="!patient.date_of_birth || !patient.tax_id" class="seg-title">Ficha personal</div>
          <div v-if="!patient.date_of_birth || !patient.tax_id" class="seg-desc">
            <ion-button
            color="light"
            size="block"
            @click="showUpdatePersonalInformation = true"
            class="ion-margin-bottom"
            >{{"Actualizar Ficha Personal"}}</ion-button>
          </div>
          <div class="seg-title">Historia familiar</div>
          <div class="seg-desc">
            <ion-row
              v-for="history in this.patient.family_history"
              :key="history.id"
            >
              <ion-col size="12">
                <ion-item
                  lines="none"
                  class="ion-no-margin ion-no-padding"
                  style="--inner-padding-end: 0px"
                >
                  {{
                    history.family_history_parenthood +
                    ": " +
                    history.family_history_medical +
                    (history.family_history_notes &&
                    history.family_history_notes != "null"
                      ? " - " + history.family_history_notes
                      : "")
                  }}
                  <ion-icon slot="end" :src="closeOutline" @click="removeFamilyHistory(history)"></ion-icon>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
          
          <ion-button
            color="light"
            size="block"
            @click="showNewFamilyHistoryModal = true"
            class="ion-margin-bottom"
            >{{(patient.family_history && patient.family_history.length > 0) ? "Agregar otro antecedente familiar" : "Agregar antecedente familiar"}}</ion-button>
          <div class="seg-title">Historia personal</div>
          
          <div class="seg-desc">
            <ion-button
            color="light"
            size="block"
            @click="showUpdatePersonalHistory = true"
            class="ion-margin-bottom"
            >{{"Actualizar antecedente personal"}}</ion-button>
            
            
          </div>
        </div>
        <div class="div-seg-content" v-if="segTool == 'tratamiento'">
          <ion-row v-for="(item, index) in patient.treatments" :key="index">
            <ion-col size="4">
              <p
                class="seg-desc"
                style="margin: 0; display: inline-flex; font-size: 10px"
              >
                <ion-icon
                  style="font-size: 18px"
                  color="success"
                  :icon="checkmark"
                ></ion-icon
                >{{
                  new Date(item.treatment_date).toLocaleDateString("es-VE", {
                    year: "numeric",
                    month: "numeric",
                    day: "numeric",
                  })
                }}
              </p>
            </ion-col>
            <ion-col size="7">
              <div class="seg-title">
                {{ item.name }}
              </div>
              <div class="seg-desc">
                {{ item.notes }}
              </div>
              <div v-if="item.location && item.location != 'null'" class="seg-desc-bottom">
                {{ item.location }}
              </div>
            </ion-col>
            <ion-col size="1">
              <ion-icon :src="closeOutline" @click="hideTreatment(item)"></ion-icon>
            </ion-col>
          </ion-row>
        </div>
        <div class="div-seg-content" v-if="segTool == 'indicaciones'">
          <ion-row>
            <ion-col size="4">
              <p
                class="seg-desc"
                style="margin: 0; display: inline-flex; font-size: 10px"
              >
                <ion-icon
                  style="font-size: 18px"
                  color="success"
                  :icon="checkmark"
                ></ion-icon>
                ##/##/####
              </p>
            </ion-col>
            <ion-col size="8">
              <div class="seg-title">
                Nombre de la indicación o recomendación
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <p
                class="seg-desc"
                style="margin: 0; display: inline-flex; font-size: 10px"
              >
                <ion-icon
                  style="font-size: 18px"
                  color="success"
                  :icon="checkmark"
                ></ion-icon>
                ##/##/####
              </p>
            </ion-col>
            <ion-col size="8">
              <div class="seg-title">
                Nombre de la indicación o recomendación
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <p
                class="seg-desc"
                style="margin: 0; display: inline-flex; font-size: 10px"
              >
                <ion-icon
                  style="font-size: 18px"
                  color="success"
                  :icon="checkmark"
                ></ion-icon>
                ##/##/####
              </p>
            </ion-col>
            <ion-col size="8">
              <div class="seg-title">
                Nombre de la indicación o recomendación
              </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="div-seg-content" v-if="segTool == 'exam'">
          <ion-row>
            <ion-col size="4">
              <p
                class="seg-desc"
                style="margin: 0; display: inline-flex; font-size: 10px"
              >
                <ion-icon
                  style="font-size: 18px"
                  color="success"
                  :icon="checkmark"
                ></ion-icon>
                ##/##/####
              </p>
            </ion-col>
            <ion-col size="8">
              <div class="seg-title">Nombre del examen complementario</div>
              <div class="seg-desc-bottom">Nombre del servicio</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <p
                class="seg-desc"
                style="margin: 0; display: inline-flex; font-size: 10px"
              >
                <ion-icon
                  style="font-size: 18px"
                  color="success"
                  :icon="checkmark"
                ></ion-icon>
                ##/##/####
              </p>
            </ion-col>
            <ion-col size="8">
              <div class="seg-title">Nombre del examen complementario</div>
              <div class="seg-desc-bottom">Nombre del servicio</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <p
                class="seg-desc"
                style="margin: 0; display: inline-flex; font-size: 10px"
              >
                <ion-icon
                  style="font-size: 18px"
                  color="success"
                  :icon="checkmark"
                ></ion-icon>
                ##/##/####
              </p>
            </ion-col>
            <ion-col size="8">
              <div class="seg-title">Nombre del examen complementario</div>
              <div class="seg-desc-bottom">Nombre del servicio</div>
            </ion-col>
          </ion-row>
        </div>
        <div class="div-seg-content" v-if="segTool == 'next'">
          <ion-row
            v-for="appointment in this.patient.appointments"
            :key="appointment.id"
          >
            <ion-col size="4">
              <p
                class="seg-desc"
                style="margin: 0; display: inline-flex; font-size: 10px"
              >
                <ion-icon
                  style="font-size: 18px"
                  color="success"
                  :icon="checkmark"
                ></ion-icon>
                {{ new Date(appointment.appointment_date).toLocaleDateString()
                }}<br />{{
                  new Date(appointment.appointment_date).toLocaleTimeString()
                }}
              </p>
            </ion-col>
            <ion-col size="8">
              <div class="seg-title" v-if="appointment && appointment.notes">
                {{ appointment.notes }}
              </div>
              <div
                class="seg-desc-bottom"
                v-if="appointment && appointment.office"
              >
                {{ appointment.office.office_name }}
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <div v-if="showTratamiento" class="ion-padding">
        <div class="div-tratamiento">
          <ion-row class="ion-justify-content-center subtext-label">
            <ion-text color="light">
              <strong>NUEVO TRATAMIENTO REALIZADO</strong>
            </ion-text>
          </ion-row>
          <ion-input
            style="margin-top: 10px !important"
            v-model="treatment_name"
            name="treatment_name"
            placeholder="Ingresa el nombre del tratamiento"
          ></ion-input>
          <ion-datetime
            v-model="treatment_date"
            locale="es-VE"
            class="ion-no-padding"
            presentation="date"
            :max="new Date().toISOString()"
          >
          </ion-datetime>
          <ion-select
            v-if="getUser && getUser.offices && getUser.offices.length > 0"
            style="margin-top: 10px !important; --padding-start: 6px"
            ok-text="Listo"
            cancel-text="Cancelar"
            placeholder="Lugar"
            v-model="treatment_location"
          >
            <ion-select-option
              v-for="(item, index) in getUser.offices"
              :key="index"
              :value="item.id"
              >{{ item.office_name }}</ion-select-option
            >
          </ion-select>
          <ion-textarea
            rows="3"
            style="margin-top: 10px"
            name="notes"
            v-model="treatment_notes"
            placeholder="Ingresa el detalle de la cita"
          ></ion-textarea>
          <!-- <ion-button color="secondary" fill="outline" expand="block">
            Agregar Foto
          </ion-button> -->
          <ion-button
            color="secondary"
            expand="block"
            @click="addTreatment"
            :disabled="
              !treatment_name ||
              !treatment_notes ||
              !treatment_date ||
              !treatment_location
            "
          >
            Guardar
          </ion-button>
          <ion-button
            color="medium"
            expand="block"
            @click="showTratamiento = false"
          >
            Cancelar
          </ion-button>
        </div>
      </div>
      <vue-final-modal
        v-model="showNewFamilyHistoryModal"
        classes="modal-container"
        content-class="modal-content"
        :click-to-close="false"
        :esc-to-close="false"
      >
        <span class="modal__title">Introduce el nuevo antecedente familiar</span>
        <div class="modal__content">
          <ion-select
            v-model="family_history_parenthood"
            ok-text="Listo"
            cancel-text="Cancelar"
            placeholder="Seleccione el familiar"
          >
            <ion-select-option>Padre</ion-select-option>
            <ion-select-option>Madre</ion-select-option>
            <ion-select-option>Abuelo Paterno</ion-select-option>
            <ion-select-option>Abuela Paterna</ion-select-option>
            <ion-select-option>Abuelo Materno</ion-select-option>
            <ion-select-option>Abuela Materna</ion-select-option>
          </ion-select>
          <ion-select
            v-model="family_history_medical"
            ok-text="Listo"
            cancel-text="Cancelar"
            placeholder="Seleccione el antecedente"
          >
            <ion-select-option v-for="history in this.personal_history.filter((h) => {return h.type == 'medical' && h.input == 'check'})" :key="history.label">{{history.label}}</ion-select-option>
            <ion-select-option>Otro</ion-select-option>
          </ion-select>
          <ion-textarea
            placeholder="Notas"
            v-model="family_history_notes"
          ></ion-textarea>
        </div>
        <ion-button
          expand="block"
          color="secondary"
          @click="
            () => {
              showNewFamilyHistoryModal = false;
            }
          "
          >Cancelar</ion-button
        >
        <ion-button
            color="light"
            size="block"
            :disabled="!medicalHistoryIsSet"
            @click="addFamilyHistory"
            >{{"Guardar antecedente"}}</ion-button>
      </vue-final-modal>

      <!-- Actualizar Ficha Personal -->

      <vue-final-modal
        v-model="showUpdatePersonalInformation"
        classes="modal-container"
        content-class="modal-content"
        :click-to-close="false"
        :esc-to-close="false"
      >
        <span class="modal__title">Actualiza los datos personales</span>
        <div class="modal__content">
          <ion-datetime v-model="birth_date" locale="es-VE" presentation="date">

          </ion-datetime>
          <ion-row>
            <ion-col size="2">
              <ion-select
                    v-model="tax_id_letter"
                    ok-text="Listo"
                    cancel-text="Cancelar"
                    placeholder="#"
                  >
                    <ion-select-option
                      v-for="(item, index) in taxTypeIds"
                      :key="index"
                      :value="item.abbreviation"
                    >
                      {{ item.abbreviation }}
                    </ion-select-option>
                  </ion-select>
            </ion-col>
            <ion-col size="10">
              <ion-input
              placeholder="Cédula"
              v-model="tax_id"
              type="number"
              ></ion-input>
            </ion-col>
          </ion-row>
          
        </div>
        <ion-button
          expand="block"
          color="secondary"
          @click="
            () => {
              showUpdatePersonalInformation = false;
            }
          "
          >Cancelar</ion-button
        >
        <ion-button
            color="light"
            size="block"
            :disabled="!personalInformationIsSet"
            @click="updatePersonalInformation"
            >{{"Guardar datos personales"}}</ion-button>
      </vue-final-modal>

      <!-- Actualizar Antecedente Personal -->

      <vue-final-modal
        v-model="showUpdatePersonalHistory"
        classes="modal-container"
        content-class="modal-content"
        :click-to-close="false"
        :esc-to-close="false"
      >
        <span class="modal__title">Actualiza los antecedentes personales</span>
        <div class="modal__content">
          <div class="seg-desc">
          <ul class="ion-no-padding">
              <div
                v-for="history in this.personal_history.filter((h) => {
                  return h.type == 'medical' && h.input == 'check';
                })"
                :key="history.label"
              >
                <ion-item lines="none" class="history-item"
                  ><ion-checkbox
                    :modelValue="history.value"
                    @update:modelValue="history.value = $event"
                    slot="start"
                    class="ion-no-margin"
                    style="margin-end: 4px;"
                  ></ion-checkbox
                  ><ion-label class="ion-text-wrap">{{ history.label }}</ion-label></ion-item
                >
              </div>
            </ul>
            <div
              v-for="history in this.personal_history.filter((h) => {
                return h.type == 'medical' && h.input == 'text';
              })"
              :key="history.label"
              class="ion-no-padding"
            >
                <ion-input
                  :v-model="history.value"
                  :value="history.value"
                  @keyup="updatePersonalHistoryTextInpunt($event, history)"
                  :placeholder="history.placeholder"
                ></ion-input>
            </div>
            <ion-item-divider class="ion-text-center" style="width: 100%">
              <ion-label>Hábitos</ion-label>
            </ion-item-divider>
            <ul class="ion-no-padding">
              <div
                v-for="history in this.personal_history.filter((h) => {
                  return h.type == 'habits' && h.input == 'check';
                })"
                :key="history.label"
              >
                <ion-item lines="none" class="history-item"
                  ><ion-checkbox
                    :modelValue="history.value"
                    @update:modelValue="history.value = $event"
                    slot="start"
                    class="ion-no-margin ion-margin-end"
                  ></ion-checkbox
                  ><ion-label class="ion-text-wrap">{{ history.label }}</ion-label></ion-item
                >
              </div>
            </ul>
          </div>
        </div>
        <ion-button
          expand="block"
          color="secondary"
          @click="
            () => {
              showUpdatePersonalHistory = false;
            }
          "
          >Cancelar</ion-button
        >
        <ion-button
            color="light"
            size="block"
            @click="updatePersonalHistory">{{"Guardar antecedente personal"}}</ion-button>
      </vue-final-modal>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonText,
  IonLabel,
  IonIcon,
  IonButton,
  IonInput,
  IonSelect,
  IonSelectOption,
  IonTextarea,
  IonDatetime,
  IonItem,
  IonCheckbox,
  IonItemDivider,
  IonImg,
    IonThumbnail,
  toastController,
  alertController
} from "@ionic/vue";
import { defineComponent, ref, reactive } from "vue";
import { mapGetters } from "vuex";
import api from "../../api";

import taxTypeIds from "../../assets/json/idType";

import { checkmark, chevronBackOutline, closeOutline } from "ionicons/icons";
import firebase from "../../Firebase";

export default defineComponent({
  name: "patients",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonText,
    IonLabel,
    IonIcon,
    IonButton,
    IonInput,
    IonSelect,
    IonSelectOption,
    IonTextarea,
    IonDatetime,
    IonItem,
    IonCheckbox,
    IonItemDivider,
    IonImg,
    IonThumbnail
  },
  setup() {
    const isLoading = ref(false);

    const openToast = async (message) => {
      const toast = await toastController.create({
        message: message,
        position: "top",
        duration: 3000,
        color: "danger",
      });
      return toast.present();
    };

    const presentAlertConfirm = async (message) => {
      const alert = await alertController.create({
        header: "Ha ocurrido un error",
        message:
          "Sentimos mucho lo sucedido. Puedes presionar Cancelar e intentar de nuevo o Reportar este error y ayudarnos a mejorar",
        buttons: [
          {
            text: "Cancelar",
            role: "cancel",
            handler: () => {
              console.log(message);
            },
          },
          {
            text: "Reportar",
            handler: () => {
              console.log(message);
              window.location.href =
                "mailto:soporte@odontoenlace.com?subject=Reporte&body=" +
                message.substring(0, 1000);
            },
          },
        ],
      });
      return alert.present();
    };

    const personal_history = reactive([
      {
        label: "Diabetes",
        value: false,
        type: "medical",
        input: "check",
      },
      {
        label: "Asma",
        value: false,
        type: "medical",
        input: "check",
      },
      {
        label: "Hipertension",
        value: false,
        type: "medical",
        input: "check",
      },
      {
        label: "Hepatitis",
        value: false,
        type: "medical",
        input: "check",
      },
      {
        label: "Epilepsia",
        value: false,
        type: "medical",
        input: "check",
      },
      {
        label: "Cancer",
        value: false,
        type: "medical",
        input: "check",
      },
      {
        label: "Mononucleosis",
        value: false,
        type: "medical",
        input: "check",
      },
      {
        label: "ECV",
        value: false,
        type: "medical",
        input: "check",
      },
      {
        label: "F. Amarilla",
        value: false,
        type: "medical",
        input: "check",
      },
      {
        label: "Enf. Tiroidea",
        value: false,
        type: "medical",
        input: "check",
      },
      {
        label: "Enf. Cardiovascular",
        value: false,
        type: "medical",
        input: "check",
      },
      {
        label: "VIH/SIDA",
        value: false,
        type: "medical",
        input: "check",
      },
      {
        label: "Trastornos Psicológicos",
        value: false,
        type: "medical",
        input: "check",
      },
      {
        label: "Insuficiencia Renal",
        value: false,
        type: "medical",
        input: "check",
      },
      {
        label: "Embarazo / Lactancia",
        value: false,
        type: "medical",
        input: "check",
      },
      {
        label: "Anticonceptivos",
        value: false,
        type: "medical",
        input: "check",
      },
      {
        label: "Otro",
        value: false,
        type: "medical",
        input: "text",
        placeholder: "Indica el otro antecedente",
      },
      {
        label: "Toma algún medicamento",
        value: false,
        type: "medical",
        input: "text",
        placeholder: "Indica el tratamiento y psología",
      },
      {
        label: "Alergias",
        value: false,
        type: "medical",
        input: "text",
        placeholder: "Indica la alergia",
      },
      {
        label: "Paciente fumador",
        value: false,
        type: "medical",
        input: "text",
        placeholder: "Indica cuantos cigarrillos fuma al día",
      },
      {
        label: "Bruxismo",
        value: false,
        type: "habits",
        input: "check",
      },
      {
        label: "Usa Palillos",
        value: false,
        type: "habits",
        input: "check",
      },
      {
        label: "Onicofagia",
        value: false,
        type: "habits",
        input: "check",
      },
      {
        label: "Muerde objetos con los dientes",
        value: false,
        type: "habits",
        input: "check",
      },
      {
        label: "Queilofagia",
        value: false,
        type: "habits",
        input: "check",
      },
    ]);

    return {
      checkmark,
      chevronBackOutline,
      isLoading,
      closeOutline,
      personal_history,
      openToast,
      taxTypeIds,
      presentAlertConfirm
    };
  },
  data: () => ({
    family_history_parenthood: null,
    family_history_medical: null,
    family_history_notes: null,
    listPatients: [],
    showNewFamilyHistoryModal: false,
    showUpdatePersonalHistory: false,


    birth_date: null,
    tax_id_letter: null,
    tax_id: null,

    showUpdatePersonalInformation: false,
    storeSlides: [
      {
        image: "assets/img/slide2.png",
      },
    ],
    showTratamiento: false,
    query: "",
    segTool: "info",
    patient: null,
    treatment_name: null,
    treatment_notes: null,
    treatment_location: null,
    treatment_date: null,
    ref1: firebase.firestore().collection("chatrooms/"),
  }),
  computed: {
    ...mapGetters(["getUser", "getAccessToken"]),
    medicalHistoryIsSet() {
      var isHistorySet = false;

      if (this.family_history_medical && this.family_history_parenthood) {
        if (this.family_history_medical == "Otro") {
          if (
            this.family_history_notes &&
            this.family_history_notes.length > 3
          ) {
            isHistorySet = true;
          }
        } else {
          isHistorySet = true;
        }
      }

      return isHistorySet;
    },
    personalInformationIsSet() {
      var isPersonalSet = false;
      if (this.tax_id_letter && this.tax_id && this.tax_id.length >= 6 && this.birth_date){
        isPersonalSet = true;
      }
      return isPersonalSet;
    }
  },
  mounted() {},
  updated() {},
  ionViewDidEnter() {
    console.log("Entrando a la lista de Pacientes...");
    this.loadPatients();
  },
  methods: {
    loadPatients() {
      this.isLoading = true;
      api
        .get("patients/mine", {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response, this.idPatient);
          this.listPatients = response.data;

          this.listPatients = this.listPatients.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0));

          if (this.$route.params.id) {
            console.log("Selected Patient: " + this.$route.params.id);

            for (const iterator of this.listPatients) {
              if (iterator.id == this.$route.params.id) {
                console.log("here");
                this.patient = iterator;
              }
            }
          } else {
            console.log("Selected Patient was not set");
          }
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    segmentChanged(ev) {
      console.log(ev);
    },
    selectPatient(item) {
      this.patient = item;
      if (item.personal_history){
        console.log(item.personal_history);
        Object.assign(this.personal_history, JSON.parse(item.personal_history));
      } else {
        this.personal_history.forEach((e) => {e.value = false});
      }
    },
    addTreatment() {
      this.isLoading = true;

      let treatmentObject = new FormData();

      treatmentObject.append("patient_id", this.patient.id);
      treatmentObject.append("name", this.treatment_name);
      treatmentObject.append("notes", this.treatment_notes);
      treatmentObject.append("treatment_date", this.treatment_date);
      treatmentObject.append("office_id", this.treatment_location);

      api
        .post("patients/treatments/create", treatmentObject, {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          this.patient.treatments.push(response.data);
          this.showTratamiento = false;
        })
        .catch(function (error) {
          console.log(error);
          alert(JSON.stringify(error));
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    
    addFamilyHistory() {
      this.isLoading = true;

      let historyObject = new FormData();

      historyObject.append("patient_id", this.patient.id);
      historyObject.append(
        "family_history_parenthood",
        this.family_history_parenthood
      );
      historyObject.append(
        "family_history_medical",
        this.family_history_medical
      );
      historyObject.append("family_history_notes", this.family_history_notes);

      api
        .post("history/familiar/create", historyObject, {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          this.patient.family_history.push(response.data);
          this.family_history_parenthood = null;
          this.family_history_medical = null;
          this.family_history_notes = null;
          this.showNewFamilyHistoryModal = false;
        })
        .catch(function (error) {
          console.log(error);
          alert(JSON.stringify(error));
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    removeFamilyHistory(item){
      this.isLoading = true;
      
      const historyObject = new FormData();
      historyObject.append("id", item.id);
      
      api
        .post("history/familiar/remove", historyObject, {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          const index = this.patient.family_history.findIndex(el => el.id === item.id);
          this.patient.family_history.splice(index, 1);
        })
        .catch((error) => {
          console.log(error);
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            this.openToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            this.presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    hideTreatment(item){
      this.isLoading = true;
      
      const treatmentObject = new FormData();
      treatmentObject.append("id", item.id);
      
      api
        .post("patients/treatments/hide", treatmentObject, {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          const index = this.patient.treatments.findIndex(el => el.id === item.id);
          this.patient.treatments.splice(index, 1);
        })
        .catch((error) => {
          console.log(error);
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            this.openToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            this.presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    updatePersonalHistory() {
      this.isLoading = true;

      let historyObject = new FormData();

      historyObject.append("patient_id", this.patient.id);
      historyObject.append(
        "personal_history",
        JSON.stringify(this.personal_history)
      );

      api
        .post("history/personal/update", historyObject, {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          this.showUpdatePersonalHistory = false;
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            this.openToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            this.presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    updatePersonalInformation() {
      this.isLoading = true;

      let patientObject = new FormData();

      patientObject.append("patient_id", this.patient.id);
      patientObject.append("date_of_birth",(new Date(this.birth_date)).toISOString());
      patientObject.append("tax_id_letter",this.tax_id_letter);
      patientObject.append("tax_id",this.tax_id);

      api
        .post("patients/information/update", patientObject, {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          this.patient.date_of_birth = this.birth_date;
          this.patient.tax_id = this.tax_id;
          this.showUpdatePersonalInformation = false;
        })
        .catch((error) => {
          console.log(error);
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            this.openToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            this.presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    createChatRoom(val) {
      this.ref1
        .add({
          user1: this.getUser.id,
          user2: val.id,
          userName1: this.getUser.name + " " + this.getUser.last_name,
          userName2: val.name + " " + val.last_name,
          profileImage1: this.getUser.profile_image,
          profileImage2: val.profile_image,
          messages: [],
          playerId1: this.getUser.player_id,
          playerId2: val.player_id,
          receiverPlayerId: val.player_id,
        })
        .then((docRef) => {
          console.log("Document written with ID: ", docRef.id);
          this.$router.push("/chat/" + docRef.id);
        })
        .catch((error) => {
          console.error("Error adding document: ", error);
        });
    },
    updatePersonalHistoryTextInpunt(event, item){
      // console.log(event, item);
      const index = this.personal_history.findIndex(el => el.label === item.label);
      this.personal_history[index].value = event.target.value;
    },

    setPatientAndGoToAppointments(patient){
      this.$store.commit('setCurrentPatient', patient);
      this.$router.push('/assistant/schedule')
    },

    getChat(val) {
      // Aviso de que no esta disponible aun el chat entre pacientes
      if (val) {
        alert("Próximamente podrás conversar con tus pacientes por esta vía");
        return;
      }

      if (!val.player_id) {
        alert(
          val.name +
            " no ha activado su cuenta en Odontoenlace por lo que no podrás enviarle mensajes privados"
        );
        return;
      }

      this.isLoading = true;

      console.log(val, this.getUser.id, val.id);
      this.$store.commit("setChatReceiver", val);
      this.ref1
        .where("user1", "==", this.getUser.id)
        .where("user2", "==", val.id)
        .get()
        .then((doc) => {
          if (doc.empty) {
            this.ref1
              .where("user2", "==", this.getUser.id)
              .where("user1", "==", val.id)
              .get()
              .then((doc2) => {
                if (doc2.empty) {
                  console.log("create new chatroom");
                  this.createChatRoom(val);
                } else {
                  doc2.forEach((doc21) => {
                    // doc.data() is never undefined for query doc snapshots
                    console.log(doc21.id, " => ");

                    this.isLoading = false;

                    this.$router.push("/chat/" + doc21.id);
                    return;
                  });
                }
              })
              .catch((error) => {
                console.log("Error getting document:", error);
              })
              .finally(() => {
                this.isLoading = false;
              });
          } else {
            doc.forEach((doc1) => {
              // doc.data() is never undefined for query doc snapshots
              console.log(doc1.id, " => ");
              this.$router.push("/chat/" + doc1.id);
              return;
            });
          }
        })
        .catch((error) => {
          console.log("Error getting document:", error);
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
  },
  // created() {
  //   console.log(this.$route.query);

  // }
});
</script>

<style scoped src="../../theme/style.css">
</style>

<style scoped>
.logo {
  padding: 5%;
  height: 100%;
}
ion-select {
  margin-bottom: 4px !important;
  padding: 4px;
  margin: 4px 0px;
}


.history-item::part(native){
  padding-left: 0px !important;
  --inner-padding-start: 0px !important;
  --padding-start: 0px !important;
}
</style>

<style scoped>
::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
.modal__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
}
</style>

<style scoped  lang="scss">
.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}
.tab-buttons {
  padding: 0 9px;
  ion-button {
    font-size: 10px;
    min-height: 2.2em;
    text-transform: capitalize;
  }
}
.div-seg-content {
  margin-bottom: 16px;
  padding: 8px;
}
.seg-desc-bottom {
  font-weight: 300;
  font-size: 13px;
  color: #041e51;
}
.seg-desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #4f4d4d;
}

.seg-desc > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}
.seg-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #041e51;
}
.div-segments {
  display: inline-flex;
  width: 100%;
  height: 21px;
  border-bottom: 1px solid #041e51;
  .div-seg {
    font-size: 9.5px;
    padding: 0 5px;
    text-align: center;
    width: inherit;
  }
  .div-seg-active {
    border-bottom: 3px solid #041e51;
    transition: 0.3s ease-in-out;
  }
}
.div-tratamiento {
  padding: 15px 16px;
  background: white;
  margin-top: -12px;
}
.div-paciente {
  width: 100%;
  display: inline-flex;
  align-content: center;
  align-items: center;
  .left {
    width: 25%;
    display: flex;
    img {
      width: 100%;
      border-radius: 50%;
      margin: auto;
      padding: 6px;
    }
  }
  .right {
    padding-left: 8px;
    width: 75%;
    .title {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #302f2f;
      margin: 0;
    }
    .sub-title {
      font-weight: 300;
      font-size: 13px;
      line-height: 18px;
      color: #302f2f;
      margin: 0;
    }
  }
}
</style>

<style lang="postcss" scoped>
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  display: none;
}
/deep/ .custom-calendar.vc-container {
  --day-border: 1px solid #b8c2cc;
  --day-border-highlight: 1px solid #b8c2cc;
  --day-width: 90px;
  --day-height: 90px;
  --weekday-bg: #f8fafc;
  --weekday-border: 1px solid #eaeaea;
  border-radius: 0;
  width: 100%;
  & .vc-header {
    background-color: #f1f5f8;
    padding: 10px 0;
  }
  & .vc-weeks {
    padding: 0;
  }
  & .vc-weekday {
    background-color: var(--weekday-bg);
    border-bottom: var(--weekday-border);
    border-top: var(--weekday-border);
    padding: 5px 0;
  }
  & .vc-day {
    padding: 0 5px 3px 5px;
    text-align: left;
    height: var(--day-height);
    min-width: var(--day-width);
    background-color: white;
    &.weekday-1,
    &.weekday-7 {
      background-color: #eff8ff;
    }
    &:not(.on-bottom) {
      border-bottom: var(--day-border);
      &.weekday-1 {
        border-bottom: var(--day-border-highlight);
      }
    }
    &:not(.on-right) {
      border-right: var(--day-border);
    }
  }
  & .vc-day-dots {
    margin-bottom: 5px;
  }
}
</style>