<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-row class="ion-justify-content-center header-label ion-margin">
        <ion-text color="light">
          <strong>AGENDA</strong>
        </ion-text>
      </ion-row>
      <ion-row class="store-card ion-justify-content-center ion-margin">
        <ion-col class="ion-align-self-center ion-no-padding">
          <Calendar
            locale="es"
            class="custom-calendar max-w-full"
            :attributes="newArray"
            :masks="masks"
            disable-page-swipe
            is-expanded
            v-model="dateToday"
            @dayclick="showSelectedDate"
          >
          </Calendar>
        </ion-col>
      </ion-row>
      <ion-row class="store-card ion-margin">
        <ion-col>
          <ion-list>
            <ion-item
              v-if="selectedDate || appointment_date"
              lines="none"
              button
              @click="flagDates"
            >
              <ion-label>
                <h3>
                  Horarios del <br />
                  {{ selectedDate.ariaLabel || formatDate(appointment_date) }}
                </h3>
              </ion-label>
              <ion-icon
                v-if="!isflagDates"
                :icon="chevronDown"
                slot="end"
              ></ion-icon>
              <ion-icon
                v-if="isflagDates"
                :icon="chevronUp"
                slot="end"
              ></ion-icon>
            </ion-item>
            <div v-if="isflagDates">
              <ion-item v-for="(item, index) in rangeDates" :key="index">
                <ion-label>
                  <p>{{ item.hour > 12 ? item.hour - 12 : item.hour }} {{item.ampm}}</p>
                </ion-label>
                <ion-badge v-if="item.take" color="danger">Ocupado</ion-badge>
                <ion-button
                  v-if="!item.take && checkDay"
                  fill="outline"
                  slot="end"
                  @click="addSchedule(item, selectedDate)"
                  >Reservar</ion-button
                >
              </ion-item>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row
        class="store-card ion-margin"
        :style="isflagDates ? 'margin-bottom: 82px;' : ''"
      >
        <ion-col>
          <ion-list
            class="ion-margin-top"
            style="margin-top: 2px; margin-bottom: 22px"
          >
            <ion-list-header class="ion-padding-end" v-if="false">
              Próximo Espacio Disponible
              {{
                selectedDate && Object.keys(selectedDate).length > 0
                  ? selectedDate.isToday
                    ? "para hoy"
                    : "para el " + selectedDate.ariaLabel
                  : ""
              }}</ion-list-header
            >

            <ion-list-header>
              {{
                appointmentsForSelectedDate &&
                appointmentsForSelectedDate.length > 0
                  ? "Pacientes"
                  : "No hay pacientes"
              }}
              {{
                selectedDate && Object.keys(selectedDate).length > 0
                  ? selectedDate.isToday
                    ? "para hoy"
                    : "para el " + selectedDate.ariaLabel
                  : ""
              }}
            </ion-list-header>

            <ion-item
              v-for="(item, index) in appointmentsForSelectedDate"
              :key="index"
            >
              <ion-label  @click="seeUserDetail(item)">
                <h2>{{ item.customData ? item.customData.patient_name : ''}}</h2>
                <h3>{{ new Date(item.dates).toLocaleTimeString('es-VE', {hour: '2-digit', minute:'2-digit'}) }}</h3>
                <p>{{ item.customData ? item.customData.notes : ''}}</p>
              </ion-label>
              <ion-button slot="end" size="small" color="danger" expand="block" class="ion-margin-start" style="font-size: 0.7rem; margin-bottom: 10px;" @click="removeAppointment(item)">ELIMINAR</ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-content>
    <vue-final-modal
      v-model="showAddEventModal"
      classes="modal-container"
      content-class="modal-content"
      :click-to-close="false"
      :esc-to-close="true"
    >
      <span class="modal__title">Nueva Cita</span>
      <div class="modal__content">
        <p>
          Ingresa la hora para la fecha seleccionada ({{
            new Date(appointment_date).toLocaleDateString("es-VE", {
              weekday: "long",
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }}) y los datos solicitados.
        </p>
        <ion-item lines="none" class="item-form-input">
          <ion-label @click="openDatePicker()">
          Hora: {{
              new Date(this.appointment_date).toLocaleTimeString()
            }}
          </ion-label>
        </ion-item>

        <ion-input
          v-model="patient_name"
          name="patient_name"
          placeholder="Ingresa el nombre del paciente"
        >
        </ion-input>
        <ion-row v-if="!patient_name">
          <small>Introduce el nombre de tu paciente</small>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="ion-no-padding">
            <ion-select style="--margin-start: 4px" placeholder="Código" v-model="country_area_code">
              <ion-select-option value="+58412">0412</ion-select-option>
              <ion-select-option value="+58414">0414</ion-select-option>
              <ion-select-option value="+58424">0424</ion-select-option>
              <ion-select-option value="+58416">0416</ion-select-option>
              <ion-select-option value="+58426">0426</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="8" class="ion-no-padding">
         <ion-input
          v-model="patient_phone"
          autocomplete="false"
          name="patient_phone"
          role="presentation"
          maxlength="7"
          minlength="7"
          pattern="[0-9]{4}-[0-9]{3}-[0-9]{4}"
          placeholder="Ingresa el teléfono del paciente"
          type="tel"
        >
        </ion-input>
          </ion-col>
        </ion-row>
        <ion-row v-if="!validPhoneNumber">
          <small>Introduce un teléfono válido</small>
        </ion-row>
        <ion-input
          style="margin-top: 10px !important"
          v-model="patient_email"
          autocomplete="false"
          name="patient_email"
          role="presentation"
          placeholder="Ingresa el correo del paciente"
        >
        </ion-input>
        <ion-textarea
          style="margin-top: 10px"
          v-model="notes"
          name="notes"
          placeholder="Ingresa el detalle de la cita"
        ></ion-textarea>
        <ion-row v-if="!notes">
          <small>Introduce detalles de la cita</small>
        </ion-row>
        <ion-select 
          v-if="getUser && getUser.offices && getUser.offices.length > 0"
          style="margin-top: 10px !important; --padding-start: 6px;"
          ok-text="Listo"
          cancel-text="Cancelar"
          placeholder="Lugar"
          v-model="selected_office"
        >
          <ion-select-option v-for="(item, index) in getUser.offices" :key="index" :value="item.id">{{item.office_name}}</ion-select-option>
        </ion-select>
        <ion-button v-else expand="block" @click="$router.push('/profile/edit/offices')">Agregar Consultorio</ion-button>
        <ion-row v-if="!selected_office">
          <small>Selecciona un consultorio</small>
        </ion-row>
      </div>

      <ion-button
        style="margin-top: 18px"
        expand="block"
        color="danger"
        @click="closeSchedule"
        >Cancelar</ion-button
      >
      <ion-button
        expand="block"
        color="secondary"
        @click="submit"
        :disabled="
          !patient_name || !notes || !appointment_date || !validPhoneNumber || !selected_office
        "
        >Confirmar</ion-button
      >
    </vue-final-modal>
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button @click="showAddEventModal = true">
        <ion-icon :icon="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonText,
  IonItem,
  IonLabel,
  IonList,
  IonListHeader,
  toastController,
  // IonFabButton,
  IonIcon,
  // IonFab,
  IonButton,
  IonBadge,
  IonInput,
  IonTextarea,
  IonSelect,
  IonSelectOption,
  pickerController,
  alertController,
} from "@ionic/vue";
import { defineComponent } from "vue";
import api from "../../api";
import { ref, reactive } from "vue";
import dayjs from "dayjs";
import "dayjs/locale/es";
dayjs.locale("es");
import { mapGetters } from "vuex";
import { add, chevronDown, chevronUp } from "ionicons/icons";

export default defineComponent({
  name: "Schedule",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonText,
    IonItem,
    IonLabel,
    IonList,
    IonListHeader,
    // IonFabButton,
    IonIcon,
    // IonFab,
    IonButton,
    IonBadge,
    IonInput,
    IonTextarea,
    IonSelect,
    IonSelectOption
  },
  setup() {
    const isLoading = ref(false);
    const showAddEventModal = ref(false);
    const masks = {
      weekdays: "WWW",
    };

    const month = new Date().getMonth();
    const year = new Date().getFullYear();

    const appointments = [
      {
        dot: true,
        customData: {
          patient_name: "Almuerzo",
        },
        dates: new Date(year, month, 1),
      },
      {
        dot: true,
        customData: {
          patient_name: "Almuerzo 2",
        },
        dates: new Date(year, month, 1),
      },
    ];

    const showConfirmModal = ref(false);

    const openToast = async (message, color) => {
      const toast = await toastController.create({
        message: message,
        position: "top",
        duration: 3000,
        color: color,
      });
      return toast.present();
    };

    const presentAlertConfirm = async (message) => {
      const alert = await alertController.create({
        header: "Ha ocurrido un error",
        message:
          "Sentimos mucho lo sucedido. Puedes presionar Cancelar e intentar de nuevo o Reportar este error y ayudarnos a mejorar",
        buttons: [
          {
            text: "Cancelar",
            role: "cancel",
            handler: () => {
              console.log(message);
            },
          },
          {
            text: "Reportar",
            handler: () => {
              console.log(message);
              window.location.href =
                "mailto:soporte@odontoenlace.com?subject=Reporte&body=" +
                message.substring(0, 1000);
            },
          },
        ],
      });
      return alert.present();
    };

    return {
      openToast,
      showConfirmModal,
      masks,
      isLoading,
      appointments,
      month,
      year,
      showAddEventModal,
      add,
      chevronDown,
      chevronUp,
      presentAlertConfirm,
    };
  },
  data: () => ({
    minDate: "",
    dateToday: new Date(),
    newArray: [],
    isflagDates: false,
    appointment_date: null,
    selectedDate: reactive({}),
    patient_name: "",
    patient_email: "",
    patient_phone: "",
    notes: "",
    country_area_code: "",
    selected_office: null,
    rangeDates: [
      {
        id: 1,
        hour: 8,
        ampm: 'a. m.'
      },
      {
        id: 2,
        hour: 9,
        ampm: 'a. m.'
      },
      {
        id: 3,
        hour: 10,
        ampm: 'a. m.'
      },
      {
        id: 4,
        hour: 11,
        ampm: 'a. m.'
      },
      {
        id: 5,
        hour: 12,
        ampm: 'p. m.'
      },
      {
        id: 6,
        hour: 13,
        ampm: 'p. m.'
      },
      {
        id: 7,
        hour: 14,
        ampm: 'p. m.'
      },
      {
        id: 8,
        hour: 15,
        ampm: 'p. m.'
      },
      {
        id: 9,
        hour: 16,
        ampm: 'p. m.'
      },
      {
        id: 10,
        hour: 17,
        ampm: 'p. m.'
      },
      {
        id: 11,
        hour: 18,
        ampm: 'p. m.'
      },
      {
        id: 12,
        hour: 19,
        ampm: 'p. m.'
      },
      {
        id: 13,
        hour: 20,
        ampm: 'p. m.'
      },
      {
        id: 14,
        hour: 21,
        ampm: 'p. m.'
      },
    ],
  }),
  computed: {
    ...mapGetters(["getUser", "getAccessToken", "getCurrentPatient"]),
    validPhoneNumber(){
      let phone_number = this.patient_phone;

      if (phone_number && phone_number.length && this.country_area_code && this.country_area_code.length){
        if(phone_number.length == 7 && /^\d+$/.test(phone_number)){
          return true;
        } else {
          return false;
        }
      }
      return false;
    },
    appointmentsForSelectedDate() {
      console.log('appointmentsForSelectedDate', this.newArray);
      
      return this.newArray.filter((element) => {
        return (
          (this.selectedDate.id ==
          new Date(element.dates).toISOString().split("T")[0]) && element.highlight == false
        );
      });
    },
    getFormatDate() {
      if (this.appointment_date) {
        const aux = new Date(this.appointment_date);
        
        return (
          aux.getFullYear() +
          "-" +
          ("0" + (aux.getMonth() + 1)).slice(-2) +
          "-" +
          ("0" + aux.getUTCDate()).slice(-2) +
          " " +
          ("0" + aux.getHours()).slice(-2) +
          ":" +
          ("0" + aux.getMinutes()).slice(-2)
        );
      } else {
        return "";
      }
    },
    checkDay() {
      if (this.selectedDate) {
        const dateAux = new Date(
          this.selectedDate.year,
          this.selectedDate.month - 1,
          this.selectedDate.day,
        );
        
        dateAux.setHours((new Date()).getHours());
        
        const today = new Date();
        
        console.log('Selected date: ' + dateAux);
        console.log('Today: ' + today);
        
        if (dateAux >= today) {
          return true;
        } else if (dateAux.getMonth() == today.getMonth() && dateAux.getDay() == today.getDay()) {
          return true;
        } else {
          return false;
        }
      } else {
        return false;
      }
    },
    attributes() {
      console.log("s>>this.attributes");
      return this.newArray.map((data) => ({
        dot: true,
        customData: {
          patient_name: data.customData.patient_name,
        },
        dates: data.dates,
      }));
    },
  },
  ionViewDidEnter() {
    console.log("Entrando a la Agenda...");
    this.loadAppointments();
  },
  mounted() {},
  created() {
    const aux = new Date();
    this.minDate =
      aux.getFullYear() +
      "-" +
      ("0" + (aux.getMonth() + 1)).slice(-2) +
      "-" +
      ("0" + aux.getUTCDate()).slice(-2);
    this.appointment_date = new Date();
    const auxD = {
      day: this.appointment_date.getDate(),
      month: this.appointment_date.getMonth() + 1,
    };
    this.newEntries(auxD);
  },
  methods: {
    loadAppointments() {
      this.isLoading = true;

      api
        .get("appointments/mine", {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);

          // Emptying array on enter

          while (this.newArray.length) {
            this.newArray.pop();
          }

          response.data.forEach((appointment) => {
            const dateAux = new Date(appointment.appointment_date);
            console.log(appointment);
            const aux = {
              id: appointment.id,
              dentist_id: appointment.dentist_id,
              dot: true,
              customData: appointment,
              dates: dateAux,
              highlight: false,
            };
            console.log(aux);
            this.newArray.push(aux);

            const entryDate = new Date(appointment.appointment_date);
            this.$forceUpdate();
            const auxD = {
              day: entryDate.getDate(),
              month: entryDate.getMonth() + 1,
            };
            this.newEntries(auxD);
          });
          this.appointment_date = new Date();
          this.appointment_date.id = (this.appointment_date).toISOString().split('T')[0];
          this.appointment_date.isToday = true;
          this.appointment_date.day = this.appointment_date.getDate();
          this.appointment_date.month = this.appointment_date.getMonth() + 1;
          this.appointment_date.year = this.appointment_date.getFullYear();
          this.showSelectedDate(this.appointment_date);
        })
        .catch((error) => {
          console.log(error);
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            this.openToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            this.presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          this.newArray.push({
            key: 'today',
            highlight: true,
            dates: new Date(),
          });
          this.isLoading = false;
        });
    },

    showSelectedDate(ev) {
      Object.assign(this.selectedDate, ev);
      this.appointment_date = ev.id + "T00:00:00";
      // console.log(JSON.stringify(ev, null, 2));
      this.newEntries(ev);
    },
    newEntries(ev) {
      this.rangeDates.forEach((itax) => {
        itax.take = false;
      });
      // console.log(this.newArray);
      this.newArray.forEach((element) => {
        const auxDate = new Date(element.dates);

        // console.log(ev.day, auxDate.getDate());
        // console.log(ev.month, auxDate.getMonth());

        this.rangeDates.forEach((itax) => {

          // console.log(itax.hour, auxDate.getHours());

          if (
            ev.day == auxDate.getDate() &&
            ev.month == auxDate.getMonth() + 1 &&
            itax.hour == auxDate.getHours()
          ) {
            itax.take = true;
          }
        });
      });
    },

    flagDates() {
      this.isflagDates = !this.isflagDates;
    },
    reloadFlags() {
      this.rangeDates.forEach((itax) => {
        itax.take = false;
      });
      this.newArray.forEach((element) => {
        const auxDate = new Date(element.dates);
        this.rangeDates.forEach((itax) => {
          if (itax.hour == auxDate.getHours()) {
            itax.take = true;
          }
        });
      });
    },
    addSchedule(item, day) {
      console.log(item, day);
      // new Date(year, monthIndex, day, hours, minutes);
      const dateAux = (new Date(day.year, day.month - 1, day.day, item.hour, 0)).toISOString();
      this.appointment_date = dateAux;
      console.log('Fecha y hora seleccionada:', dateAux);
      this.showAddEventModal = true;

      const currentPatient = this.getCurrentPatient;

      if (currentPatient && currentPatient.name){
        this.patient_name = currentPatient.name + (currentPatient.last_name ? (' ' + currentPatient.last_name) : '');
        this.patient_email = currentPatient.email;
        this.patient_phone = (currentPatient.phone && currentPatient.phone.length >= 8) ? currentPatient.phone.slice(-7) : '';
        this.country_area_code = (currentPatient.phone && currentPatient.phone.indexOf('+') >= 0) ? currentPatient.phone.slice(0, 6) : '';
      }
    },

    async closeSchedule() {
      this.showAddEventModal = false;
    },
    formatDate(dateString) {
      const date = dayjs(dateString);
      // Then specify how you want your dates to be formatted
      return date.format("dddd MMMM D, YYYY");
    },

    toIsoString(date) {
      var tzo = -date.getTimezoneOffset(),
          dif = tzo >= 0 ? '+' : '-',
          pad = function(num) {
              return (num < 10 ? '0' : '') + num;
          };

      return date.getFullYear() +
          '-' + pad(date.getMonth() + 1) +
          '-' + pad(date.getDate()) +
          'T' + pad(date.getHours()) +
          ':' + pad(date.getMinutes()) +
          ':' + pad(date.getSeconds()) +
          dif + pad(Math.floor(Math.abs(tzo) / 60)) +
          ':' + pad(Math.abs(tzo) % 60);
    },

    async submit() {
      console.log("this.appointments");
      const email = new RegExp(
        "^([a-zA-Z0-9_\\-\\.]+)@([a-zA-Z0-9_\\-\\.]+)\\.([a-zA-Z]{2,5})$"
      );

      // Validate if a email was introduced
      if (this.patient_email && this.patient_email.length){
        if (!email.test(this.patient_email)) {
          alert("Ingrese un email valido o deje el campo en blanco");
          return;
        }
      }
      
      this.isLoading = true;
      const userObject = new FormData();

      userObject.append("patient_name", this.patient_name);
      userObject.append("patient_phone", this.country_area_code + this.patient_phone);

      if (this.patient_email && this.patient_email.length){
        userObject.append("patient_email", this.patient_email);
      } 
      
      userObject.append("notes", this.notes);
      // userObject.append("appointment_date", new Date(this.appointment_date).toISOString());
      userObject.append("appointment_date", this.toIsoString(new Date(this.appointment_date)));
      userObject.append("office_id", this.selected_office);

      let appointment = {
        dot: true,
        customData: {
          patient_name: this.patient_name,
          notes: this.notes,
        },
        dates: this.appointment_date,
        highlight: false
      };

      // Hiding the modal so the loader spinner would be shown
      this.showAddEventModal = false;

      api
        .post("appointments/create", userObject, {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {

          const entryDate = new Date(this.appointment_date);

          // Adding id to created appointment so it can be deleted
          appointment.id = response.data.id;
          this.newArray.push(appointment);

          console.log(this.newArray);
        

          const auxD = {
            day: entryDate.getDate(),
            month: entryDate.getMonth() + 1,
          };
          this.newEntries(auxD);

          this.patient_name = null;
          this.patient_email = null;
          this.notes = null;
          this.appointment_date = null;
          this.patient_phone = null;
          this.country_area_code = null;

          console.log(response);
          this.showAddEventModal = false;

          this.openToast('¡Cita creada con éxito!', null);
          
        })
        .catch((error) => {
          console.log(error);
          this.patient_name = null;
          this.patient_email = null;
          this.notes = null;
          this.appointment_date = null;
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            this.openToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            this.presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          this.isLoading = false;
          this.$forceUpdate();
        });
    },
    seeUserDetail(item) {
      console.log(item);
      this.$router.push("/assistant/patients/" + item.customData.patient.id);
    },
    removeAppointment(item){
      this.isLoading = true;
      
      const appointmentObject = new FormData();
      appointmentObject.append("id", item.id);
      
      api
        .post("appointments/remove", appointmentObject, {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          const index = this.newArray.findIndex(el => el.id === item.id);
          this.newArray.splice(index, 1);
        })
        .catch((error) => {
          console.log(error);
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            this.DateopenToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            this.presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    async openDatePicker() {
      const picker = await pickerController.create({
        columns: [
          {
            name: "hour",
            options: [...Array(12).keys()].map((e) => {
              return { text: e + 1, value: e + 1 };
            }),
          },
          {
            name: "minute",
            options: [...Array(60).keys()].map((e) => {
              return { text: e.toString().padStart(2, '0'), value: e };
            }),
          },
          {
            name: "hour12",
            options: [
              { text: "a.m.", value: 0 },
              { text: "p.m.", value: 12 },
            ],
          },
        ],
        buttons: [
          {
            text: "Cancelar",
            role: "cancel",
          },
          {
            text: "Aceptar",
            handler: (value) => {
              console.log('DateTime value from picker', value);

              let date = new Date(this.appointment_date);

              date.setHours(value.hour.value + value.hour12.value);
              date.setMinutes(value.minute.value);

              
              this.appointment_date = date;

              console.log('DateTime value to register', this.appointment_date);
            },
          },
        ],
      });
      await picker.present();
    },
  },
});
</script>

<style scoped src="../../theme/style.css">
</style>

<style scoped>
.logo {
  padding: 5%;
  height: 100%;
}
ion-select {
  margin-bottom: 4px !important;
  padding: 4px;
  margin: 4px 0px;
}
</style>

<style scoped>
::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
.modal__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
}
</style>

<style scoped>
.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}
</style>

<style lang="postcss" scoped>
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  display: none;
}
/deep/ .custom-calendar.vc-container {
  --day-border: 1px solid #b8c2cc;
  --day-border-highlight: 1px solid #b8c2cc;
  --day-width: 90px;
  --day-height: 90px;
  --weekday-bg: #f8fafc;
  --weekday-border: 1px solid #eaeaea;
  border-radius: 0;
  width: 100%;
  & .vc-header {
    background-color: #f1f5f8;
    padding: 10px 0;
  }
  & .vc-weeks {
    padding: 0;
  }
  & .vc-weekday {
    background-color: var(--weekday-bg);
    border-bottom: var(--weekday-border);
    border-top: var(--weekday-border);
    padding: 5px 0;
  }
  & .vc-day {
    padding: 0 5px 3px 5px;
    text-align: left;
    height: var(--day-height);
    min-width: var(--day-width);
    background-color: white;
    &.weekday-1,
    &.weekday-7 {
      background-color: #eff8ff;
    }
    &:not(.on-bottom) {
      border-bottom: var(--day-border);
      &.weekday-1 {
        border-bottom: var(--day-border-highlight);
      }
    }
    &:not(.on-right) {
      border-right: var(--day-border);
    }
  }
  & .vc-day-dots {
    margin-bottom: 5px;
  }
}
</style>