ion-content {
    --background: #E5E5E5 !important;
    --padding-top: 8px !important;
}

.stars {
  --color: var(--secondary) !important;
  font-size: 1.25rem;
}

.header-label {
    background-color: #041e51;
    border-radius: 4px;
    padding: 6px;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 1em;
    text-transform: uppercase;
}

.header-label-constrast {
  background-color: white;
  border-radius: 4px;
  padding: 6px;
  font-family: 'Poppins';
  font-weight: 900;
  font-size: 1em;
  text-transform: uppercase;
}

.subtext-label {
  background-color: #041e51;
  border-radius: 4px;
  padding: 6px;
  font-family: 'Poppins';
  font-size: 14px;
  text-transform: uppercase;
}

ion-button {
    height: 2em !important;
    --border-radius: 4px !important;
}
  
ion-checkbox {
  --border-radius: 2px;
  --border-color: var(--ion-color-medium);
  --border-color-checked: var(--ion-color-secondary);
}

ion-textarea {
  --background: var(--ion-color-medium-light) !important;
  border-radius: 4px;
  --padding-top: 4px !important;
  --padding-bottom: 4px !important;
  --padding-start: 4px !important;
  font-size: 0.9em !important;
}

ion-input {
  --background: var(--ion-color-medium-light) !important;
  border-radius: 4px;
  --padding-top: 4px !important;
  --padding-bottom: 4px !important;
  --padding-start: 4px !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  font-size: 0.9em !important;
  box-shadow: 0px 3px 4px, rgb(0, 0, 0)
}

.item-form-input {
  --background: var(--ion-color-medium-light) !important;
  border-radius: 4px;
  --padding-top: 4px !important;
  --padding-bottom: 4px !important;
  --padding-start: 4px !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  font-size: 0.9em !important;
  box-shadow: 0px 3px 4px, rgb(0, 0, 0)
}

ion-datetime {
  background: var(--ion-color-medium-light) !important;
  border-radius: 4px;
  --padding-top: 4px !important;
  --padding-bottom: 4px !important;
  --padding-start: 4px !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  font-size: 0.9em !important;
  box-shadow: 0px 3px 4px, rgb(0, 0, 0)
}

.item-input {
  /* --background: var(--ion-color-medium-light) !important; */
  border-radius: 4px;
  --padding-top: 4px !important;
  --padding-bottom: 4px !important;
  --padding-start: 4px !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  font-size: 0.9em !important;
  box-shadow: 0px 3px 4px, rgb(0, 0, 0)  
}

input {
  background: var(--ion-color-medium-light) !important;
  background-color: var(--ion-color-medium-light) !important;
  --background: var(--ion-color-medium-light) !important;
  --background-color: var(--ion-color-medium-light) !important;
}

.no-patients-message {
  color: var(--ion-item-color, #737373);
}

.searchbox {
  --background: white !important;
  left: 0px;
  margin-right: 4px;
}
/* .sc-ion-input-ios-h {
    --pading-top: 4px !important;
    --pading-bottom: 4px !important;
} */

.ion-comments-card {
  text-align: center;
  border-radius: 4px;
  background: white !important;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

ion-select {
  background-color: var(--ion-color-medium-light);
  border-radius: 4px;
  min-width: 40%;
  font-size: 0.9rem;
}

.search-row {
  margin-top: 4px !important;
  margin-bottom: 12px !important;
}

.store-card {
    filter: drop-shadow(0px 2px 4px rgb(0, 0, 0, 0.09));
    background-color: white;
    margin-top: 3px !important;
    --padding-start: 2px !important;
    --padding-top: 2px !important;
    --padding-bottom: 2px !important;
    border-radius: 4px;
  }

  .textarea {
    background-color: lightgray;
    margin-top: 3px !important;
    --padding-start: 2px !important;
    --padding-top: 2px !important;
    --padding-bottom: 2px !important;
    border-radius: 4px;
  }  

  .background {
    --background: transparent !important;
    background-image: url('../assets/img/background.png') !important;
    background-size: cover;
    height: 100%;
}

  .img-square {
    width: 98%;
    padding-bottom: 98%;
    background-color: #E3E2E2;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }

  .long_square {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header-spacer-label {
    background-color: transparent;
    padding-top: 30px;
  }

  .header-spacer-label-half {
    background-color: transparent;
    padding-top: 15px;
  }  

  .remove-picture {
    line-height: 12px;
    width: 18px;
    font-size: 14pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:2;
    right:0;
}

.edit-picture {
  background-color: var(--ion-color-primary) !important;
  line-height: 11px;
  width: 15px;
  font-size: 0.75rem;
  font-family: Poppins;
  margin-top: 30%;
  margin-left: 0px;
  position:absolute;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  --placeholder-color: white;
  color: white;
  text-transform: uppercase;
}

.edit-picture-icon {
  line-height: 20px;
  width: 18px;
  font-size: 20pt;
  font-family: tahoma;
  margin-top: 0;
  margin-left: 0;
  position:absolute;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  --placeholder-coler: white;
  color: rgb(194, 194, 194);
}

.multiselect-general {
  --ms-bg: var(--ion-color-medium-light);
  --ms-border-color: var(--ion-color-medium-light);
  --ms-border-width: 0px;
  --ms-dropdown-bg: var(--ion-color-medium-light);
  --ms-bg-disabled: var(--ion-color-medium-light);
  --ms-group-label-bg: var(--ion-color-medium-light);
}

.multiselect-tags-search {
  background: var(--ion-color-medium-light) !important;
}

.select-disabled{
  opacity: 1 !important;
}

/* ion-select::part(icon) {
  opacity: 0;
} */

.button-inner::part(icon) {
  font-size: 100px;
}

ion-content::part(scroll) {
  padding-top: 0px !important;
}

::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
.modal__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
}

.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}
