// https://v3.vue-final-modal.org/guide/properties
<template>
  <ion-page>
    <ion-content
      :fullscreen="true"
      :scroll="true"
      :scroll-events="true"
      :force-overscroll="true"
      :scroll-y="true"
    >
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-row class="ion-justify-content-center header-label ion-margin">
        <ion-text color="light">
          <strong>MI PERFIL</strong>
        </ion-text>
      </ion-row>
      <ion-row class="store-card ion-justify-content-center ion-margin">
        <ion-col class="ion-align-self-center ion-no-padding">
          <div class="logo">
            <ion-row class="ion-justify-content-center ion-margin">
              <ion-thumbnail style="--size: 120px; --border-radius: 50%">
                <ion-img
                  :src="
                    image_file_canvas
                      ? image_file_canvas
                      : getUser
                      ? getUser.profile_image
                      : ''
                  "
                  @click="$refs.upload_profile_photo.click()"
                ></ion-img>
              </ion-thumbnail>
              <p>
                <small>Toca el círculo para cambiar tu foto de perfil</small>
              </p>
            </ion-row>

            <input
              type="file"
              id="upload_profile_photo"
              ref="upload_profile_photo"
              accept="image/*"
              @change="selectProfileImage()"
              style="display: none"
            />

            <ion-row class="tab-buttons">
              <ion-col>
                <ion-button
                  :color="selectedTab === 'personal' ? 'secondary' : 'medium'"
                  expand="block"
                  size="small"
                  @click="setSelectedTab('personal')"
                >
                  Personal
                </ion-button>
              </ion-col>
              <ion-col
                v-if="
                  getUser &&
                  getUser.user_roles &&
                  getUser.user_roles.indexOf('student') < 0
                "
                style="padding: 5px 0"
              >
                <ion-button
                  :color="
                    selectedTab === 'profesional' ? 'secondary' : 'medium'
                  "
                  expand="block"
                  size="small"
                  @click="setSelectedTab('profesional')"
                >
                  Profesional</ion-button
                >
              </ion-col>
              <ion-col>
                <ion-button
                  :color="selectedTab === 'laboral' ? 'secondary' : 'medium'"
                  expand="block"
                  size="small"
                  @click="setSelectedTab('laboral')"
                  >Laboral</ion-button
                >
              </ion-col>
            </ion-row>

            <template v-if="selectedTab === 'personal'">
              <ion-input
                v-model="name"
                name="name"
                placeholder="Nombre"
              ></ion-input>

              <ion-input
                v-model="last_name"
                name="last_name"
                placeholder="Apellido"
              ></ion-input>

              <ion-input
                v-model="email"
                name="email"
                placeholder="Correo electrónico"
              ></ion-input>

              <!-- <ion-input
                v-model="password"
                name="password"
                placeholder="Contraseña"
                type="password"
              ></ion-input>
              <ion-input
                v-model="confirm_password"
                name="confirm_password"
                placeholder="Confirmar Contraseña"
                type="password"
              ></ion-input> -->

              <ion-input
                v-model="phone"
                name="phone"
                placeholder="Teléfono"
              ></ion-input>

              <ion-button
                expand="true"
                color="secondary"
                @click="showNewPasswordModal = true"
                >Cambiar Contraseña</ion-button
              >

              <p>Información fiscal</p>

              <ion-row>
                <div style="width: 25%">
                  <ion-select
                    v-model="tax_id_letter"
                    ok-text="Listo"
                    cancel-text="Cancelar"
                    placeholder="#"
                  >
                    <ion-select-option
                      v-for="(item, index) in taxTypeIds"
                      :key="index"
                      :value="item.abbreviation"
                    >
                      {{ item.abbreviation }}
                    </ion-select-option>
                  </ion-select>
                </div>
                <div style="width: 75%; padding-left: 4px">
                  <ion-input
                    v-model="tax_id"
                    name="tax_id"
                    placeholder="Cédula de identidad"
                  ></ion-input>
                </div>
              </ion-row>

              <ion-select
                v-model="state"
                ok-text="Listo"
                cancel-text="Cancelar"
                placeholder="Estado"
              >
                <ion-select-option
                  v-for="(item, index) in states"
                  :key="index"
                  :value="item.estado"
                >
                  {{ item.estado }}
                </ion-select-option>
              </ion-select>

              <ion-select
                v-model="location"
                ok-text="Listo"
                cancel-text="Cancelar"
                placeholder="Municipio"
              >
                <ion-select-option
                  v-for="(item, index) in state
                    ? states.find((item) => item.estado == state).municipios
                    : []"
                  :key="index"
                  :value="item.municipio"
                >
                  {{ item.municipio }}
                </ion-select-option>
              </ion-select>

              <ion-textarea
                v-model="address"
                name="address"
                placeholder="Dirección"
              ></ion-textarea>

              <p>
                <strong>Importante:</strong> Estos datos solo serán aplicados
                durante el proceso de facturación de compras realizadas en el
                mercado en línea de Odontoenlace.
              </p>
            </template>

            <!--PROFESIONAL -->
            <template v-if="selectedTab === 'profesional'">
              <p>PREGRADO</p>
              <ion-select
                v-model="graduate_institute"
                ok-text="Listo"
                cancel-text="Cancelar"
                placeholder="¿Dónde te graduaste?"
                :interface-options="customUniversityAlertOptions"
              >
                <ion-select-option
                  v-for="(item, index) in getUniversities"
                  :key="index"
                  :value="item.value"
                >
                  {{ item.label }}
                </ion-select-option>
                <ion-select-option value="Otra">Otra</ion-select-option>
              </ion-select>

              <ion-row>
                <ion-input
                  type="text"
                  readonly
                  :placeholder="
                    graduate && graduate.id
                      ? graduate.degree_picture
                        ? 'Ver título'
                        : 'Muestranos tu título'
                      : 'Te pediremos luego foto de tu título'
                  "
                  @click="showDegreePicture(graduate)"
                />
                <input
                  type="file"
                  :name="
                    'title_image_' +
                    (graduate && graduate.id ? graduate.id : '')
                  "
                  :id="
                    'title_image_' +
                    (graduate && graduate.id ? graduate.id : '')
                  "
                  :ref="
                    'title_image_' +
                    (graduate && graduate.id ? graduate.id : '')
                  "
                  accept="image/*"
                  @click="preventClick($event)"
                  @change="selectTitleImage(graduate.id)"
                  style="display: none"
                />
                <ion-button
                  color="secondary"
                  size="small"
                  v-if="graduate && graduate.id"
                  @click="preventAndSendClick(graduate.id)"
                >
                  {{ graduate.degree_picture ? "Cambiar foto" : "Subir foto" }}
                </ion-button>
              </ion-row>

              <ion-input
                v-model="degree_national_number"
                name="numberCov"
                placeholder="Número de inscripción en el C.O.V."
              ></ion-input>

              <ion-input
                v-model="degree_local_number"
                name="numberCo"
                placeholder="Número de inscripción en el C.O. local"
              ></ion-input>

              <edit-profile-accordion :list="steps" ref="accordion">
                <template v-slot="sp">
                  <!-- Postgrado -->
                  <div v-if="sp.item.id == 'postgrado'">
                    <div v-for="(item, index) in postgraduate" :key="index">
                      <ion-item-divider
                        v-if="index > 0"
                        class="ion-text-center"
                      >
                        <ion-label> Postgrado {{ index + 1 }} </ion-label>
                      </ion-item-divider>
                      <input type="hidden" v-model="item.id" />
                      <ion-input
                        v-model="item.degree_title"
                        placeholder="Nombre de tu especialidad"
                      ></ion-input>

                      <ion-input
                        v-model="item.degree_custom_institute"
                        placeholder="¿Dónde te graduaste?"
                      ></ion-input>

                      <ion-row>
                        <ion-input
                          type="text"
                          readonly
                          :placeholder="
                            item && item.id
                              ? item.degree_picture
                                ? 'Ver título'
                                : 'Muestranos tu título'
                              : 'Te pediremos luego foto de tu título'
                          "
                          @click="showDegreePicture(item)"
                        />
                        <input
                          type="file"
                          :name="'title_image_' + item.id"
                          :id="'title_image_' + item.id"
                          :ref="'title_image_' + item.id"
                          accept="image/*"
                          @click="preventClick($event)"
                          @change="selectTitleImage(item.id)"
                          style="display: none"
                        />
                        <ion-button
                          color="secondary"
                          size="small"
                          v-if="item.id"
                          @click="preventAndSendClick(item.id)"
                        >
                          {{
                            item.degree_picture ? "Cambiar foto" : "Subir foto"
                          }}
                        </ion-button>
                      </ion-row>
                    </div>
                    <ion-button
                      color="light"
                      size="block"
                      @click="
                        postgraduate.push({
                          degree_title: '',
                          degree_custom_institute: '',
                          degree_picture: '',
                        })
                      "
                    >
                      Agregar otro postgrado
                    </ion-button>
                  </div>

                  <!--Diplomados-->
                  <div v-if="sp.item.id == 'certified'">
                    <div v-for="(item, index) in certified" :key="index">
                      <ion-item-divider
                        v-if="index > 0"
                        class="ion-text-center"
                      >
                        <ion-label> Diplomado {{ index + 1 }} </ion-label>
                      </ion-item-divider>
                      <input type="hidden" v-model="item.id" />
                      <ion-input
                        v-model="item.degree_title"
                        placeholder="Nombre del curso"
                      ></ion-input>

                      <ion-input
                        v-model="item.degree_custom_institute"
                        placeholder="¿Dónde te graduaste?"
                      ></ion-input>

                      <ion-row>
                        <ion-input
                          type="text"
                          readonly
                          :placeholder="
                            item && item.id
                              ? item.degree_picture
                                ? 'Ver título'
                                : 'Muestranos tu título'
                              : 'Te pediremos luego foto de tu título'
                          "
                          @click="showDegreePicture(item)"
                        />
                        <input
                          type="file"
                          :name="'title_image_' + item.id"
                          :id="'title_image_' + item.id"
                          :ref="'title_image_' + item.id"
                          accept="image/*"
                          @click="preventClick($event)"
                          @change="selectTitleImage(item.id)"
                          style="display: none"
                        />
                        <ion-button
                          color="secondary"
                          size="small"
                          v-if="item.id"
                          @click="preventAndSendClick(item.id)"
                        >
                          {{
                            item.degree_picture ? "Cambiar foto" : "Subir foto"
                          }}
                        </ion-button>
                      </ion-row>
                    </div>

                    <ion-button
                      color="light"
                      size="block"
                      @click="
                        certified.push({
                          degree_title: '',
                          degree_custom_institute: '',
                          degree_picture: '',
                        })
                      "
                    >
                      Agregar otro diplomado
                    </ion-button>
                  </div>

                  <!-- Cursos -->
                  <div v-if="sp.item.id == 'course'">
                    <div v-for="(item, index) in courses" :key="index">
                      <ion-item-divider
                        v-if="index > 0"
                        class="ion-text-center"
                      >
                        <ion-label> Curso {{ index + 1 }} </ion-label>
                      </ion-item-divider>
                      <input type="hidden" v-model="item.id" />
                      <ion-input
                        v-model="item.degree_title"
                        placeholder="Nombre del curso"
                      ></ion-input>

                      <ion-input
                        v-model="item.degree_custom_institute"
                        placeholder="¿Dónde te graduaste?"
                      ></ion-input>

                      <ion-row>
                        <ion-input
                          type="text"
                          readonly
                          :placeholder="
                            item && item.id
                              ? item.degree_picture
                                ? 'Ver título'
                                : 'Muestranos tu título'
                              : 'Te pediremos luego foto de tu título'
                          "
                          @click="showDegreePicture(item)"
                        />
                        <input
                          type="file"
                          :name="'title_image_' + item.id"
                          :id="'title_image_' + item.id"
                          :ref="'title_image_' + item.id"
                          accept="image/*"
                          @click="preventClick($event)"
                          @change="selectTitleImage(item.id)"
                          style="display: none"
                        />
                        <ion-button
                          color="secondary"
                          size="small"
                          v-if="item.id"
                          @click="preventAndSendClick(item.id)"
                        >
                          {{
                            item.degree_picture ? "Cambiar foto" : "Subir foto"
                          }}
                        </ion-button>
                      </ion-row>
                    </div>
                    <ion-button
                      color="light"
                      size="block"
                      @click="
                        courses.push({
                          degree_title: '',
                          degree_custom_institute: '',
                          degree_picture: '',
                        })
                      "
                    >
                      Agregar otro curso
                    </ion-button>
                  </div>

                  <!-- Redes sociales -->
                  <div v-if="sp.item.id == 'socialLink'">
                    <ion-input
                      v-model="instagram"
                      name="instagram"
                      placeholder="URL de tu perfil de Instagram profesional"
                    ></ion-input>
                    <ion-input
                      v-model="linkedin"
                      name="linkedin"
                      placeholder="URL de tu perfil de LinkedIn"
                    ></ion-input>
                    <ion-input
                      v-model="web"
                      name="web"
                      placeholder="URL de tu sitio web profesional"
                    ></ion-input>
                    <p>
                      <strong>Importante:</strong> Odontoenlace solo admitirá el
                      enlace a perfiles con contenido de caracter profesional.
                      El incumplimiento a esta condición resultará en la
                      eliminación permanente del enlace.
                    </p>
                  </div>
                </template>
              </edit-profile-accordion>
            </template>

            <!-- LABORAL -->
            <template v-if="selectedTab === 'laboral'">
              <div v-for="(office, idx) in offices" :key="idx">
                <ion-item-divider v-if="idx > 0" class="ion-text-center">
                  <ion-label> Consultorio {{ idx + 1 }} </ion-label>
                  <ion-icon
                    slot="end"
                    :src="closeOutline"
                    @click="hideOffice(office)"
                  >
                  </ion-icon>
                </ion-item-divider>
                <ion-input type="hidden" v-model="office.id"></ion-input>
                <ion-input
                  v-model="office.office_name"
                  placeholder="Nombre del consultorio"
                ></ion-input>

                <ion-input
                  readonly
                  :placeholder="calculateSchedule(office) ? calculateSchedule(office) : 'Disponibilidad y Horario'"
                  @click="showCurrentSchedule(idx)"
                >
                </ion-input>

                <ion-textarea
                  v-model="office.office_address"
                  placeholder="Dirección"
                ></ion-textarea>

                <ion-select
                  v-model="office.office_state"
                  ok-text="Listo"
                  cancel-text="Cancelar"
                  placeholder="Estado"
                >
                  <ion-select-option
                    v-for="(item, index) in states"
                    :key="index"
                    :value="item.estado"
                  >
                    {{ item.estado }}
                  </ion-select-option>
                </ion-select>

                <ion-select
                  v-model="office.office_location"
                  ok-text="Listo"
                  cancel-text="Cancelar"
                  placeholder="Municipio"
                >
                  <ion-select-option
                    v-for="(item, index) in state
                      ? states.find((item) => item.estado == state).municipios
                      : []"
                    :key="index"
                    :value="item.municipio"
                  >
                    {{ item.municipio }}
                  </ion-select-option>
                </ion-select>
              </div>
              <ion-button color="light" size="block" @click="addNewOffice">
                Agregar otro consultorio
              </ion-button>
            </template>

            <ion-button expand="block" color="secondary" @click="onSubmit"
              >GUARDAR</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center"
        ><ion-col class="ion-text-center"
          ><small
            >Odontoenlace 2022{{
              currentVersion
                ? " (Version: " +
                  currentVersion +
                  " - " +
                  availableVersion +
                  ")"
                : ""
            }}</small
          ></ion-col
        ></ion-row
      >
      <vue-final-modal
        v-model="showConfirmModal"
        classes="modal-container"
        content-class="modal-content"
        :click-to-close="false"
        :esc-to-close="false"
      >
        <span class="modal__title"
          >La información de tu perfil fue actualizada</span
        >
        <div class="modal__content">
          <p>
            La información que has suministrado puede ser auditada por tu
            seguridad.
          </p>
        </div>
        <ion-button
          expand="block"
          color="secondary"
          @click="
            () => {
              showConfirmModal = false;
              this.$router.push('/assistant/home');
            }
          "
          >Entendido</ion-button
        >
      </vue-final-modal>

      <vue-final-modal
        v-model="showNewPasswordModal"
        classes="modal-container"
        content-class="modal-content"
        :click-to-close="false"
        :esc-to-close="false"
      >
        <span class="modal__title">Introduce tu nueva contraseña</span>
        <div class="modal__content">
          <ion-input
            v-model="password"
            name="password"
            placeholder="Contraseña"
            type="password"
          ></ion-input>
          <ion-input
            v-model="confirm_password"
            name="confirm_password"
            placeholder="Confirmar Contraseña"
            type="password"
          ></ion-input>
        </div>
        <ion-button
          expand="block"
          color="secondary"
          @click="
            () => {
              showNewPasswordModal = false;
            }
          "
          >Cancelar</ion-button
        >
        <ion-button
          expand="block"
          color="primary"
          @click="requestPasswordChange"
          :disabled="password != confirm_password"
          >Aceptar</ion-button
        >
      </vue-final-modal>
      <ion-modal
        :is-open="showImageModal"
        @ionModalDidDismiss="setImageModalOpen(false)"
      >
        <div style="height: 100%">
          <cropper
            :src="image_file"
            ref="cropper"
            :auto-zoom="true"
            :canvas="{
              minHeight: 0,
              minWidth: 0,
              maxHeight: 500,
              maxWidth: 500,
            }"
            :stencil-props="{
              handlers: {},
              movable: false,
              scalable: false,
              aspectRatio: 1,
            }"
            :resize-image="{ adjustStencil: false }"
            image-restriction="stencil"
            style="height: 100%; background-color: white"
            @change="onImageCrop"
          ></cropper>
          <ion-button
            color="secondary"
            style="position: absolute; right: 4px; top: 4px"
            @click="setImageModalOpen(false)"
            >Listo</ion-button
          >
        </div>
      </ion-modal>
      <ion-modal
        :is-open="showDegreeModal"
        @ionModalDidDismiss="setDegreeModalOpen(false)"
      >
        <div style="height: 100%">
          <ion-button
            color="secondary"
            style="position: absolute; right: 4px; top: 4px; z-index: 10"
            @click="setDegreeModalOpen(false)"
            >Listo</ion-button
          >
          <inner-image-zoom :src="degreePreviewImage" />
        </div>
      </ion-modal>
      <ion-modal
        :is-open="showScheduleModal"
        @ionModalDidDismiss="setScheduleModalOpen(false)"
        style="--background: #e5e5e5 !important"
      >
        <div
          style="
            height: 100%;
            --background: #e5e5e5 !important;
            background: #e5e5e5 !important;
          "
        >
          <ion-item lines="none" class="ion-margin-bottom">
            <ion-button
              slot="end"
              color="secondary"
              @click="setCurrentSchedule()"
              >Listo</ion-button
            >
          </ion-item>

          <div
            class="store-card ion-margin"
            style="max-height: 95vh; overflow-y: scroll"
          >
            <ion-button
              class="ion-margin"
              expand="block"
              color="secondary"
              @click="resetSchedule"
              >Ajustar Lun - Sab, 08:00 am - 05:00 pm
            </ion-button>
            <div v-for="(item, index) in current_schedule" :key="index">
              <ion-item class="ion-no-margin" lines="none">
                <ion-label slot="start"><strong>{{ item.label }}</strong></ion-label>
                <ion-checkbox
                  slot="end"
                  @update:modelValue="item.active = $event"
                  :modelValue="item.active"
                  :checked="item.active"
                ></ion-checkbox>
              </ion-item>
              <ion-list v-if="item.active" lines="none" class="ion-no-margin">
                
                <ion-item class="ion-no-margin" lines="none">
                  <ion-label slot="start">Previa Cita</ion-label>
                  <ion-checkbox
                    slot="end"
                    @update:modelValue="item.rsvp = $event"
                    :modelValue="item.rsvp"
                    :checked="item.rsvp"
                  ></ion-checkbox>
                </ion-item>
                
                <ion-item v-for="(time, idx) in item.times" :key="idx">
                  <ion-col size="2">De</ion-col>
                  <ion-col size="4">
                    <ion-label
                      @click="openDatePicker(item, index, idx, 'start')"
                      >{{
                        new Date(
                          typeof time.start == "string"
                            ? time.start
                                .replace("aN:aN", "04:00")
                                .replace("T29", "T23")
                            : time.start
                        ).toLocaleTimeString("es-VE", {
                          hour: "2-digit",
                          minute: "2-digit",
                          hour12: true,
                        })
                      }}</ion-label
                    >
                  </ion-col>
                  <ion-col size="1">a</ion-col>
                  <ion-col size="4">
                    <ion-label @click="openDatePicker(item, index, idx, 'end')">{{
                      new Date(
                        typeof time.end == "string"
                          ? time.end
                              .replace("aN:aN", "04:00")
                              .replace("T29", "T23")
                          : time.end
                      ).toLocaleTimeString("es-VE", {
                        hour: "2-digit",
                        minute: "2-digit",
                        hour12: true,
                      })
                    }}</ion-label>
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon
                      :src="closeOutline"
                      @click="item.times.splice(idx, 1)"
                    >
                    </ion-icon>
                  </ion-col>
                </ion-item>
                <ion-item lines="none">
                  <ion-label
                    slot="end"
                    @click="
                      item.times.push({
                        start: new Date().setHours(8),
                        end: new Date().setHours(17),
                      })
                    "
                    >Agregar Horario</ion-label
                  >
                </ion-item>
              </ion-list>
            </div>
          </div>
        </div>
      </ion-modal>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonImg,
  IonCol,
  IonButton,
  IonInput,
  IonThumbnail,
  IonText,
  IonSelect,
  IonSelectOption,
  IonModal,
  IonTextarea,
  IonList,
  IonItem,
  IonLabel,
  IonCheckbox,
  IonIcon,
  IonItemDivider,
  toastController,
  onIonViewDidEnter,
  getPlatforms,
  alertController,
  pickerController,
} from "@ionic/vue";
import { ref, reactive, defineComponent } from "vue";
import api from "../api";
import { useRoute } from "vue-router";
import { mapGetters, useStore } from "vuex";
import { Cropper } from "vue-advanced-cropper";
import "vue-advanced-cropper/dist/style.css";
import OneSignal from "onesignal-cordova-plugin";

import states from "../assets/json/venezuela";
import taxTypeIds from "../assets/json/idType";
// import university from "../assets/json/university";

import "vue-inner-image-zoom/lib/vue-inner-image-zoom.css";

import InnerImageZoom from "vue-inner-image-zoom";

import { closeOutline } from "ionicons/icons";

import { AppUpdate } from "@robingenz/capacitor-app-update";

export default defineComponent({
  name: "EditProfile",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonImg,
    IonCol,
    IonButton,
    IonInput,
    IonThumbnail,
    IonText,
    IonSelect,
    IonSelectOption,
    IonTextarea,
    IonModal,
    Cropper,
    InnerImageZoom,
    IonList,
    IonItem,
    IonLabel,
    IonIcon,
    IonCheckbox,
    IonItemDivider,
  },
  setup() {
    const store = useStore();
    const route = useRoute();
    const image_file = ref(null);
    const image_file_canvas = ref(null);
    const isLoading = ref(false);
    const name = ref(store.getters.getUser.name);
    const last_name = ref(store.getters.getUser.last_name);
    const tax_id = ref(store.getters.getUser.tax_id);
    const tax_id_letter = ref(store.getters.getUser.tax_id_letter);
    const email = ref(store.getters.getUser.email);
    const address = ref(store.getters.getUser.address);
    const state = ref(store.getters.getUser.state);
    const phone = ref(store.getters.getUser.phone);
    const location = ref(store.getters.getUser.location);
    const player_id = ref(null);
    const is_push_supported = ref(false);
    const showImageModal = ref(false);
    const showDegreeModal = ref(false);
    const setImageModalOpen = (state) => (showImageModal.value = state);
    const setDegreeModalOpen = (state) => (showDegreeModal.value = state);
    const setScheduleModalOpen = (state) => (showScheduleModal.value = state);

    const password = ref("12345678");
    const confirm_password = ref("87654321");

    const showConfirmModal = ref(false);
    const showNewPasswordModal = ref(false);
    const showScheduleModal = ref(false);

    const newPasswordRequired = ref(false);

    const graduate = reactive(
      store.getters.getUser.graduate ? store.getters.getUser.graduate : {}
    );
    const postgraduate = reactive(
      store.getters.getUser.postgraduate
        ? store.getters.getUser.postgraduate
        : []
    );
    const certified = reactive(
      store.getters.getUser.certified ? store.getters.getUser.certified : []
    );
    const courses = reactive(
      store.getters.getUser.courses ? store.getters.getUser.courses : []
    );

    const title_images = reactive([]);

    const instagram = ref(store.getters.getUser.instagram_profile);
    const web = ref(store.getters.getUser.web_profile);
    const linkedin = ref(store.getters.getUser.linkedin_profile);

    const degreePreviewImage = ref("");

    const offices = reactive(
      store.getters.getUser.offices ? store.getters.getUser.offices : []
    );

    const current_schedule = reactive([]);

    const isRequired = (value) => {
      if (!value) {
        return "Se requiere tu ";
      }
      return true;
    };

    const selectedTab = ref("personal");
    const setSelectedTab = (state) => (selectedTab.value = state);

    const getPlayerId = () => {
      if (getPlatforms().includes("capacitor")) {
        OneSignal.getDeviceState(function (stateChanges) {
          console.log(
            "OneSignal getDeviceState: " + JSON.stringify(stateChanges)
          );
          if (stateChanges && stateChanges.hasNotificationPermission) {
            is_push_supported.value = true;
          } else {
            is_push_supported.value = false;
          }
        });
      } else {
        window.OneSignal.isPushNotificationsEnabled(function (isEnabled) {
          if (isEnabled) {
            console.log("Push notifications are enabled!");
          } else {
            console.log("Push notifications are not enabled yet.");
            window.OneSignal.showNativePrompt();
          }
        });
      }
    };

    const openToast = async (message) => {
      const toast = await toastController.create({
        message: message,
        position: "top",
        duration: 3000,
        color: "danger",
      });
      return toast.present();
    };

    const presentAlertConfirm = async (message) => {
      const alert = await alertController.create({
        header: "Ha ocurrido un error",
        message:
          "Sentimos mucho lo sucedido. Puedes presionar Cancelar e intentar de nuevo o Reportar este error y ayudarnos a mejorar",
        buttons: [
          {
            text: "Cancelar",
            role: "cancel",
            handler: () => {
              console.log(message);
            },
          },
          {
            text: "Reportar",
            handler: () => {
              console.log(message);
              window.location.href =
                "mailto:soporte@odontoenlace.com?subject=Reporte&body=" +
                message.substring(0, 1000);
            },
          },
        ],
      });
      return alert.present();
    };

    const useThisDevice = () => {
      if (getPlatforms().includes("capacitor")) {
        // Retrieving userId for Native
        OneSignal.getDeviceState((stateChanges) => {
          console.log(
            "OneSignal getDeviceState: " + JSON.stringify(stateChanges)
          );
          if (stateChanges && stateChanges.hasNotificationPermission) {
            player_id.value = stateChanges.userId;
            console.log("Player ID: " + stateChanges.userId);
          } else {
            openToast(
              "Activa las notificaciones en ajustes de la aplicación en Android",
              "primary"
            );
          }
        });
      } else {
        // Retrieving userId for Web
        window.OneSignal.getUserId((userId) => {
          player_id.value = userId;
          console.log("Player ID: " + userId);
        });
      }
    };

    const addNewOffice = () => {
      let officeObject = {
        office_name: "",
        office_address: "",
        office_state: "",
        office_location: "",
        office_schedule: [
          {
            label: "Lunes",
            index: 1,
            times: [],
            active: false,
            rsvp: false,
          },
          {
            label: "Martes",
            index: 2,
            times: [],
            active: false,
            rsvp: false,
          },
          {
            label: "Miercoles",
            index: 3,
            times: [],
            active: false,
            rsvp: false,
          },
          {
            label: "Jueves",
            index: 4,
            times: [],
            active: false,
            rsvp: false,
          },
          {
            label: "Viernes",
            index: 5,
            times: [],
            active: false,
            rsvp: false,
          },
          {
            label: "Sábado",
            index: 6,
            times: [],
            active: false,
            rsvp: false,
          },
          {
            label: "Domingo",
            index: 0,
            times: [],
            active: false,
            rsvp: false,
          },
        ],
      };

      offices.push(officeObject);
    };

    const currentVersion = ref(null);
    const availableVersion = ref(null);
    const updateAvailability = ref(null);

    const getCurrentAppVersion = async () => {
      const result = await AppUpdate.getAppUpdateInfo();
      console.log("App Version:", JSON.stringify(result));
      currentVersion.value = result.currentVersion;
      availableVersion.value = result.availableVersion;
      updateAvailability.value = result.updateAvailability;
      return result.currentVersion;
    };

    onIonViewDidEnter(() => {
      console.log("Entrando Editar Perfil de Usuario...");

      // Fill empty arrays for placeholders

      if (!postgraduate.length) {
        let item = {
          degree_title: "",
          degree_custom_institute: "",
          degree_picture: "",
        };

        postgraduate.push(item);
      }

      if (!certified.length) {
        let item = {
          degree_title: "",
          degree_custom_institute: "",
          degree_picture: "",
        };

        certified.push(item);
      }

      if (!courses.length) {
        let item = {
          degree_title: "",
          degree_custom_institute: "",
          degree_picture: "",
        };

        courses.push(item);
      }

      //Fil empty schedule placeholder

      if (!offices.length) {
        addNewOffice();
      }

      //Validate if a specific tab is set

      if (route.path.indexOf("offices") > 0) {
        setSelectedTab("laboral");
      }

      // Validate activation effect as this function is based on promises

      if (getPlatforms().includes("capacitor")) {
        OneSignal.setAppId("0621d600-f4ef-4c27-a2cd-08a335aeea4b");
        OneSignal.getDeviceState((stateChanges) => {
          console.log(
            "OneSignal getDeviceState: " + JSON.stringify(stateChanges)
          );
          if (stateChanges && stateChanges.hasNotificationPermission) {
            is_push_supported.value = true;
            player_id.value = stateChanges.userId;
            console.log("Player ID: " + stateChanges.userId);
          } else {
            is_push_supported.value = false;
            openToast(
              "Activa las notificaciones en ajustes de la aplicación en Android",
              "primary"
            );
          }
        });
        getCurrentAppVersion();
      } else {
        console.log("Platform is not capacitor");

        is_push_supported.value =
          window.OneSignal.isPushNotificationsSupported();

        if (is_push_supported.value) {
          window.OneSignal.getUserId((userId) => {
            player_id.value = userId;
            console.log("Player ID: " + userId);

            if (player_id.value == store.getters.getUser.player_id) {
              console.info("Device already set to receive push notifications");
            } else {
              console.warn("Device already set to receive push notifications");
            }
          });
        } else {
          console.error("Push notifications are not supported");
        }
      }

      useThisDevice();
    });

    const requestPasswordChange = () => {
      newPasswordRequired.value = true;
      showNewPasswordModal.value = false;
    };

    const customUniversityAlertOptions = {
      header: "Selecciona tu Universidad",
      message:
        'Listamos las universidades en Venezuela donde se enseña Odontología. Si tu universidad no está, selecciona "Otra"',
      cssClass: "wide-select-alert",
    };

    return {
      states,
      tax_id_letter,
      offices,
      current_schedule,
      isRequired,
      openToast,
      showConfirmModal,
      name,
      last_name,
      tax_id,
      email,
      address,
      state,
      image_file,
      isLoading,
      location,
      phone,
      player_id,
      is_push_supported,
      showNewPasswordModal,
      showScheduleModal,
      newPasswordRequired,
      requestPasswordChange,
      password,
      confirm_password,
      presentAlertConfirm,
      showImageModal,
      showDegreeModal,
      setImageModalOpen,
      setDegreeModalOpen,
      setScheduleModalOpen,
      selectedTab,
      setSelectedTab,
      useThisDevice,
      taxTypeIds,
      customUniversityAlertOptions,
      graduate,
      postgraduate,
      certified,
      title_images,
      courses,
      instagram,
      web,
      linkedin,
      degreePreviewImage,
      closeOutline,
      addNewOffice,
      getPlayerId,
      getCurrentAppVersion,
      currentVersion,
      availableVersion,
      image_file_canvas,
    };
  },
  data: () => ({
    steps: [
      { id: "postgrado", name: "POSTGRADO" },
      { id: "certified", name: "DIPLOMADOS" },
      { id: "course", name: "CURSOS" },
      { id: "socialLink", name: "REDES SOCIALES" },
    ],
  }),
  computed: {
    ...mapGetters(["getUser", "getAccessToken", "getUniversities"]),
    graduate_institute: {
      get: function () {
        return this.graduate && this.graduate.institute_id
          ? this.graduate.institute_id
          : null;
      },
      set: function (val) {
        if (!this.graduate) {
          this.graduate = {};
        }
        this.graduate["institute_id"] = val;
      },
    },
    degree_local_number: {
      get: function () {
        return this.graduate && this.graduate.degree_local_number
          ? this.graduate.degree_local_number
          : null;
      },
      set: function (val) {
        if (!this.graduate) {
          this.graduate = {};
        }
        this.graduate["degree_local_number"] = val;
      },
    },
    degree_national_number: {
      get: function () {
        return this.graduate && this.graduate.degree_national_number
          ? this.graduate.degree_national_number
          : null;
      },
      set: function (val) {
        if (!this.graduate) {
          this.graduate = {};
        }
        this.graduate["degree_national_number"] = val;
      },
    },
  },
  mounted() {},
  methods: {
    confirm() {
      // some code...
      this.showConfirmModal = false;
    },
    cancel(close) {
      // some code...
      close();
    },
    selectProfileImage() {
      console.log(event.target.files[0]);

      var reader = new FileReader();
      reader.onload = (e) => {
        this.image_file = e.target.result;
        // console.log(this.image_file);
        this.showImageModal = true;
      };
      reader.readAsDataURL(event.target.files[0]);
    },
    selectTitleImage(titleId) {
      console.log(event.target.files[0]);
      console.log(titleId);

      var reader = new FileReader();
      reader.onload = (e) => {
        let image = {
          id: titleId,
          data: e.target.result,
        };
        this.title_images[titleId] = image;
      };
      reader.readAsDataURL(event.target.files[0]);
    },
    onImageCrop({ coordinates, canvas }) {
      console.log(coordinates, canvas);
      this.image_file_canvas = canvas.toDataURL();
    },
    preventClick(ev) {
      ev.stopPropagation();
    },
    preventAndSendClick(titleId) {
      console.log(titleId);
      document.getElementById("title_image_" + titleId).click();
    },
    showDegreePicture(degree) {
      if (degree && degree.degree_picture) {
        this.degreePreviewImage = degree.degree_picture;
        this.showDegreeModal = true;
      }
    },
    showCurrentSchedule(currentOfficeIdx) {
      this.current_office = currentOfficeIdx;
      this.current_schedule = this.offices.at(currentOfficeIdx).office_schedule;

      console.log("Current Schedule", this.current_schedule);

      this.setScheduleModalOpen(true);
    },
    setCurrentSchedule() {
      this.offices[this.current_office].current_schedule =
        this.current_schedule;
      this.setScheduleModalOpen(false);
    },
    async openDatePicker(item, idxSchedule, idxTime, time) {
      const picker = await pickerController.create({
        columns: [
          {
            name: "hour",
            options: [...Array(12).keys()].map((e) => {
              return { text: e + 1, value: e + 1 };
            }),
          },
          {
            name: "minute",
            options: [...Array(60).keys()].map((e) => {
              return { text: e.toString().padStart(2, "0"), value: e };
            }),
          },
          {
            name: "hour12",
            options: [
              { text: "a.m.", value: 0 },
              { text: "p.m.", value: 12 },
            ],
          },
        ],
        buttons: [
          {
            text: "Cancelar",
            role: "cancel",
          },
          {
            text: "Aceptar",
            handler: (value) => {
              let date = new Date();

              date.setHours(value.hour.value + value.hour12.value);
              date.setMinutes(value.minute.value);

              if (time == "start") {
                this.current_schedule[idxSchedule].times[idxTime].start = date;
              } else {
                this.current_schedule[idxSchedule].times[idxTime].end = date;
              }

              console.log(this.current_schedule[idxSchedule].times[idxTime]);
            },
          },
        ],
      });
      await picker.present();
    },
    async onSubmit() {
      this.isLoading = true;

      const userObject = new FormData();

      userObject.append("name", this.name);
      userObject.append("last_name", this.last_name);
      userObject.append("email", this.email);
      userObject.append("location", this.location);
      userObject.append("state", this.state);
      userObject.append("address", this.address);
      userObject.append("phone", this.phone);
      userObject.append("tax_id_letter", this.tax_id_letter);
      userObject.append("tax_id", this.tax_id);

      // Prevent sending null playerId
      if (this.player_id && this.player_id.length > 10) {
        userObject.append("player_id", this.player_id);
      }

      if (this.image_file_canvas) {
        userObject.append("image_data[]", this.image_file_canvas);
      }

      if (this.newPasswordRequired) {
        userObject.append("password", this.password);
      }

      this.graduate.degree_name = "Graduate";
      userObject.append("graduate", JSON.stringify(this.graduate));

      userObject.append("instagram_profile", this.instagram);
      userObject.append("web_profile", this.web);
      userObject.append("linkedin_profile", this.linkedin);

      userObject.append("postgraduate", JSON.stringify(this.postgraduate));
      userObject.append("certified", JSON.stringify(this.certified));
      userObject.append("courses", JSON.stringify(this.courses));

      this.title_images.forEach((el) => {
        userObject.append("title_images_ids[]", el.id);
        userObject.append("title_images_data[]", el.data);
      });

      userObject.append("offices", JSON.stringify(this.offices));

      api
        .post("users/update", userObject, {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          this.showConfirmModal = true;

          let parsedValue = JSON.parse(JSON.stringify(response.data));
          this.$store.commit("setUser", parsedValue);
          this.setLocalStorage("user", parsedValue);
        })
        .catch((error) => {
          console.log(error);
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            this.openToast(
              JSON.stringify(error.response.data.message),
              "danger"
            );
          } else {
            this.presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    hideOffice(item) {
      this.isLoading = true;

      const officeObject = new FormData();
      officeObject.append("id", item.id);

      api
        .post("users/office/hide", officeObject, {
          headers: {
            Authorization: `Bearer ${this.getAccessToken}`,
          },
        })
        .then((response) => {
          console.log(response);
          const index = this.offices.findIndex((el) => el.id === item.id);
          this.offices.splice(index, 1);
        })
        .catch((error) => {
          console.log(error);
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            this.openToast(
              JSON.stringify(error.response.data.message),
              "danger"
            );
          } else {
            this.presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    resetSchedule() {
      console.log(this.current_schedule);
      if (
        confirm(
          "¿Desea continuar ajustando su horario a 'De Lunes a Viernes, desde las 08:00 am hasta las 05:00 pm'? Esta acción no se puede deshacer"
        )
      ) {
        this.current_schedule = this.current_schedule.map((item, idx) => {
          if (idx < 6) {
            item.active = true;
          } else {
            item.active = false;
          }

          item.times = [
            {
              start: new Date().setHours(8, 0),
              end: new Date().setHours(17, 0),
            },
          ];

          return item;
        });
        console.log("Schedule reset done", this.current_schedule);
      } else {
        console.log("Schedule reset cancelled");
      }
    },
    calculateSchedule(office) {
      if (office.office_schedule && office.office_schedule.length){
        let days = '';
        let min = 24;
        let max = 0;
        let rsvp = false;

        office.office_schedule.forEach(e => {
          if(e.active == true){
            days += e.label.substring(0, 3) + ', '; 
            
            e.times.forEach(f => {
              let hi = (new Date(f.start)).getHours();
              if (hi < min){
                min = hi;
              }

              let hf = (new Date(f.end)).getHours();
              if (hf > max){
                max = hf;
              }
            });

            if (e.rsvp) {
              rsvp = true;
            }
          }
        })
        if (days.length == 0 || min == 24 || max == 0){
          return null;
        } else {
          return days + 'de ' + ((min > 12) ? (min - 12) + ' p.m.' : (min == 12) ? min + ' p.m.' : min + ' a.m.') + ' a ' + ((max > 12) ? (max - 12) + ' p.m.' : (max == 12) ? max + ' p.m.' : max + ' a.m.') + (rsvp ? ', previa cita' : '');
        }
      }
      return null;
    }
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
.logo {
  padding: 5%;
  height: 100%;
}
ion-select {
  margin-bottom: 4px !important;
  padding: 4px;
  margin: 4px 0px;
}
</style>

<style scoped>
::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
.modal__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
}
</style>

<style scoped>
.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}
</style>