<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-self-center ion-no-padding">
            <v-form @submit="onSubmit">
              <div class="logo">
                <ion-img :src="logo" style="width: 60%; margin: auto"></ion-img>
                <ion-text color="light">
                  <h5>Correo electrónico:</h5>
                </ion-text>
                <ion-item>
                  <v-field name="email" v-slot="{ field }" :rules="isEmail">
                    <ion-input
                      v-bind="field"
                      name="email"
                      type="email"
                      id="email"
                    ></ion-input>
                  </v-field>
                </ion-item>
                <v-error-message
                  as="div"
                  name="email"
                  v-slot="{ message }"
                  class="error"
                >
                  <ion-text color="light">
                    <h6>{{ `${message}` }}</h6>
                  </ion-text>
                </v-error-message>
                <ion-text color="light">
                  <h5>Contraseña:</h5>
                </ion-text>
                <ion-item>
                  <v-field
                    name="password"
                    v-slot="{ field }"
                    :rules="hasLength"
                  >
                    <ion-input
                      v-bind="field"
                      name="password"
                      :type="showPassword ? 'text' : 'password'"
                      show-hide-input
                    >
                    </ion-input>
                    <ion-icon
                      :icon="showPassword ? eyeOff : eye"
                      @click="togglePasswordMode()"
                    ></ion-icon>
                  </v-field>
                </ion-item>
                <v-error-message
                  as="div"
                  name="password"
                  v-slot="{ message }"
                  class="error"
                >
                  <ion-text color="light">
                    <h6>{{ `${message} contraseña` }}</h6>
                  </ion-text>
                </v-error-message>
                <ion-text color="light">
                  <p>
                    <!-- Al continuar, estás aceptando nuestros términos y condiciones, y políticas de privacidad. -->
                  </p>
                </ion-text>
                <ion-button expand="block" color="secondary" type="submit" style="font-weight: bold; font-size: 20px"
                  >Ingresa</ion-button
                >
                <ion-text color="light" @click="forgotPassword">
                  <p>¿Olvidaste tu contraseña? Ingresa tu correo y haz click <u>aquí</u></p>
                </ion-text>
                <ion-text color="light" @click="$router.push('/pre-register')">
                  <p>¿No tienes cuenta? <u>Regístrate</u></p>
                </ion-text>
              </div>
            </v-form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonGrid,
  IonRow,
  IonText,
  IonImg,
  IonCol,
  IonButton,
  IonInput,
  IonIcon,
  IonItem,
  toastController,
  alertController
} from "@ionic/vue";
import { ref, defineComponent, reactive } from "vue";
import * as V from "vee-validate";
import api from "../api";
import { eye, eyeOff } from "ionicons/icons";

export default defineComponent({
  name: "Login",
  components: {
    IonContent,
    IonPage,
    IonGrid,
    IonRow,
    IonText,
    IonImg,
    IonCol,
    IonButton,
    IonInput,
    IonIcon,
    IonItem,
    VForm: V.Form,
    VField: V.Field,
    VErrorMessage: V.ErrorMessage,
  },
  setup() {
    const logo = "assets/img/logo.png";

    const isLoading = ref(false);

    const accessToken = ref(null);
    const user = reactive({});
    const email = ref('');

    const showPassword = ref(false);

    const isRequired = (value) => {
      if (!value) {
        return "Se requiere tu ";
      }
      return true;
    };

    const isEmail = (value) => {
      if (!value) {
        return "Se requiere tu email";
      }

      const email = new RegExp(
        "^([a-zA-Z0-9_\\-\\.]+)@([a-zA-Z0-9_\\-\\.]+)\\.([a-zA-Z]{2,5})$"
      );

      if (!email.test(value)) {
        return "Ingrese un email válido";
      }

      return true;
    }

    const hasLength = (value) => {
      if (!value) {
        return "Se requiere tu ";
      } else if (value.length < 8){
        return "Se requieren mínimo 8 caracteres para tu "
      }
      return true;
    };

    const openToast = async (message, color) => {
      const toast = await toastController.create({
        message: message,
        position: "top",
        duration: 2000,
        color: color,
      });
      return toast.present();
    };

    const presentAlertConfirm = async (message) => {
        const alert = await alertController.create({
          header: 'Ha ocurrido un error',
          message: 'Sentimos mucho lo sucedido. Puedes presionar Cancelar e intentar de nuevo o Reportar este error y ayudarnos a mejorar',
          buttons: [
            {
              text: 'Cancelar',
              role: 'cancel',
              handler: () => {
                console.log(message);
              },
            },
            {
              text: 'Reportar',
              handler: () => {
                console.log(message);
                window.location.href = "mailto:soporte@odontoenlace.com?subject=Reporte&body=" + message.substring(0, 1000);
              },
            },
          ],
        });
        return alert.present();
      };

    const onSubmit = (a) => {
      isLoading.value = true;

      api
        .post("login", a)
        .then((response) => {
          accessToken.value = response.data.access_token;

          api
            .get("me", {
              headers: {
                Authorization: `Bearer ${accessToken.value}`,
              },
            })
            .then((response) => {
              console.log(response);
              Object.assign(user, response.data);
              openToast(`¡Bienvenido, ${user.name}!`, null);
            })
            .catch(function (error) {
              console.log(error);
              if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info'){
                openToast(JSON.stringify(error.response.data.message), "danger");
              } else {
                presentAlertConfirm(JSON.stringify(error.response.data));
              }
            });
        })
        .catch(function (error) {
          console.log(error);
          if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info'){
            openToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            presentAlertConfirm(JSON.stringify(error.response.data));
          }
        }).finally(() => {
          isLoading.value = false;
        });
    };

    const forgotPassword = () => {
      isLoading.value = true;

      const userObject = new FormData();

      userObject.append("email", document.getElementById('email').value);

      api
        .post("forgot-password", userObject)
        .then(() => {
          openToast('Se ha enviado una contraseña nueva a tu correo', null);
        })
        .catch(function (error) {
          console.log(error);
          if (error.response && error.response.data && error.response.data.type && error.response.data.type == 'info'){
            openToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    const togglePasswordMode = () => {
      showPassword.value = !showPassword.value;
    };

    return {
      logo,
      isRequired,
      isEmail,
      hasLength,
      onSubmit,
      openToast,
      accessToken,
      user,
      eye,
      eyeOff,
      showPassword,
      togglePasswordMode,
      isLoading,
      forgotPassword,
      email,
      presentAlertConfirm
    };
  },
  watch: {
    user: {
      deep: true,
      handler(value) {
        console.log(value);

        let parsedValue = JSON.parse(JSON.stringify(value));
        this.setLocalStorage("user", parsedValue);
        this.$store.commit("setUser", parsedValue);

        if (value) {
          this.$router.push("/assistant/home");
        }
      },
    },
    accessToken(value) {
      console.log(value);
      this.setLocalStorage("accessToken", value);
      this.$store.commit("setAccessToken", value);
    },
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
.logo {
  padding: 5%;
  height: 100%;
}

ion-grid {
  height: 100%;
}
ion-input {
  --background: var(--ion-color-medium-light) !important;
}

ion-item {
  padding: 0px;
  margin: 0px;
}

ion-row,
ion-col {
  height: 100%;
}

.item-input {
  --background: var(--ion-color-medium-light) !important;
}

@media only screen and (min-width: 768px) {
  ion-col {
    height: 100%;
    max-width: 500px;
  }
}
</style>