<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <ion-grid class="ion-no-padding background">
        <ion-row class="ion-justify-content-center">
          <ion-img :src="logo"></ion-img>
          <ion-text class="header3 ion-margin">Elige un tipo de cuenta</ion-text>
          
        </ion-row>
        <ion-row>
          <swiper
            v-if="registerSlides && registerSlides.length"
            :navigation="true"
          >
            <swiper-slide v-for="(item, index) in registerSlides" :key="index" :options="registerOpts">
              <ion-row class="ion-no-margin ion-no-padding" style="width: 100%">
              <ion-col size="12">
                <ion-img :src="item.image" style="width:100%; height: 50vh; object-fit: cover;"></ion-img>
                <br />
                <ion-text class="header3 ion-margin ion-padding">{{item.name}}</ion-text>
                  <ion-button
                  class="ion-margin"
                  expand="block"
                  color="secondary"
                  style="font-weight: bold; font-size: 20px"
                  @click="setCurrentRole(item.role)"
                  >REGÍSTRATE</ion-button
                >
              </ion-col>
                  
              </ion-row>           
            </swiper-slide>
          </swiper>
        </ion-row>
        <ion-row style="height: 20%">
          <ion-col class="ion-margin">
            <ion-text color="light" @click="$router.push('/login')">
                  <p>¿Ya tienes cuenta? <u>Inicia Sesión</u></p>
                </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonButton,
  IonGrid,
  IonImg,
  IonText
} from "@ionic/vue";
import { defineComponent } from "vue";
import { Swiper, SwiperSlide } from 'swiper/vue';

// Import Swiper styles
import 'swiper/css'
import "swiper/css/navigation"

// import Swiper core and required modules
import SwiperCore, {
  Navigation
} from 'swiper/core';

// install Swiper modules
SwiperCore.use([Navigation]);

export default defineComponent({
  name: "PreRegister",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonButton,
    IonGrid,
    Swiper,
    SwiperSlide,
    IonImg,
    IonText
  },
  setup() {
    const logo = 'assets/img/logo-horizontal.png';
    const registerOpts = {
      initialSlide: 0,
      loop: false,
      spaceBetween: 0,
      autoHeight: true,
      pager: true
    };
    return {registerOpts, logo};
  },
  data: () => ({
    currentRole: null,
    registerSlides: [
      {
        name: 'Odontólogo',
        image: "assets/img/pre-register-odontologo.png",
        role: 'dentist'
      },
      {
        name: 'Estudiante de odontología',
        image: "assets/img/pre-register-estudiante.png",
        role: 'student'
      },
      // {
      //   name: 'Paciente',
      //   image: "assets/img/pre-register-paciente.png",
      //   role: 'patient'
      // },
    ],
  }),
  methods: {
    setCurrentRole(role) {
      this.currentRole = role;
      this.setLocalStorage("selectedRole", role);
      this.$router.push("/register");
    },
  },
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
.logo {
  background-image: url("../assets/img/background.png");
  padding: 0%;
  height: 100%;
}

.login-label-widescreen {
  display: none;
}

.header1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.header2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  display: flex;
  align-items: center;

  color: #15c5a8;
}

.header3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  ion-row {
    height: 100%;
  }
  ion-col {
    height: 100%;
  }
  .center-on-widescreen {
    position: absolute;
    top: 35%;
    height: 10em;
    margin-top: -5em;
    margin-right: 10em;
  }
  h1 {
    font-size: 5vh;
  }
  p {
    font-size: 2vh;
  }
  div {
    height: 100%;
  }
  .login-label-widescreen {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 2%;
  }
  .login-label {
    display: none;
  }
}
</style>