// https://v3.vue-final-modal.org/guide/properties
<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false" class="background">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
            <ion-grid class="ion-no-padding">
                <ion-row class="ion-justify-content-center">
                    <ion-col class="ion-align-self-center ion-no-padding">
                        <div class="logo">
                          <v-form @submit="onSubmit">
                            <ion-img :src="logo"></ion-img>
                            <ion-text v-if="role" color="light">
                                <h4>Registrandote como {{$t('message.' + role)}}</h4>
                            </ion-text>
                            <v-field name="roles" v-slot={field} :rules="isRequired">
                              <ion-input v-bind="field" name="roles" type="hidden" :value="role"></ion-input>
                            </v-field>
                            <ion-text color="light">
                                <h5>Nombre:</h5>
                            </ion-text>
                            <v-field name="name" v-slot={field} :rules="isRequired">
                              <ion-input v-bind="field" name="name"></ion-input>
                            </v-field>
                             <v-error-message as="div" name="name" v-slot="{ message }" class="error">
                              <ion-text color="light">
                                <h6>{{`${message} nombre` }}</h6>
                              </ion-text>
                            </v-error-message>
                            <ion-text color="light">
                                <h5>Apellido:</h5>
                            </ion-text>
                            <v-field name="last_name" v-slot={field} :rules="isRequired">
                              <ion-input v-bind="field" name="last_name"></ion-input>
                            </v-field>
                             <v-error-message as="div" name="last_name" v-slot="{ message }" class="error">
                              <ion-text color="light">
                                <h6>{{`${message} apellido` }}</h6>
                              </ion-text>
                            </v-error-message>
                            <ion-text color="light">
                                <h5>Correo electrónico:</h5>
                            </ion-text>
                            <v-field name="email" v-slot={field} :rules="isEmail">
                              <ion-input v-bind="field" name="email" type="email"></ion-input>
                            </v-field>
                            <v-error-message as="div" name="email" v-slot="{ message }" class="error">
                              <ion-text color="light">
                                <h6>{{`${message}` }}</h6>
                              </ion-text>
                            </v-error-message>
                            <ion-text color="light">
                                <h5>Contraseña:</h5>
                            </ion-text>
                            <v-field name="password" v-slot={field} :rules="hasLength">
                              <ion-input v-bind="field" name="password" type="password"></ion-input>
                            </v-field>
                             <v-error-message as="div" name="password" v-slot="{ message }" class="error">
                              <ion-text color="light">
                                <h6>{{`${message} contraseña` }}</h6>
                              </ion-text>
                            </v-error-message>
                            <ion-text color="light">
                                <h5>Repite tu contraseña:</h5>
                            </ion-text>
                            <ion-input type="password"></ion-input>
                            <ion-text color="light">
                                <h5>¿De dónde eres?:</h5>
                            </ion-text>
                            <v-field name="state" v-slot={field} :rules="isRequired">
                              <ion-select
                                v-bind="field"
                                ok-text="Listo"
                                cancel-text="Cancelar"
                                placeholder="Estado"
                              >
                                <ion-select-option
                                  v-for="(item, index) in states"
                                  :key="index"
                                  :value="item.estado"
                                >
                                  {{ item.estado }}
                                </ion-select-option>
                              </ion-select>
                            </v-field>
                             <v-error-message as="div" name="state" v-slot="{ message }" class="error">
                              <ion-text color="light">
                                <h6>{{`${message} ubicación` }}</h6>
                              </ion-text>
                            </v-error-message>
                            <ion-text color="light">
                            <p>
                                Al continuar, estás aceptando nuestros términos y condiciones, y políticas de privacidad.
                            </p>
                            </ion-text>
                            <ion-button type="submit" expand="block" color="secondary">Listo</ion-button>
                          </v-form>
                        </div>
                    </ion-col>
                </ion-row>
                <vue-final-modal
                    v-model="showConfirmModal" classes="modal-container" content-class="modal-content" :click-to-close="false" :esc-to-close="false">
                    <span class="modal__title">Confirma tu correo</span>
                    <div class="modal__content">
                        <p>
                        Te hemos enviado un correo a la dirección que nos proporcionaste. Sigue las instrucciones ahí detalladas para confirmar la creación de la cuenta.
                        </p>
                    </div>
                    <ion-button expand="block" color="secondary" @click="() => {if (role && role == 'dentist') {showDentistModal = true} else {showHome()}; showConfirmModal = false}">Entendido</ion-button>
                </vue-final-modal>
                <vue-final-modal
                    v-model="showDentistModal" classes="modal-container" content-class="modal-content" :click-to-close="false" :esc-to-close="false">
                    <span class="modal__title">Importante</span>
                    <div class="modal__content">
                        <p>
                          Estás a punto de registrarte como odontólogo en nuestra red. A continuación, te pediremos información relacionada con tus credenciales, específicamente:
                        </p>
                        <p>
                          <ul>
                            <li>Fotografía de tu(s) título(s) </li>
                            <li>Número de registro en el Colegio de Odontólogos de Venezuela (C.O.V).</li>
                          </ul>
                        </p>
                        <p>
                          Esto es en pro de la seguridad de nuestros usuarios y para poder asegurar que nuestra red de odontólogos esté conformada solo por profesionales colegiados.
                        </p>
                        <p>
                          <strong>
                            Puedes posponer el siguiente paso, pero el registro solo estará completo cuando podamos verificar que la información que nos envíes es válida. Para poder disfrutar de todas las funciones de Odonto<i>enlace</i>, debes completar el proceso de registro.
                          </strong>
                        </p>
                        <p>
                          Toda la información que nos des es privada, y de uso exclusivo para el registro en la red de odontólogos de Odontoenlace. Puedes leer mas en nuestras políticas de privacidad.
                        </p>
                    </div>
                    <ion-button expand="block" color="secondary" @click="showHome()">Continuar</ion-button>
                    <ion-button expand="block" color="danger" @click="showHome()">Posponer</ion-button>
                </vue-final-modal>
            </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonGrid,
  IonRow,
  IonText,
  IonImg,
  IonCol,
  IonButton,
  IonInput,
  IonSelect,
  IonSelectOption,
  toastController,
  alertController,
} from "@ionic/vue";
import { defineComponent } from "vue";
import api from "../api";
import * as V from "vee-validate";
import { ref } from "vue";
import { useRouter } from "vue-router";

import states from "../assets/json/venezuela";

export default defineComponent({
  name: "Register",
  components: {
    IonContent,
    IonPage,
    IonGrid,
    IonRow,
    IonText,
    IonImg,
    IonCol,
    IonButton,
    IonInput,
    IonSelect,
    IonSelectOption,
    VForm: V.Form,
    VField: V.Field,
    VErrorMessage: V.ErrorMessage,
  },
  setup() {
    const logo = "assets/img/logo.png";
    const router = useRouter();
    const showConfirmModal = ref(false);
    const showDentistModal = ref(false);

    const isLoading = ref(false);

    const isRequired = (value) => {
      if (!value) {
        return "Se requiere tu ";
      }
      return true;
    };

    const isEmail = (value) => {
      if (!value) {
        return "Se requiere tu email";
      }

      const email = new RegExp(
        "^([a-zA-Z0-9_\\-\\.]+)@([a-zA-Z0-9_\\-\\.]+)\\.([a-zA-Z]{2,5})$"
      );

      if (!email.test(value)) {
        return "Ingrese un email válido";
      }

      return true;
    }

    const hasLength = (value) => {
      if (!value) {
        return "Se requiere tu ";
      } else if (value.length < 8){
        return "Se requieren mínimo 8 caracteres para tu "
      }
      return true;
    };

    const openToast = async (message) => {
      const toast = await toastController.create({
        message: message,
        position: "top",
        duration: 3000,
        color: "danger",
      });
      return toast.present();
    };

    const presentAlertConfirm = async (message) => {
      const alert = await alertController.create({
        header: "Ha ocurrido un error",
        message:
          "Todos los campos en esta vista son necesarios. Revisa si los llenaste todos o si ya estas registrado con el correo suministrado intentando iniciar sesión. Si crees que existe algún error, puedes presionar Cancelar e intentar de nuevo o Reportar este error y ayudarnos a mejorar",
        buttons: [
          {
            text: "Cancelar",
            role: "cancel",
            handler: () => {
              console.log(message);
            },
          },
          {
            text: "Reportar",
            handler: () => {
              console.log(message);
              window.location.href =
                "mailto:soporte@odontoenlace.com?subject=Reporte&body=" +
                message.substring(0, 1000);
            },
          },
        ],
      });
      return alert.present();
    };

    const onSubmit = (a) => {
      console.log(a);
      isLoading.value = true;
      api
        .post("register", a)
        .then(function (response) {
          console.log(response);
          showConfirmModal.value = true;
        })
        .catch(function (error) {
          console.log(error);
          if (
            error.response &&
            error.response.data &&
            error.response.data.type &&
            error.response.data.type == "info"
          ) {
            openToast(JSON.stringify(error.response.data.message), "danger");
          } else {
            presentAlertConfirm(JSON.stringify(error.response.data));
          }
        })
        .finally(() => {
          isLoading.value = false;
        });
    };

    const showHome = () => {
      showDentistModal.value = false;
      router.push("/login");
    };

    return {
      logo,
      isRequired,
      isEmail,
      onSubmit,
      hasLength,
      openToast,
      showConfirmModal,
      showDentistModal,
      states,
      showHome,
      router,
      isLoading,
      presentAlertConfirm,
    };
  },
  data: () => ({
    name: "",
    last_name: "",
    email: null,
    phone: null,
    password: "",
    location: "",
    role: null,
  }),
  mounted() {
    this.localStorage.get("selectedRole").then((result) => {
      this.role = result;
    });
  },
  watch: {
    // // whenever question changes, this function will run
    // role(newRole) {
    //   console.log(newRole);
    //   // this.openToast(newRole);
    // }
  },
  methods: {
    confirm() {
      // some code...
      this.showConfirmModal = false;
    },
    cancel(close) {
      // some code...
      close();
    },
  },
});
</script>

<style scoped src="../theme/style.css">
</style>


<style scoped>
.logo {
  padding: 5%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  ion-col {
    height: 100%;
    max-width: 500px;
  }
}
</style>

<style scoped>
::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
.modal__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
}
</style>

<style scoped>
.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}
</style>