<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <ion-grid class="ion-no-padding background">
        <ion-row style="height: 10%">
          <ion-img :src="logo"></ion-img>
        </ion-row>
        <ion-row style="height: 25%"> </ion-row>
        <ion-row>
          <ion-col size="12" size-sm class="ion-align-self-center ion-padding">
            <div style="position: relative">
              <div class="center-on-widescreen">
                <ion-text class="header1"> TODA LA ODONTOLOGÍA, </ion-text>
                <ion-text class="header2"> UN SOLO LUGAR. </ion-text>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="height: 12%"></ion-row>
        <ion-row>
          <ion-col
            size="9"
            size-sm
            class="ion-align-self-center ion-no-padding"
          >
            <div style="position: relative">
              <div class="center-on-widescreen">
                <ion-button
                  class="ion-margin"
                  fill="outline"
                  expand="block"
                  color="secondary"
                  router-link="/marketplace/home"
                  style="font-weight: bold; font-size: 20px"
                  >VISITAR LAS TIENDAS</ion-button
                >
                <ion-button
                  class="ion-margin"
                  fill="outline"
                  expand="block"
                  color="secondary"
                  router-link="/pre-register"
                  style="font-weight: bold; font-size: 20px"
                  >REGÍSTRATE</ion-button
                >
                <ion-button
                  class="ion-margin"
                  expand="block"
                  color="secondary"
                  router-link="/login"
                  style="font-weight: bold; font-size: 20px"
                  >INGRESA</ion-button
                >
              </div>
            </div>
          </ion-col>
          <ion-col size="3"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonText,
  IonCol,
  IonButton,
  IonGrid,
  IonImg,
  getPlatforms,
  onIonViewDidEnter,
} from "@ionic/vue";
import { defineComponent } from "vue";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "Welcome",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonText,
    IonCol,
    IonButton,
    IonGrid,
    IonImg,
  },
  setup() {
    const logo = "assets/img/logo-horizontal.png";
    const router = useRouter();

    onIonViewDidEnter(() => {
      // console.log(getPlatforms());

      if (getPlatforms().includes("capacitor")) {
        router.push("/login");
      }
    });
    return { logo };
  },
  data: () => ({
    currentRole: null,
  }),
  methods: {},
});
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
.logo {
  background-image: url("../assets/img/background.png");
  padding: 0%;
  height: 100%;
}

.login-label-widescreen {
  display: none;
}

.header1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.header2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  display: flex;
  align-items: center;

  color: #15c5a8;
}

@media only screen and (min-width: 768px) {
  ion-row {
    height: 100%;
  }
  ion-col {
    height: 100%;
  }
  .center-on-widescreen {
    position: absolute;
    top: 35%;
    height: 10em;
    margin-top: -5em;
    margin-right: 10em;
  }
  h1 {
    font-size: 5vh;
  }
  p {
    font-size: 2vh;
  }
  div {
    height: 100%;
  }
  .login-label-widescreen {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 2%;
  }
  .login-label {
    display: none;
  }
}
</style>