<template>
  <ion-page>
    <ion-content
      :fullscreen="true"
      scroll="false"
      style="--background: #f4f5f7"
    >
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <div v-show="dataChat && dataChat.user1" class="chat-container">
        <ion-row class="row-tabs">
          <div class="chatderivated-container" v-show="!viewChatDerivated">
            <div class="div-header">
              <div class="div-header-conteiner">
                <div class="div1">
                  <ion-icon
                    @click="$router.go(-1)"
                    :icon="chevronBack"
                  ></ion-icon>
                </div>
                <ion-thumbnail
                  style="--size: 3rem; --border-radius: 50%; margin-top: 0.6rem"
                >
                  <ion-img
                    :src="
                      getChatReceiver
                        ? getChatReceiver.profile_image
                        : getChatProfileImage
                    "
                  ></ion-img>
                </ion-thumbnail>
                <div class="div3">
                  <p class="title">
                    {{
                      getChatReceiver
                        ? getChatReceiver.name + " " + getChatReceiver.last_name
                        : getChatLabel
                    }}
                  </p>
                  <p class="sub-title">estado</p>
                </div>
                <div class="div4">
                  <ion-icon
                    @click="openPopover($event)"
                    :icon="ellipsisVertical"
                  ></ion-icon>
                </div>
              </div>
            </div>
            <div class="box-body" style="padding-top: 0px; width: 100%">
              <div
                class="chatderivated-messages"
                v-on:scroll="scrollMessagesDerivate"
                id="scroll"
                v-bind:class="{
                  'chatderivated-messages-medium':
                    contentEditableHeight > 50 && contentEditableHeight < 65,
                  'chatderivated-messages-all': contentEditableHeight > 65,
                }"
              >
                <div
                  v-for="(msg, index) in chatMessages"
                  :key="'msgDerivateId:' + msg.id"
                  class="chat__content"
                >
                  <div
                    class="direct-chat-msg"
                    v-bind:class="!sameUser(msg.userId) ? 'left' : 'right'"
                  >
                    <div
                      class="timeline-content"
                      v-if="index == 0 || validDate(msg.date, index)"
                    >
                      <span v-if="!formatDateIsToday(msg.date)">{{
                        formatDateOriginal(msg.date)
                      }}</span>
                      <span v-if="formatDateIsToday(msg.date)">{{
                        "Hoy"
                      }}</span>
                    </div>
                    <div
                      class="timeline-content"
                      v-if="index > 0 && index == indexNuevos"
                    >
                      <ion-badge color="secondary">Nuevos</ion-badge>
                    </div>
                    <div class="message-container">
                      <div
                        class="direct-chat-left__block"
                        v-bind:class="
                          !sameUser(msg.userId) ? 'pull-left' : 'pull-right'
                        "
                      ></div>
                      <div class="direct-chat-text chatderivated-text">
                        <span
                          class="direct-chat-response"
                          v-if="!msg.type"
                          v-bind:class="
                            msg.bold == true ? 'is__bold' : 'not__bold'
                          "
                        >
                          {{ msg.message }}</span
                        >
                        <div v-else>
                          <div v-if="msg.isImg" @click="expImg(msg.file)">
                            <img
                              class="imgFile"
                              :src="msg.file"
                              style="max-height: 100px !important"
                            />
                          </div>
                          <div
                            v-else
                            style="=text-align: center; padding: 0 10px"
                          >
                            <ion-icon
                              style="font-size: 30px"
                              @click="openExtFile(msg.file)"
                              :icon="documentAttach"
                            ></ion-icon
                            ><br />
                            {{ getMIMEtypeReverse(msg.typeFile) }}
                          </div>
                        </div>
                        <div>
                          <span
                            v-bind:class="
                              !sameUser(msg.userId)
                                ? 'direct-chat-response'
                                : ''
                            "
                            style="
                              float: right;
                              font-size: 8px;
                              padding-top: 3px;
                            "
                            >{{ formatDate(msg.date) }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <span class="label-error" v-if="fileError">{{
                  $t("chat.file_without_format")
                }}</span>
                <div style="margin-top: 0">
                  <div
                    v-bind:class="{ helpDrop: isOverDrag }"
                    class="input-group input-group-responsive search-group"
                  >
                    <div
                      class="direct-chat-msg direct-chat-loading"
                      v-if="isTyping && isTyping != getUser.id"
                    >
                      <span class="loading-text">Escribiendo...</span>
                    </div>
                    <div>
                      <input
                        type="file"
                        style="display: none"
                        id="fileUpload"
                        ref="file"
                        v-on:change="onFileFromStorageChosen($event)"
                      />
                    </div>
                    <div class="send_sendFile" @click="selectFile()">
                      <ion-icon :icon="attach" color="medium"></ion-icon>
                    </div>
                    <textarea
                      autocomplete="off"
                      id="send_send"
                      ref="send"
                      v-model="msg.text"
                      v-on:blur="blurKeyEnter()"
                      @input="onKeyDownNotEnter($event)"
                      v-on:keyup.enter="sendMessage(msg.text)"
                      type="text"
                      v-bind:placeholder="textPlaceHolder"
                      class="send_field"
                      rows="5"
                    >
                    </textarea>
                    <span class="input-group-btn">
                      <button
                        @click="sendMessage(msg.text)"
                        id="btnSendMsg"
                        class="btn btn-send"
                      >
                        Enviar
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="opacity-container" v-if="viewChatDerivated"></div>
        </ion-row>
      </div>
    </ion-content>
  </ion-page>
</template>
<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonIcon,
  IonImg,
  IonThumbnail,
  popoverController,
  IonBadge,
  alertController,
  loadingController,
  modalController,
  getPlatforms,
  toastController,
} from "@ionic/vue";
import { defineComponent, ref } from "vue";
import Popover from "./popover.vue";
import ModalImg from "./modal.vue";
import { mapGetters } from "vuex";
import api from "../../api";
import firebase from "../../Firebase";
import OneSignal from "onesignal-cordova-plugin";
import {
  ellipsisVertical,
  chevronBack,
  attach,
  documentAttach,
} from "ionicons/icons";
import dayjs from "dayjs";
import "dayjs/locale/es";
dayjs.locale("es");
export default defineComponent({
  name: "chat",
  // inject: [dayjs], // <-- inject
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonIcon,
    IonBadge,
    IonImg,
    IonThumbnail,
    /*
    IonItem,
    IonLabel,
    IonIcon,
    IonButton,
    IonBadge,
    IonInput,
    IonSelect,
    IonSelectOption,*/
  },
  setup() {
    const openToast = async (message, color = "primary") => {
      const toast = await toastController.create({
        message: message,
        position: "top",
        duration: 3000,
        color: color,
      });
      return toast.present();
    };

    const isLoading = ref(false);

    return {
      openToast,
      ellipsisVertical,
      chevronBack,
      documentAttach,
      attach,
      isLoading
    };
  },
  data() {
    return {
      language: "es",
      first: false,
      firstIndex: false,
      indexNuevos: 0,
      firstHelpChat: true,
      activeChatHelp: true,
      isNEW: true,
      timeoutChatHelp: null,
      docModel: document,
      auxForm: "",
      userText: 20,
      sendFile: false,
      activeCloseBtn: false,
      fileError: false,
      flagPrepareFile: false,
      flagHelpCopy: false,
      blockChat: false,
      auxFile: null,
      insideSocket: false,
      interactiveChatMasterId: "",
      isTyping: false,
      typing: false,
      typingTimeout: undefined,
      enableLoader: false,
      disableChat: true,
      timeout: null,
      chatrooms: firebase.firestore().collection("chatrooms/"),
      rooms: [],
      listChat: [],
      historyChat: [],
      message: {
        text: "",
      },
      msg: {
        text: "",
      },
      chat: {
        messages: [],
      },
      chatPagination: {
        currentPage: 0,
        total: 0,
        limit: 1,
        noMore: false,
      },
      chatDerivates: [],
      chatDerivatesAux: null,
      initLoad: true,
      chatDerivateEditable: true,
      viewChatDerivated: false,
      chatMessages: [],
      chatPaginationDerivated: {
        total: 0,
        currentPage: 0,
        limit: 1,
        noMore: false,
      },
      msgDerivated: { text: "" },
      derivatedChatID: "",
      socketDerivatedID: "",
      showDerivateNotification: false,
      flagPrepareFileDerivated: false,
      derivatedAskerId: "",
      imgUrlHelp: "",
      contentEditableHeight: 0,
      fileErrorDerivated: false,
      sendFileDerivated: false,
      loadingChatDerivate: false,
      chatHelpStatus: "BUTTONS",
      showMoreMessageBtn: false,
      showMoreMessageDeriveBtn: false,
      showRatingDerive: false,
      buttonsIndex: 0,
      loadingResponse: false,
      currentButtonId: 0,
      NotificationText: "",
      showNotificationMessage: false,
      openingHours: "",
      closeHours: "",
      sendingData: false,
      index: 0,
      indexChat: 0,
      tabSelected: 0,
      loadingColor: "#004481",
      messageSended: false,
      isDerivating: false,
      retakeChat: false,
      timeoutRetake: undefined,
      countTimeoutRetake: 0,
      usingRetakeTimer: false,
      isOverDrag: false,
      helpImg: "",
      textPlaceHolder: "Escribe aqui...",
      dataChat: {},
      playerId: null,
    };
  },
  computed: {
    ...mapGetters(["getUser", "getAccessToken", "getChatReceiver"]),
    isDesktop() {
      return this.$store.state.windowWidth > 768;
    },
    getChatLabel() {
      if (this.dataChat.user1 == this.getUser.id) {
        return this.dataChat.userName2;
      } else {
        return this.dataChat.userName1;
      }
    },
    getChatProfileImage() {
      if (this.dataChat.user1 == this.getUser.id) {
        return this.dataChat.profileImage2;
      } else {
        return this.dataChat.profileImage1;
      }
    },
  },
  methods: {
    sameUser(id) {
      if (id == this.getUser.id) {
        return true;
      } else {
        return false;
      }
    },
    async openPopover(ev) {
      const popover = await popoverController.create({
        component: Popover,
        cssClass: "my-class-popover",
        event: ev,
        translucent: true,
      });
      await popover.present();

      const { data } = await popover.onDidDismiss();
      console.log("onDidDismiss resolved with role", data);
      let idProfile = "";
      if (this.dataChat.user1 == this.getUser.id) {
        idProfile = this.dataChat.user2;
      } else {
        idProfile = this.dataChat.user1;
      }
      console.log("idProfile = " + idProfile);
    },
    getValidFile(name) {
      let aux = false;
      if (
        name &&
        (name.indexOf(".png") >= 0 ||
          name.indexOf(".jpg") >= 0 ||
          name.indexOf(".png") >= 0)
      ) {
        aux = true;
      }
      return aux;
    },
    getUrl(id, name) {
      console.log("endDrag", id, name);
    },
    endDrag(e) {
      e.stopPropagation();
      e.preventDefault();
      console.log("endDrag");
      this.isOverDrag = false;
      this.textPlaceHolder = this.$t("chat.write_your_message");
    },
    startDrag(e) {
      e.stopPropagation();
      e.preventDefault();
      console.log("draggg");
      this.textPlaceHolder = this.$t("chat.drag_your_message");
      this.isOverDrag = true;
    },
    dropFile(event) {
      event.preventDefault();
      this.isOverDrag = false;
      this.auxFile = null;
      this.flagPrepareFile = false;
      this.flagHelpCopy = false;
      this.sendFile = false;
      this.imgUrlHelp = null;
      this.textPlaceHolder = this.$t("chat.write_your_message");
      console.log(event.dataTransfer.files);
      this.$refs.myFile.files = event.dataTransfer.files;
      console.log(this.$refs.myFile.files[0]);
      this.scrollDown();
      this.previewFiles(); // Trigger the onChange event manually
      // Clean up
    },
    helpCopy(file) {
      this.$refs.myFile.files = null;
      this.sendFile = false;
      this.auxFile = file;
      this.flagPrepareFile = true;
      this.flagHelpCopy = true;
      this.sendFile = true;
      setTimeout(() => {
        this.scrollDown();
      }, 800);
    },
    removeFile() {
      this.auxFile = null;
      this.flagPrepareFile = false;
      this.flagHelpCopy = false;
      this.sendFile = false;
    },
    seeImg() {
      /* this.helpImg = this.getUrl(id, name)
       this.$refs['bv-modal-img'].show()*/
    },
    closeModalImg() {
      /*this.$refs['bv-modal-img'].hide()*/
    },
    selectedTab(tab) {
      this.tabSelected = tab;
    },
    async openChatDerivated(chatId) {
      var vue = this;
      vue.chatDerivates.forEach(function (data) {
        if (chatId == data.id) {
          vue.gotochatDerivated(
            data.id,
            localStorage.getItem("userId"),
            data.status,
            data.showRating
          );
        }
      });
    },
    selectFile() {
      // alert('proximamente')
      this.$refs.file.click();
    },
    onFileFromStorageChosen(filesEvent) {
      if (filesEvent != null) {
        this.processFileFromStorage(filesEvent);
      }
    },
    async processFileFromStorage(event) {
      const file = event.target.files[0];
      if (file == null) {
        return;
      }
      if (event.target.files.length > 1) {
        const alert = await alertController.create({
          header: "Ops!",
          subHeader: "Máximo 1 archivo a la vez!",
          buttons: ["Ok"],
        });
        alert.present();
        return;
      }
      if (file.size > 5000000) {
        const alert = await alertController.create({
          header: "Ops!",
          subHeader: "tamaño máximo de archivo es 5 mb!",
          buttons: ["Ok"],
        });
        alert.present();
        return;
      }
      // this.pick = file; here to file
      const loading = await loadingController.create({
        cssClass: "my-custom-class",
        message: "Subiendo Archivo...",
      });

      await loading.present();
      let isImg = false;
      if (file.type.includes("image")) {
        isImg = true;
      }
      const reader = new FileReader();
      reader.readAsDataURL(file);
      const storageRef = firebase.storage().ref();
      const imageRef = storageRef
        .child(this.$route.params.id + "/")
        .child("file_" + this.chatMessages.length + "_" + file.name);
      // console.log(imageRef);
      imageRef
        .put(file)
        .then(() => {
          imageRef
            .getDownloadURL()
            .then((downloadURL) => {
              const aux = this.chatrooms.doc(this.$route.params.id);
              aux
                .collection("messages")
                .add({
                  type: file.type,
                  isImg: isImg,
                  read: false,
                  userId: this.getUser.id,
                  userName: this.getUser.name + " " + this.getUser.last_name,
                  message: "",
                  file: downloadURL,
                  typeFile: file.type,
                  date: new Date().toISOString(),
                  timestamp: firebase.firestore.FieldValue.serverTimestamp(),
                })
                .then((res) => {
                  loading.dismiss();
                  this.scrollDown();
                  console.log("> send", res);
                });
            })
            .catch((err) => {
              console.log(err);
              loading.dismiss();
            });
        })
        .catch((err2) => {
          console.log(err2);
          loading.dismiss();
        });
    },

    async expImg(img) {
      const modal = await modalController.create({
        component: ModalImg,
        componentProps: {
          img: img,
        },
      });
      return modal.present();
    },

    openExtFile(valsend) {
      window.open(valsend, "_system");
    },
    getMIMEtypeReverse(extn) {
      const ext = extn.toLowerCase();
      const MIMETypes = {
        "video/x-msvideo": "avi",
        "text/plain": "txt",
        "application/vnd.openxmlformats-officedocument.wordprocessingml.document":
          "docx",
        "application/msword": "doc",
        "application/pdf": "pdf",
        "image/jpeg": "image/jpeg",
        "image/bmp": "image/bmp",
        "image/png": "image/png",
        "audio/mpeg": "mp3",
        "audio/3gp": "3gp",
        "audio/mp4": "m4a",
        "video/mp4": "mp4",
        "video/mpeg": "video/mpeg",
        "application/vnd.ms-excel": "excel",
        "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":
          "excel",
        "application/vnd.ms-powerpoint": "powerpoint",
        "application/vnd.openxmlformats-officedocument.presentationml.presentation":
          "powerpoint",
      };
      let a = "";
      if (MIMETypes[ext] != null && MIMETypes[ext] !== undefined) {
        a = MIMETypes[ext];
      }
      return a;
    },

    async closeChatDerivated() {},
    async gotochatDerivated(idChat, askerUserId, status, showRating) {
      console.log("focus ", idChat, askerUserId, status, showRating);
    },
    async getAttachment(id, name) {
      var url =
        id +
        "interactiveChats" +
        "/attachment/" +
        id +
        "?access_token=" +
        localStorage.getItem("k-chat-token") +
        "&filename=" +
        name;
      window.open(url, "Download");
    },
    async previewFilesDerivated() {
      if (this.$refs.myFileDerivated.files.length > 0) {
        this.flagPrepareFileDerivated = true;
        this.sendFileDerivated = true;

        if (
          this.$refs.myFileDerivated.files &&
          !this.$refs.myFileDerivated.files[0].type
        ) {
          this.fileErrorDerivated = true;
          this.flagPrepareFileDerivated = false;
          this.sendFileDerivated = false;
          this.$refs.myFileDerivated.value = "";
        } else {
          this.fileErrorDerivated = false;
        }
      } else {
        this.flagPrepareFileDerivated = false;
        this.sendFileDerivated = false;
      }
    },
    async previewFiles() {
      if (this.$refs.myFile.files.length > 0) {
        this.flagPrepareFile = true;
        this.sendFile = true;
        if (this.$refs.myFile.files && !this.$refs.myFile.files[0].type) {
          this.fileError = true;
          this.flagPrepareFile = false;
          this.sendFile = false;
          this.$refs.myFile.value = "";
        } else {
          this.fileError = false;
        }
      } else {
        this.flagPrepareFile = false;
        this.sendFile = false;
      }
    },
    focusInput() {
      var vue = this;
      setTimeout(function () {
        console.log("focus en input timeout");
        vue.$refs.send.focus();
      }, 100);
    },
    focusInputDerivate() {
      var vue = this;
      setTimeout(function () {
        console.log("focus en input timeout");
        document.getElementById("contentEditable").focus();
        vue.$refs.contentEditable.focus();
      }, 100);
    },
    async sendMessage(text) {
      console.log(this.getUser);
      console.log("focus en input timeout", text);
      if (text == "" || text == null) {
        return;
      }
      console.log("focus en input timeout", this.chatMessages);

      const aux = this.chatrooms.doc(this.$route.params.id);

      await aux.update({
          "timestamp": firebase.firestore.FieldValue.serverTimestamp()
      })
      .then(() => {
          console.log("Updated document timestamp!");
      });

      const objMsg = {
        type: null,
        read: false,
        file: null,
        userId: this.getUser.id,
        userName: this.getUser.name + " " + this.getUser.last_name,
        message: text,
        date: new Date().toISOString(),
        timestamp: firebase.firestore.FieldValue.serverTimestamp(),
        originPlayerId: this.playerId,
        url: 'https://odontoenlace.com/app#/chat/' + this.$route.params.id
      };

      if (this.chatMessages.length < 1) {
        aux
          .collection("messages")
          .add(objMsg)
          .then((res) => {
            console.log("Message sent.", res);
            this.scrollDown();
            this.msg.text = "";
            this.blurKeyEnter();
          })
          .catch((err) => console.log("Error", err));
      } else {
        aux
          .collection("messages")
          .add(objMsg)
          .then((res) => {
            console.log("Message sent.", res);
            this.scrollDown();
            this.msg.text = "";
            this.blurKeyEnter();
          })
          .catch((err) => console.log("Error", err));
      }

      //Send push notification to the receiver
      this.sendPushNotification(objMsg);
    },

    sendPushNotification(objMsg) {
      // console.log("Users are: " + this.dataChat.user1 + " and " + this.getUser.id);
      // this.dataChat.receiverPlayerId = objMsg.originPlayerId;

      if (this.dataChat.receiverPlayerId && this.dataChat.receiverPlayerId.length > 10) {
          this.sendOneSignalPush(this.getUser.name, this.dataChat.receiverPlayerId, objMsg.message, objMsg.url);
      } else {
        console.info(
          "Player ID for " + this.dataChat.receiverPlayerId + " is not set"
        );
      }
    },

    sendOneSignalPush(username, receiver, message, url) {
      var notificationObj = {
        headings: { en: username, es: username},
        contents: { en: message, es: message },
        include_player_ids: [receiver],
        url: url
      };

      if (getPlatforms().includes("capacitor")) {
        console.info("From: sendOneSignalPush, Platform is capacitor");

        OneSignal.setAppId("0621d600-f4ef-4c27-a2cd-08a335aeea4b");

        // Send notification to receiver

        OneSignal.postNotification(
          notificationObj,
          function (successResponse) {
            console.log("Notification Post Success:", successResponse);
          },
          function (failedResponse) {
            console.log("Notification Post Failed: ", failedResponse);
            alert(
              "Notification Post Failed:\n" + JSON.stringify(failedResponse)
            );
            this.openToast(
              "Tu receptor no tiene las notificaciones activadas",
              "danger"
            );
          }
        );
      } else {
        console.log("Platform is not capacitor");

        const pushObject = new FormData();
        pushObject.append('message', message);
        pushObject.append('receiver', receiver);
        pushObject.append('url', url);

        console.log('Pushing: ' + message + ' to ' + receiver + ' with the following url: ' + url);

        api
          .post("users/push", pushObject, {
            headers: {
              Authorization: `Bearer ${this.getAccessToken}`,
            },
          })
          .then((response) => {
            console.log(response);
          })
          .catch((error) => {
            console.log(error);
            if (
              error.response &&
              error.response.data &&
              error.response.data.type &&
              error.response.data.type == "info"
            ) {
              this.openToast(
                JSON.stringify(error.response.data.message),
                "danger"
              );
            } else {
              console.log(JSON.stringify(error.response.data));
            }
          })
          .finally(() => {
            this.isLoading = false;
          });
      }
    },

    calculateAgo(value) {
      if (value) {
        const s = value.replace(/[ :]/g, "-").split("-");
        console.log(s);
        const d = new Date(s[0], s[1] - 1, s[2], s[3], s[4], s[5]);
        const seconds = Math.floor((+new Date() - +d) / 1000);
        console.log(seconds);
        console.log(new Date());
        console.log(d);
        if (seconds < 29) {
          // 'Just now'
          if (this.language === "en") {
            return "Just now";
          } else {
            return "Justo ahora";
          }
        }
        let intervals = {};
        if (this.language === "en") {
          intervals = {
            year: 31536000,
            month: 2592000,
            week: 604800,
            day: 86400,
            hour: 3600,
            minute: 60,
            second: 1,
          };
        } else {
          intervals = {
            año: 31536000,
            mes: 2592000,
            semana: 604800,
            día: 86400,
            hora: 3600,
            minuto: 60,
            segundo: 1,
          };
        }
        let counter;
        // tslint:disable-next-line:forin
        for (const i in intervals) {
          let aux = "";
          if (this.language === "en") {
            aux = "ago";
          } else {
            aux = "hace";
          }
          counter = Math.floor(seconds / intervals[i]);
          if (counter > 0) {
            if (counter === 1) {
              if (this.language === "en") {
                return counter + " " + i + " " + aux; // singular (1 day ago)
              } else {
                return aux + " " + counter + " " + i; // singular (1 day ago)
              }
            } else {
              let x = i;
              if (this.language === "en") {
                return counter + " " + x + "s " + aux; // plural (2 days ago)
              } else {
                if (x === "mes") {
                  x = "meses";
                }
                return aux + " " + counter + " " + x + "s "; // plural (2 days ago)
              }
            }
          }
        }
      }
      return value;
    },
    formatDateChat(dateString) {
      // Then specify how you want your dates to be formatted
      return this.calculateAgo(dateString);
    },
    formatDateOriginal(dateString) {
      const date = dayjs(dateString);
      // Then specify how you want your dates to be formatted
      return date.format("dddd MMMM D, YYYY");
    },
    formatDate(dateString) {
      const today = new Date();
      today.setDate(today.getDate() - 1);
      const day = new Date(dateString);
      const date = dayjs(dateString);
      if (today < day) {
        return date.format("HH:mm");
      } else {
        return date.format("DD/MM/YYYY HH:mm");
      }
    },
    validDate(dat, index) {
      const today = new Date(dat);
      const oldDay = new Date(this.chatMessages[index - 1].date);
      if (today.getDate() != oldDay.getDate()) {
        return true;
      } else {
        return false;
      }
    },
    formatDateIsToday(dateString) {
      const today = new Date();
      today.setDate(today.getDate() - 1);
      const day = new Date(dateString);
      if (today < day) {
        return true;
      } else {
        return false;
      }
    },
    getNameChat() {
      if (this.dataChat.user1 == this.getUser.id) {
        return this.dataChat.userName2;
      } else {
        return this.dataChat.userName1;
      }
    },

    async notTyping() {
      this.typing = false;
      /*
      if (this.interactiveChatMasterId) {
        this.$socket.emit('not_typing_user', { interactiveChatMasterId: this.interactiveChatMasterId, helpDesk: false })
      }*/
    },
    async blurKeyEnter() {
      console.log("blurKeyEnter>>>");
      const aux = this.chatrooms.doc(this.$route.params.id);
      aux.update({
        typing: null,
      });
    },
    async onKeyDownNotEnter() {
      /*Esto es para el typing*/
      clearTimeout(this.timeout);
      this.timeout = setTimeout(() => {
        console.log("here>>>");
        const aux = this.chatrooms.doc(this.$route.params.id);
        aux.update({
          typing: this.getUser.id,
        });
      }, 10);
    },
    async getShowButtons() {},
    async firstMessages() {},
    endChatDerivatedChat() {
      console.log("endChat");
    },
    endChat() {},
    async getButtons() {},
    async getMessages() {},
    async getMoreMessagesDerivate() {},
    async analyzingMessage() {},
    async getMoreMessages() {},
    renderHtml(html) {
      return html;
    },
    readChats() {
      if (this.isNEW) {
        const aux = JSON.parse(JSON.stringify(this.chatMessages));
        let auxindex = 0;
        for (const iterator of aux) {
          if (!iterator.read && iterator.userId != this.getUser.id) {
            if (!this.firstIndex) {
              this.indexNuevos = auxindex;
              this.firstIndex = true;
            }
            const aux1 = this.chatrooms
              .doc(this.$route.params.id)
              .collection("messages")
              .doc(iterator.id);
            aux1
              .update({
                read: true,
              })
              .then(() => {
                console.log("Document successfully updated!");
              });
          }
          auxindex++;
        }

        this.isNEW = !this.isNEW;
      } else {
        this.isNEW = !this.isNEW;
      }
    },
    async scrollDown() {
      setTimeout(function () {
        var div = document.getElementById("scroll");

        if (div && div.scrollHeight){
          console.log(300 + div.scrollHeight, div.clientHeight);
          div.scrollTop = 300 + div.scrollHeight;
        }
      }, 100);
    },
    async scrollDownDerived() {
      /*setTimeout(function () {
        var wtf = $('#scrollDerivated')
        var height = wtf[0].scrollHeight
        wtf.scrollTop(height)
      }, 100)*/
    },
    async scrollMessages(event) {
      if (event.srcElement.scrollTop <= 0) {
        this.getMoreMessages(false, "scroll");
      }
    },
    async scrollMessagesDerivate(event) {
      if (event.srcElement.scrollTop <= 0) {
        console.log("Estoy en el top");
        this.getMoreMessagesDerivate(false, "scroll");
      }
      console.log('top: ' + event.srcElement.scrollTop, 'height: ' + event.srcElement.scrollHeight);
    },
    timeCheck() {
      console.log("timeCheck");
    },
    seeModalAuxForm() {},
    seeModalForm() {},
    closeModalForms() {},
    sendForm() {},
    checkHomeActivity() {},
    async getChatDerivates() {},

    async getChatAux() {
      this.chatrooms
        .doc(this.$route.params.id)
        .collection("messages")
        .orderBy("timestamp", "asc")
        .onSnapshot((doc) => {

          // console.log("Current data: ", doc);

          this.chatMessages = [];
          doc.docs.forEach((element) => {

            let objMsg = {};
            objMsg = element.data();
            objMsg.id = element.id;
            this.chatMessages.push(objMsg);

            if (objMsg.originPlayerId && objMsg.originPlayerId.length > 10) {
              if (objMsg.originPlayerId == this.playerId){
                console.log('It is my message, I will not change');
              } else {
                console.log('Setting receiverPlayerId to: ' + objMsg.originPlayerId + ' from ' + objMsg.userName);
                this.dataChat.receiverPlayerId = objMsg.originPlayerId;
              }
            }
            this.scrollDown();
          });
          if (this.chatMessages) {
            this.readChats();
          }
        });
    },
    removeHtml() {},
    async socketChatDerivate() {},
    async notifyMe() {},
    async socketCreatedChat() {},
    async getTimerTimeout() {},
    updateFlagHome() {},
    async closeModalHome() {},
    async clearRetakeTimer() {},
    async finishByTimeout() {},
    async socketCheck() {},
    async calculateInputSearch() {},
    testFocus() {
      setInterval(() => {
        //const isFocus = this.$refs.send.hasFocus
        //console.log('IS FOCUS::', isFocus)
      }, 100);
    },
    preventFocus() {
      /*$('#btnSendMsg,#btnSendEdit').on('mousedown', function (event) {
        event.preventDefault()
      })*/
    },
  },
  mounted() {},
  watch: {
    /* viewChatDerivated(newVal) {
      if (newVal) {
        $('.section-container').addClass('overflow-hidden-full')
      } else {
        $('.section-container').removeClass('overflow-hidden-full')
      }
    },*/
  },
  ionViewDidEnter() {
    if (getPlatforms().includes("capacitor")) {
      console.info("From ionViewDidEnter, Platform is capacitor");

      OneSignal.setAppId("0621d600-f4ef-4c27-a2cd-08a335aeea4b");

      // Get current device Player ID

      OneSignal.getDeviceState((stateChanges) => {
        console.log(
          "OneSignal getDeviceState: " + JSON.stringify(stateChanges)
        );
        if (stateChanges && stateChanges.hasNotificationPermission) {
          this.playerId = stateChanges.userId;
          console.log("This device Player ID: " + this.playerId);
        } else {
          this.openToast(
            "Activa las notificaciones en ajustes de la aplicación en Android para que puedas recibir notificaciones de mensajes",
            "primary"
          );
        }
      });
    } else {
      console.info("From ionViewDidEnter, Platform is not capacitor");

      // Get current device Player ID

      window.OneSignal.getUserId((userId) => {
        this.playerId = userId;
        console.log("This device Player ID: " + userId);
      });
    }

    // this.isLoading = true;
    console.log("Entrando al Chat...");
    this.scrollDown();
  },
  created() {
    console.log("/chatInteractive");
    console.log(firebase);
    console.log(window.location.origin + "/chatInteractive");
    console.log(this.$route.params.id);
    this.chatrooms.doc(this.$route.params.id).onSnapshot((doc) => {
      const aux = doc.data();

      console.log('Iniciando doc:', aux);

      if (this.initLoad) {
        this.getChatAux();
        this.initLoad = false;
      }
      if (!(aux && aux.typing)) {
        setTimeout(() => {
          this.scrollDown();
        }, 150);
      }

      this.isTyping = (aux && aux.typing);

      const tempReceiverPlayerId = this.dataChat.receiverPlayerId;
      // const tempPlayerId2 = this.dataChat.playerId2;

      this.dataChat = aux;

      this.dataChat.receiverPlayerId = tempReceiverPlayerId;
      
      if(aux.playerId2 && aux.playerId2.length > 10 && this.dataChat.receiverPlayerId != aux.playerId2 && this.getUser.player_id != aux.playerId2){
        this.dataChat.receiverPlayerId = aux.playerId2;
      }

      console.log("Afer cleaning, receiverPlayerId: " + this.dataChat.receiverPlayerId);
      // console.log("Afer cleaning, playerId2: " + this.dataChat.playerId2);
    });
    this.socketCreatedChat();
    this.getShowButtons();
    this.socketChatDerivate();
    this.getChatDerivates();
    // this.checkHomeActivity()
    var vue = this;
    /*Cerrar con escape*/
    document.onkeyup = function (event) {
      if (event.keyCode === 27 || event.key == "Escape") {
        if (vue.viewChatDerivated) {
          vue.closeChatDerivated();
        }
      }
    };
  },
});
</script>

<style lang="scss">
@import "./chat.scss";
@import "./chat_mobile.scss";

.section-container.overflow-hidden-full {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}
.my-class-popover {
  --width: 160px;
}
.div-endChat {
  text-align: center;
  position: relative;
  bottom: -10px;
}
.divExtra {
  cursor: pointer;
  position: relative;
  text-align: right;
  // right: 12px;
  // top: 26px;
  margin: 0;
  img {
    width: 19px;
  }
}
.img-chat {
  max-height: 100px;
  object-fit: contain;
  text-align: center;
  border-radius: 2px;
  margin: 3px auto;
}
.div-file {
  padding: 20px 20px !important;
  background: #efefef;
  border: 2px dashed #e0e0e0;
  border-radius: 4px;
  width: 96%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  /* margin: auto; */
  text-align: center;
  position: relative;
  .innerFile {
    width: 140px;
    text-align: center;
    margin: auto;
    position: relative;
    border-radius: 4px;
    border: 1px dashed #868686;
  }
  .closeFile {
    position: absolute;
    z-index: 11;
    top: 3px;
    right: 5px;
    cursor: pointer;
  }
}
.tab-auxChats {
  display: inline-flex;
  background-color: #b2d4f1;
  border-radius: 0 0 16px 16px;
  padding: 10px 28px;
  .tabAux {
    margin-right: 1em;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #686868;
    display: flex;
    align-items: center;
    strong {
      padding-right: 4px;
    }
    img {
      padding-right: 6px;
    }
  }
}
.helpDrop {
  .send_field {
    padding: 80px 20px !important;
    text-align: center !important;
    border-radius: 8px !important;
    border: 2px dashed #e0e0e0 !important;
  }
}
.endB {
  background-color: #ec5934 !important;
}
</style>