.chat-container {
  /*padding: 15px 15px 15px 190px;*/
  padding: 0px;
  height: 55vh;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
  overflow-y: auto;
  padding-top: 90px !important;
  padding-bottom: 10px !important;
}

.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.box-body>.table {
  margin-bottom: 0;
}

.box-body .fc {
  margin-top: 5px;
}

.box-body .full-width-chart {
  margin: -19px;
}

.box-body.no-padding .full-width-chart {
  margin: -9px;
}

.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}

.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}

.direct-chat-messages {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  padding: 10px;
  height: 75vh;
  overflow: auto;
}

.direct-chat-messages,
.direct-chat-contacts {
  -webkit-transition: -webkit-transform .5s ease-in-out;
  -moz-transition: -moz-transform .5s ease-in-out;
  -o-transition: -o-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
}

.chatderivated-container .chat__content {
  padding-left: 0px;
  padding-right: 0px;
}

.chat__content {
  margin-top: -4em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.right .direct-chat-text {
  background: #fff;
  border-color: #DAE6EE;
  color: #888;
  padding-right: 20px;

}

.direct-chat-msg,
.direct-chat-text {
  display: block;
}

.direct-chat-msg {
  //margin-bottom: 10px;
  position: relative;
  display: inline-block;
  /*margin-top: 30px;*/
  margin-top: 5em;
  max-width: 100%;
  width: 100%;
}

.direct-chat-msg.right {
  margin-top: 4.9em;
}

.direct-chat-msg:before,
.direct-chat-msg:after {
  content: " ";
  display: table;
}

.direct-chat-msg:after {
  clear: both;
}

.timeline-content {
  text-align: center;
  color: #D9D9D9;
  border-bottom: solid 1px #D9D9D9;
  position: relative;
  margin: 0px 0 30px 0;
}

.timeline-content span {
  position: relative;
  top: 10px;
  overflow: hidden;
  background: #f4f5f8;
  padding: 0 10px;
}

.message-container {
  margin-top: -10px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.direct-chat-text {
  display: inline-block;
  border-radius: 6px;
  position: relative;
  padding: 10px 15px 10px 15px;
  background: #D2DFF4;
  border: 1px solid #f4f5f8;
  margin-left: 10px;
  color: #fff;
  max-width: 43%;
  /*  max-width: calc(100% - 50px);*/
  min-width: 25%;
  word-break: break-word;
  font-size: 12px;

  .direct-chat-response {
    color: #041E51;
    font-weight:450;
  }
 
}
.right .direct-chat-response {
  color: #fff;
  font-weight:450;
}

.right .direct-chat-text {
  margin-right: 10px;
  margin-left: 0;
  float: right;
}

.direct-chat-img {
  border-radius: 50%;
  float: left;
  width: 30px;
  height: 30px;
}

.right .direct-chat-img {
  float: right;
}

.is__typing .direct-chat-text {
  //  margin-left: 20px;
}

.chat-list__data-date {
  margin-bottom: 5px;
  color: #041E51;
  font-size: 12px;
  min-height: 10px;
}
.right .chat-list__data-date {
  color: #fff;
}

.is__typing {
  margin-top: 0 !important;
  margin-left: 20px;
  position: absolute;
  bottom: 65px;
}

.box-footer {
  position: relative;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.box-footer .input-group {
  margin-top: 4em;
}

.label-error {
  position: absolute;
  color: red;
  right: 40px;
  top: 10px;
}

.label-error-derivated {
    position: absolute;
    color: red;
    right: 40px;
    top: -17px;
}


.file__btn {
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 50% !important;
  background-color: #f4f5f8;
  border: 2px solid #E0E0E0;
  margin-left: 10px;

  img {
    width: 20px;
    margin-top: 5px;
  }
}

label.file__btn.input-group-btn.disabled__btn {
  opacity: 0.8;
  background: lightgreen;
}

label.file__btn.input-group-btn.disabled__btn i {
  color: green;
}

input#file {
  display: none;
}

.btn.btn-send {
  cursor: pointer;
  color: #fff;
  width: 42px;
  height: 42px;
  border-radius: 5px !important;
  margin-left: 10px;
  background: #15C5A8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  margin-top: -7px;

  img {
    width: 20px;
    margin-top: 0px;
    margin-left: -1px;
  }
}


.input-group-responsive {
  position: fixed;
  margin-right: 30%;
  margin-left: 35px;
  bottom: 20px;
}


.input-group-responsive-doubts {
  position: relative;
  margin-right: 30%;
 .send_field {
   width: 90%;
 }

 .btn.btn-send {
    margin-top: -1px;
    position: absolute;
    right: 10px;
 }
}

.send_field {
  height: 42px;
  width: 63%;
  padding-left: 10px;
  border: solid 2px #CBCBCB;
  border-radius: 43px;
  color: #6B6B6A;
  font-size: 0.9rem;
  // font-family: 'MonserratLigth';
}

.tabs-options {
  font-family: 'Roboto';

  .tabs {
    border-left: 2px solid #E0E0E0;
  }

  .nav-tabs {
    //background-color: #4198D4;
    border-bottom: 3px solid #337AB7;
  }

  .nav-item {
    margin-bottom: 0px;
    font-weight: bold;
  }

  .nav-link {
    background-color: #337AB7 !important;
    color: white !important;
    border: unset;
  }

  .tab-content {
    background-color: #f4f5f8;
  }
}


/*Chat derivados*/
.listchat-container {
  height: calc(100vh - 93px);
  overflow-y: scroll;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  //padding: 5px 20px 10px 20px;
  padding: 0;
  overflow-x: hidden;
}

.listchat-container:hover .listchat-date {
  display: unset;
}

.listchat-user {
  margin-top: 2px;
  margin-bottom: 5px;
}


.listchat-title {
  margin-bottom: 0px;
  padding-left: 5px;
  border-bottom: 1px solid #e5e5e5;
}

.listchat-user-name {
  font-weight: 500;
  margin-left: 28px;
  white-space: nowrap;
  font-size: 13px;

}

.listchat-date {
  font-size: 11px;
  position: absolute;
  right: 0px;
  top: 11px;
  padding-left: 5px;
  padding-right: 3px;
  display: none;
  z-index: 100;
  background-color: inherit;
}

.listchat-status {
  font-size: 11px;
  position: absolute;
  right: 0px;
  top: 11px;
  padding-left: 5px;
  padding-right: 3px;
  z-index: 100;
  background-color: inherit;
}

.listchat-message {
  white-space: nowrap;
  font-size: 11px;
  margin-left: 28px;
  font-weight: 500;
}

.listchat-image {
  left: 0px;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 10px;
  background-color: #349BD6;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 18px;
  color: white;
}

.listchat-seen .listchat-message {
  font-weight: 600 !important;
  color: black;
}

.listchat-seen .listchat-user-name {
  font-weight: 600 !important;
  color: black;
}



.listchat-item {
  cursor: pointer;
  width: 100%;
  height: 60px;
  line-height: 1.25rem;
  display: block;
  color: rgb(118, 131, 139);
  font-weight: 700;
  font-size: 0.875rem;
  position: relative;
  user-select: none;
  padding: 10px 22px;
  transition: background-color 0.2s ease-in 0s, box-shadow 0.15s ease-in 0s, width 0.05s ease 0s;
  border-bottom: 1px solid #8E8E8E;
  padding-bottom: 60px;
}

.listchat-item:hover {
  background-color: rgb(118, 131, 139);
  color: rgb(249, 250, 252) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px inset;
  text-decoration: unset !important;
}


/*CHAT DERIVADOS*/
.opacity-container {
  background: rgba(0, 0, 0, .4);
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.chatderivated-container {
  height: calc(100% - 55px);
  width: 25%;
  left: 75%;
  top: 0px;
  padding: 0;
  position: absolute;
  background-color: #f4f5f8;
  z-index: 10000;
  border: 1px solid lightgray;

  .right .direct-chat-text {
    margin-right: 1px;
    background: #5B6A89;
    color: #FFFFFF;
  }

  .direct-chat-text {
    margin-left: 1px;
  }
}

.chatderivated-header {
  background-color: #3097D2;
  height: 40px;
  margin-left: -1px;
  color: white;
  cursor: pointer;
}

.chatderivated-title {
  padding-left: 15px;
  padding-top: 10px;
  font-size: 15px;
}

.chatderivated-back {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.box-body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    background: transparent;
    //width: 0;
    height: 0;
  }
}

.chatderivated-messages {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  padding: 10px;
  height: 82vh;
  overflow: auto;
  background-color: #f4f5f8;
  margin-left: 5px;
  overflow-x: hidden;
  padding-left: 5px;
  padding-right: 0px;
  margin-right: -8px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    background: transparent;
    //width: 0;
    height: 0;
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
      background: #FF0000;
  }
}

.chatderivated-messages-medium {
  height: 76vh;
}

.chatderivated-messages-all {
  height: 74vh;
}

.send-container-flexible {
  position: fixed;
  bottom: 20px;
}

.responsive-send-input {
  position: absolute;
  overflow-x: hidden;
  bottom: 5px;
  margin-left: 23px;
  margin-right: 23px;
  height: 42px;
  width: 205px;
  max-height: 90px;
  overflow-y: auto;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #6B6B6A;
  background-color: #fff;
  background-image: none;
  word-break: break-word;
  padding-top: 10px;
  border: solid 2px #CBCBCB;
  border-radius: 43px;
  font-family: 'MonserratLigth';
}

.fileLoaded {
  background-color: lightgreen !important;
}

.responsive-send-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.fixed-file-button {
  position: absolute;
  height: 42px;
  bottom: -7px;
}

.fixed-send-button {
  position: absolute;
  right: 60px;
  bottom: 2px;
}

.chatderivated-messages-medium {
  height: 76vh;
}

.chatderivated-messages-all {
  height: 74vh;
}

.chatderivated-text {
  max-width: 85% !important;
}

.tab-charderivated {
  padding-left: 0px !important;
}

.contentEditable-disable {
  background-color: #f4f5f8 !important;
}

.direct-chat-survey-options {
  padding: 15px 20px 0px 20px;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  background: #fff;
  border: 1px solid #E1E1E1;
  margin-left: 10px;
  color: #888;
  max-width: calc(100% - 50px);
}

.direct-chat-survey-options-text {
  cursor: pointer;
  color: blue;
  text-align: center;
  font-size: 15px;
  border: 1px solid blue;
  border-radius: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.direct-chat-survey-options-horizontal-text {
  text-align: left;
  word-break: break-word;
  border: 1px solid #337AB7;
  border-radius: 20px;
  color: #337AB7;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 50px;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.direct-chat-survey-options-question {
  text-align: left;
}

.direct-chat-survey-options-container {
  max-width: 80% !important;
}

.container-survey-options {
  display: flex;
  float: left;
  margin-bottom: .5rem !important;
  margin-right: -0.5rem !important;
  margin-top: .5rem !important;
}

.btn-more-message {
  background-color: #eee;
  border-radius: 12px;
  position: relative;
  bottom: 10px;
  left: 45%;
  cursor: pointer;
  color: #ccc;
  border: none;
  height: 21.64px;
  width: 165px;
}

.btn-more-message-derived {
  background-color: #eee;
  border-radius: 12px;
  position: relative;
  bottom: 10px;
  left: 50% !important;
  transform: translate(-50%, -50%) ;
  cursor: pointer;
  color: #ccc;
  border: none;
  height: 21.64px;
  width: 165px;
  margin-top: 10px;
  font-size: 12px;
}

.btn-selected {
  color: white;
  background-color: #337AB7;
}

.chatLive .direct-chat-survey-options-horizontal-text {
  cursor: auto !important;
}

.notification-warning {
  position: fixed;
  line-height: 38px;
  font-size: 16px;
  height: 60px;
  top: 50px;
  right: 0px;
  left: 0px;
  z-index: 1005;
  opacity: 0.95;
}

.btn-more-message {
  background-color: #eee;
  border-radius: 12px;
  position: relative;
  bottom: 10px;
  left: 45%;
  cursor: pointer;
  color: #ccc;
  border: none;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-more-message:focus {
  border: none;
}

.btn-more-message-text {
  color: #888888 !important;
  padding-left: 0px;
  background-color: transparent ! important;
  font-weight: 500;
}

.file-input-float {
  position: absolute;
  bottom: -2px;
}

.send-float {
  position: absolute;
  bottom: 5px !important;
}

.delete-float {
  position: absolute;
  bottom: 5px !important;
}

.direct-chat-loading {
  margin-top: 0px !important;
  position: absolute;
  background: transparent;
  bottom: 56px;
  text-align: initial;
  margin: 0;
  left: -6px;
}

.loading-text {
  background: #f4f5f84d;
  border-radius: 10px;
  color: #888;
  word-break: break-word;
  font-size: 12px;
  padding-left: 16px;
}

.arrow-up {
  font-size: 13px;
  width: 15px;
  padding-top: 1px;
}

[dir=ltr] .box-footer {
  top: 8px;
}

@media (max-width: 680px) {
  .input-group-responsive-doubts {
    .send_field {
      width: 75% !important;
    }
  }
}

@media (max-width: 770px) {
  .extraTool {
    right: -9px;
    top: 4px;
    position: relative;
  }
}

.listchat-item.new-chat-item {
  padding: 0;
  display: flex;
  height: 70px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;

  .item-chat {
    margin: auto;
    margin-left: 20px;
  }

  .listchat-user-name,
  .listchat-message {
    margin: 0;
    font-size: 12px;
  }

  .listchat-message {
    font-weight: 400 !important;
  }

  .listchat-user-name {
    font-weight: bold !important;
    margin-bottom: 3px;
  }

  .text-content {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 12px;
  }

  .listchat-date {
    font-style: normal !important;
    font-weight: normal !important;
    top: 13px;
    right: 28px;
  }

  .listchat-image-new {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #349BD6;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 22px;
    color: white;
  }
}


.tabs.tabs-chat {
  .nav-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    padding: 15px 20px;
  }

  //max-width: 440px;
  margin-right: 0;
  margin-left: auto;
}



body {

  .no-chat-derivates {
    margin-top: 23px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #337AB7;
  }

  .tabs-options .tabs {
    height: calc(100vh - 50px);
  }

  .tabs.tabs-chat .nav-link {
    border-radius: 0;
    margin-top: 2px;
  }

  .row-tabs {
    margin: 0;
  }

  .box-messages-search {
    padding-top: 0;
    padding-right: 0;
  }

  .tabs-options,
  .col-chat {
    padding: 0;
  }

  .chatInteractive {
    .navbar.top-navigation {
      height: 50px !important;
    }
  }

  .btn-more-message {
    margin-top: 1em;
  }

  .item-chat .listchat-date {
    color: black;
  }

  .listchat-item:hover {
    background: #E8E8E8;
    box-shadow: none;
    color: black;
  }

  .link-download {
    color: #007bff;
  }

  .link-download:hover {
    text-decoration: underline;
    color: #007bff !important;
    cursor: pointer;
  }

}


@media(min-width:768px) {
  .send-container-flexible {
    .input-group {
      position: relative;
      right: 10px;
    }

    #contentEditable {
      width: calc(26vw - 198px) !important;
      left: 3px !important;
    }
  }
}

.div-header {
  width: 100%;
  z-index: 5555;
  height: 70px;
  position: fixed;
  top: 7px;
  padding: 0 22px;
  .div-header-conteiner {
    overflow: hidden;
    background: white;
    display: inline-flex;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    width: 100%;
    height: 70px;
    .div1 {
      width: 30px;
      line-height: 70px;
      text-align: center;
      ion-icon {
        font-size: 18px;
      }
  
    }
    .div4 {
      width: 30px;
      line-height: 70px;
      text-align: center;
      ion-icon {
        font-size: 18px;
      }
    }
    .div2 {
      width: 20%;
      display: flex;
      img {
        width: 100%;
        border-radius: 50%;
        margin: auto;
        padding: 6px;
      }
    }
    .div3 {
      width: 60%;
      padding-left: 8px;
      .title {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #302F2F;
        margin: 0;
        line-height: 30px;
        margin-top: 8px;
      }
       .sub-title {
        font-weight: 300;
        font-size: 13px;
        line-height: 18px;
        color: #302F2F;
        margin: 0;
      }
    }
  }
}
.plt-android .chatderivated-messages {
  // padding-right: 12px !important;
}

