@media (max-width: 768px) {
  input:focus {
    outline: none;
  }
  body {
    .direct-chat-messages {
      height: calc(75vh - 65px) !important;
    }

    .direct-chat-survey-options-container {
      max-width: 95%;
    }

    .tabs-options {
      padding: 0 !important;
    }

    .direct-chat-msg {
      margin-top: 5em;
    }

    .message-container {
      margin-top: -3px;
    }

    .row-tabs {
      margin: 0;

      .col-chat {
        padding: 0;
      }
    }

    .direct-chat-text {
      max-width: 80%;
    }

    .direct-chat-survey-options-question {
      max-width: 90% !important;
    }

    .chatderivated-container {
      overflow-x: hidden;
      width: 100%;
      left: 0;
    }

    .listchat-message {
      width: 70vw;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .chat__content {
      padding: 0;
    }

    .box-body.box-messages-search {
      padding: 0;
    }
  }

  .tabs.tabs-chat {
    .nav.nav-tabs {
      display: none;
    }
  }

  hr.spacer-tabs-chat {
    margin: 0;
    height: 6px;
    background: #337ab7;
    display: block;
    border: none;
    box-shadow: none;
  }

  .tabs-chat-mobile {
    .nav.nav-tabs {
      width: 100vw;

      .nav-item {
        width: 50vw;
      }
    }
  }

  .chat-tabs-mobile {
    .nav-tabs {
      border: none;
    }

    .tab-content {
      margin-bottom: 0;
      margin-top: 0 !important;
    }

    .nav-item {
      width: 50%;
      text-align: center;
      font-size: 12px;
      display: flex;

      a {
        height: 40px;
        padding: 0;
        line-height: 40px;
        vertical-align: middle;
        border-radius: 0 !important;
        border: none !important;

        &.nav-link.active {
          background: #337ab7;
          color: #f8f8f8;
        }

        background: #f8f8f8;
        color: #337ab7;

        width: 100%;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }

  .chatderivated-messages {
    // height: calc(72vh - 100px) !important;
  }

  .btn-more-message {
    margin-top: 10px;
  }

  .send-container-flexible {
    padding: 0 !important;
    position: relative;

    #fileDerived {
      position: relative;
      width: fit-content;
    }

    .input-group {
      padding-left: 21px;

      margin: 0;
      display: flex;

      .responsive-send-input {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0;
        margin-right: 0;
        font-size: 12px !important;
        width: calc(100% - 100px) !important;
        height: 34px !important;
        margin-right: 0px;
      }

      button.btn-send {
        margin-left: 10px;
        margin-top: auto !important;
        margin-bottom: auto !important;
        position: relative;
        left: -2px !important;
        bottom: 0 !important;
        right: 0 !important;
        top: 0 !important;
      }

      label.btn.file__btn {
        margin: auto 0 !important;
        margin-left: 10px !important;
        position: relative;
        top: 0;
        right: 0;
        left: 0 !important;
        bottom: 0;
      }
    }
  }

  .input-group-responsive.search-group,
  .send-container-flexible {
    bottom: 0;
    height: 55px;
    display: flex;
    background: #f2f2f2;
    width: 100%;
    margin: 0;
    padding-left: 8px;

    #send_send,
    #contentEditable {
      :focus {
        outline: none !important;
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      font-size: 0.9rem;
      width: calc(100% - 100px) !important;
      height: 34px;
      margin-top: auto;
      margin-bottom: auto;
      background: #ffffff;
      border: 1px solid #e0e0e0;
      border-radius: 43px;
      padding-right: 38px;
    }

    .input-group-btn {
      height: 100%;
      display: flex;
    }

    button.btn {
      img {
        height: 17px;
        position: relative;
        right: 1px;
      }
    }

    label {
      border: 1px solid #e0e0e0;
    }

    label,
    button,
    .btn.btn-send {
      margin-top: auto;
      margin-bottom: auto;
      height: 33px;
      width: 60px;
      display: block;
      padding: 0;

      img {
        margin: auto;
        height: 15px;
        width: auto;
      }
    }
  }
  .send_sendFile {
    position: absolute;
    right: 0;
    z-index: 111;
    background: transparent;
    right: 108px;
    top: 12px;
    width: 25px;
    text-align: center;
    font-size: 1.5rem;
  }
}
