<template>
  <ion-content class="ion-padding">
    <img :src="img" @click="backModal()" style="height: 99%; object-fit: contain;">
  </ion-content>
</template>

<script>
import { IonContent, modalController} from '@ionic/vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'ModalImg',
  props: {
    img: { type: String, default: '' },
  },
  data() {
    return {
      content: 'Content',
    }
  },
  components: { IonContent},
  methods: {

    backModal() {
        modalController.dismiss();
    }

  }
});
</script>