<template>
  <ion-page>
    <ion-content :fullscreen="true" scroll="false">
      <loading
        v-model:active="isLoading"
        :can-cancel="true"
        :is-full-page="true"
      />
      <ion-row class="ion-justify-content-center header-label ion-margin">
        <ion-text color="light">
          <strong>Mis Chats</strong>
        </ion-text>
      </ion-row>
      <div>
        <ion-row
          class="store-card ion-margin"
          v-for="(item, index) in chats.sort((a, b) => ((b && b.timestamp && b.timestamp.seconds ) ? b.timestamp.seconds : 0) - ((a && a.timestamp && a.timestamp.seconds ) ? a.timestamp.seconds : 0))"
          :key="index"
        >
          <ion-col>
            <div class="div-paciente">
              <div class="left" @click="gotoChat(item)">
                <!-- <img :src="(item.user1 == getUser.id && item.profileImage2) ? item.profileImage2 : ((item.user2 == getUser.id && item.profileImage1) ? item.profileImage1 : logo)" /> -->
                <ion-thumbnail
                  style="--size: 4rem; --border-radius: 50%; margin-top: 0.6rem; margin-left: 0.5rem;"
                >
                  <ion-img
                    :src="(item.user1 == getUser.id && item.profileImage2) ? item.profileImage2 : ((item.user2 == getUser.id && item.profileImage1) ? item.profileImage1 : logo)"
                  ></ion-img>
                </ion-thumbnail>
              </div>
              <div class="right" @click="gotoChat(item)">
                <p class="title">
                  {{ getName(item)
                  }}<span
                    v-show="item.notRead > 0 && item.notRead < 10"
                    class="num"
                    >{{ item.notRead }}</span
                  ><span v-show="item.notRead > 9" class="num">+9</span>
                </p>
                <p class="sub-title">{{ lastChat(item) }}</p>
              </div>
              <div class="div4">
                  <ion-icon
                    @click="openPopover($event, item)"
                    :icon="ellipsisVertical"
                  ></ion-icon>
                </div>
            </div>
          </ion-col>
        </ion-row>
        <div
          v-if="chats.length == 0 && isLoad"
          class="ion-padding ion-margin-top ion-text-center"
        >
          <ion-badge color="secondary">No tienes chats activos</ion-badge>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonContent,
  IonPage,
  IonRow,
  IonCol,
  IonText,
  IonBadge,
  IonThumbnail,
  IonImg,
  IonIcon,
  onIonViewDidEnter,
  popoverController,
} from "@ionic/vue";
import { defineComponent, reactive } from "vue";
import Popover from "./popover.vue";
import { mapGetters } from "vuex";
import firebase from "../../Firebase";
import { checkmark, ellipsisVertical } from "ionicons/icons";

import eventBus from '../../eventBus'

export default defineComponent({
  name: "mychats",
  components: {
    IonContent,
    IonPage,
    IonRow,
    IonCol,
    IonText,
    IonBadge,
    IonThumbnail,
    IonImg,
    IonIcon,
  },
  setup() {
    const isLoading = reactive(true);
    const logo = "assets/img/logo_perfil.png";

    onIonViewDidEnter(() => {
      console.log("Entrando al chat...");
    });

    return {
      checkmark,
      isLoading,
      logo,
      ellipsisVertical
    };
  },
  data: () => ({
    storeSlides: [
      {
        image: "assets/img/slide2.png",
      },
    ],
    query: "",
    segTool: "info",
    isLoad: false,
    chats: [],
    chatrooms: [],
    selectedChat: {}
  }),
  computed: {
    ...mapGetters(["getUser", "getAccessToken"]),
  },
  mounted() {
      eventBus().emitter.on("chat-deleted", () => {
        // this.chats.splice(
        //     this.chats.findIndex((el) => {
        //       return el.id == this.selectedChat.id;
        //     }),
        //     1
        //   );
      });
  },
  updated() {},
  ionViewDidEnter() {
    try {
      this.chatrooms = firebase.firestore().collection("chatrooms/");
      this.getChats();
    } catch (ex) {
      console.error(ex);
    }
  },
  methods: {
    getNotReadChats() {
      for (const iterator of this.chats) {
        let notRead = 0;
        for (const itax of iterator.messages) {
          if (this.getUser.id != itax.userId && !itax.read) {
            notRead++;
          }
        }
        iterator.notRead = notRead;
      }
    },
    lastChat(item) {
      if (item.messages && item.messages.length > 0) {
        if (item.messages[0].type) {
          return "Imagen / Archivo";
        } else {
          return item.messages[0].message;
        }
      } else {
        return "Sin mensajes";
      }
    },
    getName(item) {
      if (this.getUser && (this.getUser.id == item.user1)) {
        return item.userName2;
      } else {
        return item.userName1;
      }
    },
    gotoChat(item) {
      // this.$store.commit("setChatReceiver", val);
      this.$router.push("/chat/" + item.id);
    },
    segmentChanged(ev) {
      console.log(ev);
    },
    selectPatient(item) {
      this.patient = item;
    },
    getChats() {
      console.log('ID del usuario: ' + this.getUser.id);

      var chatroomsColectionUser1 = this.chatrooms
        .where("user1", "==", this.getUser.id);

      var chatroomsColectionUser2 = this.chatrooms
        .where("user2", "==", this.getUser.id);

      chatroomsColectionUser1.onSnapshot((snapshot) => {
        snapshot.docChanges().forEach((change) => {
            if (change.type === "added") {
                console.log("New chat: ", change.doc.data());
                // this.reloadChats(chatroomsColectionUser1);
            }
            if (change.type === "modified") {
                console.log("Modified chat: ", change.doc.data());
                this.reloadChats(chatroomsColectionUser1);
            }
            if (change.type === "removed") {
                console.log("Removed chat: ", change.doc.data());
                this.reloadChats(chatroomsColectionUser1);
            }
        });
      });

      chatroomsColectionUser2.onSnapshot((snapshot) => {
        snapshot.docChanges().forEach((change) => {
            if (change.type === "added") {
                console.log("New chat: ", change.doc.data());
                // this.reloadChats(chatroomsColectionUser1);
            }
            if (change.type === "modified") {
                console.log("Modified chat: ", change.doc.data());
                this.reloadChats(chatroomsColectionUser1);
            }
            if (change.type === "removed") {
                console.log("Removed chat: ", change.doc.data());
                this.reloadChats(chatroomsColectionUser1);
            }
        });
      });

      this.reloadChats(chatroomsColectionUser1);
    },

    reloadChats(chatroomsColectionUser){

      this.isLoading = true;

      this.chats = [];

        

       chatroomsColectionUser
        .get()
        .then((doc) => {
          this.isLoad = true;
          this.isLoading = false;
          if (doc.empty) {
            this.chatrooms
              .where("user2", "==", this.getUser.id)
              .get()
              .then((doc2) => {
                console.log(doc2);
                if (doc2.empty) {
                  console.log("Creating new chatroom...");
                  this.chats = [];
                } else {
                  doc2.forEach((doc21) => {
                    this.chatrooms
                      .doc(doc21.id)
                      .collection("messages")
                      .orderBy("timestamp", "desc")
                      .get()
                      .then((docn) => {
                        let chatMessages = [];
                        docn.docs.forEach((element) => {
                          let aux1 = {};
                          aux1 = element.data();
                          aux1.id = element.id;
                          chatMessages.push(aux1);
                        });
                        const adata = doc21.data();
                        adata.id = doc21.id;
                        adata.messages = chatMessages;
                        if (!this.chats.find((el) => el.id == adata.id)) {
                          this.chats.push(adata);
                        }
                        this.getNotReadChats();
                      });
                  });
                }
              })
              .catch((error) => {
                console.log("Error getting document:", error);
              });
          } else {
            doc.forEach((doc1) => {

              console.log('Obteniendo mensajes...');

              this.chatrooms
                .doc(doc1.id)
                .collection("messages")
                .orderBy("timestamp", "desc")
                .get()
                .then((docn) => {
                  let chatMessages = [];
                  docn.docs.forEach((element) => {
                    let aux1 = {};
                    aux1 = element.data();
                    aux1.id = element.id;
                    chatMessages.push(aux1);
                  });
                  const adata = doc1.data();
                  adata.id = doc1.id;
                  adata.messages = chatMessages;
                  if (!this.chats.find((el) => el.id == adata.id)) {
                    this.chats.push(adata);
                  }
                  this.getNotReadChats();
                });
            });
            this.getNotReadChats();
            console.log('Chats a ordenar', this.chats);
            this.isLoading = false;
            this.chatrooms
              .where("user2", "==", this.getUser.id)
              .get()
              .then((doc2) => {
                if (doc2.empty) {
                  console.log("create new chatroom");
                } else {
                  doc2.forEach((doc213) => {
                    this.chatrooms
                      .doc(doc213.id)
                      .collection("messages")
                      .orderBy("timestamp", "desc")
                      .get()
                      .then((docn) => {
                        let chatMessages = [];
                        docn.docs.forEach((element) => {
                          let aux1 = {};
                          aux1 = element.data();
                          aux1.id = element.id;
                          chatMessages.push(aux1);
                        });
                        const adata = doc213.data();
                        adata.id = doc213.id;
                        adata.messages = chatMessages;
                        if (!this.chats.find((el) => el.id == adata.id)) {
                          console.log(adata);
                          this.chats.push(adata);
                        }
                        this.getNotReadChats();
                      });
                  });
                  this.getNotReadChats();
                  console.log(this.chats);
                }
              })
              .catch((error) => {
                console.log("Error getting document:", error);
              });
          }
        })
        .catch((error) => {
          console.log("Error getting document:", error);
          this.isLoad = true;
          this.isLoading = false;
        });
    },

    async openPopover(ev, item) {
      this.selectedChat = item;

      const popover = await popoverController.create({
        component: Popover,
        cssClass: "my-class-popover",
        event: ev,
        translucent: true,
        componentProps: {receiver: item}
      });
      await popover.present();

      const { data } = await popover.onDidDismiss();
      console.log("onDidDismiss resolved with role", data);

      let idProfile = "";
      // if (this.dataChat.user1 == this.getUser.id) {
      //   idProfile = this.dataChat.user2;
      // } else {
      //   idProfile = this.dataChat.user1;
      // }

      console.log("idProfile = " + idProfile);
      // console.log(item);
    },
  },
  created() {
    console.log("/chats");
    this.$store.commit("setNumNotread", 0);
    // setTimeout(() => {
    //   this.getChats();
    // }, 1400);
  },
});
</script>

<style scoped src="../../theme/style.css">
</style>

<style scoped>
.logo {
  padding: 5%;
  height: 100%;
}
ion-select {
  margin-bottom: 4px !important;
}
</style>

<style scoped>
::v-deep .modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  max-height: 95%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}
.modal__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
}
</style>

<style scoped  lang="scss">
.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}
.tab-buttons {
  padding: 0 9px;
  ion-button {
    font-size: 10px;
    min-height: 2.2em;
    text-transform: capitalize;
  }
}
.div-seg-content {
  margin-bottom: 16px;
  padding: 8px;
}
.seg-desc-bottom {
  font-weight: 300;
  font-size: 13px;
  color: #041e51;
}
.seg-desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #4f4d4d;
}
.seg-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #041e51;
}
.div-segments {
  display: inline-flex;
  width: 100%;
  height: 21px;
  border-bottom: 1px solid #041e51;
  .div-seg {
    font-size: 9.5px;
    padding: 0 5px;
    text-align: center;
    width: inherit;
  }
  .div-seg-active {
    border-bottom: 3px solid #041e51;
    transition: 0.3s ease-in-out;
  }
}
.div-tratamiento {
  padding: 15px 16px;
  background: white;
  margin-top: -12px;
}
.div-paciente {
  width: 100%;
  display: inline-flex;
  align-content: center;
  align-items: center;
  .left {
    width: 25%;
    display: flex;
    img {
      width: 100%;
      border-radius: 50%;
      margin: auto;
      padding: 6px;
    }
  }
  .right {
    padding-left: 8px;
    width: 70%;
    .title {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #302f2f;
      margin: 0;
    }
    .num {
      float: right;
      padding: 2px 8px;
      background: var(--ion-color-secondary);
      border-radius: 4px;
      margin-right: 4px;
      font-size: 10px;
      color: white;
    }
    .sub-title {
      font-weight: 300;
      font-size: 13px;
      line-height: 18px;
      color: #302f2f;
      margin: 0;
    }
  }
}
</style>

<style lang="postcss" scoped>
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  display: none;
}
/deep/ .custom-calendar.vc-container {
  --day-border: 1px solid #b8c2cc;
  --day-border-highlight: 1px solid #b8c2cc;
  --day-width: 90px;
  --day-height: 90px;
  --weekday-bg: #f8fafc;
  --weekday-border: 1px solid #eaeaea;
  border-radius: 0;
  width: 100%;
  & .vc-header {
    background-color: #f1f5f8;
    padding: 10px 0;
  }
  & .vc-weeks {
    padding: 0;
  }
  & .vc-weekday {
    background-color: var(--weekday-bg);
    border-bottom: var(--weekday-border);
    border-top: var(--weekday-border);
    padding: 5px 0;
  }
  & .vc-day {
    padding: 0 5px 3px 5px;
    text-align: left;
    height: var(--day-height);
    min-width: var(--day-width);
    background-color: white;
    &.weekday-1,
    &.weekday-7 {
      background-color: #eff8ff;
    }
    &:not(.on-bottom) {
      border-bottom: var(--day-border);
      &.weekday-1 {
        border-bottom: var(--day-border-highlight);
      }
    }
    &:not(.on-right) {
      border-right: var(--day-border);
    }
  }
  & .vc-day-dots {
    margin-bottom: 5px;
  }
}
</style>