<template>
  <ion-content class="ion-padding">
    <!-- <ion-item lines="none" @click="option('profile')"> Ver perfil </ion-item> -->
    <!-- <ion-item lines="none" @click="option('schedule')"> Pautar cita </ion-item> -->
    <!-- <ion-item lines="none" @click="option('search')"> Buscar </ion-item> -->
    <!-- <ion-item lines="none" @click="option('report')"> Reportar </ion-item> -->
    <ion-item v-if="receiver && receiver.id" lines="none" @click="option('delete')"> Borrar Chat </ion-item>
  </ion-content>
</template>

<script>
import { IonContent, IonItem, popoverController } from "@ionic/vue";
import { defineComponent } from "vue";

import eventBus from "../../eventBus";

import firebase from "../../Firebase";

export default defineComponent({
  name: "Popover",
  components: { IonContent, IonItem },
  props: [
    "receiver"
  ],
  data: () => ({
    chatrooms: [],
  }),

  ionViewDidEnter() {
    try {
      this.chatrooms = firebase.firestore().collection("chatrooms/");
    } catch (ex) {
      console.error(ex);
    }
  },
  
  methods: {

    option(val) {
        console.log(val);

        switch (val){
          case 'profile':
            this.$router.push('/assistant/patients/' + this.receiver.user2);
            break;
          case 'delete':
            firebase.firestore().collection("chatrooms/").doc(this.receiver.id).delete().then(() => {
              console.log("Document successfully deleted!");
              eventBus().emitter.emit("chat-deleted");
            }).catch((error) => {
                console.error("Error removing document: ", error);
            });

            if(this.$route.params.id){
              this.$router.go(-1)
            }
            break;
        }

        popoverController.dismiss({ option: val });
    }

  }
});
</script>