<template>
    <div v-for="item in displayList" :key="item.id" class="accordion-header">
        <button class="accordion" @click="headerClicked($event, item.id, item.name)">
            {{ item.name }}
        </button>
        <div class="panel">
            <slot :item="item"></slot>
        </div>
    </div>
</template>

<script>

import { mapGetters } from "vuex";

export default {
    name: "Accordion",
    props: ["list"],
    data() {
        return {
            displayList: this.list,
        }
    },
    computed: {
        ...mapGetters(["getValidShipping", "getValidInvoicing", "getValidPayment"]),
    },
    methods: {
        headerClicked(_event, id, name){
            console.log(id);
            console.log(name);
            console.log(this.getValidShipping);
            // console.log(_event);

            if(id == 'invoicing_options' && !this.getValidShipping){
                return;
            }

            if(id == 'payment_options' && !this.getValidInvoicing){
                return;
            }

            if(id == 'checkout_options' && !this.getValidPayment){
                return;
            }

            _event.currentTarget.classList.add("active");

            const allPanels = document.getElementsByClassName("panel");
            Array.from(allPanels).forEach(panel => {
                if (_event.currentTarget.nextElementSibling !== panel){
                    panel.style.maxHeight = null;
                }
                panel.previousElementSibling.classList.remove("active");
            });

            var panel = _event.currentTarget.nextElementSibling;
            if (panel.style.maxHeight){
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        },
        sendClick(idx){
            const allButtons = document.getElementsByClassName("accordion");
            Array.from(allButtons).forEach((button, index) => {
                console.log(button.innerHTML);
                if (idx == index || button.innerHTML.indexOf(idx) != -1){
                    console.log('Click sent for index: ' + index);
                    button.click();
                }
            });
        }
    },
    mounted() {
        // console.log('Sending click');
        setTimeout(() => {
            this.sendClick('OPCIONES DE ENTREGA');
        }, 1000);
    },
}
</script>

<style scoped>
.accordion {
    background-color: #5B6A89;
    color: white;
    padding-left: 18px;
    padding-top: 4px;
    padding-right: 18px;
    padding-bottom: 4px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 2px;
}

.accordion-header {
    background-color: #5B6A89;
    /* color: white; */
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.active,
.accordion:hover {
    /* background-color: #ccc; */
}

.panel {
    padding: 0 8px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>