<template>
  <div v-for="item in displayList" :key="item.id" class="accordion-header">
    <ion-item lines="none" class="accordion ion-no-margin" @click="headerClicked">
      {{ item.name }}
      <ion-icon :icon="chevronDownOutline" slot="end" class="arrow"></ion-icon>
    </ion-item>
    <div class="panel">
      <slot :item="item"></slot>
    </div>
  </div>
</template>

<script>
import { IonIcon, IonItem } from "@ionic/vue";
import { chevronDownOutline, chevronUpOutline } from "ionicons/icons";
import { mapGetters } from "vuex";

export default {
  name: "EditProfileAccordion",
  props: ["list"],
  components: {
    IonIcon,
    IonItem,
  },
  setup() {
    return {
      chevronDownOutline,
      chevronUpOutline,
    };
  },
  data() {
    return {
      displayList: this.list,
      lastActiveOption: null,
      selectedModule: null,
    };
  },
  computed: {
    ...mapGetters(["getCurrentModule"]),
  },
  methods: {
    headerClicked(_event) {
      console.log(_event);
      _event.currentTarget.classList.add("active");

      // Reset Arrows Positions
      const allArrows = document.getElementsByClassName("arrow");

      // console.log(allArrows);

      for (let item of allArrows) {
        item.style.transform = "";
      }

      if (_event.target.children.length > 0) {
        if (this.lastActiveOption == _event.target.children[0]) {
          _event.target.children[0].style.transform = "";
          this.lastActiveOption = null;
        } else {
          _event.target.children[0].style.transform = "rotate(180deg)";
          this.lastActiveOption = _event.target.children[0];
        }
      } else {
        if (this.lastActiveOption == _event.srcElement) {
          _event.srcElement.style.transform = "";
          this.lastActiveOption = null;
        } else {
          _event.srcElement.style.transform = "rotate(180deg)";
          this.lastActiveOption = _event.srcElement;
        }
      }

      const allPanels = document.getElementsByClassName("panel");
      
      for (let item of allPanels) {
        if (_event.currentTarget.nextElementSibling !== item) {
          item.style.maxHeight = null;
        }
        item.previousElementSibling.classList.remove("active");
      }

      var panel = _event.currentTarget.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    },
    sendClick(idx) {
      if (this.selectedModule != this.getCurrentModule) {
        const allButtons = document.getElementsByClassName("accordion");

        Array.from(allButtons).forEach((button, index) => {
          console.log(button.innerHTML);
          if (idx == index || button.innerHTML.indexOf(idx) != -1) {
            console.log("Click sent for index: " + index);
            button.click();
            this.selectedModule = idx;
          }
        });
      }
    },
  },
  mounted() {
    // console.log('Sending click');
    // this.sendClick(0);
  },
};
</script>

<style scoped>
.accordion {
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.item-native::part(native){
  padding-left: 0px !important;
  --inner-padding-start: 0px !important;
  --padding-start: 0px !important;
}

ion-item::part(native){
  padding-left: 0px !important;
  --inner-padding-start: 0px !important;
  --padding-start: 0px !important;
}

.accordion-header {
  /* background-color: #5B6A89; */
  /* color: white; */
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 4px;
  /* margin-left: 10px; */
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.active,
.accordion:hover {
  /* background-color: #ccc; */
}

.arrow {
  transition: transform 0.4s linear;
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

ion-item {
  --padding-bottom: 0px;
}
</style>