<template>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item lines="none" @click="emitFilterArchived()">Archivados</ion-item>
      <ion-item lines="none" @click="emitFilterStock()">Sin stock</ion-item>
      <ion-item lines="none" @click="emitFilterReset()">Restaurar</ion-item>
    </ion-list>
  </ion-content>
</template>

<script>
import { IonContent, IonList, IonItem, popoverController } from "@ionic/vue";
import { defineComponent } from "vue";
import { mapGetters } from 'vuex';

import eventBus from "../eventBus";

export default defineComponent({
  name: "FilterPopover",
  components: { IonContent, IonList, IonItem },
  data: () => ({
    popoverController: popoverController
  }),
  computed: {
    ...mapGetters(['getUser', 'getCart'])
  },
  methods: {
    emitFilterArchived() {
      eventBus().emitter.emit("filter-archived");
      this.DismissClick();
    },
    emitFilterStock() {   
      eventBus().emitter.emit("filter-out-of-stock");
      this.DismissClick();
    },
    emitFilterReset() {   
      eventBus().emitter.emit("filter-reset");
      this.DismissClick();
    },
    async DismissClick() {
      await this.popoverController.dismiss();
    }
  },
});
</script>