<template>
  <ion-card>
    <ion-card-header>
      <ion-thumbnail class="product-image">
        <ion-img style="object-fit: contain; !important"
        src="assets/img/transparent_card.png"
      ></ion-img>
      </ion-thumbnail>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title style="padding: 2px"
        >&nbsp;</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <div style="height: 1vh;padding: 2px; margin-top:6px;">
      <span class="name-preview">&nbsp;</span>
      </div>
    </ion-card-content>
    <ion-button
      color="white"
      size="small"
      fill="solid"
      class="ion-margin-start ion-margin-end"
      style="font-size: 11px; margin-bottom: 10px; -webkit-box-shadow: none; -moz-box-shadow: none;	box-shadow: none; --box-shadow: none;"
      >{{title}}</ion-button
    >
  </ion-card>
</template>

<script>
import {
  IonCard,
  IonCardHeader,
  IonCardContent,
  IonImg,
  IonCardTitle,
  IonThumbnail,
  IonButton,
  IonCardSubtitle
} from "@ionic/vue";

export default {
  name: "HiddenCard",
  props: [
  ],
  components: {
    IonCard,
    IonCardHeader,
    IonCardContent,
    IonImg,
    IonThumbnail,
    IonButton,
    IonCardTitle,
    IonCardSubtitle
  },
  methods: {
  },
};
</script>

<style scoped>



.name-preview {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.product-image {
  /* min-height: 170px; */
  /* max-height: 170px;
   */
   width: 100%;
   --size: 11.8em;
}
ion-card-header,
ion-card-content {
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0px;
  min-height: 50px;
}
ion-card {
  margin-top: 8px;
  margin-bottom: 4px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  box-shadow: 0px, 3px, 4px, rgba(0, 0, 0, 0.25);
  text-align: center;
}
.discount-tag {
  float: left;
  position: absolute;
  z-index: 1000;
  background-color: var(--ion-color-secondary);
  top: 15%;
  padding: 5px;
}

ion-card-title,
ion-card-content {
  font-size: 1em;
}

@media only screen and (min-width: 768px) {
  /* .product-image {
    min-height: 220px;
    max-height: 220px;
  } */
}
</style>