<template>
  <ion-card>
    <ion-card-header class="ion-no-padding">
      <ion-thumbnail class="product-image">
        <ion-img style="object-fit: contain; !important" :src="image"></ion-img>
      </ion-thumbnail>
    </ion-card-header>
    <!-- </ion-item> -->
  </ion-card>
</template>

<script>
import { IonCard, IonCardHeader, IonImg, IonThumbnail } from "@ionic/vue";

export default {
  name: "ImageCard",
  props: ["image"],
  components: {
    IonCard,
    IonCardHeader,
    IonImg,
    IonThumbnail,
  },
  methods: {},
};
</script>

<style scoped>
.name-preview {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-image {
  /* min-height: 170px; */
  /* max-height: 170px;
   */
  /* width: 100%; */
  --size: calc(100vw - 32px);
}
ion-card-header,
ion-card-content {
  /* padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0px; */
  min-height: 1vw;
}
ion-card {
  margin-top: 8px;
  margin-bottom: 4px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  box-shadow: 0px, 3px, 4px, rgba(0, 0, 0, 0.25);
  text-align: center;
}
.discount-tag {
  float: left;
  position: absolute;
  z-index: 1000;
  background-color: var(--ion-color-secondary);
  top: 15%;
  padding: 5px;
}

.stock-tag {
  float: left;
  position: absolute;
  z-index: 1000;
  background-color: var(--ion-color-danger);
  top: 30%;
  padding: 5px;
}

.availability-tag {
  float: left;
  position: absolute;
  z-index: 1000;
  background-color: var(--ion-color-danger);
  top: 30%;
  padding: 5px;
}

ion-card-title,
ion-card-content {
  font-size: 1em;
}

@media only screen and (min-width: 768px) {
  /* .product-image {
    min-height: 220px;
    max-height: 220px;
  } */
}
</style>