<template>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item
        v-if="getUser && getUser.stores && getUser.stores.length > 0"
        ><strong>{{getUser.name}}</strong></ion-item>
      <ion-item lines="none"
        v-if="getUser"
        @click="goToEditProfile()"
        >Mi Perfil</ion-item>
      <ion-item lines="none"
        v-if="getUser && getUser.stores && getUser.stores.length > 0"
        @click="goToStoreProfile()"
        >Mi Tienda</ion-item>
      <ion-item lines="none"
        v-if="getUser"
        @click="goToChats()"
        >Mis Chats
        <ion-badge v-if="getNumNotRead > 0" color="secondary" slot="end">{{getNumNotRead}}</ion-badge></ion-item>
      <ion-item lines="none"
        v-if="getUser && getUser.stores && getUser.stores.length > 0"
        @click="goToQuestions()"
        >Preguntas
        <ion-badge v-if="getUser && getUser.stores && getUser.stores[0].unanswered_questions && getUser.stores[0].unanswered_questions > 0" color="danger" slot="end">{{getUser.stores[0].unanswered_questions}}</ion-badge></ion-item
      >
      <ion-item lines="none"
        v-if="getUser && getUser.stores && getUser.stores.length > 0"
        @click="goToProducts()"
        >Inventario</ion-item
      >
      <ion-item lines="none"
        v-if="getUser && getUser.stores && getUser.stores.length > 0"
        @click="goToSellProduct()"
        >Vender Nuevo Producto</ion-item
      >
      <ion-item lines="none"
        v-if="getUser && getUser.stores && getUser.stores.length > 0"
        @click="goToOrders()"
        >Pedidos
        <ion-badge v-if="getUser.stores[0].pending_orders > 0" color="danger" slot="end">{{getUser.stores[0].pending_orders}}</ion-badge></ion-item
      >
      <ion-item lines="none" @click="logOut()">Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</template>

<script>
import { IonContent, IonList, IonItem, IonBadge, popoverController } from "@ionic/vue";
import { defineComponent } from "vue";
import { mapGetters } from 'vuex';
export default defineComponent({
  name: "MenuPopover",
  components: { IonContent, IonList, IonItem, IonBadge },
  emits: ['optionChoosen'],
  data: () => ({
    popoverController: popoverController
  }),
  computed: {
    ...mapGetters(['getUser', 'getCart', 'getNumNotRead'])
  },
  methods: {
    goToStoreEdit() {
      if (this.getUser.stores.length == 0) {
        alert(
          "Aun no tienes una tienda creada. Por favor contacta a Odontoenlace"
        );
      } else {
        this.$router.push("/marketplace/store/edit");
      }
      this.DismissClick();
    },
    goToEditProfile() {      
      this.$router.push("/profile/edit");
      this.DismissClick();
    },
    goToProducts() {
      if (this.getUser.stores.length == 0) {
        alert(
          "Aun no tienes una tienda creada. Por favor contacta a Odontoenlace"
        );
      } else {
        this.$router.push("/marketplace/store/products");
      }
      this.DismissClick();
    },
    goToSellProduct() {
      if (this.getUser.stores.length == 0) {
        alert(
          "Aun no tienes una tienda creada. Por favor contacta a Odontoenlace"
        );
      } else {
        this.$router.push('/marketplace/store/add/product')
      }
      this.DismissClick();
    },
    goToChats() {
      this.$router.push(
        `/mychats`
      );
      this.DismissClick();
    },
    goToStoreProfile() {
      this.$router.push(
        `/marketplace/profile/${this.getUser.stores[0].store_subdomain}`
      );
      this.DismissClick();
    },
    goToQuestions() {
      this.$router.push("/marketplace/questions");
      this.DismissClick();
    },
    goToOrders() {
      this.$router.push("/marketplace/store/orders");
      this.DismissClick();
    },
    logOut(){
      this.clearLocalStorage().then(async () => {
        await this.$router.push('/');
        this.user = null;
        this.$store.commit('setUser', null);
      });
      this.DismissClick();
    },
    async DismissClick() {
      await this.popoverController.dismiss();
    }
  },
});
</script>