<template>
  <ion-item
    lines="none"
    :class="
      type == 'answer'
        ? 'ion-padding-left ion-no-margin'
        : 'ion-no-padding ion-no-margin'
    "
  >
    <ion-col size="2" style="margin-bottom: 21px">
      <ion-thumbnail class="message-image">
        <ion-img v-if="type == 'question'" :src="question"></ion-img>
        <ion-img v-else :src="answer"></ion-img>
      </ion-thumbnail>
    </ion-col>

    <ion-col v-if="edit" class="ion-no-padding">
      <ion-row class="ion-text-start">
        <p>{{ message }}</p>
      </ion-row>
      <ion-row style="text-align: right">
        <p>
          <small>{{ created }}</small>
        </p>
      </ion-row>
      <ion-input v-model="answer_message" placeholder="Escribe tu respuesta" />
      <ion-row style="text-align: right" class="ion-align-items-end">
        <ion-col class="ion-align-self-end ion-no-padding">
          <ion-button
            color="danger"
            size="small"
            @click="$emit('delete', $event, product, parent)"
          >
            ELIMINAR
          </ion-button>
          <ion-button
            color="secondary"
            size="small"
            :disabled="!answer_message || answer_message.length < 1"
            @click="$emit('answer', $event, answer_message, product, parent)"
          >
            RESPONDER
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col v-else size="10">
      <ion-row class="ion-text-start">
        <p>{{ message }}</p>
      </ion-row>
      <ion-row class="ion-text-end">
        <ion-item class="ion-no-margin" lines="none">
          <small slot="end">
            {{
              new Date(created).toLocaleDateString("es-VE", {
                year: "numeric",
                month: "numeric",
                day: "numeric",
              })
            }}
            a las
            {{
              new Date(created).toLocaleTimeString("es-VE", {
                hour: "2-digit",
                minute: "2-digit",
              })
            }}</small
          >
        </ion-item>
      </ion-row>
    </ion-col>
  </ion-item>
</template>

<script>
import {
  IonThumbnail,
  IonButton,
  IonCol,
  IonRow,
  IonImg,
  IonItem,
  IonInput,
} from "@ionic/vue";
import { ref } from "vue";

export default {
  name: "Message",
  props: ["type", "message", "created", "edit", "parent", "product"],
  emits: ["delete", "answer"],
  components: {
    IonThumbnail,
    IonButton,
    IonCol,
    IonRow,
    IonImg,
    IonItem,
    IonInput,
  },
  setup() {
    const answer = "assets/img/answer.png";
    const question = "assets/img/question.png";
    const answer_message = ref(null);

    return {
      answer,
      question,
      answer_message,
    };
  },
  methods: {},
};
</script>

<style scoped>
.message-image {
  --size: 20px;
}

ion-item {
    --inner-padding-end: 0px;
}
</style>