<template>
  <ion-col size="4">
    <ion-thumbnail  style="--size: 100px">
      <ion-img :src="image"></ion-img>
    </ion-thumbnail>
  </ion-col>
  <ion-col size="6.5" style="padding-left: 0px; padding-right: 0px;">
    <ion-row>
      <ion-label size="small"
        >Orden #{{ (orderNumber + "").padStart(5, "0") }}{{item && item.buyer ? ' - ' + item.buyer.name : ''}}</ion-label
      >
    </ion-row>
    <ion-row style="margin-top: 0.4rem">
      <small>
      <ion-label size="small">{{ new Date(created).toLocaleDateString("es-VE", {
                year: "numeric",
                month: "numeric",
                day: "numeric",
              }) }}</ion-label></small>
    </ion-row>
    <ion-row style="margin-top: 0.4rem">
      <strong><ion-label size="small">$ {{ totalAmount }}</ion-label></strong>
    </ion-row>
    <ion-row v-if="hint" style="margin-top: 0.4rem">
      <small><ion-text v-if="status == 'delivered' && item.qualification.length == 0">¡No te olvides de calificar!</ion-text></small>
    </ion-row>
  </ion-col>
  <ion-col size="1.5" class="ion-align-self-center">
    <ion-row>
      <ion-thumbnail v-if="status == 'delivered'" class="icon" @click="$emit('details')">
              <ion-img
                class="icon"
                src="assets/icons/check_on.svg"
              ></ion-img>
            </ion-thumbnail>
    </ion-row>
  </ion-col>
</template>

<script>
import { IonThumbnail, IonCol, IonRow, IonImg, IonLabel, IonText } from "@ionic/vue";

export default {
  name: "ProductLine",
  props: [
    "totalLines",
    "totalAmount",
    "currency",
    "name",
    "status",
    "image",
    "orderNumber",
    "id",
    "item",
    "created",
    "hint"
  ],
  emits: ["details"],
  components: {
    IonThumbnail,
    IonCol,
    IonRow,
    IonImg,
    IonLabel,
    IonText
  },
  methods: {},
};
</script>

<style scoped>
@media only screen and (min-width: 768px) {
}
</style>