<template>
  <ion-card>
    <ion-card-header>
      <ion-thumbnail class="product-image">
        <ion-img style="object-fit: contain; !important" :src="image"></ion-img>
      </ion-thumbnail>

      <ion-card-subtitle v-if="edit"
        >Quedan {{ item.remaining }}</ion-card-subtitle
      >
      <ion-card-subtitle v-else></ion-card-subtitle>

      <ion-card-title
        style="
          border-bottom: 1px solid lightgrey;
          padding: 2px;
          font-size: 1.2em;
        "
        ><strong>{{
          new Date(item.appointment_date).toLocaleTimeString("es-VE", {
            hour: "2-digit",
            minute: "2-digit",
          })
        }}</strong
        ><br/><small>{{ item.office ? item.office.office_name : ''}}&nbsp;</small></ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <div style="height: 1vh">
        <span class="name-preview">{{ name }}</span>
      </div>
    </ion-card-content>
    <!-- </ion-item> -->
  </ion-card>
</template>

<script>
import {
  IonCard,
  IonCardHeader,
  IonCardContent,
  // IonText,
  IonImg,
  IonCardSubtitle,
  IonCardTitle,
  IonThumbnail,
} from "@ionic/vue";

export default {
  name: "PatientCard",
  props: [
    "price",
    "currency",
    "name",
    "offerPrice",
    "image",
    "edit",
    "id",
    "stock",
    "availability",
    "item",
  ],
  emits: ["edit", "delete"],
  components: {
    IonCard,
    IonCardHeader,
    IonCardContent,
    // IonText,
    IonImg,
    IonCardSubtitle,
    IonCardTitle,
    IonThumbnail,
  },
  methods: {
    
    scrollToTop() {
      window.scrollTo(0, 0);
      document.querySelector("#app").querySelector("ion-content").scrollToTop();
    },
    goToProduct(id) {
      this.scrollToTop();
      this.$router.push("/marketplace/product/" + id);
    },
  },
};
</script>

<style scoped>
.name-preview {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-image {
  /* min-height: 170px; */
  /* max-height: 170px;
   */
  width: 100%;
  --size: 11.8em;
}
ion-card-header,
ion-card-content {
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0px;
  min-height: 50px;
}
ion-card {
  margin-top: 8px;
  margin-bottom: 4px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  box-shadow: 0px, 3px, 4px, rgba(0, 0, 0, 0.25);
  text-align: center;
}
.discount-tag {
  float: left;
  position: absolute;
  z-index: 1000;
  background-color: var(--ion-color-secondary);
  top: 15%;
  padding: 5px;
}

.stock-tag {
  float: left;
  position: absolute;
  z-index: 1000;
  background-color: var(--ion-color-danger);
  top: 30%;
  padding: 5px;
}

.availability-tag {
  float: left;
  position: absolute;
  z-index: 1000;
  background-color: var(--ion-color-danger);
  top: 30%;
  padding: 5px;
}

ion-card-title,
ion-card-content {
  font-size: 1em;
}


</style>