<template>
  <ion-row class="store-card">
    <ion-col size="4">
      <ion-thumbnail style="margin-top: 0.4rem; margin-left: 0.4rem">
        <ion-img :src="image"></ion-img>
      </ion-thumbnail>
    </ion-col>
    <ion-col v-if="edit" class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-text>{{ name }}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="padding-top: 0px; padding-bottom: 0px; ">
          <ion-text v-if="offerPrice && offerPrice.length > 0 && price != offerPrice">${{ parseFloat(offerPrice).toFixed(2) }} <small><s>{{ parseFloat(price).toFixed(2) }}</s></small></ion-text>
          <ion-text v-else>${{ parseFloat(price).toFixed(2) }}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-row v-if="item && item.variations && item.variations.length">
            <ion-col>
              <ion-text>Variación</ion-text>
            </ion-col>
            <ion-col class="ion-margin-end">
              <ion-select
                :value="item.variation"
                ok-text="Listo"
                cancel-text="Cancelar"
                @ionChange="changeVariation(item, $event)"
                placeholder="Seleccione..."
              >
                <ion-select-option v-for="variation in item.variations" :key="variation" :value="variation">{{variation}}</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>Cantidad</ion-text>
            </ion-col>
            <ion-col class="ion-margin-end">
              <ion-select
                :value="item.qty"
                ok-text="Listo"
                cancel-text="Cancelar"
                @ionChange="changeValue(item, $event)"
                placeholder="Cantidad"
              >
                <ion-select-option v-for="cant in [...Array(item.stock).keys()]" :key="cant" :value="cant">{{cant}}</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-margin-bottom">
          <ion-button color="secondary" @click="$router.push('/marketplace/product/' + productId);" size="small"
            >Ver producto</ion-button
          >
          <ion-button color="danger" @click="$emit('delete')" size="small"
            >Eliminar</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col v-else class="ion-no-padding" style="margin-right: 0.4rem">
      <ion-row>
        <ion-col>
          <ion-text>{{ name }}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="padding-top: 0px; padding-bottom: 0px; font-weight: bold;">
          <ion-text v-if="offerPrice && offerPrice.length > 0 && price != offerPrice">${{ parseFloat(offerPrice).toFixed(2) }} <small><s>{{ parseFloat(price).toFixed(2) }}</s></small></ion-text>
          <ion-text v-else>${{ parseFloat(price).toFixed(2) }}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-padding ion-no-margin">
          <ion-row>
            <ion-col>
              <ion-text><small>Cantidad: {{item.qty}}</small></ion-text>
            </ion-col>
            <ion-col class="ion-margin-end">
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-margin-bottom">
          <ion-button color="secondary" @click="$router.push('/marketplace/product/' + productId);" size="small" expand="block"
            >Ver producto</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</template>

<script>
import {
  IonThumbnail,
  IonButton,
  IonCol,
  IonRow,
  IonImg,
  IonSelect,
  IonSelectOption,
  IonText,
  toastController
} from "@ionic/vue";

export default {
  name: "ProductLine",
  props: [
    "price",
    "currency",
    "name",
    "offerPrice",
    "image",
    "edit",
    "id",
    "item",
    "productId"
  ],
  emits: ["delete"],
  components: {
    IonThumbnail,
    IonButton,
    IonCol,
    IonRow,
    IonImg,
    IonSelect,
    IonSelectOption,
    IonText
  },
  setup () {
    const openToast = async (message, color = "danger") => {
      const toast = await toastController.create({
        message: message,
        position: "bottom",
        duration: 2000,
        color: color,
      });
      return toast.present();
    };

    return {
      openToast
    };
  },
  methods: {
    addToCart(item) {
      this.$store.commit("addToCart", item);
      this.openToast("Producto agregado al carrito", null);
    },
    changeValue(item, event) {
      item.qty = event.detail.value;
      console.log(item);
    },
    changeVariation(item, event) {
      item.selected_variation = event.detail.value;
      console.log(item);
    },
  },
};
</script>

<style scoped src="../theme/style.css">
</style>

<style scoped>
ion-input, ion-textarea, ion-select {
  --placeholder-opacity: 1;
  padding: 4px;
  font-size: 0.9rem;
}
</style>

<style scoped>
.product-image {
  min-height: 170px;
  max-height: 170px;
}

ion-thumbnail {
  --size: 100px;
}

@media only screen and (min-width: 768px) {
}
</style>