<template>
  <ion-card>
    <div v-if="offerPrice && price != offerPrice" class="discount-tag">
      <ion-text color="light" class="ion-no-padding ion-no-margin">
        <p class="ion-no-padding ion-no-margin">
          <strong
            >-{{
              Math.round(
                (1 - parseFloat(offerPrice) / parseFloat(price)) * 100
              )
            }}%</strong
          >
        </p>
      </ion-text>
    </div>

    <div v-if="stock == 0 || item.remaining <= 0" class="stock-tag">
      <ion-text color="light" class="ion-no-padding ion-no-margin">
        <p class="ion-no-padding ion-no-margin">
          <strong>Sin stock</strong>
        </p>
      </ion-text>
    </div>

    <div v-if="availability == false" class="availability-tag">
      <ion-text color="light" class="ion-no-padding ion-no-margin">
        <p class="ion-no-padding ion-no-margin">
          <strong>Oculto</strong>
        </p>
      </ion-text>
    </div>

    <div v-if="item.remaining > 0 && item.remaining < 3" class="stock-tag">
      <ion-text color="light" class="ion-no-padding ion-no-margin">
        <p class="ion-no-padding ion-no-margin">
          <strong>Quedan pocos</strong>
        </p>
      </ion-text>
    </div>

    <ion-card-header>
      <ion-thumbnail class="product-image">
        <ion-img
          style="object-fit: contain; !important"
          :src="image"
          @click="goToProduct(id)"
        ></ion-img>
      </ion-thumbnail>

      <ion-card-subtitle v-if="edit"
        >Quedan {{ item.remaining }}</ion-card-subtitle
      >
      <ion-card-subtitle v-else></ion-card-subtitle>

      <ion-card-title
        v-if="offerPrice && offerPrice < price"
        style="
          border-bottom: 1px solid lightgrey;
          padding: 2px;
          font-size: 1.2em;
        "
        @click="confirmViewPrice"
        ><strong>{{ (getUser && getUser.id) ? ('$' + parseFloat(offerPrice).toFixed(2)) : "Ver Precio"}}</strong
        ><br /><small
          ><s>{{ (getUser && getUser.id) ?  parseFloat(price).toFixed(2) : '&nbsp;' }}</s></small
        ></ion-card-title
      >
      <ion-card-title
        v-else
        style="
          border-bottom: 1px solid lightgrey;
          padding: 2px;
          font-size: 1.2em;
        "
        @click="confirmViewPrice"
        ><strong>{{ (getUser && getUser.id) ? ('$' + parseFloat(price).toFixed(2)) : "Ver Precio" }}</strong
        ><br /><small style="color: white"
          ><s>{{ "." }}</s></small
        ></ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <div style="height: 1vh">
        <span class="name-preview">{{ name }}</span>
      </div>
    </ion-card-content>
    <!-- <ion-item class="ion-no-padding ion-text-center"> -->
    <ion-button
      v-if="!edit"
      color="primary"
      size="small"
      fill="solid"
      @click="addToCart(item)"
      class="ion-margin-start ion-margin-end"
      style="font-size: 0.6rem; margin-bottom: 10px"
      >Agregar al carrito</ion-button
    >
    <ion-button
      v-if="edit"
      size="small"
      color="primary"
      expand="block"
      @click="$emit('edit')"
      class="ion-margin-start ion-margin-end"
      style="font-size: 0.7rem; margin-bottom: 10px"
      >EDITAR</ion-button
    >
    <ion-button
      v-if="edit"
      size="small"
      color="danger"
      expand="block"
      @click="$emit('delete')"
      class="ion-margin-start ion-margin-end"
      style="font-size: 0.7rem; margin-bottom: 10px"
      >OTRAS OPCIONES</ion-button
    >
    <!-- </ion-item> -->
  </ion-card>
</template>

<script>
import {
  IonCard,
  IonCardHeader,
  IonCardContent,
  IonButton,
  IonText,
  IonImg,
  IonCardSubtitle,
  IonCardTitle,
  IonThumbnail,
  toastController
} from "@ionic/vue";

import { mapGetters, useStore } from "vuex";
import { useRouter } from 'vue-router';

export default {
  name: "ProductCard",
  props: [
    "price",
    "currency",
    "name",
    "offerPrice",
    "image",
    "edit",
    "id",
    "stock",
    "availability",
    "item",
  ],
  emits: ["edit", "delete"],
  components: {
    IonCard,
    IonCardHeader,
    IonCardContent,
    IonButton,
    IonText,
    IonImg,
    IonCardSubtitle,
    IonCardTitle,
    IonThumbnail,
  },
  computed: {
    ...mapGetters(["getUser"]),
  },
  setup () {

    const router = useRouter();
    const store = useStore();

    const openToast = async (message, color = "danger") => {
      const toast = await toastController.create({
        message: message,
        position: "bottom",
        duration: 2000,
        color: color,
      });
      return toast.present();
    };

    const confirmViewPrice = () => {
       if (!store.getters.getUser.id){
        if (confirm('Necesitas registrarte para ver el precio. ¿Deseas hacerlo?')) {
          router.push("/welcome");
          return;
        } else {
          return false;
        }
      }
    };

    return {
      openToast, confirmViewPrice
    };
  },
  methods: {
    addToCart(item) {
      
      if (!this.getUser.id){
        if (confirm('Necesitas registrarte para agregar un producto al carrito. ¿Deseas hacerlo?')) {
          this.$router.push("/welcome");
          return;
        } else {
          return false;
        }
      }

      item.qty = 1;
      this.$store.commit("addToCart", item);

      if(!(this.$route.path.indexOf('marketplace') > 0)){
        this.$router.push("/marketplace/home");
      }

      this.openToast("Producto agregado al carrito", null);
    },
    scrollToTop() {
      window.scrollTo(0, 0);
      document.querySelector("#app").querySelector("ion-content").scrollToTop();
    },
    goToProduct(id) {
      this.scrollToTop();
      this.$router.push("/marketplace/product/" + id);
    },
  },
};
</script>

<style scoped>
.name-preview {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-image {
  /* min-height: 170px; */
  /* max-height: 170px;
   */
  width: 100%;
  --size: 11.8em;
}
ion-card-header,
ion-card-content {
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0px;
  min-height: 50px;
}
ion-card {
  margin-top: 8px;
  margin-bottom: 4px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  box-shadow: 0px, 3px, 4px, rgba(0, 0, 0, 0.25);
  text-align: center;
}
.discount-tag {
  float: left;
  position: absolute;
  z-index: 1000;
  background-color: var(--ion-color-secondary);
  top: 15%;
  padding: 5px;
}

.stock-tag {
  float: left;
  position: absolute;
  z-index: 1000;
  background-color: var(--ion-color-danger);
  top: 30%;
  padding: 5px;
}

.availability-tag {
  float: left;
  position: absolute;
  z-index: 1000;
  background-color: var(--ion-color-danger);
  top: 30%;
  padding: 5px;
}

ion-card-title,
ion-card-content {
  font-size: 1em;
}
</style>