<template>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item lines="none" @click="emitSortPricetAsc()">Precio (Asc)</ion-item>
      <ion-item lines="none" @click="emitSortPricetDesc()">Precio (Desc)</ion-item>
      <ion-item lines="none" @click="emitSortCreatedAsc()">Fecha Creación (Asc)</ion-item>
      <ion-item lines="none" @click="emitSortCreatedDesc()">Fecha Creación (Desc)</ion-item>
    </ion-list>
  </ion-content>
</template>

<script>
import { IonContent, IonList, IonItem, popoverController } from "@ionic/vue";
import { defineComponent } from "vue";
import { mapGetters } from 'vuex';

import eventBus from "../eventBus";

export default defineComponent({
  name: "SortPopover",
  components: { IonContent, IonList, IonItem },
  data: () => ({
    popoverController: popoverController
  }),
  computed: {
    ...mapGetters(['getUser', 'getCart'])
  },
  methods: {
    emitSortPricetAsc() {
      eventBus().emitter.emit("sort-price-asc");
      this.DismissClick();
    },
    emitSortPricetDesc() {   
      eventBus().emitter.emit("sort-price-desc");
      this.DismissClick();
    },
    emitSortCreatedAsc() {   
      eventBus().emitter.emit("sort-created-asc");
      this.DismissClick();
    },
    emitSortCreatedDesc() {   
      eventBus().emitter.emit("sort-created-desc");
      this.DismissClick();
    },
    async DismissClick() {
      await this.popoverController.dismiss();
    }
  },
});
</script>