<template>
  <ion-card @click="(navigate == 1) ? $router.push(link) : null">
    <ion-card-header>
      <ion-thumbnail class="product-image">
        <ion-img style="object-fit: contain; !important"
        :src="!src ? 'assets/img/tarjeta_1.png' : src"
      ></ion-img>
      </ion-thumbnail>
    </ion-card-header>
    <ion-card-content>
      <div style="height: 1vh;">
      <span class="name-preview">{{title}}</span>
      </div>
    </ion-card-content>
  </ion-card>
</template>

<script>
import {
  IonCard,
  IonCardHeader,
  IonCardContent,
  IonImg,
  IonThumbnail,
} from "@ionic/vue";

export default {
  name: "StoreCard",
  props: [
    "title",
    "link",
    "src",
    "navigate"
  ],
  components: {
    IonCard,
    IonCardHeader,
    IonCardContent,
    IonImg,
    IonThumbnail,
  },
  methods: {
  },
};
</script>

<style scoped>



.name-preview {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.product-image {
  /* min-height: 170px; */
  /* max-height: 170px;
   */
   width: 100%;
   --size: 11.8em;
}
ion-card-header,
ion-card-content {
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0px;
  min-height: 50px;
}
ion-card {
  margin-top: 8px;
  margin-bottom: 4px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  box-shadow: 0px, 3px, 4px, rgba(0, 0, 0, 0.25);
  text-align: center;
}
.discount-tag {
  float: left;
  position: absolute;
  z-index: 1000;
  background-color: var(--ion-color-secondary);
  top: 15%;
  padding: 5px;
}

ion-card-title,
ion-card-content {
  font-size: 1em;
}

@media only screen and (min-width: 768px) {
  /* .product-image {
    min-height: 220px;
    max-height: 220px;
  } */
}
</style>