<template>
  <ion-app>
    <!-- NO BORRAR, CONTIENE COMO COLOCAR PRIMER ELEMENTO ACTIVO -->
    <!-- <ion-menu
      side="start"
      menu-id="main-menu"
      content-id="main-content"
      @ionWillOpen="$refs.accordion.sendClick(getCurrentModule)"
    > -->
    <ion-menu side="start" menu-id="main-menu" content-id="main-content">
      <ion-header>
        <ion-toolbar translucent>
          <ion-img :src="logo_large" class="logo"></ion-img>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item
            v-if="getUser && getUser.id"
            @click="goToRoute('/assistant/home')"
          >
            <ion-icon src="assets/icons/icon-home.svg" slot="start"></ion-icon
            >Inicio</ion-item
          >
          <menu-accordion
            v-if="getUser && getUser.id"
            :list="menuOptions"
            ref="accordion"
          >
            <template v-slot="sp">
              <ion-item
                lines="none"
                v-for="option in sp.item.options"
                :key="option.name"
                @click="option.route ? goToRoute(option.route) : ''"
                >{{ option.name }}</ion-item
              >
            </template>
          </menu-accordion>
          <ion-item lines="none" @click="sendHelp">
            <ion-icon src="assets/icons/help-icon.svg" slot="start"></ion-icon
            >Ayuda</ion-item
          >
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header v-if="!emptyUser">
        <ion-toolbar translucent>
          <ion-buttons slot="start">
            <ion-menu-button style="font-size: 45px"></ion-menu-button>
          </ion-buttons>
          <ion-title>
            <ion-img
              :src="logo"
              @click="$router.push('/assistant/home')"
              class="logo"
            ></ion-img>
          </ion-title>
          <ion-buttons slot="end">
            <ion-thumbnail
              @click="openPopover"
              :style="
                $route.path.indexOf('marketplace') > 0
                  ? 'margin-right: 0px;'
                  : 'margin-right: 8px;'
              "
            >
              <img :src="getUser.profile_image" />
              <ion-badge
                v-if="
                  getUser &&
                  getUser.stores &&
                  getUser.stores[0] &&
                  !clicked &&
                  getUser.stores[0].unanswered_questions +
                    getUser.stores[0].pending_orders >
                    0
                "
                color="danger"
                :style="
                  $route.path.indexOf('marketplace') > 0
                    ? 'position: absolute; right: 45px; top: -3px'
                    : 'position: absolute; right: 0px; top: -3px'
                "
                >{{
                  getUser.stores[0].unanswered_questions +
                  getUser.stores[0].pending_orders
                }}</ion-badge
              >
              <ion-badge
                v-if="!clicked && getNumNotRead > 0 && getNumNotRead < 10"
                color="secondary"
                style="position: absolute; left: -7px; top: -3px"
                >{{ getNumNotRead }}</ion-badge
              >
              <ion-badge
                v-if="!clicked && getNumNotRead > 9"
                color="secondary"
                style="
                  position: absolute;
                  left: -7px;
                  top: -4px;
                  font-size: 10px;
                  padding-top: 5px;
                  padding-bottom: 5px;
                "
                >{{ +9 }}</ion-badge
              >
            </ion-thumbnail>
            <ion-button
              v-if="$route.path.indexOf('marketplace') > 0"
              @click="goToCart()"
              ><ion-icon size="large" :icon="cart"></ion-icon
            ></ion-button>
            <ion-badge
              v-if="
                getCart !== undefined &&
                getCart.length > 0 &&
                $route.path.indexOf('marketplace') > 0
              "
              color="danger"
              style="position: absolute; right: 5px; top: -3px"
              @click="goToCart()"
              >{{ getCart.length }}</ion-badge
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-row class="header-label" v-if="!emptyUser"></ion-row>
      <ion-content class="ion-padding">
        <ion-router-outlet />
      </ion-content>
    </div>
  </ion-app>
</template>

<script>
import {
  IonApp,
  IonRouterOutlet,
  IonMenu,
  IonHeader,
  IonItem,
  IonContent,
  IonList,
  IonTitle,
  IonToolbar,
  IonMenuButton,
  IonImg,
  IonIcon,
  IonButton,
  IonRow,
  IonButtons,
  menuController,
  IonBadge,
  IonThumbnail,
  toastController,
  popoverController,
} from "@ionic/vue";
import { defineComponent } from "vue";
// import api from "./api";
import { mapGetters } from "vuex";
import { cart } from "ionicons/icons";
import MenuPopover from "./components/MenuPopover.vue";
import firebase from "./Firebase";

export default defineComponent({
  name: "MainApp",
  components: {
    IonApp,
    IonRouterOutlet,
    IonMenu,
    IonHeader,
    IonItem,
    IonContent,
    IonList,
    IonTitle,
    IonToolbar,
    IonMenuButton,
    IonButtons,
    IonBadge,
    IonImg,
    IonIcon,
    IonButton,
    IonThumbnail,
    IonRow,
  },
  setup() {
    const logo = "assets/img/logo-constrast.png";
    const logo_large = "assets/img/logo-constrast-large.png";

    return { logo, cart, logo_large };
  },
  data: () => ({
    user: {},
    chatrooms: firebase.firestore().collection("chatrooms/"),
    chats: [],
    menuOptions: [
      {
        id: "assistant_options",
        name: "Asistente",
        icon: "assets/icons/assistant-icon.svg",
        options: [
          { name: "Agenda", route: "/assistant/schedule" },
          { name: "Pacientes", route: "/assistant/patients" },
        ],
      },
      {
        id: "market_options",
        name: "Mercado",
        icon: "assets/icons/marketplace-icon.svg",
        options: [
          { name: "Inicio", route: "/marketplace/home" },
          { name: "Mis favoritos", route: "/marketplace/favorites" },
          { name: "Mis compras", route: "/marketplace/orders" },
          // { name: "Preguntas", route: "" },
          { name: "Casas Dentales", route: "/marketplace/stores" },
        ],
      },
      // {
      //   id: "services_options",
      //   icon: "assets/icons/services-icon.svg",
      //   name: "Servicios",
      //   options: [
      //     { name: "Próximamente", route: "" },
      //   ]
      // },
      // {
      //   id: "education_options",
      //   name: "Educación" ,
      //   icon: "assets/icons/education-icon.svg",
      //   options: [
      //     { name: "Próximamente", route: "" },
      //   ]
      // },
    ],
    clicked: false,
  }),
  computed: {
    ...mapGetters(["getUser", "getCart", "getCurrentModule", "getNumNotRead"]),
    emptyUser() {
      return (
        JSON.stringify(this.getUser) === JSON.stringify({}) ||
        this.getUser === null
      );
    },
  },
  watch: {
    $route(to, from) {
      console.log("Watching (from, to)...");
      console.log(from);
      console.log(to);
    },
  },
  mounted() {
    this.$store.dispatch("getCategoriesOptions");
    this.$store.dispatch("getUniversitiesOptions");

    window.OneSignal.push(() => {
      window.OneSignal.on("notificationDisplay", async (event) => {
        console.log(JSON.stringify(event));
        this.clicked = false;

        const toast = await toastController.create({
          message: "¡Tienes una notificacion nueva!",
          position: "top",
          duration: 3000,
          color: "danger",
        });
        return toast.present();
      });
    });

    this.getChats();
  },
  methods: {
    getNotReadChats() {
      let numRead = 0;
      for (const iterator of this.chats) {
        let notRead = 0;
        for (const itax of iterator.messages) {
          if (this.getUser.id != itax.userId && !itax.read) {
            notRead++;
          }
        }
        numRead = notRead + numRead;
      }
      console.log("Unread chat messages: ", numRead);
      this.$store.commit("setNumNotread", numRead);
    },
    getChats() {
      console.log('Loading chats for menu notification...');
      console.log(this.getUser.id);
      if (this.getUser.id) {
        this.chatrooms
          .where("user1", "==", this.getUser.id)
          .get()
          .then((doc) => {
            if (doc.empty) {
              this.chatrooms
                .where("user2", "==", this.getUser.id)
                .get()
                .then((doc2) => {
                  if (doc2.empty) {
                    console.log("create new chatroom");
                    this.chats = [];
                  } else {
                    doc2.forEach((doc21) => {
                      // doc.data() is never undefined for query doc snapshots
                      this.chatrooms
                        .doc(doc21.id)
                        .collection("messages")
                        .orderBy("timestamp", "asc")
                        .get()
                        .then((docn) => {
                          let chatMessages = [];
                          docn.docs.forEach((element) => {
                            let aux1 = {};
                            aux1 = element.data();
                            aux1.id = element.id;
                            chatMessages.push(aux1);
                          });
                          const adata = doc21.data();
                          adata.id = doc21.id;
                          adata.messages = chatMessages;
                          this.chats.push(adata);
                          this.getNotReadChats();
                        });
                      console.log(doc21.id, " => ");
                    });
                  }
                })
                .catch((error) => {
                  console.log("Error getting document:", error);
                });
            } else {
              doc.forEach((doc1) => {
                // doc.data() is never undefined for query doc snapshots
                this.chatrooms
                  .doc(doc1.id)
                  .collection("messages")
                  .orderBy("timestamp", "asc")
                  .get()
                  .then((docn) => {
                    let chatMessages = [];
                    docn.docs.forEach((element) => {
                      let aux1 = {};
                      aux1 = element.data();
                      aux1.id = element.id;
                      chatMessages.push(aux1);
                    });
                    const adata = doc1.data();
                    adata.id = doc1.id;
                    adata.messages = chatMessages;
                    this.chats.push(adata);
                    this.getNotReadChats();
                  });
              });
              this.chatrooms
                .where("user2", "==", this.getUser.id)
                .get()
                .then((doc2) => {
                  if (doc2.empty) {
                    console.log("empty new =");
                  } else {
                    doc2.forEach((doc213) => {
                      this.chatrooms
                        .doc(doc213.id)
                        .collection("messages")
                        .orderBy("timestamp", "asc")
                        .get()
                        .then((docn) => {
                          let chatMessages = [];
                          docn.docs.forEach((element) => {
                            let aux1 = {};
                            aux1 = element.data();
                            aux1.id = element.id;
                            chatMessages.push(aux1);
                          });
                          const adata = doc213.data();
                          adata.id = doc213.id;
                          adata.messages = chatMessages;
                          this.chats.push(adata);
                          this.getNotReadChats();
                        });
                    });
                  }
                })
                .catch((error) => {
                  console.log("Error getting document:", error);
                });
            }
          })
          .catch((error) => {
            console.log("Error getting document:", error);
          });
      }
    },

    goToRoute(route) {
      this.$router.push(route);
      menuController.close();
    },

    goToMarketplace() {
      this.$router.push("/marketplace/home");
      menuController.close();
    },
    goToMyOrders() {
      this.$router.push("/marketplace/orders");
      menuController.close();
    },
    changeCurrency(item, event) {
      console.log(item, event);
    },
    sendHelp() {
      const message = "¡Hola! ¿Me puedes ayudar con Odontoenlace?";
      window.open(
        `https://wa.me/584144024427?text=${encodeURIComponent(message)}`,
        "_system",
        "location=yes"
      );
    },
    async goToCart() {
      if (this.getCart && this.getCart.length > 0) {
        this.$router.push("/marketplace/cart");
      } else {
        const toast = await toastController.create({
          message: "Agrega productos al carrito para continuar",
          position: "top",
          duration: 3000,
          color: "danger",
        });
        return toast.present();
      }
    },
    async openPopover(ev) {
      const popover = await popoverController.create({
        component: MenuPopover,
        event: ev,
        translucent: true,
      });
      await popover.present().then(() => {
        this.clicked = true;
      });

      const { role } = await popover.onDidDismiss();
      console.log("onDidDismiss resolved with role", role);
    },
  },
});
</script>

<style scoped>
.logo {
  /* display: none; */
  display: block;
  height: 2.5em !important;
  margin-top: 16px;
  margin-bottom: 12px;
}

ion-thumbnail {
  --border-radius: 50%;
  --size: 30px;
}

.header-label {
  background-color: var(--ion-color-primary);
  padding-top: 9px;
  box-shadow: 0px 13px 14px rgba(0, 0, 0, 0.356);
}

@media only screen and (min-width: 768px) {
  .logo {
    /* display: block; */
    height: 50px !important;
  }
}
</style>